Repository astral-sh/ruff, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dhruvmanila, @MichaReiser, @AlexWaygood, @carljm

.github/CODEOWNERS:

# GitHub code owners file. For more info: https://help.github.com/articles/about-codeowners/
#
# - Comment lines begin with `#` character.
# - Each line is a file pattern followed by one or more owners.
# - The '*' pattern is global owners.
# - Order is important. The last matching pattern has the most precedence.

/crates/ruff_notebook/ @dhruvmanila
/crates/ruff_formatter/ @MichaReiser
/crates/ruff_python_formatter/ @MichaReiser
/crates/ruff_python_parser/ @MichaReiser @dhruvmanila

# flake8-pyi
/crates/ruff_linter/src/rules/flake8_pyi/ @AlexWaygood

# Script for fuzzing the parser
/scripts/fuzz-parser/ @AlexWaygood

# red-knot
/crates/red_knot/ @carljm @MichaReiser

[red-knot] Encapsulate module resolution logic in `module.rs` (#11767)
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] Cleanup module-resolution logic in `module.rs`
  crates/red_knot/src/main.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] Cleanup module-resolution logic in `module.rs` (#11777)
  crates/red_knot/src/main.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] flatten unions
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

review comments
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/src/semantic/types.rs
Owners: @carljm, @MichaReiser

revert unnecessary version change of either crate
  Cargo.lock
Owners: none

[red-knot] condense int literals
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

remove unnecessary parens around union and intersection display
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Update crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types.rs
Owners: @carljm, @MichaReiser

[red-knot] flatten unions (#11783)
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] condense int literals (#11784)
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] remove duplicate test from bad rebase
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] remove duplicate test from bad merge (#11787)
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] add None type
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Add tests
  crates/ruff_linter/resources/test/fixtures/refurb/FURB118.py
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB118_FURB118.py.snap
Owners: none

[`refurb`] Fix misbehavior of `operator.itemgetter` when getter param is a tuple (#11774)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB118.py
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB118_FURB118.py.snap
Owners: none

Build `CommentRanges` outside the parser
  Cargo.lock
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/formatter.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/checkers/imports.rs
  crates/ruff_linter/src/checkers/physical_lines.rs
  crates/ruff_linter/src/checkers/tokens.rs
  crates/ruff_linter/src/directives.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/isort/rules/organize_imports.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/test.rs
  crates/ruff_python_formatter/src/cli.rs
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/expression/parentheses.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_formatter/src/statement/suite.rs
  crates/ruff_python_formatter/src/string/docstring.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/token_source.rs
  crates/ruff_python_trivia_integration_tests/tests/block_comments.rs
  crates/ruff_python_trivia_integration_tests/tests/simple_tokenizer.rs
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/lint.rs
  crates/ruff_wasm/Cargo.toml
  crates/ruff_wasm/src/lib.rs
Owners: @MichaReiser, @dhruvmanila

Remove `result_like` dependency
  Cargo.lock
  Cargo.toml
  crates/ruff/src/commands/check.rs
  crates/ruff/src/diagnostics.rs
  crates/ruff_linter/Cargo.toml
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/unused_loop_control_variable.rs
  crates/ruff_linter/src/settings/flags.rs
Owners: none

Store `CommentRanges` on `Indexer` (again)
  Cargo.lock
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/checkers/imports.rs
  crates/ruff_linter/src/checkers/physical_lines.rs
  crates/ruff_linter/src/checkers/tokens.rs
  crates/ruff_linter/src/directives.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/isort/rules/organize_imports.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/test.rs
  crates/ruff_python_index/src/comment_ranges.rs
  crates/ruff_python_index/src/indexer.rs
  crates/ruff_python_index/src/lib.rs
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/lint.rs
  crates/ruff_wasm/src/lib.rs
Owners: none

Remove the comment ranges builder
  crates/ruff_python_index/src/comment_ranges.rs
  crates/ruff_python_index/src/indexer.rs
  crates/ruff_python_index/src/lib.rs
Owners: none

Remove `result_like` dependency (#11793)
  Cargo.lock
  Cargo.toml
  crates/ruff/src/commands/check.rs
  crates/ruff/src/diagnostics.rs
  crates/ruff_linter/Cargo.toml
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/unused_loop_control_variable.rs
  crates/ruff_linter/src/settings/flags.rs
Owners: none

[red-knot] Include vendored typeshed stubs as a zipfile in the Ruff binary
  .github/renovate.json5
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/build.rs
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

this?
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

Update crates/red_knot/build.rs
  crates/red_knot/build.rs
Owners: @carljm, @MichaReiser

hopefully this fixes Windows?
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

Misc review comments
  Cargo.lock
  Cargo.toml
  crates/red_knot/build.rs
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

gitignore `.DS_STORE` files
  .gitignore
Owners: none

Put the zip in OUT_DIR
  .gitignore
  crates/red_knot/build.rs
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

WIP
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/lexer/indentation.rs
Owners: @MichaReiser, @dhruvmanila

Visit the remaining tokens in the `Indexer`
  crates/ruff_python_index/src/indexer.rs
Owners: none

Typing model
  Cargo.toml
  crates/red_knot/src/salsa_db.rs
  crates/red_knot/src/salsa_db/semantic.rs
  crates/red_knot/src/salsa_db/semantic/ast_ids.rs
  crates/red_knot/src/salsa_db/semantic/definition.rs
  crates/red_knot/src/salsa_db/semantic/flow_graph.rs
  crates/red_knot/src/salsa_db/semantic/symbol_table.rs
  crates/red_knot/src/salsa_db/semantic/types.rs
  crates/red_knot/src/salsa_db/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

TODO comment for switching to Instance for None
  crates/red_knot/src/semantic/types.rs
Owners: @carljm, @MichaReiser

Set the location of the zip via environment variable
  .cargo/config.toml
  crates/red_knot/build.rs
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

[red-knot] add None type (#11788)
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Revert "Set the location of the zip via environment variable"
  .cargo/config.toml
  crates/red_knot/build.rs
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

nit
  Cargo.toml
  crates/red_knot/build.rs
Owners: @carljm, @MichaReiser

[red-knot] Include vendored typeshed stubs as a zipfile in the Ruff binary (#11779)
  .github/renovate.json5
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/build.rs
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

Rename `PreorderVisitor` to `SourceOrderVisitor`
  crates/red_knot/src/ast_ids.rs
  crates/red_knot/src/semantic.rs
  crates/ruff_linter/src/rules/ruff/rules/suppression_comment_visitor.rs
  crates/ruff_linter/src/rules/ruff/rules/unused_async.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/visitor.rs
  crates/ruff_python_ast/src/visitor/source_order.rs
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__bytes_literals.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__class_type_parameters.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__compare.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__decorators.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__dict_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__f_strings.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_arguments.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_positional_only_with_default.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_type_parameters.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__list_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__match_class_pattern.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__set_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__string_literals.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__type_aliases.snap
  crates/ruff_python_ast_integration_tests/tests/source_order.rs
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/comments/visitor.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_parser/tests/fixtures.rs
Owners: @carljm, @MichaReiser, @dhruvmanila

Update crates/ruff_python_ast/src/visitor/source_order.rs
  crates/ruff_python_ast/src/visitor/source_order.rs
Owners: none

Rename `PreorderVisitor` to `SourceOrderVisitor` (#11798)
  crates/red_knot/src/ast_ids.rs
  crates/red_knot/src/semantic.rs
  crates/ruff_linter/src/rules/ruff/rules/suppression_comment_visitor.rs
  crates/ruff_linter/src/rules/ruff/rules/unused_async.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/visitor.rs
  crates/ruff_python_ast/src/visitor/source_order.rs
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__bytes_literals.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__class_type_parameters.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__compare.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__decorators.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__dict_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__f_strings.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_arguments.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_positional_only_with_default.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_type_parameters.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__list_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__match_class_pattern.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__set_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__string_literals.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__type_aliases.snap
  crates/ruff_python_ast_integration_tests/tests/source_order.rs
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/comments/visitor.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_parser/tests/fixtures.rs
Owners: @carljm, @MichaReiser, @dhruvmanila
