Repository astral-sh/ruff, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dhruvmanila, @MichaReiser, @AlexWaygood

Rename rule
  crates/ruff_linter/resources/test/fixtures/pylint/if_stmt_min_max.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
Owners: none

Tweak docs; make more consistent with if-expr-min-max
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
Owners: none

Handle parenthesized expressions
  crates/ruff_linter/resources/test/fixtures/pylint/if_stmt_min_max.py
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
Owners: none

[`pylint`] Implement `if-stmt-min-max` (`PLR1730`, `PLR1731`) (#10002)
  crates/ruff_linter/resources/test/fixtures/pylint/if_stmt_min_max.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
  ruff.schema.json
Owners: none

[`flake8-pyi`] Various improvements to PYI034
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI034.py
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI034_PYI034.py.snap
Owners: @AlexWaygood

[`flake8-slots`] Flag subclasses of call-based `typing.NamedTuple`s as well as subclasses of `collections.namedtuple()` (`SLOT002`)
  crates/ruff_linter/resources/test/fixtures/flake8_slots/SLOT002.py
  crates/ruff_linter/src/rules/flake8_slots/rules/no_slots_in_namedtuple_subclass.rs
  crates/ruff_linter/src/rules/flake8_slots/snapshots/ruff_linter__rules__flake8_slots__tests__SLOT002_SLOT002.py.snap
Owners: none

update snapshot
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
Owners: none

[`flake8-pyi`] Various improvements to PYI034 (#10807)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI034.py
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI034_PYI034.py.snap
Owners: @AlexWaygood

[`flake8-slots`] Flag subclasses of call-based `typing.NamedTuple`s as well as subclasses of `collections.namedtuple()` (`SLOT002`) (#10808)
  crates/ruff_linter/resources/test/fixtures/flake8_slots/SLOT002.py
  crates/ruff_linter/src/rules/flake8_slots/rules/no_slots_in_namedtuple_subclass.rs
  crates/ruff_linter/src/rules/flake8_slots/snapshots/ruff_linter__rules__flake8_slots__tests__SLOT002_SLOT002.py.snap
Owners: none

[`pyflakes`] Allow forward references in class bases in stub files (`F821`) (#10779)
  crates/ruff_linter/resources/test/fixtures/pyflakes/F821_26.pyi
  crates/ruff_linter/src/checkers/ast/deferred.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_semantic/src/model.rs
Owners: none

Minor tweaks
  crates/ruff_linter/resources/test/fixtures/refurb/FURB118.py
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB118_FURB118.py.snap
Owners: none

[`refurb`] Support `itemgetter` in `reimplemented-operator` (`FURB118`) (#10526)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB118.py
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB118_FURB118.py.snap
Owners: none

Fix tests and error recovery token sets (#10338)
  crates/ruff_python_formatter/tests/snapshots/format@empty_multiple_trailing_newlines.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@empty_trailing_newline.py.snap
  crates/ruff_python_parser/src/context.rs
  crates/ruff_python_parser/src/lalrpop/context.rs
  crates/ruff_python_parser/src/lalrpop/invalid.rs
  crates/ruff_python_parser/src/lalrpop/mod.rs
  crates/ruff_python_parser/src/lalrpop/python.lalrpop
  crates/ruff_python_parser/src/lalrpop/python.rs
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__ann_assign_name.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_attribute.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_for.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_list.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_list_comp.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_name.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_named_expr.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_set_comp.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_starred.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_subscript.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_tuple.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__assign_with.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__aug_assign_attribute.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__aug_assign_name.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__aug_assign_subscript.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__del_attribute.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__del_name.snap
  crates/ruff_python_parser/src/lalrpop/snapshots/ruff_python_parser__lalrpop__context__tests__del_subscript.snap
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/parser/tests/parser.rs
  crates/ruff_python_parser/src/parser/tests/snapshots/ruff_python_parser__parser__tests__parser__tests__parse_simple_stmts.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__function_type_parameters.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__invalid_augmented_assignment_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__named_expression_statement.py.snap
Owners: @MichaReiser

Add tests for parenthesized expressions, tuple, generator (#10641)
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/generator.py
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/missing_closing_paren_0.py
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/missing_closing_paren_1.py
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/missing_closing_paren_2.py
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/missing_closing_paren_3.py
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/parenthesized.py
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/tuple.py
  crates/ruff_python_parser/resources/invalid/expressions/parenthesized/tuple_starred_expr.py
  crates/ruff_python_parser/resources/valid/expressions/generator.py
  crates/ruff_python_parser/resources/valid/expressions/parenthesized.py
  crates/ruff_python_parser/resources/valid/expressions/tuple.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__list__star_expression_precedence.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__generator.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__missing_closing_paren_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__missing_closing_paren_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__missing_closing_paren_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__missing_closing_paren_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__parenthesized.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__tuple.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__tuple_starred_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__star_expression_precedence.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__generator.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__parenthesized.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__tuple.py.snap
Owners: @MichaReiser

Remove `skip_until` parser method (#10293)
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/src/parser/statement.rs
Owners: @MichaReiser

Implement `Display` for `TokenKind` (#10678)
  crates/ruff_python_parser/src/token.rs
Owners: @MichaReiser

Add tests for yield and yield from expressions (#10658)
  crates/ruff_python_parser/resources/invalid/expressions/yield/named_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/yield/star_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/yield_from/starred_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/yield_from/unparenthesized.py
  crates/ruff_python_parser/resources/valid/expressions/yield.py
  crates/ruff_python_parser/resources/valid/expressions/yield_from.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield__named_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield__star_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield_from__starred_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield_from__unparenthesized.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__yield.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__yield_from.py.snap
Owners: @MichaReiser

Remove `FStringElement::Invalid`, improve parsing logic (#10327)
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/helpers.rs
  crates/ruff_linter/src/rules/pylint/rules/assert_on_string_literal.rs
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
  crates/ruff_python_ast/src/comparable.rs
  crates/ruff_python_ast/src/helpers.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/visitor/preorder.rs
  crates/ruff_python_codegen/src/generator.rs
  crates/ruff_python_formatter/src/other/f_string_element.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_parser/src/lalrpop/python.lalrpop
  crates/ruff_python_parser/src/lalrpop/python.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/string.rs
Owners: @MichaReiser

Improve various assignment target error (#10288)
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/helpers.rs
  crates/ruff_python_parser/src/parser/statement.rs
Owners: @MichaReiser

Encapsulate `Program` fields (#10270)
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/tests/fixtures.rs
Owners: @MichaReiser

Add tests for set comprehension (#10635)
  crates/ruff_python_parser/resources/invalid/expressions/set/comprehension.py
  crates/ruff_python_parser/resources/valid/expressions/set_comprehension.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__comprehension.py.snap
Owners: @MichaReiser

Add tests for conditional expression (#10660)
  crates/ruff_python_parser/resources/invalid/expressions/if/missing_orelse_expr_0.py
  crates/ruff_python_parser/resources/invalid/expressions/if/missing_orelse_expr_1.py
  crates/ruff_python_parser/resources/invalid/expressions/if/missing_test_expr_0.py
  crates/ruff_python_parser/resources/invalid/expressions/if/missing_test_expr_1.py
  crates/ruff_python_parser/resources/invalid/expressions/if/recover.py
  crates/ruff_python_parser/resources/valid/expressions/if.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__if__missing_orelse_expr_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__if__missing_orelse_expr_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__if__missing_test_expr_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__if__missing_test_expr_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__if__recover.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__if.py.snap
Owners: @MichaReiser

Remove `Pattern::Invalid` variant (#10294)
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
  crates/ruff_python_ast/src/comparable.rs
  crates/ruff_python_ast/src/helpers.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/visitor.rs
  crates/ruff_python_ast/src/visitor/preorder.rs
  crates/ruff_python_ast/src/visitor/transformer.rs
  crates/ruff_python_codegen/src/generator.rs
  crates/ruff_python_formatter/src/generated.rs
  crates/ruff_python_formatter/src/pattern/mod.rs
  crates/ruff_python_formatter/src/pattern/patter_match_invalid.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_invalid.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_semantic/src/analyze/terminal.rs
Owners: @MichaReiser

Remove f-string `UnclosedLbrace` error checking from the lexer (#10372)
  crates/ruff_python_parser/resources/invalid/expressions/unclosed_fstring_lbrace.py
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__unclosed_fstring_lbrace.py.snap
Owners: @MichaReiser

Limit comprehension as per the grammar (#10633)
  crates/ruff_python_parser/src/parser/expression.rs
Owners: @MichaReiser

Better error recovery for match patterns (#10477)
  crates/ruff_python_parser/resources/invalid/statements/match/as_pattern_0.py
  crates/ruff_python_parser/resources/invalid/statements/match/as_pattern_1.py
  crates/ruff_python_parser/resources/invalid/statements/match/as_pattern_2.py
  crates/ruff_python_parser/resources/invalid/statements/match/as_pattern_3.py
  crates/ruff_python_parser/resources/invalid/statements/match/as_pattern_4.py
  crates/ruff_python_parser/resources/invalid/statements/match/invalid_class_pattern.py
  crates/ruff_python_parser/resources/invalid/statements/match/invalid_lhs_or_rhs_pattern.py
  crates/ruff_python_parser/resources/invalid/statements/match/invalid_mapping_pattern.py
  crates/ruff_python_parser/resources/invalid/statements/match/star_pattern_usage.py
  crates/ruff_python_parser/resources/invalid/statements/match/unary_add_usage.py
  crates/ruff_python_parser/resources/valid/statement/match.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/src/parser/recovery.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_4.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__invalid_class_pattern.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__invalid_lhs_or_rhs_pattern.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__invalid_mapping_pattern.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__star_pattern_usage.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__unary_add_usage.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__match.py.snap
Owners: @MichaReiser

Use `TokenId` to track parser progress (#10486)
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/progress.rs
Owners: @MichaReiser

Remove numbered list for parser contributing doc
  crates/ruff_python_parser/CONTRIBUTING.md
Owners: @MichaReiser

Move parser quick test to pretty print code
  crates/ruff_python_parser/src/parser/tests.rs
  crates/ruff_python_parser/tests/fixtures.rs
Owners: @MichaReiser

Add tests for dictionary expression parsing (#10556)
  crates/ruff_python_parser/resources/invalid/expressions/dict/double_star.py
  crates/ruff_python_parser/resources/invalid/expressions/dict/missing_closing_brace_0.py
  crates/ruff_python_parser/resources/invalid/expressions/dict/missing_closing_brace_1.py
  crates/ruff_python_parser/resources/invalid/expressions/dict/missing_closing_brace_2.py
  crates/ruff_python_parser/resources/invalid/expressions/dict/named_expression_0.py
  crates/ruff_python_parser/resources/invalid/expressions/dict/named_expression_1.py
  crates/ruff_python_parser/resources/invalid/expressions/dict/recover.py
  crates/ruff_python_parser/resources/valid/expressions/dictionary.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__double_star.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__missing_closing_brace_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__missing_closing_brace_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__missing_closing_brace_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__named_expression_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__named_expression_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__recover.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__dictionary.py.snap
Owners: @MichaReiser

Update `ExprName` ctx, add tests (#10552)
  crates/ruff_python_parser/resources/valid/expressions/name.py
  crates/ruff_python_parser/resources/valid/expressions/number_literal.py
  crates/ruff_python_parser/resources/valid/other/atom.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__assignment_keyword_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__function_type_parameters.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__name.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__number_literal.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@other__atom.py.snap
Owners: @MichaReiser

Add tests for subscript and slice expressions (#10642)
  crates/ruff_python_parser/resources/invalid/expressions/subscript/invalid_slice_element.py
  crates/ruff_python_parser/resources/invalid/expressions/subscript/unclosed_slice_0.py
  crates/ruff_python_parser/resources/invalid/expressions/subscript/unclosed_slice_1.py
  crates/ruff_python_parser/resources/valid/expressions/slice.py
  crates/ruff_python_parser/resources/valid/expressions/subscript.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__subscript__invalid_slice_element.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__subscript__unclosed_slice_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__subscript__unclosed_slice_1.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__slice.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__subscript.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__function.py.snap
Owners: @MichaReiser

Add tests for dictionary comprehension (#10636)
  crates/ruff_python_parser/resources/invalid/expressions/dict/comprehension.py
  crates/ruff_python_parser/resources/invalid/expressions/dict/double_star_comprehension.py
  crates/ruff_python_parser/resources/valid/expressions/dictionary_comprehension.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__comprehension.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__double_star_comprehension.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__dictionary_comprehension.py.snap
Owners: @MichaReiser

Merge string parsing to single entrypoint (#10339)
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/pattern.rs
Owners: @MichaReiser

Remove unreachable error case while f-string parsing (#10474)
  crates/ruff_python_parser/src/string.rs
Owners: @MichaReiser

Add tests for set expression parsing (#10555)
  crates/ruff_python_parser/resources/invalid/expressions/set/missing_closing_curly_brace_0.py
  crates/ruff_python_parser/resources/invalid/expressions/set/missing_closing_curly_brace_1.py
  crates/ruff_python_parser/resources/invalid/expressions/set/missing_closing_curly_brace_2.py
  crates/ruff_python_parser/resources/invalid/expressions/set/missing_closing_curly_brace_3.py
  crates/ruff_python_parser/resources/invalid/expressions/set/recover.py
  crates/ruff_python_parser/resources/invalid/expressions/set/star_expression_precedence.py
  crates/ruff_python_parser/resources/valid/expressions/set.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__missing_closing_curly_brace_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__missing_closing_curly_brace_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__missing_closing_curly_brace_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__missing_closing_curly_brace_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__recover.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__star_expression_precedence.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__set.py.snap
Owners: @MichaReiser

Complete end expression token set (#10553)
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
Owners: @MichaReiser

Fix string parsing error ranges (#10406)
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__string__tests__invalid_byte_literal_error.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__string__tests__invalid_unicode_literal.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__string__tests__invalid_unicode_name_error.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__string__tests__missing_unicode_lbrace_error.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__string__tests__missing_unicode_rbrace_error.snap
  crates/ruff_python_parser/src/string.rs
Owners: @MichaReiser

Fix tests and clippy warnings
  crates/ruff/tests/format.rs
  crates/ruff/tests/integration_test.rs
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__bom_sorted.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__bom_unsorted.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E999_E999.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP027.py.snap
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_formatter/src/comments/snapshots/ruff_python_formatter__comments__tests__only_comments.snap
  crates/ruff_python_formatter/src/other/f_string_element.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/string.rs
  pyproject.toml
Owners: @MichaReiser

Remove `Expr::Invalid` (#10386)
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/function_uses_loop_variable.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep604_annotation.rs
  crates/ruff_linter/src/rules/refurb/rules/bit_count.rs
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
  crates/ruff_python_ast/src/comparable.rs
  crates/ruff_python_ast/src/expression.rs
  crates/ruff_python_ast/src/helpers.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/relocate.rs
  crates/ruff_python_ast/src/visitor.rs
  crates/ruff_python_ast/src/visitor/preorder.rs
  crates/ruff_python_ast/src/visitor/transformer.rs
  crates/ruff_python_codegen/src/generator.rs
  crates/ruff_python_formatter/src/expression/expr_invalid.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/generated.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_parser/src/lalrpop/invalid.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/parser/tests/parser.rs
  crates/ruff_python_parser/src/parser/tests/snapshots/ruff_python_parser__parser__tests__parser__tests__parse_match_stmt.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__emoji_identifiers.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__unclosed_fstring_lbrace.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__assignment_missing_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__assignment_missing_value.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__if_elif.py.snap
  crates/ruff_python_semantic/src/analyze/type_inference.rs
Owners: @MichaReiser

.github/CODEOWNERS:

# GitHub code owners file. For more info: https://help.github.com/articles/about-codeowners/
#
# - Comment lines begin with `#` character.
# - Each line is a file pattern followed by one or more owners.
# - The '*' pattern is global owners.
# - Order is important. The last matching pattern has the most precedence.

# Jupyter
/crates/ruff_linter/src/jupyter/ @dhruvmanila
/crates/ruff_formatter/ @MichaReiser
/crates/ruff_python_formatter/ @MichaReiser
/crates/ruff_python_parser/ @MichaReiser

# flake8-pyi
/crates/ruff_linter/src/rules/flake8_pyi/ @AlexWaygood
