Repository astral-sh/ruff, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dhruvmanila, @MichaReiser, @AlexWaygood, @carljm

[red-knot] rename Definition::None to Definition::Unbound (#11758)
  crates/red_knot/src/semantic/flow_graph.rs
  crates/red_knot/src/semantic/symbol_table.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

fix displaying non-printable characters
  crates/ruff_linter/src/lib.rs
  crates/ruff_linter/src/message/diff.rs
  crates/ruff_linter/src/message/text.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2510_invalid_characters.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2512_invalid_characters.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2513_invalid_characters.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2515_invalid_characters.py.snap
  crates/ruff_linter/src/source_kind.rs
  crates/ruff_linter/src/text_helpers.rs
Owners: none

[red-knot] arithmetic on int literals
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] arithmetic on int literals (#11760)
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] refactor Definitions out of symbol table
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/definitions.rs
  crates/red_knot/src/semantic/flow_graph.rs
  crates/red_knot/src/semantic/symbol_table.rs
Owners: @carljm, @MichaReiser

Introduce global logLevel setting
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/session/settings.rs
  crates/ruff_server/src/trace.rs
Owners: none

[red-knot] refactor Definitions out of symbol table (#11761)
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/definitions.rs
  crates/red_knot/src/semantic/flow_graph.rs
  crates/red_knot/src/semantic/symbol_table.rs
Owners: @carljm, @MichaReiser

[red-knot] support walrus expressions in type inference
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/definitions.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

add note about walrus in comprehension
  crates/red_knot/src/semantic.rs
Owners: @carljm, @MichaReiser

remove wrong TODO comment
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Work in all scopes
  crates/ruff_linter/resources/test/fixtures/pylint/control_var_used_after_block.py
  crates/ruff_linter/src/rules/pylint/rules/control_var_used_after_block.rs
Owners: none

[red-knot] support walrus expressions in type inference (#11762)
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/definitions.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Clean up code
  crates/ruff_linter/resources/test/fixtures/pylint/control_var_used_after_block.py
  crates/ruff_linter/src/rules/pylint/rules/control_var_used_after_block.rs
Owners: none

Adjust some wording
  crates/ruff_linter/src/rules/pylint/rules/control_var_used_after_block.rs
Owners: none

[red-knot] support if-expressions in type inference and CFG
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Move to wemake_python_styleguide ruleset
  crates/ruff_linter/resources/test/fixtures/wemake_python_styleguide/control_var_used_after_block.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_scopes.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/wemake_python_styleguide/mod.rs
  crates/ruff_linter/src/rules/wemake_python_styleguide/rules/control_var_used_after_block.rs
  crates/ruff_linter/src/rules/wemake_python_styleguide/rules/mod.rs
  crates/ruff_python_semantic/src/model.rs
Owners: none

change misleading test name
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Commit test snapshot
  crates/ruff_linter/resources/test/fixtures/wemake_python_styleguide/control_var_used_after_block.py
  crates/ruff_linter/src/rules/wemake_python_styleguide/snapshots/ruff_linter__rules__wemake_python_styleguide__tests__WPS441_control_var_used_after_block.py.snap
  ruff.schema.json
Owners: none

Fix shadowed cases
  crates/ruff_linter/resources/test/fixtures/wemake_python_styleguide/control_var_used_after_block.py
  crates/ruff_linter/src/rules/wemake_python_styleguide/rules/control_var_used_after_block.rs
  crates/ruff_python_semantic/src/model.rs
Owners: none

Clean up debug
  crates/ruff_linter/resources/test/fixtures/wemake_python_styleguide/control_var_used_after_block.py
  crates/ruff_linter/src/rules/wemake_python_styleguide/rules/control_var_used_after_block.rs
  crates/ruff_linter/src/rules/wemake_python_styleguide/snapshots/ruff_linter__rules__wemake_python_styleguide__tests__WPS441_control_var_used_after_block.py.snap
  crates/ruff_python_semantic/src/model.rs
Owners: none

Fix references before
  crates/ruff_linter/resources/test/fixtures/wemake_python_styleguide/control_var_used_after_block.py
  crates/ruff_linter/src/rules/wemake_python_styleguide/rules/control_var_used_after_block.rs
Owners: none

Adjust wording
  crates/ruff_linter/resources/test/fixtures/wemake_python_styleguide/control_var_used_after_block.py
  crates/ruff_linter/src/rules/wemake_python_styleguide/rules/control_var_used_after_block.rs
Owners: none

Update snapshot
  crates/ruff_linter/src/rules/wemake_python_styleguide/snapshots/ruff_linter__rules__wemake_python_styleguide__tests__WPS441_control_var_used_after_block.py.snap
Owners: none

Format
  crates/ruff_linter/resources/test/fixtures/pylint/dict_index_missing_items.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
Owners: none

Simplify visitor
  crates/ruff_linter/src/rules/pylint/rules/dict_index_missing_items.rs
  crates/ruff_linter/src/rules/pylint/rules/dict_iter_missing_items.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLC0206_dict_index_missing_items.py.snap
Owners: none

[`pylint`] Implement `dict-iter-missing-items` (`C0206`) (#11688)
  crates/ruff_linter/resources/test/fixtures/pylint/dict_index_missing_items.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_for_loops.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/dict_index_missing_items.rs
  crates/ruff_linter/src/rules/pylint/rules/dict_iter_missing_items.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLC0206_dict_index_missing_items.py.snap
  ruff.schema.json
Owners: none

Use speculative parsing for with-items
  crates/ruff_python_parser/resources/inline/err/with_items_parenthesized_missing_colon.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__ambiguous_lpar_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__unclosed_ambiguous_lpar.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__unclosed_ambiguous_lpar_eof.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@with_items_parenthesized_missing_colon.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@with_items_parenthesized_missing_comma.py.snap
Owners: @MichaReiser, @dhruvmanila

Update docs for `parse_generator_expression`
  crates/ruff_python_parser/src/parser/expression.rs
Owners: @MichaReiser, @dhruvmanila

Use speculative parsing for with-items (#11770)
  crates/ruff_python_parser/resources/inline/err/with_items_parenthesized_missing_colon.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__ambiguous_lpar_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__unclosed_ambiguous_lpar.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__unclosed_ambiguous_lpar_eof.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@with_items_parenthesized_missing_colon.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@with_items_parenthesized_missing_comma.py.snap
Owners: @MichaReiser, @dhruvmanila

fix: change `LoopMutationsVisitor.branch` to `u32`
  crates/ruff_linter/src/rules/flake8_bugbear/rules/loop_iterator_mutation.rs
Owners: none

Semantic model
  crates/red_knot/src/ast_ids.rs
  crates/red_knot/src/salsa_db.rs
  crates/red_knot/src/salsa_db/semantic.rs
  crates/red_knot/src/salsa_db/semantic/ast_ids.rs
  crates/red_knot/src/salsa_db/semantic/definition.rs
  crates/red_knot/src/salsa_db/semantic/flow_graph.rs
  crates/red_knot/src/salsa_db/semantic/module.rs
  crates/red_knot/src/salsa_db/semantic/symbol_table.rs
  crates/ruff_index/src/vec.rs
Owners: @carljm, @MichaReiser

fix: fix missing tuple parentheses
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
Owners: none

[Bug fix] Fix rule B909's panic when checking large loop blocks (#11772)
  crates/ruff_linter/src/rules/flake8_bugbear/rules/loop_iterator_mutation.rs
Owners: none

[red-knot] support if-expressions in type inference and CFG (#11765)
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

[red-knot] Encapsulate module resolution logic in `module.rs`
  crates/red_knot/src/main.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

Consider `:` to terminate parenthesized with items
  crates/ruff_python_parser/src/parser/mod.rs
Owners: @MichaReiser, @dhruvmanila

Add tests
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

fixup docstring
  crates/red_knot/src/module.rs
Owners: @carljm, @MichaReiser

Consider `:` to terminate parenthesized with items (#11775)
  crates/ruff_python_parser/src/parser/mod.rs
Owners: @MichaReiser, @dhruvmanila

Rename to `OrderedSearchPaths`
  crates/red_knot/src/main.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/semantic/types/infer.rs
Owners: @carljm, @MichaReiser

.github/CODEOWNERS:

# GitHub code owners file. For more info: https://help.github.com/articles/about-codeowners/
#
# - Comment lines begin with `#` character.
# - Each line is a file pattern followed by one or more owners.
# - The '*' pattern is global owners.
# - Order is important. The last matching pattern has the most precedence.

/crates/ruff_notebook/ @dhruvmanila
/crates/ruff_formatter/ @MichaReiser
/crates/ruff_python_formatter/ @MichaReiser
/crates/ruff_python_parser/ @MichaReiser @dhruvmanila

# flake8-pyi
/crates/ruff_linter/src/rules/flake8_pyi/ @AlexWaygood

# Script for fuzzing the parser
/scripts/fuzz-parser/ @AlexWaygood

# red-knot
/crates/red_knot/ @carljm @MichaReiser
