Repository astral-sh/ruff, pull requests merged in 2023-01, with the labels that each got.

#2308 Implement Pylint's `too-many-arguments` rule (`PLR0913`)
  README.md
  resources/test/fixtures/pylint/too_many_args.py
  resources/test/fixtures/pylint/too_many_args_params.py
  ruff.schema.json
  src/checkers/ast.rs
  src/registry.rs
  src/rules/pylint/mod.rs
  src/rules/pylint/rules/mod.rs
  src/rules/pylint/rules/too_many_args.rs
  src/rules/pylint/settings.rs
  src/rules/pylint/snapshots/ruff__rules__pylint__tests__PLR0913_too_many_args.py.snap
  src/rules/pylint/snapshots/ruff__rules__pylint__tests__max_args.snap
  src/rules/pylint/snapshots/ruff__rules__pylint__tests__max_args_with_dummy_variables.snap
Labels: rule

#2353 Extend conventional imports defaults to include TensorFlow et al
  README.md
  resources/test/fixtures/flake8_import_conventions/custom.py
  src/rules/flake8_import_conventions/settings.rs
  src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__custom.snap
Labels: rule

#2365 Ignore magic comparisons to bytes by default
  README.md
  resources/test/fixtures/pylint/magic_value_comparison.py
  src/rules/pylint/settings.rs
  src/rules/pylint/snapshots/ruff__rules__pylint__tests__PLR2004_magic_value_comparison.py.snap
Labels: configuration

#2364 Refine criteria for `exc_info` logger rules
  resources/test/fixtures/flake8_logging_format/G201.py
  resources/test/fixtures/flake8_logging_format/G202.py
  src/checkers/ast.rs
  src/rules/flake8_logging_format/rules.rs
  src/rules/flake8_logging_format/snapshots/ruff__rules__flake8_logging_format__tests__G201.py.snap
  src/rules/flake8_logging_format/snapshots/ruff__rules__flake8_logging_format__tests__G202.py.snap
Labels: rule

#2366 Recommend disabling `explicit-string-concatenation`
  README.md
  ruff.schema.json
  src/rules/flake8_implicit_str_concat/settings.rs
  src/violations.rs
Labels: documentation

#2374 [`I001`] fix isort check for files with tabs and no indented blocks
  resources/test/fixtures/isort/preserve_tabs_2.py
  src/rules/isort/mod.rs
  src/rules/isort/rules/organize_imports.rs
  src/rules/isort/snapshots/ruff__rules__isort__tests__preserve_tabs_2.py.snap
Labels: isort

#2392 Handle multi-byte lines in RUF100
  resources/test/fixtures/ruff/RUF100_0.py
  src/checkers/noqa.rs
  src/noqa.rs
  src/rules/ruff/snapshots/ruff__rules__ruff__tests__ruf100_0.snap
Labels: bug

#2420 Avoid implicit-namespace-package checks for .pyi files
  resources/test/fixtures/flake8_no_pep420/test_pass_pyi/example.pyi
  src/rules/flake8_no_pep420/mod.rs
  src/rules/flake8_no_pep420/rules.rs
  src/rules/flake8_no_pep420/snapshots/ruff__rules__flake8_no_pep420__tests__test_pass_pyi.snap
Labels: bug

#2354 [`flake8-raise`] Add Plugin and `RSE102` Rule
  LICENSE
  README.md
  resources/test/fixtures/flake8_raise/RSE102.py
  ruff.schema.json
  src/checkers/ast.rs
  src/registry.rs
  src/rules/flake8_raise/mod.rs
  src/rules/flake8_raise/rules/mod.rs
  src/rules/flake8_raise/rules/unnecessary_paren_on_raise_exception.rs
  src/rules/flake8_raise/snapshots/ruff__rules__flake8_raise__tests__unnecessary-paren-on-raise-exception_RSE102.py.snap
  src/rules/mod.rs
Labels: rule, plugin
