Repository astral-sh/ruff, pull requests merged in 2024-10, with the labels that each got.

#13572 Update `dedent_to` to support blocks that are composed of comments
  crates/ruff_python_trivia/src/textwrap.rs
Labels: internal

#13567 [red-knot] Remove `Type::RevealType`
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13588 Use operator specific messaging in division by zero diagnostics
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13589 `ruff_benchmark`: open all `tomllib` files in the red-knot benchmark
  Cargo.lock
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13593 [red-knot] Fix a few details around `Type::call`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#13580 Support classes that implement `__call__`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13594 [red-knot] [minor] Improve helper methods for builtin types
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13595 Avoid indirection in `class.__call__` lookup
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#13579 Support `__getitem__` type inference for subscripts
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13596 Use `__class_getitem__` for more specific non-subscript errors
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13597 Allow users to provide custom diagnostic messages when unwrapping calls
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13609 Avoid short circuiting `B017` for multiple context managers
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B017.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/assert_raises_exception.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B017_B017.py.snap
Labels: bug

#13611 [`pyupgrade`] Fix UP043 to apply to `collections.abc.Generator` and `collections.abc.AsyncGenerator`
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP043.py
  crates/ruff_linter/src/rules/pyupgrade/rules/unnecessary_default_type_args.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP043.py.snap
Labels: rule

#13573 Preserve trivia (i.e. comments) in PLR5501
  crates/ruff_linter/resources/test/fixtures/pylint/collapsible_else_if.py
  crates/ruff_linter/src/rules/pylint/rules/collapsible_else_if.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR5501_collapsible_else_if.py.snap
Labels: bug, rule

#13591 Support ruff discovery in pip build environments
  python/ruff/__main__.py
Labels: bug

#13601 Add `allow-unused-imports` setting for `unused-import` rule (`F401`)
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/resources/test/fixtures/pyflakes/F401_31.py
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_import.rs
  crates/ruff_linter/src/rules/pyflakes/settings.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__f401_allowed_unused_imports_option.snap
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: configuration

#13613 Mark `FURB118` fix as unsafe
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB118_FURB118.py.snap
Labels: bug, fixes, preview

#13624 Bump version to 0.6.9
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#13571 [red-knot] feat: implement integer comparison
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13628 Add test cases for `RUF006` with lambdas
  crates/ruff_linter/resources/test/fixtures/ruff/RUF006.py
Labels: internal

#13629 Mark `PLE1141` fix as unsafe
  crates/ruff_linter/src/rules/pylint/rules/dict_iter_missing_items.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE1141_dict_iter_missing_items.py.snap
Labels: rule, fixes

#13643 [red-knot] Improve tests relating to type inference for exception handlers
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13615 [red-knot] more ergonomic and efficient handling of known builtin classes
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13530 [`refurb`] implement `hardcoded-string-charset` (FURB156)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB156.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/hardcoded_string_charset.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB156_FURB156.py.snap
  ruff.schema.json
Labels: rule, preview

#13659 Fixup docs markup for `RUF027` (`missing-fstring-syntax`)
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
Labels: documentation

#13656 [`flake8-bugbear`] Tweak `B905` message to not suggest setting parameter `strict=` to `False`
  crates/ruff_linter/src/rules/flake8_bugbear/rules/zip_without_explicit_strict.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B905.py.snap
Labels: rule

#13658 Rework `S606` (`start-process-with-no-shell`) docs to make clear the security motivations
  crates/ruff_linter/src/rules/flake8_bandit/rules/shell_injection.rs
Labels: documentation

#13646 [red-knot] Improve type inference for except handlers where a tuple of exception classes is caught
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13627 Add known limitation to `C416` with dictionaries
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension.rs
Labels: documentation

#13667 [red-knot] Allow `type[]` to be subscripted
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13669 Fix typo in `allow-unused-imports` documentation
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation

#13539 Normalize implicit concatenated f-string quotes per part
  crates/ruff_python_formatter/generate.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring.py
  crates/ruff_python_formatter/src/expression/expr_string_literal.rs
  crates/ruff_python_formatter/src/generated.rs
  crates/ruff_python_formatter/src/other/f_string.rs
  crates/ruff_python_formatter/src/other/f_string_part.rs
  crates/ruff_python_formatter/src/other/string_literal.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/statement/suite.rs
  crates/ruff_python_formatter/src/string/any.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
Labels: formatter, preview

#12836 Remove `output-format=text` setting
  crates/ruff/src/args.rs
  crates/ruff/src/printer.rs
  crates/ruff/tests/deprecation.rs
  crates/ruff_linter/src/settings/types.rs
  crates/ruff_workspace/src/configuration.rs
  docs/configuration.md
  ruff.schema.json
Labels: configuration

#12833 Remove error messages for removed CLI aliases
  crates/ruff/src/main.rs
Labels: internal, cli

#12835 Remove tab-size setting
  crates/ruff/tests/format.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: internal, configuration

#13292 [`flake8-pytest-style`] Fix defaults when `lint.flake8-pytest-style` config section is empty (`PT001`, `PT023`)
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
Labels: breaking, configuration

#13677 Remove `allow-unused-imports` setting from the common lint options
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: configuration

#13636 [red-knot] type inference/checking test framework
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/resources/mdtest/numbers.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/tests/mdtest.rs
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/src/assertion.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_test/src/diagnostic.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/matcher.rs
  crates/red_knot_test/src/parser.rs
  crates/ruff_python_trivia/src/comment_ranges.rs
  crates/ruff_text_size/src/traits.rs
Labels: red-knot

#13681 Remove layout values from `AnyStringPart`
  crates/ruff_python_formatter/src/other/bytes_literal.rs
  crates/ruff_python_formatter/src/other/f_string.rs
  crates/ruff_python_formatter/src/string/any.rs
  crates/ruff_python_formatter/src/string/mod.rs
  crates/ruff_python_formatter/src/string/normalize.rs
Labels: internal, formatter

#13682 Harmonise methods for distinguishing different Python source types
  Cargo.lock
  crates/ruff_dev/Cargo.toml
  crates/ruff_dev/src/round_trip.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_module_shadowing.rs
  crates/ruff_linter/src/rules/flake8_no_pep420/rules/implicit_namespace_package.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_module_name.rs
  crates/ruff_python_ast/src/lib.rs
  crates/ruff_python_semantic/src/model.rs
  crates/ruff_python_stdlib/src/path.rs
Labels: internal

#13704 [`pycodestyle`] Fix whitespace-related false positives and false negatives inside type-parameter lists
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E23.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E25.py
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/missing_whitespace.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/whitespace_around_named_parameter_equals.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E231_E23.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E252_E25.py.snap
Labels: bug, rule, python313

#13695 [red-knot] document test framework
  .pre-commit-config.yaml
  crates/red_knot_python_semantic/resources/README.md
  crates/red_knot_python_semantic/tests/mdtest.rs
  crates/red_knot_test/README.md
  crates/red_knot_test/src/matcher.rs
Labels: red-knot

#13709 [red-knot] mdtest usability improvements for reveal_type
  crates/red_knot_test/src/matcher.rs
Labels: red-knot

#13720 [red-knot] clarify mdtest README
  crates/red_knot_test/README.md
Labels: red-knot

#13727 [`flake8-pyi`] - fix dropped exprs in `PYI030` autofix
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI030.py
  crates/ruff_linter/src/rules/flake8_pyi/rules/unnecessary_literal_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI030_PYI030.py.snap
Labels: bug, fixes

#13725 [red-knot] Use colors to improve readability of `mdtest` output
  Cargo.lock
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/matcher.rs
Labels: testing, red-knot

#13743 Downgrade benchmarks CI job to ubuntu 22
  .github/workflows/ci.yaml
Labels: ci

#13744 Fix `mkdocs` CI job
  .github/workflows/ci.yaml
Labels: ci

#13745 Allow `ipytest` cell magic
  crates/ruff_notebook/src/cell.rs
Labels: bug

#13640 [`flake8-todos`] Allow words starting with todo
  crates/ruff_linter/resources/test/fixtures/flake8_todos/TD006.py
  crates/ruff_linter/src/directives.rs
  crates/ruff_linter/src/rules/flake8_todos/snapshots/ruff_linter__rules__flake8_todos__tests__invalid-todo-capitalization_TD006.py.snap
Labels: rule

#13746 [red-knot] feat: Inference for `BytesLiteral` comparisons
  crates/red_knot_python_semantic/resources/mdtest/comparison/byte_literals.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13747 [red-knot] Add a build.rs file to `red_knot_python_semantic`, and document pitfalls of using `rstest` in combination with `mdtest`
  crates/red_knot_python_semantic/build.rs
  crates/red_knot_test/README.md
Labels: testing, red-knot

#13750 [red knot] Use memmem::find instead of custom version
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13756 Fix TODO directive out of bounds acccess
  crates/ruff_linter/resources/test/fixtures/flake8_fixme/T00.py
  crates/ruff_linter/src/directives.rs
  crates/ruff_linter/src/rules/flake8_fixme/snapshots/ruff_linter__rules__flake8_fixme__tests__line-contains-fixme_T00.py.snap
  crates/ruff_linter/src/rules/flake8_fixme/snapshots/ruff_linter__rules__flake8_fixme__tests__line-contains-todo_T00.py.snap
Labels: bug

#13757 Upgrade salsa
  Cargo.lock
  Cargo.toml
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/lint.rs
  crates/ruff_graph/src/resolver.rs
Labels: red-knot

#13758 [red knot] Fix narrowing for '… is not …' type guards, add '… is …' type guards
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#13719 [red-knot] Port type inference tests to new test framework
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/multi_target.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/walrus.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/constructor.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_boolean_returns.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/strings.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unsupported.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_expression.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
  crates/red_knot_python_semantic/resources/mdtest/declaration/error.md
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/exception/except_star.md
  crates/red_knot_python_semantic/resources/mdtest/expression/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/import/basic.md
  crates/red_knot_python_semantic/resources/mdtest/import/builtins.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/import/errors.md
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/resources/mdtest/import/stubs.md
  crates/red_knot_python_semantic/resources/mdtest/literal/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/dictionary.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/list.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/set.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/literal/complex.md
  crates/red_knot_python_semantic/resources/mdtest/literal/f_string.md
  crates/red_knot_python_semantic/resources/mdtest/literal/float.md
  crates/red_knot_python_semantic/resources/mdtest/literal/integer.md
  crates/red_knot_python_semantic/resources/mdtest/literal/string.md
  crates/red_knot_python_semantic/resources/mdtest/loops/async_for_loops.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/resources/mdtest/loops/iterators.md
  crates/red_knot_python_semantic/resources/mdtest/loops/while_loop.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/not_none.md
  crates/red_knot_python_semantic/resources/mdtest/numbers.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/class.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/variable_declaration.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/instance.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/unary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_test/src/parser.rs
Labels: red-knot

#13316 [red-knot] Infer target types for unpacked tuple assignment
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/tests/check.rs
Labels: red-knot

#13767 Update setup image for PyCharm External Tool
  docs/editors/setup.md
Labels: documentation

#13769 [red knot] Minor follow-up tasks regarding singleton types
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is_not.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#13772 Refactor: Remove `StringPart` and `AnyStringPart` in favor of `StringLikePart`
  crates/ruff_python_ast/src/expression.rs
  crates/ruff_python_formatter/src/expression/binary_like.rs
  crates/ruff_python_formatter/src/expression/expr_bin_op.rs
  crates/ruff_python_formatter/src/expression/expr_bytes_literal.rs
  crates/ruff_python_formatter/src/expression/expr_compare.rs
  crates/ruff_python_formatter/src/expression/expr_f_string.rs
  crates/ruff_python_formatter/src/expression/expr_string_literal.rs
  crates/ruff_python_formatter/src/other/arguments.rs
  crates/ruff_python_formatter/src/string/any.rs
  crates/ruff_python_formatter/src/string/mod.rs
  crates/ruff_python_formatter/src/string/normalize.rs
Labels: internal, formatter

#13712 [red-knot] Implement `Type::Tuple` Comparisons
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13776 Enable preview mode for 'unstable' black tests
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/context_managers_38.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/context_managers_39.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/context_managers_autodetect_39.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep_570.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep_572.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep_572_py39.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep_572_remove_parens.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_cantfit_string.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_comments7.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_hug_parens_with_braces_and_square_brackets.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_hug_parens_with_braces_and_square_brackets_no_ll1.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_long_dict_values.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_long_strings.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_long_strings__east_asian_width.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_long_strings__edge_case.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_long_strings__regression.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_multiline_strings.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_return_annotation_brackets_string.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/python37.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/python38.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/python39.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/remove_with_brackets.options.json
  crates/ruff_python_formatter/resources/test/fixtures/import_black_tests.py
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__context_managers_39.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__context_managers_autodetect_39.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_hug_parens_with_braces_and_square_brackets.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_hug_parens_with_braces_and_square_brackets_no_ll1.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_dict_values.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings__regression.py.snap
Labels: internal, formatter

#13711 [red-knot] Do not panic if named expressions show up in assignment position
  crates/red_knot_python_semantic/resources/mdtest/subscript/lists.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
Labels: red-knot

#13729 [red-knot] Add control flow for try/except blocks (v3)
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/builder/except_handlers.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13764 Add scope assertion to `TypeInference.extend`
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13563 [red-knot] don't include Unknown in the type for a conditionally-defined import
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/exception/except_star.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/import/errors.md
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/builtin.md
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13574 [`flake8-bandit`] Detect patterns from multi line SQL statements (`S608`)
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S608.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/hardcoded_sql_expression.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S608_S608.py.snap
Labels: bug

#13774 Add explanation of fixable in `--statistics` command
  crates/ruff/src/printer.rs
  crates/ruff/tests/integration_test.rs
Labels: cli

#13781 [red-knot] Inference for comparison of union types
  crates/red_knot_python_semantic/resources/mdtest/comparison/unions.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13794 Changelog for Ruff v0.7
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#13801 [red-knot] revert change to emit fewer division by zero errors
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13766 [red-knot] Use the right scope when considering class bases
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13770 Avoid indexing the workspace for single-file mode
  Cargo.lock
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/lib.rs
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/server/api/notifications/did_change_workspace.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/index.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
  crates/ruff_server/tests/notebook.rs
Labels: server

#13714 Make `ARG002` compatible with `EM101` when raising `NotImplementedError`
  crates/ruff_linter/resources/test/fixtures/flake8_unused_arguments/ARG.py
  crates/ruff_linter/src/rules/flake8_unused_arguments/rules/unused_arguments.rs
  crates/ruff_linter/src/rules/flake8_unused_arguments/snapshots/ruff_linter__rules__flake8_unused_arguments__tests__ARG002_ARG.py.snap
Labels: bug

#13806 [red-knot] mdtest suite: formatting and cleanup
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/constructor.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/byte_literals.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_boolean_returns.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/strings.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unions.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unsupported.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_expression.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/expression/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/import/basic.md
  crates/red_knot_python_semantic/resources/mdtest/import/builtins.md
  crates/red_knot_python_semantic/resources/mdtest/import/errors.md
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/resources/mdtest/literal/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/dictionary.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/list.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/set.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/literal/f_string.md
  crates/red_knot_python_semantic/resources/mdtest/literal/string.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/resources/mdtest/loops/iterators.md
  crates/red_knot_python_semantic/resources/mdtest/loops/while_loop.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/not_none.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/class.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/instance.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/lists.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/unary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
Labels: red-knot

#13728 Update to macOS14 runner image
  .github/workflows/build-binaries.yml
Labels: cli

#13808 Upgrade to Rust 1.82 toolchain
  .github/workflows/ci.yaml
  .github/workflows/publish-playground.yml
  .github/workflows/publish-wasm.yml
  crates/red_knot_server/src/server.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/printf_string_formatting.rs
  crates/ruff_macros/src/cache_key.rs
  crates/ruff_macros/src/map_codes.rs
  crates/ruff_macros/src/rule_code_prefix.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_star.rs
  crates/ruff_server/src/server.rs
  rust-toolchain.toml
Labels: internal

#13811 Set `fail_fast: false` in `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Labels: internal, ci

#13775 [red knot] add `Type::is_disjoint_from` and intersection simplifications
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#13815 Short circuit `lex_identifier` if the name is longer or shorter than any known keyword
  crates/ruff_python_parser/src/lexer.rs
Labels: internal, parser

#13816 Upgrade to Rust 1.82
  .github/workflows/ci.yaml
  .github/workflows/publish-playground.yml
  .github/workflows/publish-wasm.yml
  crates/red_knot_server/src/server.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/printf_string_formatting.rs
  crates/ruff_macros/src/cache_key.rs
  crates/ruff_macros/src/map_codes.rs
  crates/ruff_macros/src/rule_code_prefix.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_star.rs
  crates/ruff_server/src/server.rs
  rust-toolchain.toml
Labels: internal

#13809 [red-knot] Autoformat `mdtest` Python snippets using `blacken-docs`
  .pre-commit-config.yaml
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/constructor.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_boolean_returns.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/strings.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/declaration/error.md
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/exception/except_star.md
  crates/red_knot_python_semantic/resources/mdtest/expression/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/resources/mdtest/import/basic.md
  crates/red_knot_python_semantic/resources/mdtest/import/builtins.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/import/errors.md
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/resources/mdtest/import/stubs.md
  crates/red_knot_python_semantic/resources/mdtest/literal/collections/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/literal/f_string.md
  crates/red_knot_python_semantic/resources/mdtest/literal/string.md
  crates/red_knot_python_semantic/resources/mdtest/loops/async_for_loops.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/resources/mdtest/loops/iterators.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/builtin.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/class.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/variable_declaration.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/instance.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/unary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
Labels: red-knot

#13800 [red-knot] binary arithmetic on instances
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_python_ast/src/nodes.rs
Labels: red-knot

#13823 [red-knot] Fix edge case for binary-expression inference where the lhs and rhs are the exact same type
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13542 [python_ast] Make the iter_mut functions public
  crates/ruff_python_ast/src/nodes.rs
Labels: internal, parser

#13803 [red-knot] Implement more types in binary and unary expressions
  crates/red_knot_python_semantic/resources/mdtest/binary/booleans.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/unary/instance.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13828 Update BREAKING_CHANGES.md for Ruff 0.7
  BREAKING_CHANGES.md
Labels: documentation, release

#13826 Bump MSRV to Rust 1.80
  Cargo.lock
  Cargo.toml
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/src/assertion.rs
  crates/red_knot_test/src/parser.rs
  crates/red_knot_vendored/Cargo.toml
  crates/red_knot_vendored/src/lib.rs
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/src/lib.rs
  crates/ruff_graph/Cargo.toml
  crates/ruff_graph/src/db.rs
  crates/ruff_linter/Cargo.toml
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/logging.rs
  crates/ruff_linter/src/rule_redirects.rs
  crates/ruff_linter/src/rules/eradicate/detection.rs
  crates/ruff_linter/src/rules/flake8_bandit/helpers.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/hardcoded_sql_expression.rs
  crates/ruff_linter/src/rules/flake8_copyright/settings.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/type_comment_in_stub.rs
  crates/ruff_linter/src/rules/flake8_todos/rules/todos.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/blank_before_after_function.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/non_imperative_mood.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
  crates/ruff_linter/src/rules/pygrep_hooks/rules/blanket_type_ignore.rs
  crates/ruff_linter/src/rules/pyupgrade/helpers.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/deprecated_unittest_alias.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/format_literals.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/unnecessary_coding_comment.rs
  crates/ruff_linter/src/settings/mod.rs
  crates/ruff_notebook/Cargo.toml
  crates/ruff_notebook/src/notebook.rs
  crates/ruff_python_ast/Cargo.toml
  crates/ruff_python_ast/src/str.rs
  crates/ruff_python_codegen/Cargo.toml
  crates/ruff_python_codegen/src/stylist.rs
  crates/ruff_python_formatter/Cargo.toml
  crates/ruff_python_formatter/src/string/docstring.rs
  crates/ruff_python_formatter/tests/normalizer.rs
  crates/ruff_source_file/Cargo.toml
  crates/ruff_source_file/src/lib.rs
  crates/ruff_source_file/src/locator.rs
Labels: internal

#13831 [red-knot] Cleanup generated names of mdtest tests
  Cargo.lock
  Cargo.toml
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/tests/mdtest.rs
  crates/red_knot_test/README.md
  crates/red_knot_test/src/lib.rs
Labels: red-knot

#13834 Simplify iteration idioms
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_unused_path_parameter.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/zip_without_explicit_strict.rs
  crates/ruff_linter/src/rules/flake8_logging_format/rules/logging_call.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/exit_annotations.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/unittest_assert.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/if_with_same_arms.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/literal_comparisons.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/type_comparison.rs
  crates/ruff_linter/src/rules/pyflakes/rules/strings.rs
  crates/ruff_linter/src/rules/pylint/rules/compare_to_empty_string.rs
  crates/ruff_linter/src/rules/pylint/rules/comparison_of_constant.rs
  crates/ruff_linter/src/rules/pylint/rules/comparison_with_itself.rs
  crates/ruff_linter/src/rules/pylint/rules/duplicate_bases.rs
  crates/ruff_linter/src/rules/pylint/rules/magic_value_comparison.rs
  crates/ruff_linter/src/rules/pylint/rules/nan_comparison.rs
  crates/ruff_linter/src/rules/pylint/rules/repeated_equality_comparison.rs
  crates/ruff_linter/src/rules/pylint/rules/unnecessary_lambda.rs
  crates/ruff_linter/src/rules/ruff/rules/collection_literal_concatenation.rs
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
  crates/ruff_linter/src/rules/tryceratops/rules/verbose_raise.rs
  crates/ruff_linter/src/source_kind.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/visitor.rs
  crates/ruff_python_codegen/src/generator.rs
  crates/ruff_python_formatter/src/pattern/pattern_arguments.rs
  crates/ruff_python_semantic/src/analyze/typing.rs
  crates/ruff_python_semantic/src/model.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/resolver.rs
Labels: internal

#13837 Modernize build scripts
  crates/red_knot_python_semantic/build.rs
  crates/red_knot_vendored/build.rs
  crates/ruff/build.rs
Labels: internal

#13731 [`pylint`] - restrict `iteration-over-set` to only work on sets of literals (`PLC0208`)
  crates/ruff_linter/resources/test/fixtures/pylint/iteration_over_set.py
  crates/ruff_linter/src/rules/pylint/rules/iteration_over_set.rs
Labels: rule, preview

#13857 [red-knot] handle unions on the LHS of is_subtype_of
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#13832 Speed up mdtests
  Cargo.lock
  Cargo.toml
  crates/red_knot_test/src/db.rs
  crates/red_knot_test/src/lib.rs
  crates/ruff_db/src/system/memory_fs.rs
Labels: red-knot

#13858 formatter: Introduce `QuoteMetadata`
  crates/ruff_python_formatter/src/string/normalize.rs
Labels: internal, formatter

#13825 [red-knot] Improve chained comparisons handling
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is_not.md
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#13835 Speedup mdtest parser
  Cargo.lock
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/src/parser.rs
Labels: red-knot

#13749 [red-knot] Support for not equal narrowing
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_nested.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_not_eq.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#13804 [red-knot] Report line numbers in mdtest relative to the markdown file, not the test snippet
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/parser.rs
  crates/ruff_python_trivia/src/cursor.rs
  crates/ruff_source_file/src/line_index.rs
Labels: red-knot

#13876 [red-knot] is_subtype_of: treat literals as subtype of 'object'
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#13880 [red-knot] Treat empty intersection as 'object', fix intersection simplification
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_nested.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#13873 [red-knot] rename {Class,Module,Function} => {Class,Module,Function}Literal
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/lint.rs
Labels: red-knot

#13860 Alternate quotes for strings inside f-strings in preview
  crates/ruff_dev/src/format_dev.rs
  crates/ruff_python_ast/src/expression.rs
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring_py312.py
  crates/ruff_python_formatter/src/other/f_string.rs
  crates/ruff_python_formatter/src/other/f_string_element.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/string/normalize.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings__regression.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring_py312.py.snap
Labels: formatter, preview

#13884 [red-knot] Use track_caller for expect_ methods
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13888 Fix stale syntax errors in playground
  playground/src/Editor/Diagnostics.tsx
Labels: playground

#13894 [red-knot] Type narrowing for `isinstance` checks
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#13900 Remove "default" remark from `ruff check`
  crates/ruff/src/args.rs
  docs/configuration.md
Labels: documentation

#13895 Use referencial equality in `traversal` helper methods
  crates/ruff_linter/src/rules/flake8_simplify/rules/needless_bool.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/reimplemented_builtin.rs
  crates/ruff_linter/src/rules/refurb/rules/repeated_append.rs
  crates/ruff_python_ast/src/traversal.rs
Labels: internal

#13663 Join implicit concatenated strings when they fit on a line
  crates/ruff_formatter/src/builders.rs
  crates/ruff_formatter/src/format_extensions.rs
  crates/ruff_python_ast/src/expression.rs
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string.options.json
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string_assignment.options.json
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string_assignment.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string_preserve.options.json
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string_preserve.py
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/context.rs
  crates/ruff_python_formatter/src/expression/binary_like.rs
  crates/ruff_python_formatter/src/expression/expr_bytes_literal.rs
  crates/ruff_python_formatter/src/expression/expr_f_string.rs
  crates/ruff_python_formatter/src/expression/expr_string_literal.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/other/f_string.rs
  crates/ruff_python_formatter/src/other/f_string_element.rs
  crates/ruff_python_formatter/src/pattern/mod.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_formatter/src/statement/stmt_assert.rs
  crates/ruff_python_formatter/src/statement/stmt_assign.rs
  crates/ruff_python_formatter/src/statement/suite.rs
  crates/ruff_python_formatter/src/string/docstring.rs
  crates/ruff_python_formatter/src/string/implicit.rs
  crates/ruff_python_formatter/src/string/mod.rs
  crates/ruff_python_formatter/src/string/normalize.rs
  crates/ruff_python_formatter/tests/normalizer.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__composition_no_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings__regression.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings__type_annotations.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_multiline_strings.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__trailing_commas_in_leading_parts.py.snap
  crates/ruff_python_formatter/tests/snapshots/format.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__binary_implicit_string.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__bytes.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__join_implicit_concatenated_string.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__join_implicit_concatenated_string_assignment.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__join_implicit_concatenated_string_preserve.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__string.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__yield.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@parentheses__opening_parentheses_comment_empty.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@pattern__pattern_maybe_parenthesize.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@quote_style.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__assert.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__return_type_no_parameters.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__return_type_parameters.py.snap
Labels: formatter, preview

#13901 [red-knot] Infer subscript expression types for bytes literals
  crates/red_knot_python_semantic/resources/mdtest/literal/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/util/mod.rs
  crates/red_knot_python_semantic/src/util/subscript.rs
Labels: red-knot

#13905 [red-knot] Format mdtest Python snippets more concisely
  .pre-commit-config.yaml
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/constructor.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_boolean_returns.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/strings.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/expression/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/resources/mdtest/loops/iterators.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_nested.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_not_eq.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/builtin.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/class.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/instance.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/unary/instance.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
Labels: red-knot

#13907 Fix preview style name in `can_omit_parentheses` to `is_f_string_formatting_enabled`
  crates/ruff_python_formatter/src/expression/mod.rs
Labels: internal

#13910 Fix `normalize` arguments when `fstring_formatting` is disabled
  crates/ruff_python_formatter/src/other/f_string.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/string/implicit.rs
  crates/ruff_python_formatter/src/string/normalize.rs
Labels: internal, formatter

#13913 Bump version to 0.7.1
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#13920 Enable nursery rules: 'redundant_clone', 'debug_assert_with_mut_call', and 'unused_peekable'
  Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot_python_semantic/src/ast_node_ref.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/util/subscript.rs
  crates/red_knot_server/src/server/api/notifications/did_open_notebook.rs
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_linter/src/rules/eradicate/rules/commented_out_code.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
  crates/ruff_linter/src/rules/ruff/rules/test_rules.rs
  crates/ruff_macros/src/config.rs
  crates/ruff_python_trivia/src/tokenizer.rs
  crates/ruff_server/tests/notebook.rs
  crates/ruff_workspace/src/configuration.rs
Labels: internal

#13923 [red-knot] knot benchmark: fix `--knot-path` arg
  scripts/knot_benchmark/src/benchmark/cases.py
  scripts/knot_benchmark/src/benchmark/projects.py
  scripts/knot_benchmark/src/benchmark/run.py
Labels: internal, red-knot

#13908 [red-knot] Infer `Todo`, not `Unknown`, for PEP-604 unions in annotations
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13922 [red-knot] Remove lint-phase
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unions.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unsupported.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_expression.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
  crates/red_knot_python_semantic/resources/mdtest/declaration/error.md
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/exception/except_star.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/resources/mdtest/loops/async_for_loops.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/resources/mdtest/loops/while_loop.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_nested.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_not_eq.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/variable_declaration.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/lib.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13915 Docs: Add GitLab CI/CD to integrations.
  docs/integrations.md
Labels: documentation

#13918 [red-knot] Type narrow in else clause
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_elif_else.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_nested.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_not_eq.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/constraint.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/ruff_python_ast/src/nodes.rs
Labels: red-knot

#13903 [red-knot] Type inference for comparisons between arbitrary instances
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/membership_test.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unsupported.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13941 TCH003: Fix false positive for `singledispatchmethod`
  crates/ruff_linter/resources/test/fixtures/flake8_type_checking/singledispatchmethod.py
  crates/ruff_linter/src/rules/flake8_type_checking/helpers.rs
  crates/ruff_linter/src/rules/flake8_type_checking/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__typing-only-standard-library-import_singledispatchmethod.py.snap
Labels: bug

#13958 Remove unreferenced snapshots
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__quote_runtime-import-in-type-checking-block_quote_annotations.py.snap
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__quote_typing-only-third-party-import_quote_annotations.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D415_D415.py.snap
  crates/ruff_python_formatter/tests/snapshots/format.snap
Labels: internal

#13964 Support inference for PEP 604 union annotations
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13942 [red-knot] Narrowing - Not operator
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_not.md
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#13957 Treat return type of `singledispatch` as runtime-required
  crates/ruff_linter/resources/test/fixtures/flake8_type_checking/singledispatch.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__typing-only-third-party-import_singledispatch.py.snap
Labels: bug

#13970 [red-knot] Type narrowing inside boolean expressions
  crates/red_knot_python_semantic/resources/mdtest/narrow/boolean.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
Labels: red-knot

#13973 Rename `operator-unsupported` to `unsupported-operator`
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13974 Skip namespace package enforcement for PEP 723 scripts
  Cargo.lock
  crates/ruff_linter/resources/test/fixtures/flake8_no_pep420/test_pass_pep723/script.py
  crates/ruff_linter/src/rules/flake8_no_pep420/mod.rs
  crates/ruff_linter/src/rules/flake8_no_pep420/rules/implicit_namespace_package.rs
  crates/ruff_linter/src/rules/flake8_no_pep420/snapshots/ruff_linter__rules__flake8_no_pep420__tests__test_pass_pep723.snap
  crates/ruff_python_ast/Cargo.toml
  crates/ruff_python_ast/src/lib.rs
  crates/ruff_python_ast/src/script.rs
Labels: rule

#13917 [red-knot] Slice expression types & subscript expressions with slices
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/stepsize_zero.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/util/subscript.rs
Labels: red-knot

#13943 [red-knot] Infer `tuple` types from annotations
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13904 [red-knot] Fallback to attributes on types.ModuleType if a symbol can't be found in locals or globals
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13982 [red-knot] Minor follow-up on slice expression inference
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/util/subscript.rs
Labels: red-knot

#13983 [red-knot] Improve ergonomics for the `PySlice` trait
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/util/subscript.rs
Labels: red-knot

#13981 Add augmented assignment inference for `-=` operator
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13993 docs: typo in refurb-sorted-min-max
  crates/ruff_linter/src/rules/refurb/rules/sorted_min_max.rs
Labels: documentation

#13994 Switch off the `single_match_else` Clippy lint
  Cargo.toml
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: internal, ci

#13987 Use binary semantics when `__iadd__` et al are unbound
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#14002 Add failing tests for augmented assignments with partial binding
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
Labels: red-knot

#13978 Separate type check diagnostics builder
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14006 Fix panic when filling up types vector during unpacking
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13988 [`pyupgrade`] - add PEP646 Unpack conversion to `*` with fix (`UP044`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP044.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep646_unpack.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__unpack_pep_646_py311.snap
  ruff.schema.json
Labels: rule, preview

#13998 [red-knot] Handle context managers in (sync) with statements
  crates/red_knot_python_semantic/resources/mdtest/with/async_with.md
  crates/red_knot_python_semantic/resources/mdtest/with/with.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14019 [`flake8-simplify`] Include caveats of enabling `if-else-block-instead-of-if-exp` (SIM108)
  crates/ruff_linter/src/rules/flake8_simplify/rules/if_else_block_instead_of_if_exp.rs
Labels: documentation

#14016 [red-knot] Add failing tests for iterating over maybe-iterable unions
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#13980 [red-knot] Remove `Type::Unbound`
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/boolean/short_circuit.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/loops/async_for_loops.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/resources/mdtest/with/with.md
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#14023 [red-knot] Add myself as red-knot codeowner
  .github/CODEOWNERS
Labels: internal, red-knot

#14020 [red-knot] have mdformat wrap mdtest files to 100 columns
  crates/red_knot_python_semantic/resources/mdtest/.mdformat.toml
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/byte_literals.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/membership_test.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_boolean_returns.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unions.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/lists.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/stepsize_zero.md
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
  crates/red_knot_python_semantic/resources/mdtest/with/async_with.md
  crates/red_knot_python_semantic/resources/mdtest/with/with.md
Labels: red-knot
