Repository astral-sh/ruff, pull requests merged in 2024-04, with the labels that each got.

#10682 [`ruff`] Fix panic in unused `# noqa` removal with multi-byte space (`RUF100`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF100_0.py
  crates/ruff_linter/src/fix/edits.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__ruf100_0.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__ruf100_0_prefix.snap
Labels: bug, fuzzer

#10717 Bump version to v0.3.5
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_shrinking/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#10719 Recursively resolve `TypeDicts` for N815 violations
  crates/ruff_linter/resources/test/fixtures/pep8_naming/N815.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/pep8_naming/helpers.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/mixed_case_variable_in_class_scope.rs
Labels: bug

#10720 Ignore annotated lambdas in class scopes
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E731.py
  crates/ruff_linter/src/rules/pycodestyle/helpers.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/lambda_assignment.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E731_E731.py.snap
Labels: rule

#10728 Respect `Q00*` ignores in `flake8-quotes` rules
  crates/ruff_linter/resources/test/fixtures/flake8_quotes/doubles_all.py
  crates/ruff_linter/src/rules/flake8_quotes/mod.rs
  crates/ruff_linter/src/rules/flake8_quotes/rules/check_string_quotes.rs
  crates/ruff_linter/src/rules/flake8_quotes/snapshots/ruff_linter__rules__flake8_quotes__tests__only_docstring_doubles_all.py.snap
  crates/ruff_linter/src/rules/flake8_quotes/snapshots/ruff_linter__rules__flake8_quotes__tests__only_inline_doubles_all.py.snap
  crates/ruff_linter/src/rules/flake8_quotes/snapshots/ruff_linter__rules__flake8_quotes__tests__only_multiline_doubles_all.py.snap
Labels: bug

#10729 Accept non-aliased (but correct) import in unconventional-import-alias
  crates/ruff_linter/resources/test/fixtures/flake8_import_conventions/defaults.py
  crates/ruff_linter/resources/test/fixtures/flake8_import_conventions/same_name.py
  crates/ruff_linter/src/rules/flake8_import_conventions/mod.rs
  crates/ruff_linter/src/rules/flake8_import_conventions/rules/unconventional_import_alias.rs
  crates/ruff_linter/src/rules/flake8_import_conventions/snapshots/ruff_linter__rules__flake8_import_conventions__tests__defaults.snap
  crates/ruff_linter/src/rules/flake8_import_conventions/snapshots/ruff_linter__rules__flake8_import_conventions__tests__same_name.snap
Labels: bug

#10690 Remove unused operator methods and impl
  crates/ruff_python_ast/src/nodes.rs
Labels: internal

#10691 Implement `as_str` & `Display` for all operator enums
  crates/ruff_python_ast/src/nodes.rs
Labels: internal

#10735 Build codspeed benchmarks by calling cargo directly
  .github/workflows/ci.yaml
Labels: ci

#10650 [`refurb`] Implement `int-on-sliced-str` (`FURB166`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB166.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/int_on_sliced_str.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB166_FURB166.py.snap
  ruff.schema.json
Labels: rule, preview

#10741 [`flake8-return`] Ignore assignments to annotated variables in `unnecessary-assign`
  crates/ruff_linter/resources/test/fixtures/flake8_return/RET504.py
  crates/ruff_linter/src/rules/flake8_return/rules/function.rs
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET504_RET504.py.snap
  crates/ruff_linter/src/rules/flake8_return/visitor.rs
Labels: bug

#10745 chore(docs): update ruff_linter crate name in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#10744 [flake8_comprehensions] update docs for unnecessary-comprehension-any-all (C419)
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension_any_all.rs
Labels: documentation

#10740 Use section name range for all section-related docstring diagnostics
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D214_D214_module.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D214_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D215_D215.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D215_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D405_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D406_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D407_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D408_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D409_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D410_D410.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D410_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D411_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D412_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D413_D413.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D413_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D414_sections.py.snap
Labels: docstring

#10743 Drop support for `root_uri` as an initialization parameter in `ruff_server`
  crates/ruff_server/src/server.rs
Labels: server

#10657 Limit `bitwise_or` precedence for starred expression with error
  crates/ruff_python_parser/resources/valid/expressions/dictionary.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__double_star.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__list__star_expression_precedence.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__tuple_starred_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__star_expression_precedence.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__dictionary.py.snap
Labels: parser

#10748 Report error for `yield` and `starred` in bitwise or parsing
  crates/ruff_python_parser/src/parser/expression.rs
Labels: parser

#10658 Add tests for yield and yield from expressions
  crates/ruff_python_parser/resources/invalid/expressions/yield/named_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/yield/star_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/yield_from/starred_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/yield_from/unparenthesized.py
  crates/ruff_python_parser/resources/valid/expressions/yield.py
  crates/ruff_python_parser/resources/valid/expressions/yield_from.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield__named_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield__star_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield_from__starred_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield_from__unparenthesized.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__yield.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__yield_from.py.snap
Labels: parser, testing

#10659 Add tests for named expression
  crates/ruff_python_parser/resources/invalid/expressions/named/invalid_target.py
  crates/ruff_python_parser/resources/invalid/expressions/named/missing_expression_0.py
  crates/ruff_python_parser/resources/invalid/expressions/named/missing_expression_1.py
  crates/ruff_python_parser/resources/invalid/expressions/named/missing_expression_2.py
  crates/ruff_python_parser/resources/invalid/expressions/named/missing_expression_3.py
  crates/ruff_python_parser/resources/invalid/expressions/named/missing_expression_4.py
  crates/ruff_python_parser/resources/invalid/statements/named_expression_statement.py
  crates/ruff_python_parser/resources/valid/expressions/named.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__invalid_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__missing_expression_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__missing_expression_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__missing_expression_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__missing_expression_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__missing_expression_4.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__subscript__invalid_slice_element.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__named_expression_statement.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__named.py.snap
Labels: parser, testing

#10679 Add precedence error handling in parsing LHS expression
  crates/ruff_python_parser/src/parser/expression.rs
Labels: parser

#10680 Add tests for await expression
  crates/ruff_python_parser/resources/invalid/expressions/await/no_expression_0.py
  crates/ruff_python_parser/resources/invalid/expressions/await/no_expression_1.py
  crates/ruff_python_parser/resources/invalid/expressions/await/recover.py
  crates/ruff_python_parser/resources/valid/expressions/await.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__await__no_expression_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__await__no_expression_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__await__recover.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__await.py.snap
Labels: parser, testing

#10725 Add tests for attribute expression
  crates/ruff_python_parser/resources/invalid/expressions/attribute/invalid_member.py
  crates/ruff_python_parser/resources/invalid/expressions/attribute/multiple_dots.py
  crates/ruff_python_parser/resources/invalid/expressions/attribute/no_member.py
  crates/ruff_python_parser/resources/valid/expressions/attribute.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__attribute__invalid_member.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__attribute__multiple_dots.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__attribute__no_member.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__attribute.py.snap
Labels: parser, testing

#10726 Add tests for unary expressions
  crates/ruff_python_parser/resources/invalid/expressions/unary.py
  crates/ruff_python_parser/resources/invalid/expressions/unary/named_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/unary/no_expression_0.py
  crates/ruff_python_parser/resources/invalid/expressions/unary/no_expression_1.py
  crates/ruff_python_parser/resources/valid/expressions/unary_op.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/token.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__unary.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__unary__named_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__unary__no_expression_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__unary__no_expression_1.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__unary_op.py.snap
Labels: parser, testing

#10730 Add tests for compare operator expressions
  crates/ruff_python_parser/resources/invalid/expressions/compare/invalid_order.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/invalid_rhs_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/missing_lhs.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/missing_rhs_0.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/missing_rhs_1.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/missing_rhs_2.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/multiple_equals.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/named_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/compare/starred_expression.py
  crates/ruff_python_parser/resources/valid/expressions/compare.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/helpers.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__invalid_order.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__invalid_rhs_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__missing_lhs.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__missing_rhs_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__missing_rhs_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__missing_rhs_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__multiple_equals.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__named_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__starred_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__compare.py.snap
Labels: parser, testing

#10731 Add tests for binary operator expressions
  crates/ruff_python_parser/resources/invalid/expressions/bin_op/invalid_rhs_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/bin_op/missing_lhs.py
  crates/ruff_python_parser/resources/invalid/expressions/bin_op/missing_rhs_0.py
  crates/ruff_python_parser/resources/invalid/expressions/bin_op/missing_rhs_1.py
  crates/ruff_python_parser/resources/invalid/expressions/bin_op/multiple_ops.py
  crates/ruff_python_parser/resources/invalid/expressions/bin_op/named_expression.py
  crates/ruff_python_parser/resources/invalid/expressions/bin_op/starred_expression.py
  crates/ruff_python_parser/resources/valid/expressions/bin_op.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__invalid_rhs_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__missing_lhs.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__missing_rhs_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__missing_rhs_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__multiple_ops.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__named_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__starred_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__bin_op.py.snap
Labels: parser, testing

#10734 Add tests for call expression
  crates/ruff_python_parser/resources/valid/expressions/call.py
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__call.py.snap
Labels: parser, testing

#10597 `ruff server` now supports `source.fixAll` source action
  crates/ruff_server/src/edit.rs
  crates/ruff_server/src/edit/replacement.rs
  crates/ruff_server/src/fix.rs
  crates/ruff_server/src/lib.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/server/api.rs
  crates/ruff_server/src/server/api/requests.rs
  crates/ruff_server/src/server/api/requests/code_action.rs
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/traits.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/settings.rs
  crates/ruff_server/src/session/types.rs
Labels: server

#10762 fix obsolete name in resolve_qualified_name docs
  crates/ruff_python_semantic/src/model.rs
Labels: internal

#10754 Rework docs for pydocstyle rules
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
Labels: documentation, docstring

#10766 Add semantic model flag when inside f-string replacement field
  crates/ruff_linter/resources/test/fixtures/flake8_quotes/singles.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_quotes/rules/check_string_quotes.rs
  crates/ruff_python_semantic/src/model.rs
Labels: bug

#10757 Add tests for string and f-string literals
  crates/ruff_python_parser/resources/inline/err/f_string_empty_expression.py
  crates/ruff_python_parser/resources/inline/err/f_string_invalid_conversion_flag_name_tok.py
  crates/ruff_python_parser/resources/inline/err/f_string_invalid_conversion_flag_other_tok.py
  crates/ruff_python_parser/resources/inline/err/f_string_invalid_starred_expr.py
  crates/ruff_python_parser/resources/inline/err/f_string_lambda_without_parentheses.py
  crates/ruff_python_parser/resources/inline/err/f_string_unclosed_lbrace.py
  crates/ruff_python_parser/resources/inline/err/f_string_unclosed_lbrace_in_format_spec.py
  crates/ruff_python_parser/resources/inline/err/implicitly_concatenated_unterminated_string.py
  crates/ruff_python_parser/resources/inline/err/implicitly_concatenated_unterminated_string_multiline.py
  crates/ruff_python_parser/resources/inline/err/invalid_byte_literal.py
  crates/ruff_python_parser/resources/inline/err/invalid_fstring_literal_element.py
  crates/ruff_python_parser/resources/inline/err/invalid_string_literal.py
  crates/ruff_python_parser/resources/inline/err/mixed_bytes_and_non_bytes_literals.py
  crates/ruff_python_parser/resources/inline/err/unterminated_fstring_newline_recovery.py
  crates/ruff_python_parser/resources/inline/ok/fstring_format_spec_terminator.py
  crates/ruff_python_parser/resources/invalid/expressions/unclosed_fstring_lbrace.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__unclosed_fstring_lbrace.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_empty_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_invalid_conversion_flag_name_tok.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_invalid_conversion_flag_other_tok.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_invalid_starred_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_lambda_without_parentheses.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_unclosed_lbrace.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_unclosed_lbrace_in_format_spec.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@implicitly_concatenated_unterminated_string.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@implicitly_concatenated_unterminated_string_multiline.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_byte_literal.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_fstring_literal_element.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_string_literal.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@mixed_bytes_and_non_bytes_literals.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unterminated_fstring_newline_recovery.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@fstring_format_spec_terminator.py.snap
Labels: parser, testing

#10758 Add tests for `global`, `nonlocal`
  crates/ruff_python_parser/resources/inline/err/global_stmt_empty.py
  crates/ruff_python_parser/resources/inline/err/global_stmt_expression.py
  crates/ruff_python_parser/resources/inline/err/global_stmt_trailing_comma.py
  crates/ruff_python_parser/resources/inline/err/nonlocal_stmt_empty.py
  crates/ruff_python_parser/resources/inline/err/nonlocal_stmt_expression.py
  crates/ruff_python_parser/resources/inline/err/nonlocal_stmt_trailing_comma.py
  crates/ruff_python_parser/resources/inline/ok/global_stmt.py
  crates/ruff_python_parser/resources/inline/ok/nonlocal_stmt.py
  crates/ruff_python_parser/resources/valid/statement/global.py
  crates/ruff_python_parser/resources/valid/statement/nonlocal.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@global_stmt_empty.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@global_stmt_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@global_stmt_trailing_comma.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@nonlocal_stmt_empty.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@nonlocal_stmt_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@nonlocal_stmt_trailing_comma.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@global_stmt.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@nonlocal_stmt.py.snap
Labels: parser, testing

#10767 Add tests for `return` statement
  crates/ruff_python_parser/resources/inline/err/return_stmt_invalid_expr.py
  crates/ruff_python_parser/resources/valid/statement/return.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@return_stmt_invalid_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__return.py.snap
Labels: parser, testing

#10768 Add tests for `raise` statement
  crates/ruff_python_parser/resources/inline/err/raise_stmt_unparenthesized_tuple_cause.py
  crates/ruff_python_parser/resources/inline/err/raise_stmt_unparenthesized_tuple_exc.py
  crates/ruff_python_parser/resources/valid/statement/raise.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@raise_stmt_unparenthesized_tuple_cause.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@raise_stmt_unparenthesized_tuple_exc.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__raise.py.snap
Labels: parser, testing

#10769 Add tests for `assert` statement
  crates/ruff_python_parser/resources/inline/err/assert_empty_msg.py
  crates/ruff_python_parser/resources/inline/err/assert_empty_test.py
  crates/ruff_python_parser/resources/valid/statement/assert.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assert_empty_msg.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assert_empty_test.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__assert.py.snap
Labels: parser, testing

#10770 Add tests for `del` statement
  crates/ruff_python_parser/resources/inline/err/del_incomplete_target.py
  crates/ruff_python_parser/resources/inline/err/del_stmt_empty.py
  crates/ruff_python_parser/resources/inline/err/invalid_del_target.py
  crates/ruff_python_parser/resources/valid/statement/delete.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@del_incomplete_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@del_stmt_empty.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_del_target.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__delete.py.snap
Labels: parser, testing

#10771 Add tests for `import` and `from ... import` statement
  crates/ruff_python_parser/resources/inline/err/dotted_name_multiple_dots.py
  crates/ruff_python_parser/resources/inline/err/from_import_empty_names.py
  crates/ruff_python_parser/resources/inline/err/from_import_missing_module.py
  crates/ruff_python_parser/resources/inline/err/from_import_missing_rpar.py
  crates/ruff_python_parser/resources/inline/err/from_import_star_with_other_names.py
  crates/ruff_python_parser/resources/inline/err/from_import_unparenthesized_trailing_comma.py
  crates/ruff_python_parser/resources/inline/err/import_alias_missing_asname.py
  crates/ruff_python_parser/resources/inline/err/import_stmt_empty.py
  crates/ruff_python_parser/resources/inline/err/import_stmt_parenthesized_names.py
  crates/ruff_python_parser/resources/inline/err/import_stmt_star_import.py
  crates/ruff_python_parser/resources/inline/err/import_stmt_trailing_comma.py
  crates/ruff_python_parser/resources/inline/ok/dotted_name_normalized_spaces.py
  crates/ruff_python_parser/resources/inline/ok/from_import_no_space.py
  crates/ruff_python_parser/resources/invalid/statements/import_from.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@dotted_name_multiple_dots.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_empty_names.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_missing_module.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_missing_rpar.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_star_with_other_names.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_unparenthesized_trailing_comma.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_alias_missing_asname.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_empty.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_parenthesized_names.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_star_import.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_trailing_comma.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@dotted_name_normalized_spaces.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@from_import_no_space.py.snap
Labels: parser, testing

#10777 docs: `Lint` -> `Format` in formatter.md
  docs/formatter.md
Labels: documentation

#10652 `ruff server` now supports the `source.organizeImports` source action
  crates/ruff_linter/src/rules/flake8_annotations/settings.rs
  crates/ruff_linter/src/rules/flake8_bandit/settings.rs
  crates/ruff_linter/src/rules/flake8_boolean_trap/settings.rs
  crates/ruff_linter/src/rules/flake8_bugbear/settings.rs
  crates/ruff_linter/src/rules/flake8_builtins/settings.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/settings.rs
  crates/ruff_linter/src/rules/flake8_copyright/settings.rs
  crates/ruff_linter/src/rules/flake8_errmsg/settings.rs
  crates/ruff_linter/src/rules/flake8_gettext/settings.rs
  crates/ruff_linter/src/rules/flake8_implicit_str_concat/settings.rs
  crates/ruff_linter/src/rules/flake8_import_conventions/settings.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/settings.rs
  crates/ruff_linter/src/rules/flake8_quotes/settings.rs
  crates/ruff_linter/src/rules/flake8_self/settings.rs
  crates/ruff_linter/src/rules/flake8_tidy_imports/settings.rs
  crates/ruff_linter/src/rules/flake8_type_checking/settings.rs
  crates/ruff_linter/src/rules/flake8_unused_arguments/settings.rs
  crates/ruff_linter/src/rules/isort/categorize.rs
  crates/ruff_linter/src/rules/isort/settings.rs
  crates/ruff_linter/src/rules/mccabe/settings.rs
  crates/ruff_linter/src/rules/pep8_naming/settings.rs
  crates/ruff_linter/src/rules/pycodestyle/settings.rs
  crates/ruff_linter/src/rules/pydocstyle/settings.rs
  crates/ruff_linter/src/rules/pyflakes/settings.rs
  crates/ruff_linter/src/rules/pylint/settings.rs
  crates/ruff_linter/src/rules/pyupgrade/settings.rs
  crates/ruff_linter/src/settings/fix_safety_table.rs
  crates/ruff_linter/src/settings/mod.rs
  crates/ruff_linter/src/settings/rule_table.rs
  crates/ruff_linter/src/settings/types.rs
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/server/api/requests/code_action.rs
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
Labels: server

#10776 D403: Require capitalizing single word sentence
  crates/ruff_linter/resources/test/fixtures/pydocstyle/D403.py
  crates/ruff_linter/src/rules/pydocstyle/rules/capitalized.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D403_D403.py.snap
Labels: rule

#10781 [`pylint`] Implement `bad-staticmethod-argument` (`PLW0211`)
  crates/ruff_linter/resources/test/fixtures/pylint/bad_staticmethod_argument.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_scopes.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/bad_staticmethod_argument.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW0211_bad_staticmethod_argument.py.snap
  ruff.schema.json
Labels: rule, preview

#10756 doc(FAQ): More precise PyLint comparision
  docs/faq.md
Labels: documentation

#10796 Correct some oversites in the documentation from #10756
  docs/faq.md
Labels: documentation

#10654 `ruff server` now supports commands for auto-fixing, organizing imports, and formatting
  crates/ruff_server/src/edit.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_server/src/server/api.rs
  crates/ruff_server/src/server/api/requests.rs
  crates/ruff_server/src/server/api/requests/code_action.rs
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
  crates/ruff_server/src/server/api/requests/execute_command.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/traits.rs
  crates/ruff_server/src/server/schedule.rs
  crates/ruff_server/src/server/schedule/task.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/capabilities.rs
Labels: server

#10799 Remove debug print when resolving client settings in `ruff server`
  crates/ruff_server/src/session.rs
Labels: server

#10713 [`pyupgrade`] Replace str,Enum with StrEnum `UP042`
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP042.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/replace_str_enum.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP042.py.snap
  ruff.schema.json
Labels: rule, preview

#10793 Use within-scope shadowed bindings in `asyncio-dangling-task`
  crates/ruff_linter/src/rules/ruff/rules/asyncio_dangling_task.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF006_RUF006.py.snap
Labels: bug

#10798 Respect `# noqa` directives on `__all__` openers
  crates/ruff_diagnostics/src/diagnostic.rs
  crates/ruff_linter/resources/test/fixtures/pyflakes/F822_3.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F822_F822_3.py.snap
  crates/ruff_python_ast/src/all.rs
Labels: suppression

#10788 Improve internal documentation for the semantic model
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/checkers/ast/annotation.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_semantic/src/model.rs
  crates/ruff_python_semantic/src/scope.rs
Labels: documentation, internal

#10687 [`refurb`] Implement `if-expr-instead-of-or-operator` (`FURB110`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB110.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/if_exp_instead_of_or_operator.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB110_FURB110.py.snap
  ruff.schema.json
Labels: rule, preview

#10803 [`refurb`] Do not allow any keyword arguments for `read-whole-file` in `rb` mode (`FURB101`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB101.py
  crates/ruff_linter/src/rules/refurb/rules/read_whole_file.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB101_FURB101.py.snap
Labels: bug

#10804 Add comment test for `FURB110`
  crates/ruff_linter/resources/test/fixtures/refurb/FURB110.py
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB110_FURB110.py.snap
Labels: internal, testing

#10002 [`pylint`] Implement `if-stmt-min-max` (`PLR1730`, `PLR1731`)
  crates/ruff_linter/resources/test/fixtures/pylint/if_stmt_min_max.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
  ruff.schema.json
Labels: accepted, preview

#10807 [`flake8-pyi`] Various improvements to PYI034
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI034.py
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI034_PYI034.py.snap
Labels: rule

#10808 [`flake8-slots`] Flag subclasses of call-based `typing.NamedTuple`s as well as subclasses of `collections.namedtuple()` (`SLOT002`)
  crates/ruff_linter/resources/test/fixtures/flake8_slots/SLOT002.py
  crates/ruff_linter/src/rules/flake8_slots/rules/no_slots_in_namedtuple_subclass.rs
  crates/ruff_linter/src/rules/flake8_slots/snapshots/ruff_linter__rules__flake8_slots__tests__SLOT002_SLOT002.py.snap
Labels: rule

#10779 [`pyflakes`] Allow forward references in class bases in stub files (`F821`)
  crates/ruff_linter/resources/test/fixtures/pyflakes/F821_26.pyi
  crates/ruff_linter/src/checkers/ast/deferred.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_semantic/src/model.rs
Labels: rule, linter

#10800 The linter and code actions can now be disabled in client settings for `ruff server`
  crates/ruff_server/src/server/api/requests/code_action.rs
  crates/ruff_server/src/server/api/requests/diagnostic.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/settings.rs
Labels: server

#10837 Localize cleanup for FunctionDef and ClassDef
  crates/ruff_linter/src/checkers/ast/mod.rs
Labels: internal

#10809 Avoid error handling duplication for starred, yield, lambda expressions
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__double_starred.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__invalid_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__invalid_keyword_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__starred.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__await__recover.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bin_op__invalid_rhs_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__bool_op__invalid_rhs_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__invalid_rhs_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__comprehension.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__recover.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__if__recover.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__list__comprehension.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__comprehension.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield_from__starred_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@lambda_body_with_yield_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@return_stmt_invalid_expr.py.snap
Labels: internal

#10811 Fix with items parsing for yield, starred, named expr
  crates/ruff_python_parser/resources/invalid/statements/with/ambiguous_lpar_with_items.py
  crates/ruff_python_parser/resources/valid/statement/ambiguous_lpar_with_items.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/parser/tests/snapshots/ruff_python_parser__parser__tests__parser__tests__parse_with_stmt.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__ambiguous_lpar_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__ambiguous_lpar_with_items.py.snap
Labels: bug, parser

#10785 Add tests for type alias statement
  crates/ruff_python_parser/resources/inline/err/type_alias_incomplete_stmt.py
  crates/ruff_python_parser/resources/inline/err/type_alias_invalid_value_expr.py
  crates/ruff_python_parser/resources/inline/err/type_param_invalid_bound_expr.py
  crates/ruff_python_parser/resources/inline/err/type_param_missing_bound.py
  crates/ruff_python_parser/resources/inline/err/type_param_param_spec_bound.py
  crates/ruff_python_parser/resources/inline/err/type_param_type_var_tuple_bound.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_alias_incomplete_stmt.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_alias_invalid_value_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_invalid_bound_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_missing_bound.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_param_spec_bound.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_type_var_tuple_bound.py.snap
Labels: parser, testing

#10786 Add tests for all kinds of assignment statement
  crates/ruff_python_parser/resources/inline/err/ann_assign_stmt_invalid_annotation.py
  crates/ruff_python_parser/resources/inline/err/ann_assign_stmt_invalid_target.py
  crates/ruff_python_parser/resources/inline/err/ann_assign_stmt_invalid_value.py
  crates/ruff_python_parser/resources/inline/err/ann_assign_stmt_missing_rhs.py
  crates/ruff_python_parser/resources/inline/err/assign_stmt_invalid_target.py
  crates/ruff_python_parser/resources/inline/err/assign_stmt_invalid_value_expr.py
  crates/ruff_python_parser/resources/inline/err/assign_stmt_keyword_target.py
  crates/ruff_python_parser/resources/inline/err/assign_stmt_missing_rhs.py
  crates/ruff_python_parser/resources/inline/err/aug_assign_stmt_invalid_target.py
  crates/ruff_python_parser/resources/inline/err/aug_assign_stmt_invalid_value.py
  crates/ruff_python_parser/resources/inline/err/aug_assign_stmt_missing_rhs.py
  crates/ruff_python_parser/resources/invalid/statements/assignment_missing_target.py
  crates/ruff_python_parser/resources/invalid/statements/assignment_missing_value.py
  crates/ruff_python_parser/resources/valid/statement/annotated_assignment.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/helpers.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/token.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@ann_assign_stmt_invalid_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@ann_assign_stmt_invalid_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@ann_assign_stmt_invalid_value.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@ann_assign_stmt_missing_rhs.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assign_stmt_invalid_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assign_stmt_invalid_value_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assign_stmt_keyword_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assign_stmt_missing_rhs.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@aug_assign_stmt_invalid_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@aug_assign_stmt_invalid_value.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@aug_assign_stmt_missing_rhs.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__missing_expression_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__tuple.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__subscript__unclosed_slice_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__assignment_missing_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__assignment_missing_value.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__invalid_assignment_targets.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__annotated_assignment.py.snap
Labels: parser, testing

#10789 Add tests for `if` statement
  crates/ruff_python_parser/resources/inline/err/clause_expect_indented_block.py
  crates/ruff_python_parser/resources/inline/err/clause_expect_single_statement.py
  crates/ruff_python_parser/resources/inline/err/if_stmt_elif_missing_colon.py
  crates/ruff_python_parser/resources/inline/err/if_stmt_empty_body.py
  crates/ruff_python_parser/resources/inline/err/if_stmt_invalid_elif_test_expr.py
  crates/ruff_python_parser/resources/inline/err/if_stmt_invalid_test_expr.py
  crates/ruff_python_parser/resources/inline/err/if_stmt_missing_colon.py
  crates/ruff_python_parser/resources/inline/err/if_stmt_missing_test.py
  crates/ruff_python_parser/resources/inline/err/if_stmt_misspelled_elif.py
  crates/ruff_python_parser/resources/invalid/statements/if_missing_body.py
  crates/ruff_python_parser/resources/invalid/statements/if_missing_colon.py
  crates/ruff_python_parser/resources/valid/statement/if.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@clause_expect_indented_block.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@clause_expect_single_statement.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@if_stmt_elif_missing_colon.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@if_stmt_empty_body.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@if_stmt_invalid_elif_test_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@if_stmt_invalid_test_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@if_stmt_missing_colon.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@if_stmt_missing_test.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@if_stmt_misspelled_elif.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__if_missing_body.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__if_missing_colon.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__if.py.snap
Labels: parser, testing

#10815 Add test cases for `try` statement
  _typos.toml
  crates/ruff_python_parser/resources/inline/err/except_stmt_invalid_expression.py
  crates/ruff_python_parser/resources/inline/err/except_stmt_missing_as_name.py
  crates/ruff_python_parser/resources/inline/err/except_stmt_missing_exception.py
  crates/ruff_python_parser/resources/inline/err/except_stmt_missing_exception_and_as_name.py
  crates/ruff_python_parser/resources/inline/err/except_stmt_unparenthesized_tuple.py
  crates/ruff_python_parser/resources/inline/err/try_stmt_invalid_order.py
  crates/ruff_python_parser/resources/inline/err/try_stmt_missing_except_finally.py
  crates/ruff_python_parser/resources/inline/err/try_stmt_misspelled_except.py
  crates/ruff_python_parser/resources/valid/statement/try.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@except_stmt_invalid_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@except_stmt_missing_as_name.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@except_stmt_missing_exception.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@except_stmt_missing_exception_and_as_name.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@except_stmt_unparenthesized_tuple.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@try_stmt_invalid_order.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@try_stmt_missing_except_finally.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@try_stmt_misspelled_except.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__try.py.snap
Labels: parser, testing

#10816 Add tests for `for` statement
  crates/ruff_python_parser/resources/inline/err/for_stmt_invalid_iter_expr.py
  crates/ruff_python_parser/resources/inline/err/for_stmt_invalid_target.py
  crates/ruff_python_parser/resources/inline/err/for_stmt_missing_in_keyword.py
  crates/ruff_python_parser/resources/inline/err/for_stmt_missing_iter.py
  crates/ruff_python_parser/resources/inline/err/for_stmt_missing_target.py
  crates/ruff_python_parser/resources/valid/statement/for.py
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_stmt_invalid_iter_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_stmt_invalid_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_stmt_missing_in_keyword.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_stmt_missing_iter.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_stmt_missing_target.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__for.py.snap
Labels: parser, testing

#10817 Add tests for `while` statement
  crates/ruff_python_parser/resources/inline/err/while_stmt_invalid_test_expr.py
  crates/ruff_python_parser/resources/inline/err/while_stmt_missing_colon.py
  crates/ruff_python_parser/resources/inline/err/while_stmt_missing_test.py
  crates/ruff_python_parser/resources/valid/statement/while.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@while_stmt_invalid_test_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@while_stmt_missing_colon.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@while_stmt_missing_test.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__while.py.snap
Labels: parser, testing

#10818 Add tests for decorators
  crates/ruff_python_parser/resources/inline/err/decorator_invalid_expression.py
  crates/ruff_python_parser/resources/inline/err/decorator_missing_expression.py
  crates/ruff_python_parser/resources/inline/err/decorator_missing_newline.py
  crates/ruff_python_parser/resources/inline/err/decorator_unexpected_token.py
  crates/ruff_python_parser/resources/inline/ok/decorator_async_function.py
  crates/ruff_python_parser/resources/valid/other/decorator.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_invalid_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_missing_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_missing_newline.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_unexpected_token.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@decorator_async_function.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@other__decorator.py.snap
Labels: parser, testing

#10819 Add tests for `async` statement
  crates/ruff_python_parser/resources/inline/err/async_unexpected_token.py
  crates/ruff_python_parser/resources/inline/ok/async_for_statement.py
  crates/ruff_python_parser/resources/inline/ok/async_function_definition.py
  crates/ruff_python_parser/resources/inline/ok/async_with_statement.py
  crates/ruff_python_parser/resources/valid/statement/async.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@async_unexpected_token.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@async_for_statement.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@async_function_definition.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@async_with_statement.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__async.py.snap
Labels: parser, testing

#10829 Add tests for function definition
  crates/ruff_python_parser/resources/inline/err/function_def_empty_body.py
  crates/ruff_python_parser/resources/inline/err/function_def_invalid_return_expr.py
  crates/ruff_python_parser/resources/inline/err/function_def_missing_identifier.py
  crates/ruff_python_parser/resources/inline/err/function_def_missing_return_type.py
  crates/ruff_python_parser/resources/inline/err/function_def_unclosed_parameter_list.py
  crates/ruff_python_parser/resources/inline/err/function_def_unclosed_type_param_list.py
  crates/ruff_python_parser/resources/inline/err/function_def_unparenthesized_return_types.py
  crates/ruff_python_parser/resources/inline/ok/function_def_parameter_range.py
  crates/ruff_python_parser/resources/inline/ok/function_def_parenthesized_return_types.py
  crates/ruff_python_parser/resources/inline/ok/function_def_valid_return_expr.py
  crates/ruff_python_parser/resources/invalid/statements/function_type_parameters.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_empty_body.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_invalid_return_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_missing_identifier.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_missing_return_type.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unclosed_parameter_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unparenthesized_return_types.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__function_type_parameters.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@function_def_parameter_range.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@function_def_parenthesized_return_types.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@function_def_valid_return_expr.py.snap
Labels: parser, testing

#10830 Add tests for class definition
  crates/ruff_python_parser/resources/inline/err/class_def_empty_body.py
  crates/ruff_python_parser/resources/inline/err/class_def_missing_name.py
  crates/ruff_python_parser/resources/inline/err/class_def_unclosed_type_param_list.py
  crates/ruff_python_parser/resources/inline/ok/class_def_arguments.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@class_def_empty_body.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@class_def_missing_name.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@class_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@class_def_arguments.py.snap
Labels: parser, testing

#10831 Add tests for `match` statement
  crates/ruff_python_parser/resources/inline/err/match_stmt_expect_indented_block.py
  crates/ruff_python_parser/resources/inline/err/match_stmt_expected_case_block.py
  crates/ruff_python_parser/resources/inline/err/match_stmt_invalid_guard_expr.py
  crates/ruff_python_parser/resources/inline/err/match_stmt_invalid_subject_expr.py
  crates/ruff_python_parser/resources/inline/err/match_stmt_missing_guard_expr.py
  crates/ruff_python_parser/resources/inline/err/match_stmt_missing_pattern.py
  crates/ruff_python_parser/resources/inline/err/match_stmt_no_newline_before_case.py
  crates/ruff_python_parser/resources/inline/err/match_stmt_single_starred_subject.py
  crates/ruff_python_parser/resources/inline/ok/match_stmt_subject_expr.py
  crates/ruff_python_parser/resources/inline/ok/match_stmt_valid_guard_expr.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_expect_indented_block.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_expected_case_block.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_invalid_guard_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_invalid_subject_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_missing_guard_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_missing_pattern.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_no_newline_before_case.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_single_starred_subject.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@match_stmt_subject_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@match_stmt_valid_guard_expr.py.snap
Labels: parser, testing

#10853 fixup! Add tests for `match` statement (#10831)
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@class_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_expect_indented_block.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_3.py.snap
Labels: parser

#10852 Support negated patterns in [extend-]per-file-ignores
  crates/ruff/tests/lint.rs
  crates/ruff_linter/src/fs.rs
  crates/ruff_linter/src/settings/types.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: configuration

#10855 Remove `is_current_token_postfix`
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
Labels: parser

#10856 Move remaining tests to new framework
  crates/ruff_python_parser/resources/inline/err/ann_assign_stmt_type_alias_annotation.py
  crates/ruff_python_parser/resources/invalid/statements/with/ambiguous_lpar_with_items.py
  crates/ruff_python_parser/resources/invalid/statements/with/unparenthesized_with_items.py
  crates/ruff_python_parser/resources/valid/statement/ambiguous_lpar_with_items.py
  crates/ruff_python_parser/resources/valid/statement/with.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/parser/tests.rs
  crates/ruff_python_parser/src/parser/tests/parser.rs
  crates/ruff_python_parser/src/parser/tests/snapshots/ruff_python_parser__parser__tests__parser__tests__parse_with_stmt.snap
  crates/ruff_python_parser/src/parser/tests/snapshots/ruff_python_parser__parser__tests__suite__tests__parenthesized_with_statement.snap
  crates/ruff_python_parser/src/parser/tests/snapshots/ruff_python_parser__parser__tests__suite__tests__with_statement.snap
  crates/ruff_python_parser/src/parser/tests/suite.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@ann_assign_stmt_type_alias_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__ambiguous_lpar_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__unparenthesized_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__ambiguous_lpar_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__with.py.snap
Labels: parser, testing

#10857 Remove commented out inline tests
  crates/ruff_python_parser/resources/inline/err/assert_invalid_msg_expr.py
  crates/ruff_python_parser/resources/inline/err/assert_invalid_test_expr.py
  crates/ruff_python_parser/resources/inline/err/raise_stmt_invalid_cause.py
  crates/ruff_python_parser/resources/inline/err/raise_stmt_invalid_exc.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assert_invalid_msg_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assert_invalid_test_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@raise_stmt_invalid_cause.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@raise_stmt_invalid_exc.py.snap
Labels: parser, testing

#10854 Show negated condition in `needless-bool` diagnostics
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM103.py
  crates/ruff_linter/src/rules/flake8_simplify/rules/needless_bool.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM103_SIM103.py.snap
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__preview__SIM103_SIM103.py.snap
Labels: bug

#10851 [`pygrep-hooks`] Improve `blanket-noqa` error message (`PGH004`)
  crates/ruff_linter/resources/test/fixtures/pygrep_hooks/PGH004_0.py
  crates/ruff_linter/src/noqa.rs
  crates/ruff_linter/src/rules/pygrep_hooks/rules/blanket_noqa.rs
  crates/ruff_linter/src/rules/pygrep_hooks/snapshots/ruff_linter__rules__pygrep_hooks__tests__PGH004_PGH004_0.py.snap
Labels: rule

#10862 [`flake8-pytest-style`] Fix single-tuple conversion in `pytest-parametrize-values-wrong-type`
  crates/ruff_linter/resources/test/fixtures/flake8_pytest_style/PT007.py
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/parametrize.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_list_of_lists.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_list_of_tuples.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_tuple_of_lists.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_tuple_of_tuples.snap
Labels: bug

#10869 Update `clearscreen` to v3.0.0
  Cargo.lock
  Cargo.toml
Labels: internal

#10802 [`refurb`] Implement `write-whole-file` (`FURB103`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB103.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/helpers.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/read_whole_file.rs
  crates/ruff_linter/src/rules/refurb/rules/write_whole_file.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB103_FURB103.py.snap
  ruff.schema.json
  scripts/add_rule.py
Labels: rule, preview

#10859 Use `Semi` as terminator token for simple stmts
  crates/ruff_python_parser/resources/inline/ok/assign_targets_terminator.py
  crates/ruff_python_parser/resources/inline/ok/del_targets_terminator.py
  crates/ruff_python_parser/resources/inline/ok/from_import_stmt_terminator.py
  crates/ruff_python_parser/resources/inline/ok/import_stmt_terminator.py
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@assign_targets_terminator.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@del_targets_terminator.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@from_import_stmt_terminator.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@import_stmt_terminator.py.snap
Labels: bug, parser

#10860 Add tests for top level statement parsing
  crates/ruff_python_parser/resources/inline/err/multiple_clauses_on_same_line.py
  crates/ruff_python_parser/resources/inline/err/simple_and_compound_stmt_on_same_line.py
  crates/ruff_python_parser/resources/inline/err/simple_and_compound_stmt_on_same_line_in_block.py
  crates/ruff_python_parser/resources/inline/err/simple_stmts_on_same_line.py
  crates/ruff_python_parser/resources/inline/err/simple_stmts_on_same_line_in_block.py
  crates/ruff_python_parser/resources/inline/ok/simple_stmts_in_block.py
  crates/ruff_python_parser/resources/inline/ok/simple_stmts_with_semicolons.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@ann_assign_stmt_type_alias_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assert_invalid_msg_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@assert_invalid_test_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@async_unexpected_token.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@class_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@dotted_name_multiple_dots.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__unclosed_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__unclosed_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__unclosed_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__attribute__invalid_member.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__attribute__multiple_dots.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__invalid_order.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__compare__missing_rhs_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__missing_closing_brace_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__list__missing_closing_bracket_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__named__missing_expression_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__generator.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__missing_closing_paren_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__tuple.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__missing_closing_curly_brace_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__subscript__unclosed_slice_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_missing_rpar.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unclosed_parameter_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@global_stmt_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_parenthesized_names.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_star_import.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@match_stmt_no_newline_before_case.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@multiple_clauses_on_same_line.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@nonlocal_stmt_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_var_keyword_with_default.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_var_positional_with_default.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@simple_and_compound_stmt_on_same_line.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@simple_and_compound_stmt_on_same_line_in_block.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@simple_stmts_on_same_line.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@simple_stmts_on_same_line_in_block.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__function_type_parameters.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_alias_incomplete_stmt.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unterminated_fstring_newline_recovery.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@simple_stmts_in_block.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@simple_stmts_with_semicolons.py.snap
Labels: parser, testing

#10873 Improve IPython escape command parsing logic
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/parser/tests.rs
  crates/ruff_python_parser/src/token.rs
Labels: parser

#10875 Fix parameter range if it includes `*`, `**`
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__lambda_duplicate_parameters.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@param_with_invalid_star_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_duplicate_names.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_kwarg_after_star_separator.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_multiple_kwargs.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_multiple_varargs.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_star_after_slash.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_star_separator_after_star_param.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_var_keyword_with_default.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_var_positional_with_default.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__lambda.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@param_with_star_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@params_non_default_after_star.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@params_seen_keyword_only_param_after_star.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__function.py.snap
Labels: bug, parser, fuzzer

#10876 Reject corpus which produces empty range for LALRPOP parser
  fuzz/fuzz_targets/ruff_new_parser_equiv.rs
Labels: parser, fuzzer

#10883 Bump version to v0.3.6
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_shrinking/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#10884 Avoid TOCTOU errors in cache initialization
  crates/ruff/src/cache.rs
Labels: bug

#10877 Expect `for` after `async` instead of `bump`
  crates/ruff_python_parser/resources/inline/err/comprehension_missing_for_after_async.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@comprehension_missing_for_after_async.py.snap
Labels: bug, parser, fuzzer

#10887 Move expr token set, docs improvements
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
Labels: internal

#10888 Downgrade ESLint to v8
  playground/package-lock.json
  playground/package.json
Labels: internal

#10864 Struct not tuple for compiled per-file ignores
  crates/ruff_linter/src/fs.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/settings/mod.rs
  crates/ruff_linter/src/settings/types.rs
  crates/ruff_workspace/src/configuration.rs
Labels: internal

#9578 [`flake8-bugbear`] Implement `loop-iterator-mutation` (`B909`)
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B909.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_for_loops.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_bugbear/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/loop_iterator_mutation.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B909_B909.py.snap
  ruff.schema.json
Labels: rule, preview

#10863 Fix docs and add overlap test for negated per-file-ignores
  crates/ruff/tests/lint.rs
  crates/ruff_workspace/src/options.rs
Labels: internal

#10894 [`pylint`] Recode `nan-comparison` rule to `W0177`
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rule_redirects.rs
  crates/ruff_linter/src/rules/pylint/rules/nan_comparison.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW0117_nan_comparison.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW0177_nan_comparison.py.snap
  ruff.schema.json
Labels: bug

#9932 [`pylint`] Implement rule to prefer augmented assignment (`PLR6104`)
  crates/ruff_linter/resources/test/fixtures/pylint/non_augmented_assignment.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/non_augmented_assignment.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR6104_non_augmented_assignment.py.snap
  ruff.schema.json
Labels: rule, preview

#10895 Bump version to v0.3.7
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_shrinking/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#10896 Consider exactly `_` for wildcard pattern
  crates/ruff_python_parser/resources/inline/ok/match_as_pattern.py
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@match_as_pattern.py.snap
Labels: bug, parser, fuzzer

#10897 Add tests for simple target in annotated assign stmt
  crates/ruff_python_parser/resources/inline/ok/ann_assign_stmt_simple_target.py
  crates/ruff_python_parser/src/lalrpop/python.lalrpop
  crates/ruff_python_parser/src/lalrpop/python.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@ann_assign_stmt_simple_target.py.snap
Labels: bug, parser, fuzzer

#10903 Disallow dotted name in `from ... import` statement
  crates/ruff_python_parser/resources/inline/err/from_import_dotted_names.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_dotted_names.py.snap
Labels: bug, parser, fuzzer

#10908 Respect `per-file-ignores` for `RUF100` on blanket `# noqa`
  crates/ruff_linter/resources/test/fixtures/ruff/ruff_per_file_ignores.py
  crates/ruff_linter/src/checkers/noqa.rs
Labels: bug, suppression

#10909 Avoid `non-augmented-assignment` for reversed, non-commutative operators
  crates/ruff_linter/resources/test/fixtures/pylint/non_augmented_assignment.py
  crates/ruff_linter/src/rules/pylint/rules/non_augmented_assignment.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR6104_non_augmented_assignment.py.snap
Labels: bug

#10912 Limit commutative non-augmented-assignments to primitive data types
  crates/ruff_linter/resources/test/fixtures/pylint/non_augmented_assignment.py
  crates/ruff_linter/src/rules/pylint/rules/non_augmented_assignment.rs
Labels: bug

#10920 [`pylint`] Support inverted comparisons (`PLR1730`)
  crates/ruff_linter/resources/test/fixtures/pylint/if_stmt_min_max.py
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
Labels: rule

#10923 Move `Q003` to AST checker
  crates/ruff_linter/src/checkers/ast/analyze/string_like.rs
  crates/ruff_linter/src/checkers/tokens.rs
  crates/ruff_linter/src/lex/docstring_detection.rs
  crates/ruff_linter/src/lex/mod.rs
  crates/ruff_linter/src/lib.rs
  crates/ruff_linter/src/registry.rs
  crates/ruff_linter/src/rules/flake8_quotes/helpers.rs
  crates/ruff_linter/src/rules/flake8_quotes/rules/avoidable_escaped_quote.rs
  crates/ruff_linter/src/rules/flake8_quotes/rules/unnecessary_escaped_quote.rs
Labels: internal

#10946 Configure Renovate to ignore ESLint 9
  .github/renovate.json5
Labels: ci

#10704 [`pycodestyle`] Do not trigger `E3` rules on defs following a function/method with a dummy body
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E30.py
  crates/ruff_linter/src/rules/pycodestyle/rules/blank_lines.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E301_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E302_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E303_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E304_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E305_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E306_E30.py.snap
Labels: rule, preview

#9267 [`pylint`] Implement `self-cls-assignment` (`W0642`)
  crates/ruff_linter/resources/test/fixtures/pylint/self_or_cls_assignment.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/self_or_cls_assignment.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW0642_self_or_cls_assignment.py.snap
  ruff.schema.json
Labels: rule, accepted, preview

#10952 chore: remove repetitive words
  crates/ruff_cache/src/cache_key.rs
  crates/ruff_formatter/src/builders.rs
Labels: internal

#10957 Minor improvements to renovate config
  .github/renovate.json5
Labels: ci

#10964 [`flake8-bandit`] Allow `urllib.request.urlopen` calls with static `Request` argument
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S310.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/suspicious_function_call.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S310_S310.py.snap
Labels: rule

#10966 Avoid panic in invalid pattern recovery
  crates/ruff_python_parser/resources/invalid/statements/match/invalid_lhs_or_rhs_pattern.py
  crates/ruff_python_parser/resources/invalid/statements/match/invalid_mapping_pattern.py
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/src/parser/recovery.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__invalid_lhs_or_rhs_pattern.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__invalid_mapping_pattern.py.snap
Labels: bug, parser, fuzzer

#10971 perf: `RuleTable::any_enabled`
  crates/ruff_linter/src/registry/rule_set.rs
  crates/ruff_linter/src/settings/rule_table.rs
Labels: performance

#9966 Detect unneeded `async` keywords on functions
  crates/ruff_linter/resources/test/fixtures/ruff/RUF029.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unused_async.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF029_RUF029.py.snap
  ruff.schema.json
Labels: accepted

#10976 Improve inference capabilities of the `BuiltinTypeChecker`
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM118.py
  crates/ruff_linter/resources/test/fixtures/perflint/PERF403.py
  crates/ruff_linter/resources/test/fixtures/refurb/FURB131.py
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM118_SIM118.py.snap
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__PERF403_PERF403.py.snap
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB131_FURB131.py.snap
  crates/ruff_python_semantic/src/analyze/typing.rs
Labels: linter

#10950 `ruff server`: Resolve configuration for each document individually
  Cargo.lock
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/server/api/notifications/did_change_watched_files.rs
  crates/ruff_server/src/server/api/requests/code_action.rs
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
  crates/ruff_server/src/server/api/requests/diagnostic.rs
  crates/ruff_server/src/server/api/requests/execute_command.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/requests/format_range.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/workspace.rs
  crates/ruff_server/src/session/workspace/ruff_settings.rs
Labels: server

#10916 Enable ruff-specific source actions
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/server/api/requests/code_action.rs
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
Labels: bug, server

#10951 `ruff server`: Important errors are now shown as popups
  crates/ruff_server/src/lib.rs
  crates/ruff_server/src/message.rs
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/server/api.rs
  crates/ruff_server/src/server/api/requests/execute_command.rs
  crates/ruff_server/src/session/settings.rs
Labels: server

#10982 Change more usages of `SemanticModel::is_builtin` to use `resolve_builtin_symbol` or `match_builtin_expr`
  crates/ruff_linter/src/rules/flake8_blind_except/rules/blind_except.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_call_around_sorted.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_collection_call.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension_in_call.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_double_cast_or_process.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_map.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_subscript_reversal.rs
  crates/ruff_linter/src/rules/flake8_pie/rules/reimplemented_container_builtin.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_literal_union.rs
  crates/ruff_linter/src/rules/numpy/rules/deprecated_type_alias.rs
  crates/ruff_linter/src/rules/numpy/snapshots/ruff_linter__rules__numpy__tests__numpy-deprecated-type-alias_NPY001.py.snap
  crates/ruff_linter/src/rules/pylint/rules/comparison_with_itself.rs
  crates/ruff_linter/src/rules/pylint/rules/sys_exit_alias.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/native_literals.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/redundant_open_modes.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep585_annotation.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep604_isinstance.rs
  crates/ruff_linter/src/rules/refurb/rules/isinstance_type_none.rs
  crates/ruff_linter/src/rules/refurb/rules/type_none_comparison.rs
  crates/ruff_linter/src/rules/ruff/rules/explicit_f_string_type_conversion.rs
  crates/ruff_linter/src/rules/ruff/rules/pairwise_over_zipped.rs
  crates/ruff_linter/src/rules/ruff/rules/quadratic_list_summation.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_iterable_allocation_for_first_element.rs
Labels: internal

#10994 Reset parser context in parenthesized expression
  crates/ruff_python_parser/resources/inline/err/parenthesized_compare_expr_in_for.py
  crates/ruff_python_parser/resources/inline/ok/parenthesized_compare_expr_in_for.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@parenthesized_compare_expr_in_for.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@parenthesized_compare_expr_in_for.py.snap
Labels: bug, parser

#10995 Remove invalid named expr test from formatter
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/named_expr.py
  crates/ruff_python_formatter/tests/snapshots/format@expression__named_expr.py.snap
Labels: internal, parser

#10996 Add `if` as sequence pattern list terminator
  crates/ruff_python_parser/resources/inline/ok/match_sequence_pattern_parentheses_terminator.py
  crates/ruff_python_parser/resources/inline/ok/match_sequence_pattern_terminator.py
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@match_sequence_pattern_parentheses_terminator.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@match_sequence_pattern_terminator.py.snap
Labels: bug, parser

#10997 Preserve comma with starred expr in subscript
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/slice.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/function.py
  crates/ruff_python_formatter/src/expression/expr_tuple.rs
  crates/ruff_python_formatter/src/other/commas.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__slice.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__function.py.snap
Labels: formatter

#10990 [`flake8-bugbear`] Treat `raise NotImplemented`-only bodies as stub functions
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B006_8.py
  crates/ruff_linter/src/rules/flake8_bugbear/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mutable_argument_default.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B006_B006_8.py.snap
Labels: rule

#11001 Optimise `SemanticModel::match_builtin_expr`
  crates/ruff_python_semantic/src/model.rs
Labels: internal

#10992 Add `RUFF_OUTPUT_FILE` environment variable support
  crates/ruff/src/args.rs
  docs/configuration.md
Labels: configuration

#10988 `ruff server` refreshes diagnostics for open files when file configuration is changed
  crates/ruff_server/src/server/api.rs
  crates/ruff_server/src/server/api/notifications/cancel.rs
  crates/ruff_server/src/server/api/notifications/did_change.rs
  crates/ruff_server/src/server/api/notifications/did_change_configuration.rs
  crates/ruff_server/src/server/api/notifications/did_change_watched_files.rs
  crates/ruff_server/src/server/api/notifications/did_change_workspace.rs
  crates/ruff_server/src/server/api/notifications/did_close.rs
  crates/ruff_server/src/server/api/notifications/did_open.rs
  crates/ruff_server/src/server/api/traits.rs
  crates/ruff_server/src/session/capabilities.rs
Labels: server

#11003 Improve display of rules in `--show-settings`
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/src/registry/rule_set.rs
Labels: linter

#11006 [`flake8-slots`] Respect same-file `Enum` subclasses
  crates/ruff_linter/resources/test/fixtures/flake8_slots/SLOT000.py
  crates/ruff_linter/src/rules/flake8_slots/rules/no_slots_in_str_subclass.rs
Labels: rule

#11007 Improve documentation for block comment rules
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/whitespace_before_comment.rs
Labels: documentation

#10959 [`pylint`] Implement `invalid-bytes-returned` (`E0308`)
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_bytes.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mutable_argument_default.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_bytes_return.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0308_invalid_return_type_bytes.py.snap
  crates/ruff_python_semantic/src/analyze/function_type.rs
  ruff.schema.json
Labels: rule, preview

#10965 Resolve classes and functions relative to script name
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B008_extended.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__extend_immutable_calls_arg_default.snap
  crates/ruff_python_semantic/src/analyze/visibility.rs
  crates/ruff_python_semantic/src/definition.rs
  crates/ruff_python_semantic/src/model.rs
Labels: configuration

#10963 [`pylint`] Implement `invalid-length-returned` (`E0303`)
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_length.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_length_return.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0303_invalid_return_type_length.py.snap
  ruff.schema.json
Labels: rule, preview

#11008 [`pylint`] Omit stubs from `invalid-bool` and `invalid-str-return-type`
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_str.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_bool_return.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_str_return.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0307_invalid_return_type_str.py.snap
Labels: rule, preview

#10987 `ruff server`: Write a setup guide for Neovim
  crates/ruff_server/README.md
  crates/ruff_server/docs/setup/NEOVIM.md
Labels: documentation, server

#10984 `ruff server`: Introduce settings for directly configuring the linter and formatter
  crates/ruff_server/resources/test/fixtures/settings/global_only.json
  crates/ruff_server/resources/test/fixtures/settings/vs_code_initialization_options.json
  crates/ruff_server/src/session/settings.rs
Labels: server

#11009 Reset `FOR_TARGET` context for all kinds of parentheses
  crates/ruff_python_parser/resources/inline/err/for_in_target_postfix_expr.py
  crates/ruff_python_parser/resources/inline/err/parenthesized_compare_expr_in_for.py
  crates/ruff_python_parser/resources/inline/ok/for_in_target_postfix_expr.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_in_target_postfix_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@parenthesized_compare_expr_in_for.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@for_in_target_postfix_expr.py.snap
Labels: bug, parser

#11010 Consider `if` expression for parenthesized with items parsing
  crates/ruff_python_parser/resources/inline/ok/ambiguous_lpar_with_items_if_expr.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@ambiguous_lpar_with_items_if_expr.py.snap
Labels: bug, parser

#11012 Consider binary expr for parenthesized with items parsing
  crates/ruff_python_parser/resources/inline/ok/ambiguous_lpar_with_items_binary_expr.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@ambiguous_lpar_with_items_binary_expr.py.snap
Labels: bug, parser

#11013 Add myself as codeowner for the parser
  .github/CODEOWNERS
Labels: internal

#11011 Bump version to 0.4.0
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_shrinking/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#11017 Allow `NoReturn`-like functions for `__str__`, `__len__`, etc.
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_bytes.py
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_length.py
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_str.py
  crates/ruff_linter/src/rules/pylint/rules/invalid_bool_return.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_bytes_return.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_length_return.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_str_return.rs
  crates/ruff_linter/src/rules/pylint/rules/non_slot_assignment.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0303_invalid_return_type_length.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0307_invalid_return_type_str.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0308_invalid_return_type_bytes.py.snap
Labels: bug

#11021 `ruff server`: fix Neovim setup guide command
  crates/ruff_server/docs/setup/NEOVIM.md
Labels: documentation

#10961 [`pylint`] Implement `invalid-hash-returned` (`PLE0309`)
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_hash.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_hash_return.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0309_invalid_return_type_hash.py.snap
  ruff.schema.json
Labels: rule, preview

#11025 ENH: Bump `ruff` dependency versions to support the latest release of `v0.4.0` and Python 3.12
  .pre-commit-config.yaml
  scripts/benchmarks/poetry.lock
Labels: internal

#10962 [`pylint`] Implement `invalid-index-returned` (`PLE0305`)
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_return_type_index.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_index_return.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0305_invalid_return_type_index.py.snap
  ruff.schema.json
Labels: rule, preview

#11026 [`ruff]` Ignore stub functions in `unused-async` (`RUF029`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF029.py
  crates/ruff_linter/src/rules/ruff/rules/unused_async.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF029_RUF029.py.snap
Labels: bug

#11033 Expect indented case block instead of match stmt
  crates/ruff_python_parser/resources/inline/err/case_expect_indented_block.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@case_expect_indented_block.py.snap
Labels: parser

#11034 Select fewer ruff rules when linting Python files in `scripts/`
  scripts/check_ecosystem.py
  scripts/pyproject.toml
Labels: internal

#11032 Use empty range when there's "gap" in token source
  crates/ruff_python_parser/resources/inline/err/node_range_with_gaps.py
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@node_range_with_gaps.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unterminated_fstring_newline_recovery.py.snap
Labels: bug, parser
