Repository astral-sh/ruff, pull requests merged in 2024-08, with the labels that each got.

#12603 Respect start index in `unnecessary-list-index-lookup`
  crates/ruff_linter/resources/test/fixtures/pylint/unnecessary_list_index_lookup.py
  crates/ruff_linter/src/rules/pylint/rules/unnecessary_list_index_lookup.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1736_unnecessary_list_index_lookup.py.snap
Labels: bug

#12604 Don't attach comments with mismatched indents
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E30.py
  crates/ruff_linter/src/rules/pycodestyle/rules/blank_lines.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E302_E30.py.snap
Labels: bug

#12605 Avoid unused async when context manager includes `TaskGroup`
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC100.py
  crates/ruff_linter/src/rules/flake8_async/rules/cancel_scope_no_checkpoint.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC100_ASYNC100.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC100_ASYNC100.py.snap
Labels: bug

#12601 [red-knot] implement attribute of union
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12610 Make server panic hook more error resilient
  crates/ruff/src/main.rs
  crates/ruff_server/src/message.rs
  crates/ruff_server/src/server.rs
Labels: bug, server

#12590 Add tests for hard and soft links
  clippy.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/src/db.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/src/system.rs
Labels: red-knot

#12609 [red-knot] Allow multiple `site-packages` search paths
  crates/red_knot/src/main.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_module_resolver/src/testing.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/program.rs
Labels: red-knot

#12621 Enable notebooks by default in preview mode
  crates/ruff/tests/lint.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  docs/configuration.md
  ruff.schema.json
Labels: configuration, preview

#12629 Release Ruff 0.5.6
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#12538 [`pydoclint`] Add `docstring-missing-yields` amd `docstring-extraneous-yields` (`DOC402`, `DOC403`)
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC402_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC402_numpy.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC403_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC403_numpy.py
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pydoclint/mod.rs
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-exception_DOC502_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-exception_DOC502_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-returns_DOC202_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-returns_DOC202_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-yields_DOC403_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-yields_DOC403_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-yields_DOC402_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-yields_DOC402_numpy.py.snap
  ruff.schema.json
Labels: docstring, preview

#12626 Fix file watcher stop data race
  crates/red_knot_workspace/src/watch/watcher.rs
Labels: red-knot

#12627 Set durabilities for low-durability fields on high-durability inputs
  Cargo.lock
  Cargo.toml
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_db/src/file_revision.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/files/file_root.rs
Labels: red-knot

#12635 [red-knot] update benchmark to run on tomllib
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_benchmark/src/lib.rs
Labels: red-knot

#12639 [`pydoclint`] Teach rules to understand reraised exceptions as being explicitly raised
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501_numpy.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC502_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC502_numpy.py
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_numpy.py.snap
Labels: rule, docstring, preview

#12646 [`flake8-bugbear`] Treat return as equivalent to break (`B909`)
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B909.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/loop_iterator_mutation.rs
Labels: bug

#12642 [`pydoclint`] Deduplicate collected exceptions after traversing function bodies
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501_numpy.py
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_numpy.py.snap
Labels: rule, docstring, preview

#12649 Try both 'Raises' section styles when convention is unspecified
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501.py
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
Labels: bug, docstring

#12634 Fix file watching on macOS if a module-search path is a symlink
  Cargo.lock
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/src/watch/workspace_watcher.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/path.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#12651 Ignore `DOC` errors for stub functions
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC202_google.py
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
Labels: docstring

#12618 Replace `ruff-lsp` links in `README.md` with links to new documentation page
  README.md
  scripts/generate_mkdocs.py
Labels: documentation

#12663 [`ruff`] - add autofix `zip-instead-of-pairwise` (`RUF007`)
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/zip_instead_of_pairwise.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF007_RUF007.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF007_RUF007.py.snap
Labels: fixes

#12673 Add preview note to `unnecessary-comprehension-in-call`
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension_in_call.rs
Labels: documentation

#12678 Disable testing `ruff_benchmark` by default
  crates/ruff_benchmark/Cargo.toml
Labels: internal

#12679 Upgrade Salsa to a version with a 32bit compatible concurrent vec
  Cargo.lock
  Cargo.toml
Labels: internal

#12682 Fix module resolver symlink test on macOs
  crates/red_knot_module_resolver/src/resolver.rs
Labels: internal

#12680 Revert "Remove criterion/codspeed compat layer (#12524)"
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/formatter.rs
  crates/ruff_benchmark/benches/lexer.rs
  crates/ruff_benchmark/benches/linter.rs
  crates/ruff_benchmark/benches/parser.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_benchmark/src/criterion.rs
  crates/ruff_benchmark/src/lib.rs
Labels: internal

#12683 TRY002: fixup docs
  crates/ruff_linter/src/rules/tryceratops/rules/raise_vanilla_class.rs
Labels: internal

#12688 [red-knot] Infer boolean literal expression
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12695 [red-knot] infer instance types for builtins
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12696 Add a new script to generate builtin module names
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/src/program.rs
  crates/ruff_python_stdlib/src/sys/builtin_modules.rs
  crates/ruff_python_stdlib/src/sys/known_stdlib.rs
  crates/ruff_python_stdlib/src/sys/mod.rs
  scripts/generate_builtin_modules.py
  scripts/generate_known_standard_library.py
Labels: red-knot

#12697 [red-knot] Rename `workspace_root` variables in the module resolver to `src_root`
  crates/red_knot/src/main.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_module_resolver/src/testing.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/program.rs
Labels: red-knot

#12676 [`flake8-pyi`] - add autofix for `future-annotations-in-stub` (`PYI044`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI044.pyi
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/future_annotations_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI044_PYI044.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI044_PYI044.pyi.snap
Labels: fixes, preview

#12691 [flake8-comprehensions] Set comprehensions not a violation for `sum` in `unnecessary-comprehension-in-call` (`C419`)
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C419.py
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension_in_call.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C419_C419.py.snap
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__preview__C419_C419_1.py.snap
Labels: bug

#12708 [`refurb`] - fix unused autofix for `implicit-cwd` (`FURB177`)
  crates/ruff_linter/src/rules/refurb/rules/implicit_cwd.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB177_FURB177.py.snap
Labels: fixes

#12689 [red-knot] Infer float and complex literal expressions
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12675 [`pydoclint`] Consider `DOC201` satisfied if docstring begins with "Returns"
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC201_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC402_google.py
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
Labels: docstring, preview

#12654 [red-knot] Add basic WASM API
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/build.rs
  crates/red_knot_wasm/Cargo.toml
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_wasm/tests/api.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/program.rs
  crates/ruff_db/src/system/memory_fs.rs
Labels: red-knot

#12713 Use standard allocator for wasm
  Cargo.lock
  crates/red_knot_wasm/Cargo.toml
  crates/red_knot_wasm/src/lib.rs
Labels: red-knot

#12624 [red-knot] Implement basic LSP server
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/edit.rs
  crates/red_knot_server/src/edit/notebook.rs
  crates/red_knot_server/src/edit/range.rs
  crates/red_knot_server/src/edit/text_document.rs
  crates/red_knot_server/src/lib.rs
  crates/red_knot_server/src/message.rs
  crates/red_knot_server/src/server.rs
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_server/src/server/api/diagnostics.rs
  crates/red_knot_server/src/server/api/notifications.rs
  crates/red_knot_server/src/server/api/notifications/did_close.rs
  crates/red_knot_server/src/server/api/notifications/did_close_notebook.rs
  crates/red_knot_server/src/server/api/notifications/did_open.rs
  crates/red_knot_server/src/server/api/notifications/did_open_notebook.rs
  crates/red_knot_server/src/server/api/notifications/set_trace.rs
  crates/red_knot_server/src/server/api/requests.rs
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
  crates/red_knot_server/src/server/api/traits.rs
  crates/red_knot_server/src/server/client.rs
  crates/red_knot_server/src/server/connection.rs
  crates/red_knot_server/src/server/schedule.rs
  crates/red_knot_server/src/server/schedule/task.rs
  crates/red_knot_server/src/server/schedule/thread.rs
  crates/red_knot_server/src/server/schedule/thread/pool.rs
  crates/red_knot_server/src/server/schedule/thread/priority.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_server/src/session/capabilities.rs
  crates/red_knot_server/src/session/index.rs
  crates/red_knot_server/src/session/settings.rs
  crates/red_knot_server/src/system.rs
  crates/red_knot_server/src/trace.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/src/db.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#12714 Remove 'cli' module from `red_knot`
  crates/red_knot/src/cli/mod.rs
  crates/red_knot/src/main.rs
  crates/red_knot/src/target_version.rs
  crates/red_knot/src/verbosity.rs
Labels: red-knot

#12711 Update salsa
  Cargo.lock
  Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_server/src/server/api/notifications/did_close.rs
  crates/red_knot_server/src/server/api/notifications/did_close_notebook.rs
  crates/red_knot_server/src/server/api/notifications/did_open.rs
  crates/red_knot_server/src/server/api/notifications/did_open_notebook.rs
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
  crates/red_knot_server/src/server/api/traits.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/workspace/files.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/testing.rs
Labels: red-knot

#12715 [red-knot] Keep subcommands optional for the binary
  crates/red_knot/src/main.rs
Labels: red-knot

#12716 [red-knot] Derive `site-packages` from a venv path
  Cargo.lock
  crates/red_knot/src/main.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/resources/test/empty-unix-venv/.gitignore
  crates/red_knot_workspace/resources/test/empty-unix-venv/CACHEDIR.TAG
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.bat
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.csh
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.fish
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.nu
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.ps1
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate_this.py
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/deactivate.bat
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/pydoc.bat
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/python
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/python3
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/python3.12
  crates/red_knot_workspace/resources/test/empty-unix-venv/lib/python3.12/site-packages/_virtualenv.pth
  crates/red_knot_workspace/resources/test/empty-unix-venv/lib/python3.12/site-packages/_virtualenv.py
  crates/red_knot_workspace/resources/test/empty-unix-venv/pyvenv.cfg
  crates/red_knot_workspace/src/lib.rs
  crates/red_knot_workspace/src/site_packages.rs
Labels: red-knot

#12725 Ignore non-file workspace URL
  crates/ruff_server/src/message.rs
  crates/ruff_server/src/session/index.rs
Labels: server

#12726 Use struct instead of type alias for workspace settings index
  crates/ruff_server/src/session/index.rs
Labels: internal

#12692 [`ruff`] Mark `RUF023` fix as unsafe if `__slots__` is not a set and the binding is used elsewhere
  crates/ruff_linter/resources/test/fixtures/ruff/RUF023.py
  crates/ruff_linter/src/checkers/ast/analyze/bindings.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/ruff/rules/sort_dunder_all.rs
  crates/ruff_linter/src/rules/ruff/rules/sort_dunder_slots.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF023_RUF023.py.snap
Labels: fixes, preview

#12729 Add a new `Binding::is_unused` method
  crates/ruff_linter/src/checkers/ast/analyze/bindings.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/unused_loop_control_variable.rs
  crates/ruff_linter/src/rules/flake8_unused_arguments/rules/unused_arguments.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_annotation.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_variable.rs
  crates/ruff_linter/src/rules/pylint/rules/no_self_use.rs
  crates/ruff_linter/src/rules/ruff/rules/sort_dunder_slots.rs
  crates/ruff_python_semantic/src/binding.rs
  crates/ruff_python_semantic/src/model.rs
Labels: internal

#12731 [red-knot] Cleanups to logic resolving `site-packages` from a venv path
  crates/red_knot_workspace/resources/test/empty-unix-venv/.gitignore
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.bat
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.csh
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.fish
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.nu
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate.ps1
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/activate_this.py
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/deactivate.bat
  crates/red_knot_workspace/resources/test/empty-unix-venv/bin/pydoc.bat
  crates/red_knot_workspace/resources/test/unix-uv-venv/CACHEDIR.TAG
  crates/red_knot_workspace/resources/test/unix-uv-venv/bin/python
  crates/red_knot_workspace/resources/test/unix-uv-venv/bin/python3
  crates/red_knot_workspace/resources/test/unix-uv-venv/bin/python3.12
  crates/red_knot_workspace/resources/test/unix-uv-venv/lib/python3.12/site-packages/_virtualenv.pth
  crates/red_knot_workspace/resources/test/unix-uv-venv/lib/python3.12/site-packages/_virtualenv.py
  crates/red_knot_workspace/resources/test/unix-uv-venv/pyvenv.cfg
  crates/red_knot_workspace/src/site_packages.rs
Labels: red-knot

#12727 Fix cache invalidation for nested pyproject.toml files
  crates/ruff_workspace/src/resolver.rs
Labels: cli

#12737 Parenthesize conditions based on precedence when merging if arms
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM114.py
  crates/ruff_linter/src/rules/flake8_simplify/rules/if_with_same_arms.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM114_SIM114.py.snap
Labels: bug, fixes

#12730 Setup tracing and document tracing usage
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/docs/tracing-flamegraph.png
  crates/red_knot/docs/tracing.md
  crates/red_knot/src/logging.rs
  crates/red_knot/src/main.rs
  crates/red_knot/src/verbosity.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/src/site_packages.rs
  crates/red_knot_workspace/src/watch/watcher.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/files/path.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/vendored/path.rs
Labels: red-knot

#12735 Exit with an error if there are check failures
  crates/red_knot/src/main.rs
  crates/red_knot_server/src/lib.rs
  crates/red_knot_server/src/server.rs
  crates/ruff/src/main.rs
Labels: red-knot

#12740 [`ruff_linter`] - Use LibCST in `adjust_indentation` for mixed whitespace
  crates/ruff_linter/resources/test/fixtures/flake8_return/RET505.py
  crates/ruff_linter/src/fix/edits.rs
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET505_RET505.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__preview__RET505_RET505.py.snap
Labels: bug, preview

#12747 Gracefully handle errors in CLI
  crates/red_knot/src/main.rs
  crates/red_knot_workspace/src/site_packages.rs
  crates/red_knot_workspace/src/workspace/metadata.rs
Labels: red-knot

#12659 Remove all `useEffect` usages
  playground/.gitignore
  playground/README.md
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SourceEditor.tsx
  playground/src/Editor/theme.ts
  playground/src/main.tsx
Labels: playground

#12752 [red-knot] Remove mentions of Ruff from the CLI help
  crates/red_knot/src/main.rs
Labels: red-knot

#12760 [red-knot] add dev dependency on ruff_db os feature from red_knot_pyt…
  crates/red_knot_python_semantic/Cargo.toml
Labels: red-knot

#12769 Add known problems warning to `type-comparison` rule
  crates/ruff_linter/src/rules/pycodestyle/rules/type_comparison.rs
Labels: documentation

#12741 Add test helper to setup tracing
  Cargo.lock
  crates/red_knot/docs/tracing.md
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_workspace/src/db.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/testing.rs
Labels: red-knot

#12768 [ruff] Skip tuples with slice expressions in `incorrectly-parenthesized-tuple-in-subscript (RUF031)`
  crates/ruff_linter/resources/test/fixtures/ruff/RUF031.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF031_prefer_parens.py
  crates/ruff_linter/src/rules/ruff/rules/incorrectly_parenthesized_tuple_in_subscript.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF031_RUF031.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__prefer_parentheses_getitem_tuple.snap
Labels: bug

#12777 Move Program and related structs to `red_knot_python_semantic`
  Cargo.lock
  crates/red_knot/src/main.rs
  crates/red_knot/src/target_version.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/module_resolver/path.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/state.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed/versions.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/session.rs
  crates/red_knot_wasm/Cargo.toml
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/lib.rs
Labels: red-knot

#12771 Don't enforce returns and yields in abstract methods
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC201_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC201_numpy.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC202_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC202_numpy.py
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_numpy.py.snap
Labels: bug, docstring

#12779 Log warnings when skipping editable installations
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
Labels: red-knot

#12788 Document that BLE001 supports both BaseException and Exception
  crates/ruff_linter/src/rules/flake8_blind_except/rules/blind_except.rs
Labels: documentation

#12782 [red-knot] Move, rename and make public the `PyVersion` type
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed/versions.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/python_version.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12762 `RUF031`: Ignore unparenthesized tuples in subscripts when the subscript is obviously a type annotation or type alias
  crates/ruff_linter/resources/test/fixtures/ruff/RUF031.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF031_prefer_parens.py
  crates/ruff_linter/src/rules/ruff/rules/incorrectly_parenthesized_tuple_in_subscript.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF031_RUF031.py.snap
Labels: bug, rule, preview

#12759 [red-knot] Add support for `--system-site-packages` virtual environments
  crates/red_knot/src/main.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/python_version.rs
  crates/red_knot_workspace/resources/test/unix-uv-venv/CACHEDIR.TAG
  crates/red_knot_workspace/resources/test/unix-uv-venv/bin/python
  crates/red_knot_workspace/resources/test/unix-uv-venv/bin/python3
  crates/red_knot_workspace/resources/test/unix-uv-venv/bin/python3.12
  crates/red_knot_workspace/resources/test/unix-uv-venv/lib/python3.12/site-packages/_virtualenv.pth
  crates/red_knot_workspace/resources/test/unix-uv-venv/lib/python3.12/site-packages/_virtualenv.py
  crates/red_knot_workspace/resources/test/unix-uv-venv/pyvenv.cfg
  crates/red_knot_workspace/src/site_packages.rs
Labels: red-knot

#12770 Treat `type(Protocol)` et al as metaclass base
  crates/ruff_linter/resources/test/fixtures/pep8_naming/N805.py
  crates/ruff_linter/src/rules/flake8_django/rules/helpers.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_type_checking/helpers.rs
  crates/ruff_linter/src/rules/pep8_naming/helpers.rs
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N805_N805.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__classmethod_decorators.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__staticmethod_decorators.snap
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/ruff/rules/helpers.rs
  crates/ruff_python_semantic/src/analyze/class.rs
Labels: bug

#12794 Format Python code in docs with "black==24.3.0"
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_function_with_timeout.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/hardcoded_password_default.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/ssl_with_bad_defaults.rs
  crates/ruff_linter/src/rules/flake8_boolean_trap/rules/boolean_positional_value_in_call.rs
  crates/ruff_linter/src/rules/flake8_boolean_trap/rules/boolean_type_hint_positional_argument.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/abstract_base_class.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/function_call_in_argument_default.rs
  crates/ruff_linter/src/rules/flake8_future_annotations/rules/future_required_type_annotation.rs
  crates/ruff_linter/src/rules/flake8_future_annotations/rules/future_rewritable_type_annotation.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/any_eq_ne_annotation.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/bad_version_info_comparison.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/complex_assignment_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/docstring_in_stubs.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/exit_annotations.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/iter_method_return_iterable.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/numeric_literal_too_long.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/pre_pep570_positional_argument.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/quoted_annotation_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/simple_defaults.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/str_or_repr_defined_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/string_or_bytes_too_long.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/stub_body_multiple_statements.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unused_private_type_definition.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/fixture.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/marks.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/parametrize.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/error_suffix_on_exception_name.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_first_argument_name.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/ambiguous_class_name.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/ambiguous_function_name.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/blank_before_after_class.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/if_needed.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/not_missing.rs
  crates/ruff_linter/src/rules/pyflakes/rules/forward_annotation_syntax_error.rs
  crates/ruff_linter/src/rules/pyflakes/rules/imports.rs
  crates/ruff_linter/src/rules/pylint/rules/bad_dunder_method_name.rs
  crates/ruff_linter/src/rules/pylint/rules/import_self.rs
  crates/ruff_linter/src/rules/pylint/rules/no_method_decorator.rs
  crates/ruff_linter/src/rules/pylint/rules/property_with_parameters.rs
  crates/ruff_linter/src/rules/pylint/rules/singledispatch_method.rs
  crates/ruff_linter/src/rules/pylint/rules/singledispatchmethod_function.rs
  crates/ruff_linter/src/rules/pylint/rules/too_many_positional.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/lru_cache_with_maxsize_none.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/lru_cache_without_parameters.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/quoted_annotation.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/replace_str_enum.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/useless_metaclass_type.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/useless_object_inheritance.rs
  crates/ruff_linter/src/rules/ruff/rules/never_union.rs
Labels: internal

#12790 Remove `red_knot_python_semantic::python_version::TargetVersion`
  crates/red_knot/src/target_version.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/module_resolver/path.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/state.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed/versions.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/python_version.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12797 [Minor typo] Fix article in "an fix"
  crates/ruff_diagnostics/src/violation.rs
Labels: documentation

#12712 Improvements to documentation
  .markdownlint.yaml
  docs/configuration.md
  docs/faq.md
  docs/installation.md
  docs/js/extra.js
  docs/linter.md
  docs/stylesheets/extra.css
  docs/tutorial.md
  mkdocs.template.yml
Labels: documentation

#12755 Skip checking a file if it failed to read
  Cargo.lock
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/source.rs
Labels: red-knot

#12783 Eagerly validate search paths
  crates/red_knot/src/main.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/module_resolver/mod.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12455 add conventional xml.etree.ElementTree import alias
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/src/rules/flake8_import_conventions/settings.rs
  crates/ruff_workspace/src/options.rs
Labels: breaking, configuration

#12533 Re-code `unnecessary-dict-comprehension-for-iterable` (`RUF025`) as `C420`
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C420.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rule_redirects.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/mod.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_dict_comprehension_for_iterable.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C420_C420.py.snap
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  ruff.schema.json
Labels: rule, breaking

#12807 Implement `iter()`, `len()` and `is_empty()` for all display-literal AST nodes
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/fix/edits.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_redundant_response_model.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/django_extra.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/shell_injection.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/duplicate_value.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/reuse_of_groupby_generator.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/static_key_dict_comprehension.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_generator_dict.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_list_comprehension_dict.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_literal_dict.rs
  crates/ruff_linter/src/rules/flake8_pie/rules/multiple_starts_ends_with.rs
  crates/ruff_linter/src/rules/flake8_pie/rules/reimplemented_container_builtin.rs
  crates/ruff_linter/src/rules/flake8_pie/rules/unnecessary_dict_kwargs.rs
  crates/ruff_linter/src/rules/flake8_pie/rules/unnecessary_spread.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/bad_generator_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_literal_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/simple_defaults.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unnecessary_literal_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unrecognized_version_info.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/parametrize.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/ast_bool_op.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/yoda_conditions.rs
  crates/ruff_linter/src/rules/perflint/rules/manual_dict_comprehension.rs
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pyflakes/rules/assert_tuple.rs
  crates/ruff_linter/src/rules/pyflakes/rules/if_tuple.rs
  crates/ruff_linter/src/rules/pyflakes/rules/repeated_keys.rs
  crates/ruff_linter/src/rules/pyflakes/rules/strings.rs
  crates/ruff_linter/src/rules/pylint/rules/dict_iter_missing_items.rs
  crates/ruff_linter/src/rules/pylint/rules/iteration_over_set.rs
  crates/ruff_linter/src/rules/pylint/rules/redeclared_assigned_name.rs
  crates/ruff_linter/src/rules/pylint/rules/self_assigning_variable.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/convert_named_tuple_functional_to_class.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/os_error_alias.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/printf_string_formatting.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/timeout_error_alias.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep604_annotation.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep604_isinstance.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/yield_in_for_loop.rs
  crates/ruff_linter/src/rules/refurb/rules/isinstance_type_none.rs
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_starmap.rs
  crates/ruff_linter/src/rules/ruff/rules/incorrectly_parenthesized_tuple_in_subscript.rs
  crates/ruff_linter/src/rules/ruff/rules/never_union.rs
  crates/ruff_linter/src/rules/ruff/rules/quadratic_list_summation.rs
  crates/ruff_linter/src/rules/ruff/rules/sort_dunder_all.rs
  crates/ruff_linter/src/rules/ruff/rules/sort_dunder_slots.rs
  crates/ruff_linter/src/rules/ruff/typing.rs
  crates/ruff_python_ast/src/helpers.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_codegen/src/generator.rs
  crates/ruff_python_formatter/src/expression/expr_tuple.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_semantic/src/analyze/typing.rs
  crates/ruff_python_semantic/src/model.rs
Labels: internal

#12841 Add link to relevant issue for unused variable preview behavior
  crates/ruff_linter/src/rules/pyflakes/rules/unused_variable.rs
Labels: internal

#12843 Deprecate `UP027`
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/unpacked_list_comprehension.rs
Labels: rule, breaking

#12844 Stabilize `ASYNC100`, `ASYNC109`, `ASYNC110`, `ASYNC115` and `ASYNC116` behavior changes
  crates/ruff_linter/src/rules/flake8_async/helpers.rs
  crates/ruff_linter/src/rules/flake8_async/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_busy_wait.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_function_with_timeout.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_zero_sleep.rs
  crates/ruff_linter/src/rules/flake8_async/rules/cancel_scope_no_checkpoint.rs
  crates/ruff_linter/src/rules/flake8_async/rules/long_sleep_not_forever.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC100_ASYNC100.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC109_ASYNC109_1.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC110_ASYNC110.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC115_ASYNC115.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC116_ASYNC116.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC100_ASYNC100.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC109_ASYNC109_0.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC109_ASYNC109_1.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC110_ASYNC110.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC115_ASYNC115.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC116_ASYNC116.py.snap
Labels: rule, breaking

#12837 Deprecate PT004 and PT005
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/fixture.rs
Labels: breaking

#12840 Stabilize fixes for `RET50{5-8}`
  crates/ruff_linter/resources/test/fixtures/flake8_return/RET505.py
  crates/ruff_linter/src/fix/edits.rs
  crates/ruff_linter/src/rules/flake8_return/mod.rs
  crates/ruff_linter/src/rules/flake8_return/rules/function.rs
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET505_RET505.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET506_RET506.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET507_RET507.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET508_RET508.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__preview__RET505_RET505.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__preview__RET506_RET506.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__preview__RET507_RET507.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__preview__RET508_RET508.py.snap
  crates/ruff_python_trivia/src/textwrap.rs
Labels: fixes

#12781 Collect errors while building up the settings index
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#12842 [red-knot] Add filename and source location for diagnostics
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_wasm/tests/api.rs
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/src/lint.rs
Labels: red-knot

#12847 [red-knot] Use Windows specific path separator in tests
  crates/red_knot_workspace/src/lint.rs
Labels: red-knot

#12791 [red-knot] add IntersectionBuilder
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12748 Add scope and definitions for comprehensions
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12853 [`flake8-pytest-style`] Add a space after comma in CSV output (`PT006`)
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/parametrize.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT006_csv.snap
Labels: fixes

#12852 Evaluate default parameter value in enclosing scope
  crates/ruff_linter/resources/test/fixtures/pyflakes/F821_17.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F821_F821_17.py.snap
Labels: bug

#12860 Stabilize two `flake8-pyi` rules
  crates/ruff_linter/src/codes.rs
Labels: rule

#12838 Change default for PT001 and PT023
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/mod.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/fixture.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/marks.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/settings.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT001_default.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT001_no_parentheses.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT001_parentheses.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT020.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT023_default.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT023_no_parentheses.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT023_parentheses.snap
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: breaking, configuration

#12868 Limit `requirements.txt` files updated by renovate
  .github/renovate.json5
Labels: ci

#12863 Avoid treating `dataclasses.KW_ONLY` as typing-only
  crates/ruff_linter/resources/test/fixtures/flake8_type_checking/kw_only.py
  crates/ruff_linter/src/rules/flake8_type_checking/helpers.rs
  crates/ruff_linter/src/rules/flake8_type_checking/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__strict_typing-only-standard-library-import_kw_only.py.snap
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__typing-only-standard-library-import_kw_only.py.snap
Labels: bug

#12867 Update OpenAI excluded notebooks from ecosystem checks
  python/ruff-ecosystem/ruff_ecosystem/defaults.py
Labels: ci

#12875 Fallback to kernelspec to check if it's a Python notebook
  crates/ruff_notebook/resources/test/fixtures/jupyter/kernelspec_language.ipynb
  crates/ruff_notebook/src/notebook.rs
  crates/ruff_notebook/src/schema.rs
Labels: notebook

#12869 Stabilise `redirected-noqa` (`RUF101`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/rules/redirected_noqa.rs
Labels: rule

#12881 [red-knot] Use line/column for server diagnostics if available
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
Labels: red-knot

#12886 Improve docs for `missing-fstring-syntax` (`RUF027`)
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
Labels: documentation

#12887 Improve docs for `non-augmented-assignment` (`PLR6104`)
  crates/ruff_linter/src/rules/pylint/rules/non_augmented_assignment.rs
Labels: documentation

#12889 RUF027: Ignore template strings passed to logging calls and `builtins._()` calls
  crates/ruff_linter/resources/test/fixtures/ruff/RUF027_1.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
Labels: rule, preview

#12895 [flake8-comprehensions] Do not lint `async for` comprehensions in `unnecessary-comprehension-in-call (C419)`
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C419.py
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension_in_call.rs
Labels: bug

#12894 Bump version to 0.6
  BREAKING_CHANGES.md
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#12905 Rename too-many-positional(-arguments)
  crates/ruff_linter/resources/test/fixtures/pylint/too_many_positional_arguments.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/too_many_positional_arguments.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR0917_too_many_positional_arguments.py.snap
Labels: rule

#12898 [red-knot] fix lookups of possibly-shadowed builtins
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12638 [`fastapi`] Implement `fast-api-unused-path-parameter` (`FAST003`)
  crates/ruff_linter/resources/test/fixtures/fastapi/FAST003.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/fix/edits.rs
  crates/ruff_linter/src/rules/fastapi/mod.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_unused_path_parameter.rs
  crates/ruff_linter/src/rules/fastapi/rules/mod.rs
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-unused-path-parameter_FAST003.py.snap
  ruff.schema.json
Labels: rule, preview

#12862 [red-knot] Add symbol and definition for parameters
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12907 Simplify logic for `RUF027`
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
Labels: internal

#12924 [`flake8-async`] Fix examples to use `async with`
  crates/ruff_linter/src/rules/flake8_async/rules/async_function_with_timeout.rs
  crates/ruff_linter/src/rules/flake8_async/rules/cancel_scope_no_checkpoint.rs
Labels: documentation

#12910 [red-knot] Add support for relative imports
  crates/red_knot_python_semantic/src/module_name.rs
  crates/red_knot_python_semantic/src/module_resolver/mod.rs
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12929 Use cell source code instead of the concatenated one
  crates/ruff_server/src/fix.rs
Labels: bug

#12931 Fix description of where the contributor list comes from in instructions for making a release
  CONTRIBUTING.md
Labels: documentation, internal

#12934 Ignore blank line rules for docs formatting
  crates/ruff_linter/src/rules/pydocstyle/rules/blank_before_after_class.rs
  scripts/check_docs_formatted.py
Labels: documentation

#12922 [`flake8-naming`]: Respect import conventions (`N817`)
  crates/ruff_linter/resources/test/fixtures/pep8_naming/N817.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/pep8_naming/mod.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_acronym.rs
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__camelcase_imported_as_incorrect_convention.snap
Labels: incompatibility

#12935 `N817` docs: refer to the correct setting
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_acronym.rs
Labels: documentation

#12937 Bump version to 0.6.1
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#12888 Select stable import name when multiple possible bindings are in scope
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB177_FURB177.py.snap
  crates/ruff_python_semantic/src/model.rs
Labels: internal

#12932 [red-knot] Use `Unknown` rather than `Unbound` for unresolved imports
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/lint.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12706 [red-knot] type narrowing
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/expression.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/bitset.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/symbol_state.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#12939 [`ruff`] Ignore `fstring-missing-syntax` (`RUF027`) for `fastAPI` paths
  crates/ruff_linter/resources/test/fixtures/ruff/RUF027_1.py
  crates/ruff_linter/src/rules/fastapi/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
Labels: bug, preview

#12944 [flake8_bugbear] message based on expression location [B015]
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B015.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/useless_comparison.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B015_B015.py.snap
Labels: rule

#12919 Pull all types in corpus tests
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/tests/check.rs
Labels: red-knot

#12946 [`pep8-naming`] Don't flag `from` imports following conventional import names (`N817`)
  crates/ruff_linter/resources/test/fixtures/pep8_naming/N817.py
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_acronym.rs
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N817_N817.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__camelcase_imported_as_incorrect_convention.snap
Labels: bug

#12955 Fix CHANGELOG.md typo
  CHANGELOG.md
Labels: documentation

#12957 [`pylint`] - remove AugAssign errors from `self-cls-assignment` (`W0642`)
  crates/ruff_linter/resources/test/fixtures/pylint/self_or_cls_assignment.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW0642_self_or_cls_assignment.py.snap
Labels: bug, rule

#12966 Ignore unused arguments on stub functions
  crates/ruff/tests/lint.rs
  crates/ruff_linter/src/rules/flake8_unused_arguments/rules/unused_arguments.rs
  crates/ruff_linter/src/rules/flake8_unused_arguments/snapshots/ruff_linter__rules__flake8_unused_arguments__tests__ARG001_ARG.py.snap
Labels: rule

#12981 Quote default values consistently
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: cli

#12909 [ruff] Implement check for Decimal called with a float literal (RUF032)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF032.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/decimal_from_float_literal.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF032_RUF032.py.snap
  ruff.schema.json
Labels: rule, preview

#12952 Improve release instructions for when `ruff-lsp` and `ruff-vscode` updates are required
  CONTRIBUTING.md
Labels: internal

#12903 docs(contributing): remove TOC
  CONTRIBUTING.md
Labels: documentation

#12985 Add the `testing` feature of `ruff_db` as a dev-dependency for `ruff_workspace`
  crates/red_knot_workspace/Cargo.toml
Labels: red-knot

#12994 `flake8-type-checking`: Always recognise relative imports as first-party
  crates/ruff_linter/src/rules/flake8_type_checking/rules/typing_only_runtime_import.rs
  crates/ruff_linter/src/rules/isort/categorize.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_import.rs
Labels: rule

#12892 [red-knot] Add definition for augmented assignment
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12926 [red-knot] Add symbols defined by `match` statements
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
Labels: red-knot

#12806 Expand note to use Ruff with other language server in Kate
  docs/editors/setup.md
Labels: documentation

#12996 pydocstyle: Add ignore setting to linter docs
  crates/ruff_linter/src/rules/pydocstyle/rules/not_missing.rs
Labels: documentation

#12948 Fix re-entrance deadlock in Package::files
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/red_knot_workspace/src/workspace/files.rs
Labels: red-knot

#12988 Add API to emit type-checking diagnostics
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_wasm/tests/api.rs
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_source_file/src/lib.rs
Labels: red-knot

#13002 [`flake8-pyi`] Skip type annotations in `string-or-bytes-too-long` (`PYI053`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI053.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/string_or_bytes_too_long.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI053_PYI053.pyi.snap
Labels: bug, rule

#13004 Use `check` instead of `check_file` in benchmarks
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13015 [red-knot] Improve various tracing logs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/src/db/changes.rs
  crates/red_knot_workspace/src/site_packages.rs
  crates/red_knot_workspace/src/watch/watcher.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/source.rs
Labels: red-knot

#13019 Update example for `PT001` as per the new default behavior
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/fixture.rs
Labels: documentation

#13005 Use the system allocator for codspeed benchmarks
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/formatter.rs
  crates/ruff_benchmark/benches/lexer.rs
  crates/ruff_benchmark/benches/linter.rs
  crates/ruff_benchmark/benches/parser.rs
Labels: ci

#13016 Upgrade to Salsa with tables
  Cargo.lock
  Cargo.toml
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/testing.rs
Labels: red-knot

#13028 Remove linter dependency from red_knot_server
  Cargo.lock
  crates/red_knot/src/logging.rs
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/session/capabilities.rs
  crates/red_knot_server/src/session/index.rs
Labels: red-knot

#13029 Show full error context in server messages
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#13033 Fix various panicks when linting black/src
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13032 Use ZIP file size metadata to allocate string
  crates/ruff_db/src/vendored.rs
Labels: red-knot

#13007 [red-knot] Improve the `unresolved-import` check
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13035 Revert "Use the system allocator for codspeed benchmarks"
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/formatter.rs
  crates/ruff_benchmark/benches/lexer.rs
  crates/ruff_benchmark/benches/linter.rs
  crates/ruff_benchmark/benches/parser.rs
Labels: ci

#12786 Eagerly validate typeshed versions
  Cargo.lock
  crates/red_knot/src/main.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/module_resolver/mod.rs
  crates/red_knot_python_semantic/src/module_resolver/path.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/state.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed/mod.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed/versions.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/site_packages.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/session.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/db/changes.rs
  crates/red_knot_workspace/src/lib.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/red_knot_workspace/src/workspace/metadata.rs
  crates/red_knot_workspace/src/workspace/settings.rs
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_workspace/src/resolver.rs
Labels: red-knot
