Repository astral-sh/ruff, pull requests merged in 2024-06, with the labels that each got.

#11683 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#11684 [`flake8-simplify`] Simplify double negatives in `SIM103`
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM103.py
  crates/ruff_linter/src/rules/flake8_simplify/rules/needless_bool.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__preview__SIM103_SIM103.py.snap
Labels: fixes

#11690 Make tests aware that py313 is the latest supported Python version
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP036_0.py
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP036_0.py.snap
  crates/ruff_linter/src/settings/types.rs
Labels: internal

#11696 [`pyupgrade`] Write empty string in lieu of panic
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP032_0.py
  crates/ruff_linter/src/rules/pyupgrade/rules/f_strings.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP032_0.py.snap
Labels: bug, fuzzer

#11682 Add RDJson support
  crates/ruff/src/printer.rs
  crates/ruff_linter/src/message/mod.rs
  crates/ruff_linter/src/message/rdjson.rs
  crates/ruff_linter/src/message/snapshots/ruff_linter__message__rdjson__tests__output.snap
  crates/ruff_linter/src/settings/types.rs
  docs/configuration.md
  ruff.schema.json
Labels: configuration

#11693 Update UP035 for Python 3.13 and the latest version of typing_extensions
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP035.py
  crates/ruff_linter/src/rules/pyupgrade/rules/deprecated_import.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP035.py.snap
Labels: rule, python313

#11716 Re-order lexer methods
  crates/ruff_python_parser/src/lexer.rs
Labels: internal

#11717 Use string expression for parsing type annotation
  crates/ruff_linter/src/checkers/ast/deferred.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff_linter/src/rules/ruff/typing.rs
  crates/ruff_python_parser/src/typing.rs
Labels: internal

#11718 Remove less used parser dependencies
  Cargo.lock
  crates/ruff_python_parser/Cargo.toml
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/typing.rs
Labels: internal

#11721 Isolate non-breaking whitespace indentation test case
  crates/ruff_python_codegen/src/stylist.rs
Labels: internal

#11669 [red-knot] infer_symbol_public_type infers union of all definitions
  crates/red_knot/src/lint.rs
  crates/red_knot/src/types.rs
  crates/red_knot/src/types/infer.rs
Labels: red-knot

#11670 [red-knot] use reachable definitions in infer_expression_type
  crates/red_knot/src/symbols.rs
  crates/red_knot/src/types/infer.rs
Labels: red-knot

#11699 [`flake8-pyi`] Implement `PYI063`
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI063.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI063.pyi
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/pre_pep570_positional_argument.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI063_PYI063.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI063_PYI063.pyi.snap
  ruff.schema.json
Labels: rule, preview

#11540 [`pygrep_hooks`] Check blanket ignores via file-level pragmas (`PGH004`)
  crates/ruff_linter/resources/test/fixtures/pygrep_hooks/PGH004_2.py
  crates/ruff_linter/src/checkers/noqa.rs
  crates/ruff_linter/src/noqa.rs
  crates/ruff_linter/src/rules/pygrep_hooks/mod.rs
  crates/ruff_linter/src/rules/pygrep_hooks/rules/blanket_noqa.rs
  crates/ruff_linter/src/rules/pygrep_hooks/snapshots/ruff_linter__rules__pygrep_hooks__tests__PGH004_PGH004_2.py.snap
  crates/ruff_linter/src/rules/pygrep_hooks/snapshots/ruff_linter__rules__pygrep_hooks__tests__preview__PGH004_PGH004_2.py.snap
Labels: rule, preview

#11728 Respect per-file ignores for blanket and redirected noqa rules
  crates/ruff_linter/resources/test/fixtures/pygrep_hooks/PGH004_3.py
  crates/ruff_linter/src/checkers/noqa.rs
  crates/ruff_linter/src/noqa.rs
  crates/ruff_linter/src/rules/pygrep_hooks/mod.rs
  crates/ruff_linter/src/rules/pygrep_hooks/snapshots/ruff_linter__rules__pygrep_hooks__tests__PGH004_PGH004_3.py.snap
Labels: bug

#11725 red-knot: Use `parse_unchecked` to get all parse errors
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/lint.rs
  crates/red_knot/src/parse.rs
  crates/red_knot/src/source.rs
  crates/red_knot/src/symbols.rs
  crates/red_knot/src/types/infer.rs
  crates/ruff_python_parser/src/lib.rs
Labels: red-knot

#11723 red-knot: Change `resolve_global_symbol` to take `Module` as an argument
  crates/red_knot/src/lint.rs
  crates/red_knot/src/symbols.rs
  crates/red_knot/src/types.rs
  crates/red_knot/src/types/infer.rs
Labels: red-knot

#11734 Use cursor offset for lexer checkpoint
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/token_source.rs
Labels: internal

#11732 Lexer should consider BOM for the start offset
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__bom.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__bom_with_offset.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__bom_with_offset_edge.snap
Labels: bug

#11735 Update `NPY001` rule for NumPy 2.0
  crates/ruff_linter/resources/test/fixtures/numpy/NPY001.py
  crates/ruff_linter/src/rules/numpy/rules/deprecated_type_alias.rs
  crates/ruff_linter/src/rules/numpy/snapshots/ruff_linter__rules__numpy__tests__numpy-deprecated-type-alias_NPY001.py.snap
Labels: rule

#11673 [red-knot] add if-statement support to FlowGraph
  crates/red_knot/src/symbols.rs
  crates/red_knot/src/types/infer.rs
Labels: red-knot

#11745 `ruff server`: Formatting a document with syntax problems no longer spams a visible error popup
  crates/ruff_server/src/format.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/requests/format_range.rs
Labels: server

#11739 Update type annotation parsing API to return `Parsed`
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff_linter/src/rules/ruff/typing.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/typing.rs
Labels: internal

#11740 Use `Tokens` from parsed type annotation or parsed source
  crates/ruff_linter/resources/test/fixtures/pyflakes/F632.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP012.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP015_1.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP031_0.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP032_0.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pyflakes/rules/invalid_literal_comparisons.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_variable.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F632_F632.py.snap
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/deprecated_import.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/f_strings.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/printf_string_formatting.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/redundant_open_modes.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/unnecessary_encode_utf8.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP012.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP015_1.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP031_0.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP032_0.py.snap
  crates/ruff_linter/src/rules/ruff/rules/sort_dunder_all.rs
  crates/ruff_linter/src/rules/ruff/rules/sort_dunder_slots.rs
Labels: bug

#11741 Disallow access to `Parsed` output, use the API instead
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/zip_without_explicit_strict.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_generator_list.rs
  crates/ruff_linter/src/rules/flake8_pie/rules/unnecessary_dict_kwargs.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/generic_not_last_base_class.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/assertion.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/parametrize.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/ast_bool_op.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/ast_ifexp.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/ast_with.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/collapsible_if.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/if_else_block_instead_of_dict_get.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/if_else_block_instead_of_if_exp.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/if_with_same_arms.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/key_in_dict.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/needless_bool.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/suppressible_exception.rs
  crates/ruff_linter/src/rules/pandas_vet/rules/inplace_argument.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/literal_comparisons.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/not_tests.rs
  crates/ruff_linter/src/rules/pyflakes/rules/repeated_keys.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_variable.rs
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/rules/nested_min_max.rs
  crates/ruff_linter/src/rules/pylint/rules/subprocess_run_without_check.rs
  crates/ruff_linter/src/rules/pylint/rules/unspecified_encoding.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/f_strings.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/yield_in_for_loop.rs
  crates/ruff_linter/src/rules/refurb/rules/if_exp_instead_of_or_operator.rs
  crates/ruff_linter/src/rules/refurb/rules/repeated_append.rs
  crates/ruff_linter/src/rules/refurb/rules/single_item_membership_test.rs
  crates/ruff_linter/src/rules/ruff/rules/collection_literal_concatenation.rs
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
  crates/ruff_linter/src/rules/ruff/rules/parenthesize_logical_operators.rs
  crates/ruff_linter/src/rules/ruff/rules/quadratic_list_summation.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_key_check.rs
Labels: internal

#11755 Bump version to v0.4.8
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#11754 Red-knot: Track scopes per expression
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/flow_graph.rs
  crates/red_knot/src/semantic/symbol_table.rs
  crates/ruff_index/src/slice.rs
  crates/ruff_index/src/vec.rs
Labels: red-knot

#11748 Fix formatter instability for lines only consisting of zero-width characters
  Cargo.lock
  crates/ruff_formatter/src/printer/mod.rs
  crates/ruff_python_formatter/Cargo.toml
  crates/ruff_python_formatter/resources/test/fixtures/ruff/docstring_non_visible_characters.py
  crates/ruff_python_formatter/src/verbatim.rs
  crates/ruff_python_formatter/tests/snapshots/format@docstring_non_visible_characters.py.snap
Labels: bug, formatter

#11760 [red-knot] arithmetic on int literals
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11761 [red-knot] refactor Definitions out of symbol table
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/definitions.rs
  crates/red_knot/src/semantic/flow_graph.rs
  crates/red_knot/src/semantic/symbol_table.rs
Labels: red-knot

#11762 [red-knot] support walrus expressions in type inference
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/definitions.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11688 [`pylint`] Implement `dict-iter-missing-items` (`C0206`)
  crates/ruff_linter/resources/test/fixtures/pylint/dict_index_missing_items.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_for_loops.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/dict_index_missing_items.rs
  crates/ruff_linter/src/rules/pylint/rules/dict_iter_missing_items.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLC0206_dict_index_missing_items.py.snap
  ruff.schema.json
Labels: rule, preview

#11770 Use speculative parsing for with-items
  crates/ruff_python_parser/resources/inline/err/with_items_parenthesized_missing_colon.py
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__ambiguous_lpar_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__unclosed_ambiguous_lpar.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__unclosed_ambiguous_lpar_eof.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@with_items_parenthesized_missing_colon.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@with_items_parenthesized_missing_comma.py.snap
Labels: internal, parser

#11765 [red-knot] support if-expressions in type inference and CFG
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11775 Consider `:` to terminate parenthesized with items
  crates/ruff_python_parser/src/parser/mod.rs
Labels: internal, parser

#11767 [red-knot] Encapsulate module resolution logic in `module.rs`
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11777 [red-knot] Cleanup module-resolution logic in `module.rs`
  crates/red_knot/src/main.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11783 [red-knot] flatten unions
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11784 [red-knot] condense int literals
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11787 [red-knot] remove duplicate test from bad merge
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11774 [`refurb`] Fix misbehavior of `operator.itemgetter` when getter param is a tuple
  crates/ruff_linter/resources/test/fixtures/refurb/FURB118.py
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB118_FURB118.py.snap
Labels: bug

#11793 Remove `result_like` dependency
  Cargo.lock
  Cargo.toml
  crates/ruff/src/commands/check.rs
  crates/ruff/src/diagnostics.rs
  crates/ruff_linter/Cargo.toml
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/unused_loop_control_variable.rs
  crates/ruff_linter/src/settings/flags.rs
Labels: internal

#11788 [red-knot] add None type
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11779 [red-knot] Include vendored typeshed stubs as a zipfile in the Ruff binary
  .github/renovate.json5
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/build.rs
  crates/red_knot/src/module.rs
Labels: red-knot

#11798 Rename `PreorderVisitor` to `SourceOrderVisitor`
  crates/red_knot/src/ast_ids.rs
  crates/red_knot/src/semantic.rs
  crates/ruff_linter/src/rules/ruff/rules/suppression_comment_visitor.rs
  crates/ruff_linter/src/rules/ruff/rules/unused_async.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/visitor.rs
  crates/ruff_python_ast/src/visitor/source_order.rs
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__bytes_literals.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__class_type_parameters.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__compare.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__decorators.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__dict_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__f_strings.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_arguments.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_positional_only_with_default.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__function_type_parameters.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__list_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__match_class_pattern.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__set_comprehension.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__string_literals.snap
  crates/ruff_python_ast_integration_tests/tests/snapshots/source_order__type_aliases.snap
  crates/ruff_python_ast_integration_tests/tests/source_order.rs
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/comments/visitor.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_parser/tests/fixtures.rs
Labels: internal

#11800 Use real file path when available in `ruff server`
  crates/ruff_server/src/fix.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_server/src/session/index.rs
Labels: bug, server

#11687 Handle non-printable characters in diff view
  crates/ruff_linter/src/lib.rs
  crates/ruff_linter/src/message/diff.rs
  crates/ruff_linter/src/message/text.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2510_invalid_characters.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2512_invalid_characters.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2513_invalid_characters.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2515_invalid_characters.py.snap
  crates/ruff_linter/src/source_kind.rs
  crates/ruff_linter/src/text_helpers.rs
Labels: cli

#11804 Add isort standard-library distinction to FAQ
  CHANGELOG.md
  docs/faq.md
Labels: documentation

#11187 [`refurb`] Implement `repeated-global` (`FURB154`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB154.py
  crates/ruff_linter/src/checkers/ast/analyze/suite.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/repeated_global.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB154_FURB154.py.snap
  ruff.schema.json
Labels: rule, preview

#11806 Fix `TypeVarTuple` typo in pyupgrade rule
  crates/ruff_linter/src/rules/pyupgrade/rules/deprecated_import.rs
Labels: internal

#10999 Adapted fix to work identical to format
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E20.py
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/extraneous_whitespace.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E201_E20.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E202_E20.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E203_E20.py.snap
Labels: bug, rule

#11792 Build `CommentRanges` outside the parser
  Cargo.lock
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/formatter.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/checkers/imports.rs
  crates/ruff_linter/src/checkers/physical_lines.rs
  crates/ruff_linter/src/checkers/tokens.rs
  crates/ruff_linter/src/directives.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/isort/rules/organize_imports.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/test.rs
  crates/ruff_python_formatter/src/cli.rs
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/expression/parentheses.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_formatter/src/statement/suite.rs
  crates/ruff_python_formatter/src/string/docstring.rs
  crates/ruff_python_index/src/indexer.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/token_source.rs
  crates/ruff_python_trivia_integration_tests/tests/block_comments.rs
  crates/ruff_python_trivia_integration_tests/tests/simple_tokenizer.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_wasm/Cargo.toml
  crates/ruff_wasm/src/lib.rs
Labels: internal

#11809 [`pylint`] Fix flag name in `too-many-public-methods` (`PLR0904`)
  crates/ruff_linter/src/rules/pylint/rules/too_many_public_methods.rs
Labels: documentation

#11829 Fix isort FAQ to surface correct src setting
  docs/faq.md
Labels: documentation, isort

#11838 Add Streamlit into the `Who's Using Ruff?` section
  README.md
Labels: documentation

#11747 `ruff server`: Tracing system now respects log level and trace level, with options to log to a file
  Cargo.lock
  crates/ruff/Cargo.toml
  crates/ruff/src/commands/server.rs
  crates/ruff/src/lib.rs
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/lib.rs
  crates/ruff_server/src/message.rs
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/server/api.rs
  crates/ruff_server/src/server/api/notifications.rs
  crates/ruff_server/src/server/api/notifications/set_trace.rs
  crates/ruff_server/src/server/schedule/thread/pool.rs
  crates/ruff_server/src/session/settings.rs
  crates/ruff_server/src/trace.rs
Labels: server

#11831 `ruff server`: Introduce the `ruff.printDebugInformation` command
  crates/ruff_server/src/server/api/requests/execute_command.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/capabilities.rs
  crates/ruff_server/src/session/index.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#11823 `ruff server`: Improve error message when a command is run on an unavailable document
  crates/ruff_server/src/server/api/requests/execute_command.rs
Labels: server

#11790 [red-knot] add type narrowing
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/flow_graph.rs
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
Labels: red-knot

#11844 Use the existing `ruff_python_trivia::is_python_whitespace` function
  crates/ruff_python_parser/src/lexer.rs
Labels: internal

#11802 red-knot: `VfsFile` input ingredient and a `Vfs`
  Cargo.lock
  Cargo.toml
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/file_system.rs
  crates/ruff_db/src/file_system/memory.rs
  crates/ruff_db/src/file_system/os.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/vfs.rs
  crates/ruff_db/src/vfs/path.rs
Labels: red-knot

#11842 Separate terminator token for f-string elements kind
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_lambda_without_parentheses.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_unclosed_lbrace_in_format_spec.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unterminated_fstring_newline_recovery.py.snap
Labels: internal, parser

#11836 [red-knot] Add a parser for typeshed's VERSIONS file
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/lib.rs
  crates/red_knot/src/typeshed_versions.rs
Labels: red-knot

#11850 Add supported commands in server capabilities
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/server/api/requests/execute_command.rs
Labels: server

#11837 red-knot[salsa part 2]: Setup semantic DB and Jar
  Cargo.lock
  Cargo.toml
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/source.rs
  crates/ruff_python_semantic/Cargo.toml
  crates/ruff_python_semantic/src/db.rs
  crates/ruff_python_semantic/src/lib.rs
Labels: red-knot

#11822 red-knot: `source_text`, `line_index`, and `parsed_module` queries
  Cargo.lock
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/file_system.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
  crates/ruff_python_ast/src/lib.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_source_file/src/line_index.rs
Labels: red-knot

#11825 red-knot: Add directory support to `MemoryFileSystem`
  crates/ruff_db/src/file_system.rs
  crates/ruff_db/src/file_system/memory.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/vfs.rs
Labels: red-knot

#11855 Use `starts_with('/')` instead of `is_absolute` to avoid platform specific API
  crates/ruff_db/src/file_system/memory.rs
Labels: red-knot

#11856 [red-knot] Improve `Vfs` and `FileSystem` documentation
  crates/ruff_db/src/file_system.rs
  crates/ruff_db/src/vfs.rs
Labels: red-knot

#11861 Update Python compatibility to 3.13
  README.md
Labels: documentation

#11874 Make `ruff_db` a required crate for `ruff_python_semantic`
  crates/ruff_python_semantic/Cargo.toml
Labels: internal

#11872 Bump version to v0.4.9
  .github/workflows/release.yaml
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#11879 Guard against malicious ecosystem comment artifacts
  .github/workflows/pr-comment.yaml
Labels: security

#11881 Fix prettier formatting in schema store update script
  scripts/update_schemastore.py
Labels: internal

#11882 Use https by default in schema store update script
  scripts/update_schemastore.py
Labels: internal

#11895 Trim trailing whitespace in server debug message
  crates/ruff_server/src/server/api/requests/execute_command.rs
Labels: internal

#11896 Use correct comment character for bash script in CI
  .github/workflows/pr-comment.yaml
Labels: ci

#11875 Upgrade to Rust 1.79
  Cargo.toml
  crates/red_knot/src/module.rs
  crates/ruff_linter/src/registry/rule_set.rs
  crates/ruff_python_formatter/src/other/parameters.rs
  crates/ruff_text_size/src/size.rs
  rust-toolchain.toml
Labels: internal

#11845 Implement re-lexing logic for better error recovery
  .gitattributes
  crates/ruff_python_parser/resources/inline/err/comma_separated_missing_comma.py
  crates/ruff_python_parser/resources/inline/err/comma_separated_missing_comma_between_elements.py
  crates/ruff_python_parser/resources/inline/err/comma_separated_missing_element_between_commas.py
  crates/ruff_python_parser/resources/inline/err/comma_separated_missing_first_element.py
  crates/ruff_python_parser/resources/inline/ok/comma_separated_regular_list_terminator.py
  crates/ruff_python_parser/resources/invalid/re_lex_logical_token.py
  crates/ruff_python_parser/resources/invalid/re_lex_logical_token_mac_eol.py
  crates/ruff_python_parser/resources/invalid/re_lex_logical_token_windows_eol.py
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/token_source.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@class_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@comma_separated_missing_comma.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@comma_separated_missing_comma_between_elements.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@comma_separated_missing_element_between_commas.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@comma_separated_missing_first_element.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@dotted_name_multiple_dots.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__unclosed_0.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__unclosed_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__arguments__unclosed_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__dict__missing_closing_brace_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__list__missing_closing_bracket_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__generator.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__parenthesized__missing_closing_paren_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__set__missing_closing_curly_brace_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@from_import_missing_rpar.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unclosed_parameter_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_unclosed_type_param_list.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@global_stmt_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_parenthesized_names.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@import_stmt_star_import.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@nonlocal_stmt_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_var_keyword_with_default.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@params_var_positional_with_default.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lex_logical_token.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lex_logical_token_mac_eol.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lex_logical_token_windows_eol.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__function_type_parameters.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__match__as_pattern_3.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@statements__with__ambiguous_lpar_with_items.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@with_items_parenthesized_missing_comma.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@comma_separated_regular_list_terminator.py.snap
Labels: parser

#11883 `ruff server`: Add tracing setup guide to Helix documentation
  crates/ruff_server/docs/setup/HELIX.md
Labels: documentation, server

#11919 Fix Fuzz build
  .github/workflows/ci.yaml
Labels: ci

#11871 Use re-lexing for normal list parsing
  crates/ruff_python_parser/resources/invalid/re_lex_logical_token.py
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_unclosed_lbrace.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_unclosed_lbrace_in_format_spec.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lex_logical_token.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unterminated_fstring_newline_recovery.py.snap
Labels: parser

#11859 Update docs for E711, E712 (#4560)
  crates/ruff_linter/src/rules/pycodestyle/rules/literal_comparisons.rs
Labels: documentation

#11923 Avoid syntax errors for test cases
  crates/ruff_linter/resources/test/fixtures/flake8_commas/COM81.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E20.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E23.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E27.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E30.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/W19.py
  crates/ruff_linter/src/rules/flake8_commas/snapshots/ruff_linter__rules__flake8_commas__tests__COM81.py.snap
  crates/ruff_linter/src/rules/pandas_vet/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E203_E20.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E231_E23.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E271_E27.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E272_E27.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E273_E27.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E274_E27.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E275_E27.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E301_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E302_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E303_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E304_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E305_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E306_E30.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__W191_W19.py.snap
Labels: internal

#11826 red-knot: Add a method to resolve a file for an arbitrary `VfsPath`
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/vfs.rs
Labels: red-knot

#11835 red-knot: Port module resolver to salsa
  Cargo.lock
  Cargo.toml
  crates/ruff_db/src/file_system.rs
  crates/ruff_db/src/file_system/memory.rs
  crates/ruff_db/src/file_system/os.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/vfs.rs
  crates/ruff_db/src/vfs/path.rs
  crates/ruff_python_semantic/Cargo.toml
  crates/ruff_python_semantic/src/db.rs
  crates/ruff_python_semantic/src/lib.rs
  crates/ruff_python_semantic/src/module.rs
  crates/ruff_python_semantic/src/module/resolver.rs
Labels: red-knot

#11860 red-knot: Symbol table
  Cargo.lock
  crates/ruff_db/src/parsed.rs
  crates/ruff_python_semantic/Cargo.toml
  crates/ruff_python_semantic/src/db.rs
  crates/ruff_python_semantic/src/lib.rs
  crates/ruff_python_semantic/src/name.rs
  crates/ruff_python_semantic/src/red_knot/ast_node_ref.rs
  crates/ruff_python_semantic/src/red_knot/mod.rs
  crates/ruff_python_semantic/src/red_knot/node_key.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/ast_ids.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/builder.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/definition.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/symbol.rs
Labels: red-knot

#11863 [red-knot]: Add a VendoredFileSystem implementation
  Cargo.lock
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/file_revision.rs
  crates/ruff_db/src/file_system.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/vendored.rs
  crates/ruff_db/src/vendored/path.rs
  crates/ruff_db/src/vfs.rs
  crates/ruff_db/src/vfs/path.rs
Labels: red-knot

#11927 ENH copyright-notice: check in the first 4096 bytes instead of 1024
  crates/ruff_linter/src/rules/flake8_copyright/mod.rs
  crates/ruff_linter/src/rules/flake8_copyright/rules/missing_copyright_notice.rs
Labels: rule

#11884 `ruff server`: Add tracing setup guide to Neovim documentation
  crates/ruff_server/docs/setup/NEOVIM.md
Labels: documentation, server

#11933 Avoid consuming trailing whitespace during re-lexing
  crates/ruff_python_parser/resources/invalid/re_lex_logical_token.py
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lex_logical_token.py.snap
Labels: bug, parser

#11900 Update `E999` to show all syntax errors
  crates/ruff/tests/integration_test.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/tests/fixtures.rs
Labels: rule

#11947 Avoid depth counting when detecting indentation
  crates/ruff_python_codegen/src/stylist.rs
Labels: internal

#11899 red-knot(Salsa): Types without refinements
  Cargo.lock
  crates/ruff_python_semantic/Cargo.toml
  crates/ruff_python_semantic/src/db.rs
  crates/ruff_python_semantic/src/module/resolver.rs
  crates/ruff_python_semantic/src/red_knot/mod.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/ast_ids.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/builder.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/definition.rs
  crates/ruff_python_semantic/src/red_knot/semantic_index/symbol.rs
  crates/ruff_python_semantic/src/red_knot/types.rs
  crates/ruff_python_semantic/src/red_knot/types/display.rs
  crates/ruff_python_semantic/src/red_knot/types/infer.rs
Labels: red-knot

#11939 Avoid moving back the lexer for triple-quoted fstring
  crates/ruff_python_parser/resources/invalid/re_lex_logical_token.py
  crates/ruff_python_parser/resources/invalid/re_lexing/triple_quoted_fstring_1.py
  crates/ruff_python_parser/resources/invalid/re_lexing/triple_quoted_fstring_2.py
  crates/ruff_python_parser/resources/invalid/re_lexing/triple_quoted_fstring_3.py
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_unclosed_lbrace.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lex_logical_token.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__triple_quoted_fstring_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__triple_quoted_fstring_2.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__triple_quoted_fstring_3.py.snap
Labels: bug, parser

#11949 [red-knot] Add tracing to Salsa queries
  crates/red_knot_python_semantic/src/module/resolver.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
Labels: red-knot

#11951 Avoid running logical line rule logic if not enabled
  crates/ruff_linter/src/checkers/logical_lines.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/indentation.rs
Labels: internal

#11953 Bump version to v0.4.10
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#11954 Provide link on how to re-run all failed jobs
  CONTRIBUTING.md
Labels: documentation, internal

#11945 `ruff server`: Support the usage of tildes and environment variables in `logFile`
  crates/ruff_server/docs/setup/HELIX.md
  crates/ruff_server/docs/setup/NEOVIM.md
  crates/ruff_server/src/session/settings.rs
  crates/ruff_server/src/trace.rs
Labels: server

#11952 [red-knot] Upgrade to Salsa 3.0
  Cargo.lock
  Cargo.toml
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/module/resolver.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_db/src/vfs.rs
Labels: red-knot

#11944 Add Jupyter Notebook document change snapshot test
  crates/ruff_notebook/src/cell.rs
  crates/ruff_notebook/src/notebook.rs
  crates/ruff_server/resources/test/fixtures/tensorflow_test_notebook.ipynb
  crates/ruff_server/src/edit.rs
  crates/ruff_server/src/edit/notebook.rs
  crates/ruff_server/src/lib.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/index.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
  crates/ruff_server/src/session/settings.rs
  crates/ruff_server/tests/notebook.rs
  crates/ruff_server/tests/snapshots/notebook__changed_notebook.snap
  crates/ruff_server/tests/snapshots/notebook__initial_notebook.snap
Labels: server, testing

#11948 Update `trapz` and `in1d` deprecation for NPY201
  crates/ruff_linter/src/rules/numpy/rules/numpy_2_0_deprecation.rs
Labels: rule

#11959 `ruff-check`: update docs for fix_only
  crates/ruff/src/args.rs
  docs/configuration.md
Labels: documentation

#11956 Remove duplication around `is_trivia` functions
  crates/ruff_linter/src/rules/pycodestyle/helpers.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/blank_lines.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/missing_whitespace_around_operator.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/mod.rs
  crates/ruff_linter/src/rules/pyflakes/rules/invalid_literal_comparisons.rs
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/token.rs
  crates/ruff_python_parser/src/token_source.rs
Labels: internal

#11957 Move token and error structs into related modules
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/pattern.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/string.rs
  crates/ruff_python_parser/src/token.rs
  crates/ruff_python_parser/src/token_source.rs
Labels: internal

#11962 Remove `Token::is_trivia` method
  crates/ruff_python_parser/src/token.rs
Labels: internal

#11967 [red-knot] Move typeshed `VERSIONS` parser to the module resolver crate
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/lib.rs
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/src/lib.rs
  crates/red_knot_module_resolver/src/typeshed.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
Labels: red-knot

#11968 [red-knot] Make the `VERSIONS` parser use `ModuleName` as its key type
  crates/red_knot_module_resolver/src/module.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
Labels: red-knot

#11970 [red-knot] Add more tests asserting that the VendoredFileSystem and the `VERSIONS` parser work with the vendored typeshed stubs
  Cargo.lock
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/src/typeshed.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
Labels: red-knot

#11942 `ruff server`: Closing an untitled, unsaved notebook document no longer throws an error
  crates/ruff_server/src/server/api/notifications/did_close.rs
  crates/ruff_server/src/server/api/notifications/did_close_notebook.rs
  crates/ruff_server/src/session/index.rs
Labels: bug, server

#11973 Remove usage of `std::path::absolute` from snapshot test
  crates/ruff_server/tests/notebook.rs
Labels: server

#11958 Manual impl of `Debug` on `Token`
  Cargo.lock
  crates/ruff_dev/Cargo.toml
  crates/ruff_dev/src/print_tokens.rs
  crates/ruff_python_parser/src/token.rs
  crates/ruff_wasm/src/lib.rs
Labels: internal

#11980 docs(integrations): fix link to `python-lsp-server`
  docs/integrations.md
Labels: documentation

#11982 [red-knot] Use POSIX representations of paths when creating the typeshed zip file
  Cargo.lock
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/build.rs
  crates/red_knot_module_resolver/src/typeshed.rs
Labels: red-knot

#11984 [red-knot] Remove itertools dependency from `ruff_db`
  Cargo.lock
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/vendored.rs
Labels: red-knot

#11985 Update PEP reference in future_rewritable_type_annotation.rs
  crates/ruff_linter/src/rules/flake8_future_annotations/rules/future_rewritable_type_annotation.rs
Labels: documentation

#11983 [red-knot] Manually implement `Debug` for `VendoredFileSystem`
  Cargo.lock
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/vendored.rs
Labels: red-knot

#11987 [red-knot] Once again, add more tests asserting that the `VendoredFileSystem` and the `VERSIONS` parser work with the vendored typeshed stubs
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/src/typeshed.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
Labels: red-knot

#11988 [red-knot] Simplify conversions from `std::path::Path` to `VendoredPath(Buf)`
  crates/red_knot_module_resolver/src/typeshed.rs
  crates/ruff_db/src/vendored/path.rs
Labels: red-knot

#11978 Clarify special control flow parameters for `PLR0917`: `too-many-positional`
  crates/ruff_linter/src/rules/pylint/rules/too_many_positional.rs
Labels: documentation

#11981 [`ruff`] Add `assert-with-print-expression` rule (#11974)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF030.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/assert_with_print_message.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF030_RUF030.py.snap
  ruff.schema.json
Labels: rule, preview

#11961 [`pyflakes`] Detect assignments that shadow definitions (`F811`)
  crates/ruff_linter/resources/test/fixtures/pyflakes/F811_30.py
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F811_F811_30.py.snap
  crates/ruff_python_semantic/src/binding.rs
Labels: bug

#9814 Remove deprecated configuration '--show-source`
  crates/ruff/src/args.rs
  crates/ruff/src/lib.rs
  crates/ruff/src/printer.rs
  crates/ruff/tests/deprecation.rs
  crates/ruff_linter/src/settings/types.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  crates/ruff_workspace/src/settings.rs
  docs/configuration.md
  ruff.schema.json
Labels: breaking, configuration, cli

#12013 Fix missing related settings header
  crates/ruff_dev/src/generate_rules_table.rs
Labels: documentation

#11992 [red-knot] Reduce allocations when normalizing `VendoredPath`s
  crates/ruff_db/src/vendored.rs
Labels: red-knot

#11697 Use rule name rather than message in `--statistics`
  crates/ruff/src/printer.rs
  crates/ruff/tests/integration_test.rs
Labels: breaking, cli

#11115 Read user configuration from `~/.config/ruff/ruff.toml` on macOS
  Cargo.lock
  Cargo.toml
  crates/ruff_workspace/Cargo.toml
  crates/ruff_workspace/src/pyproject.rs
  docs/faq.md
Labels: configuration

#10172 Drop deprecated `nursery` rule group
  crates/ruff/src/commands/rule.rs
  crates/ruff/tests/integration_test.rs
  crates/ruff_dev/src/generate_docs.rs
  crates/ruff_dev/src/generate_rules_table.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rule_selector.rs
  crates/ruff_linter/src/rules/ruff/rules/test_rules.rs
  crates/ruff_macros/src/map_codes.rs
  crates/ruff_server/src/server/api/requests/hover.rs
  crates/ruff_workspace/src/configuration.rs
Labels: breaking

#12008 Consider line continuation character for re-lexing
  crates/ruff_python_parser/resources/invalid/re_lexing/fstring_format_spec_1.py
  crates/ruff_python_parser/resources/invalid/re_lexing/line_continuation_1.py
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__fstring_format_spec_1.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__line_continuation_1.py.snap
Labels: bug, parser

#12022 [red-knot] Fix tests in release builds
  crates/red_knot/src/semantic.rs
Labels: red-knot

#12011 Remove `check`, `--explain`, `--clean`, `--generate-shell-completion` aliases
  crates/ruff/src/args.rs
  crates/ruff/src/lib.rs
  crates/ruff/src/main.rs
  crates/ruff/tests/integration_test.rs
Labels: breaking, cli

#12006 Error when using the `tab-size` option
  crates/ruff/tests/format.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
Labels: breaking, configuration, cli

#12016 Use correct range to highlight line continuation error
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__line_continuation_1.py.snap
Labels: parser

#12017 Do not include newline for unterminated string range
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@f_string_unclosed_lbrace.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@implicitly_concatenated_unterminated_string.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@implicitly_concatenated_unterminated_string_multiline.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__fstring_format_spec_1.py.snap
Labels: parser

#12019 Update parser tests to validate token ranges
  crates/ruff_python_parser/tests/fixtures.rs
Labels: parser, testing

#12024 Avoid `E203` for f-string debug expression
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E20.py
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/extraneous_whitespace.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E203_E20.py.snap
Labels: bug

#10497 Added ignoring deprecated rules for --select=ALL
  crates/ruff_linter/src/rule_selector.rs
Labels: breaking, configuration

#10667 Modify diagnostic ranges for shell-related `bandit` rules
  crates/ruff_linter/src/rules/flake8_bandit/rules/shell_injection.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S602_S602.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S603_S603.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S604_S604.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S605_S605.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S609_S609.py.snap
Labels: bug

#12027 [Ruff v0.5] Fix `ZeroDivisionError`s in the ecosystem check
  python/ruff-ecosystem/ruff_ecosystem/check.py
Labels: ci

#12021 Redirect `PLR1701` to `SIM101`
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM101.py
  crates/ruff_linter/resources/test/fixtures/pylint/repeated_isinstance_calls.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rule_redirects.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/ast_bool_op.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM101_SIM101.py.snap
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/repeated_isinstance_calls.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1701_repeated_isinstance_calls.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__repeated_isinstance_calls.snap
  ruff.schema.json
Labels: rule

#12026 Stabilise rules RUF024 and RUF026
  crates/ruff_linter/resources/test/fixtures/ruff/RUF026.py
  crates/ruff_linter/src/codes.rs
Labels: rule

#11220 [`pycodestyle`] Remove deprecated functionality from `type-comparison` (`E721`)
  crates/ruff_linter/src/rules/pycodestyle/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/type_comparison.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E721_E721.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__preview__E721_E721.py.snap
Labels: rule

#9559 Migrate release workflow to `cargo-dist`
  .github/workflows/build-binaries.yml
  .github/workflows/build-docker.yml
  .github/workflows/notify-dependents.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .prettierignore
  Cargo.toml
  _typos.toml
  crates/ruff/Cargo.toml
Labels: breaking, release

#12029 Stabilise `django-extra` (`S610`) for release 0.5
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/django_extra.rs
Labels: rule

#12033 Match import name ignores against both name and alias
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_acronym.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_constant.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_lowercase.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/constant_imported_as_non_constant.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/lowercase_imported_as_non_lowercase.rs
Labels: bug

#12030 Add syntax error for empty type parameter list
  crates/ruff_python_parser/resources/inline/err/type_params_empty.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_params_empty.py.snap
Labels: parser

#12010 Remove output format `text` and use format `full` by default
  crates/ruff/src/args.rs
  crates/ruff/src/lib.rs
  crates/ruff/src/printer.rs
  crates/ruff/tests/deprecation.rs
  crates/ruff/tests/integration_test.rs
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/src/settings/types.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/settings.rs
  ruff.schema.json
Labels: breaking, configuration, cli

#12035 Consider 2-character EOL before line continuation
  .gitattributes
  crates/ruff_python_parser/resources/invalid/re_lexing/line_continuation_windows_eol.py
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@re_lexing__line_continuation_windows_eol.py.snap
Labels: bug, parser

#10416 Re-code flake8-trio and flake8-async rules to match upstream
  README.md
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC100.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC102.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC105.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC109.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC110.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC115.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC210.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC22x.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC230.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC251.py
  crates/ruff_linter/resources/test/fixtures/flake8_trio/TRIO100.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/registry.rs
  crates/ruff_linter/src/rule_redirects.rs
  crates/ruff_linter/src/rules/flake8_async/helpers.rs
  crates/ruff_linter/src/rules/flake8_async/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_function_with_timeout.rs
  crates/ruff_linter/src/rules/flake8_async/rules/blocking_http_call.rs
  crates/ruff_linter/src/rules/flake8_async/rules/blocking_open_call.rs
  crates/ruff_linter/src/rules/flake8_async/rules/blocking_os_call.rs
  crates/ruff_linter/src/rules/flake8_async/rules/blocking_process_invocation.rs
  crates/ruff_linter/src/rules/flake8_async/rules/blocking_sleep.rs
  crates/ruff_linter/src/rules/flake8_async/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/sync_call.rs
  crates/ruff_linter/src/rules/flake8_async/rules/timeout_without_await.rs
  crates/ruff_linter/src/rules/flake8_async/rules/unneeded_sleep.rs
  crates/ruff_linter/src/rules/flake8_async/rules/zero_sleep_call.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC100_ASYNC100.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC101_ASYNC101.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC102_ASYNC102.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC105_ASYNC105.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC109_ASYNC109.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC110_ASYNC110.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC115_ASYNC115.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC210_ASYNC210.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC220_ASYNC22x.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC221_ASYNC22x.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC222_ASYNC22x.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC230_ASYNC230.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC251_ASYNC251.py.snap
  crates/ruff_linter/src/rules/flake8_trio/mod.rs
  crates/ruff_linter/src/rules/flake8_trio/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_trio/snapshots/ruff_linter__rules__flake8_trio__tests__TRIO100_TRIO100.py.snap
  crates/ruff_linter/src/rules/flake8_trio/snapshots/ruff_linter__rules__flake8_trio__tests__TRIO109_TRIO109.py.snap
  crates/ruff_linter/src/rules/flake8_trio/snapshots/ruff_linter__rules__flake8_trio__tests__TRIO110_TRIO110.py.snap
  crates/ruff_linter/src/rules/mod.rs
  docs/faq.md
  ruff.schema.json
Labels: breaking, configuration
