Repository astral-sh/ruff, pull requests merged in 2024-11, with the labels that each got.

#14010 Fix server panic when undoing an edit
  crates/ruff_server/src/edit/text_document.rs
Labels: bug, server

#14005 Fix formatting of single with-item with trailing comment
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/with.py
  crates/ruff_python_formatter/src/other/with_item.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/statement/stmt_with.rs
  crates/ruff_python_formatter/tests/snapshots/format@statement__with.py.snap
Labels: formatter, preview

#14033 Use named function in incremental red knot benchmark
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#14038 Fix typo for static method decorator
  crates/ruff_linter/src/rules/flake8_unused_arguments/rules/unused_arguments.rs
Labels: documentation

#14039 Bump version to 0.7.2
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#14041 Doc: markdown link fix
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mutable_contextvar_default.rs
Labels: documentation

#14042 Switch to `uv publish`
  .github/workflows/publish-pypi.yml
Labels: release

#14034 Give non-existent files a durability of at least Medium
  crates/ruff_db/src/files.rs
Labels: red-knot

#14040 [docs] Add rule short code to mkdocs tags
  scripts/generate_mkdocs.py
Labels: documentation

#14048 [red-knot] Infer type of if-expression if test has statically known truthiness
  crates/red_knot_python_semantic/resources/mdtest/expression/if.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14045 Handle unions in augmented assignments
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14053 [`pyupgrade`] - ignore kwarg unpacking for `UP044`
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP044.py
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep646_unpack.rs
Labels: bug

#12809 Avoid parsing joint rule codes as distinct codes in `# noqa`
  crates/ruff_linter/resources/test/fixtures/ruff/RUF100_3.py
  crates/ruff_linter/src/noqa.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__ruf100_3.snap
  crates/ruff_linter/src/snapshots/ruff_linter__noqa__tests__noqa_empty_comma.snap
  crates/ruff_linter/src/snapshots/ruff_linter__noqa__tests__noqa_empty_comma_space.snap
  crates/ruff_linter/src/snapshots/ruff_linter__noqa__tests__noqa_squashed_codes.snap
Labels: bug, suppression

#14057 Remove `HashableExpr` abstraction
  crates/ruff_linter/src/rules/pylint/rules/repeated_equality_comparison.rs
  crates/ruff_python_ast/src/hashable.rs
  crates/ruff_python_ast/src/lib.rs
Labels: internal

#14060 Fix preview link references in 2 rule docs
  crates/ruff_linter/src/rules/flake8_simplify/rules/key_in_dict.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/ambiguous_variable_name.rs
Labels: documentation

#14059 [`flake8-pyi`] - include all python file types for `PYI006` and `PYI066`
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI006.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/bad_version_info_comparison.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI006_PYI006.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI006_PYI006.pyi.snap
Labels: rule, preview

#14061 [`ruff`] - fix false positive for decorators (`RUF028`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF028.py
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
Labels: bug, rule

#13928 Disallow single-line implicit concatenated strings
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/string.py
  crates/ruff_python_formatter/src/statement/stmt_assign.rs
  crates/ruff_python_formatter/src/string/implicit.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__long_strings_flag_disabled.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_long_strings__regression.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__string.py.snap
Labels: formatter, preview, style

#14063 Respect hash-equivalent literals in `iteration-over-set`
  crates/ruff_linter/resources/test/fixtures/pylint/iteration_over_set.py
  crates/ruff_linter/src/rules/pylint/rules/iteration_over_set.rs
  crates/ruff_python_ast/src/comparable.rs
Labels: bug

#14067 Fix wrong-size header in `open-file-with-context-handler`
  crates/ruff_linter/src/rules/flake8_simplify/rules/open_file_with_context_handler.rs
Labels: documentation

#13971 Add links to missing related options within rule documentations
  crates/ruff/tests/snapshots/integration_test__rule_f401.snap
  crates/ruff_linter/src/message/snapshots/ruff_linter__message__sarif__tests__results.snap
  crates/ruff_linter/src/rules/flake8_bandit/rules/hardcoded_tmp_directory.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/typing_only_runtime_import.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/multi_line_summary_start.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/non_imperative_mood.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_import.rs
  crates/ruff_linter/src/rules/pylint/rules/magic_value_comparison.rs
  crates/ruff_linter/src/rules/ruff/rules/incorrectly_parenthesized_tuple_in_subscript.rs
Labels: documentation

#14066 Allow `open` without context manager in `return` statement
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM115.py
  crates/ruff_linter/src/rules/flake8_simplify/rules/open_file_with_context_handler.rs
Labels: bug

#14065 Detect items that hash to same value in duplicate dictionaries
  crates/ruff_linter/resources/test/fixtures/pyflakes/F601.py
  crates/ruff_linter/src/rules/pyflakes/rules/repeated_keys.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F601_F601.py.snap
Labels: rule

#14068 Improve some rule messages and docs
  crates/ruff_linter/src/rules/ruff/rules/decimal_from_float_literal.rs
  crates/ruff_linter/src/rules/ruff/rules/incorrectly_parenthesized_tuple_in_subscript.rs
  crates/ruff_linter/src/rules/ruff/rules/useless_if_else.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF031_RUF031.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF032_RUF032.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF034_RUF034.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__no_remove_parentheses_starred_expr_py310.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__prefer_parentheses_getitem_tuple.snap
Labels: documentation

#14069 [`eradicate`] ignore `# language=` in commented-out-code rule (ERA001)
  crates/ruff_linter/src/rules/eradicate/detection.rs
Labels: bug

#13979 Cached inference of all definitions in an unpacking
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
  crates/red_knot_python_semantic/src/unpack.rs
Labels: red-knot

#14024 [red-knot] Remove `Type::None`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14027 [red-knot] Add MRO resolution for classes (take 2)
  Cargo.lock
  Cargo.toml
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/mro.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#14091 [red-knot] Do not panic when encountering string annotations
  crates/red_knot_python_semantic/resources/mdtest/annotations/string_annotations.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14092 Avoid cloning `Name` when looking up function and class types
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_python_ast/Cargo.toml
  crates/ruff_python_ast/src/name.rs
Labels: internal, red-knot

#14095 Re-enable clippy `useless-format`
  crates/ruff_linter/src/rules/flake8_bugbear/rules/return_in_generator.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unnecessary_literal_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unnecessary_type_union.rs
  crates/ruff_linter/src/rules/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/errors.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/backslashes.rs
Labels: internal

#14097 Also remove trailing comma while fixing C409 and C419
  crates/ruff_linter/src/rules/flake8_comprehensions/fixes.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C419_C419.py.snap
Labels: bug, fixes

#14037 [red-knot] Implement type narrowing for boolean conditionals
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals_boolean.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#13874 [red-knot] Literal special form
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/membership_test.md
  crates/red_knot_python_semantic/resources/mdtest/literal/literal.md
  crates/red_knot_python_semantic/resources/mdtest/unary/instance.md
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14087 Remove AST-node dependency from `FunctionType` and `ClassType`
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/expression.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/unpack.rs
Labels: red-knot

#14104 `types.rs`: remove unused `is_stdlib_symbol` methods
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14107 fix double inference of standalone expressions
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14109 [red-knot] Precise inference for identity checks
  crates/red_knot_python_semantic/resources/mdtest/comparison/identity_tests.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13909 Fix: Recover boolean test flag after visiting subexpressions
  crates/ruff_linter/src/checkers/ast/mod.rs
Labels: internal

#14108 [red-knot] Introduce a new `ClassLiteralType` struct
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14101 Remove `unpack` field from `SemanticIndexBuilder`
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
Labels: red-knot

#14121 Use "Ruff" instead of "uv" for `src` setting docs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation

#14126 Add mdtest support for files with invalid syntax
  .pre-commit-config.yaml
  Cargo.lock
  crates/red_knot_python_semantic/resources/mdtest/exception/invalid_exception_syntax.md
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/src/diagnostic.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/matcher.rs
Labels: testing, red-knot

#14125 Fix duplicate unpack diagnostics
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14094 [`eradicate`] Better detection of IntelliJ language injection comments (`ERA001`)
  crates/ruff_linter/src/rules/eradicate/detection.rs
Labels: rule

#14120 Add support for resolving metaclasses
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14142 [red-knot] a few metaclass cleanups
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14144 [`flake8-builtins`] Skip lambda expressions in `builtin-argument-shadowing (A002)`
  crates/ruff_linter/resources/test/fixtures/flake8_builtins/A002.py
  crates/ruff_linter/resources/test/fixtures/flake8_builtins/A006.py
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_argument_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A002_A002.py.snap
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A002_A002.py_builtins_ignorelist.snap
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A006_A006.py.snap
Labels: bug

#14146 Update known dunder methods for Python 3.13
  crates/ruff_linter/src/rules/pylint/helpers.rs
Labels: bug, python313

#14105 [`refurb`] Implement `subclass-builtin` (`FURB189`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB189.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/subclass_builtin.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB189_FURB189.py.snap
  ruff.schema.json
Labels: rule, preview

#14150 [`flake8-pyi`] Add autofix for `docstring-in-stub` (`PYI021`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI021.pyi
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/docstring_in_stubs.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI021_PYI021.pyi.snap
Labels: rule, fixes

#14128 [red-knot] Add narrowing for `issubclass` checks
  crates/red_knot_python_semantic/resources/mdtest/narrow/issubclass.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14154 [red-knot] Cleanup handling of `InstanceType`s in a couple of places
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14156 Upgrade locked dependencies for the `fuzz-parser` script
  scripts/fuzz-parser/requirements.txt
Labels: ci

#14158 [`pyflakes`] Typo in docs for `if-tuple` (`F634`)
  crates/ruff_linter/src/rules/pyflakes/rules/if_tuple.rs
Labels: documentation

#14159 Use Python 3.12 for `fuzz-parser` in CI
  .github/workflows/ci.yaml
Labels: ci

#14137 [red-knot] Improve `Symbol` API for callable types
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for_loop.md
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14138 [red-knot] Type inference for comparisons involving intersection types
  crates/red_knot_python_semantic/resources/mdtest/comparison/intersections.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14165 [`flake8-logging-format`] Fix invalid formatting value in docs of `logging-extra-attr-clash` (`G101`)
  crates/ruff_linter/src/rules/flake8_logging_format/violations.rs
Labels: documentation

#14155 [red-knot] Add a new `Type::KnownInstanceType` variant
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14177 [red-knot] Minor: fix `Literal[True] <: int`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14188 [`flake8-pyi`] Add a fix for `duplicate-literal-member`
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_literal_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI062_PYI062.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI062_PYI062.pyi.snap
Labels: fixes

#14180 Docs: tweak rules documentation
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/suspicious_imports.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/tarfile_unsafe_members.rs
  crates/ruff_linter/src/rules/flake8_blind_except/rules/blind_except.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/abstract_base_class.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/f_string_docstring.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/function_uses_loop_variable.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/no_explicit_stacklevel.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/useless_contextlib_suppress.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_dict_comprehension_for_iterable.rs
  crates/ruff_linter/src/rules/flake8_gettext/rules/f_string_in_gettext_func_call.rs
  crates/ruff_linter/src/rules/flake8_gettext/rules/format_in_gettext_func_call.rs
  crates/ruff_linter/src/rules/flake8_gettext/rules/printf_in_gettext_func_call.rs
  crates/ruff_linter/src/rules/flake8_no_pep420/rules/implicit_namespace_package.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/complex_if_statement_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_empty_stub_body.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/pass_statement_stub_body.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/quoted_annotation_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unrecognized_platform.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unrecognized_version_info.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/fixture.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/patch.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/empty_type_checking_block.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/runtime_import_in_type_checking_block.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/runtime_string_union.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/typing_only_runtime_import.rs
  crates/ruff_linter/src/rules/flake8_unused_arguments/rules/unused_arguments.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getatime.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getctime.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getmtime.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getsize.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/violations.rs
  crates/ruff_linter/src/rules/pandas_vet/rules/inplace_argument.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_acronym.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/blank_lines.rs
  crates/ruff_linter/src/rules/pyflakes/rules/f_string_missing_placeholders.rs
  crates/ruff_linter/src/rules/pyflakes/rules/forward_annotation_syntax_error.rs
  crates/ruff_linter/src/rules/pyflakes/rules/starred_expressions.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_annotation.rs
  crates/ruff_linter/src/rules/pylint/rules/await_outside_async.rs
  crates/ruff_linter/src/rules/pylint/rules/bidirectional_unicode.rs
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/rules/import_private_name.rs
  crates/ruff_linter/src/rules/pylint/rules/import_self.rs
  crates/ruff_linter/src/rules/pylint/rules/load_before_global_declaration.rs
  crates/ruff_linter/src/rules/pylint/rules/no_self_use.rs
  crates/ruff_linter/src/rules/pylint/rules/nonlocal_without_binding.rs
  crates/ruff_linter/src/rules/pylint/rules/type_name_incorrect_variance.rs
  crates/ruff_linter/src/rules/pylint/rules/useless_import_alias.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/quoted_annotation.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/unnecessary_default_type_args.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/useless_metaclass_type.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/useless_object_inheritance.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/yield_in_for_loop.rs
Labels: documentation

#14196 [red-knot] Fix `is_assignable_to` for unions
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14195 [red-knot] Fix intersection simplification for `~Any`/`~Unknown`
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#14197 Bump version to 0.7.3
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#14174 [red-knot] Improve error message for metaclass conflict
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14210 [red-knot] Fix `is_disjoint_from` for class literals
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14182 [red-knot] infer types for PEP695 typevars
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_workspace/resources/test/corpus/27_func_generic_constraint.py
Labels: red-knot

#14207 [red-knot] Consolidate detection of cyclically defined classes
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14209 [`refurb`] Use `UserString` instead of non-existent `UserStr`
  crates/ruff_linter/src/rules/refurb/rules/subclass_builtin.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB189_FURB189.py.snap
Labels: bug

#14218 Fix miscellaneous issues in `await-outside-async detection`
  crates/ruff_linter/resources/test/fixtures/pylint/await_outside_async.py
  crates/ruff_linter/src/checkers/ast/analyze/comprehension.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/await_outside_async.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE1142_await_outside_async.py.snap
  crates/ruff_python_semantic/src/scope.rs
Labels: bug

#14216 [`refurb`] Further special cases added to `verbose-decimal-constructor (FURB157)`
  crates/ruff_linter/resources/test/fixtures/refurb/FURB157.py
  crates/ruff_linter/src/rules/refurb/rules/verbose_decimal_constructor.rs
Labels: bug

#14215 [red-knot] Add `Type` constructors for `Instance`, `ClassLiteral` and `SubclassOf` variants
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14181 [`ruff`] Do not report when `Optional` has no type arguments (`RUF013`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF013_4.py
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF013_RUF013_4.py.snap
  crates/ruff_linter/src/rules/ruff/typing.rs
Labels: bug

#14227 [red-knot] More `Type` constructors
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#14230 Avoid using `typing.Self` in stub files pre-Python 3.11
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
Labels: bug

#14233 [`refurb`] Avoid triggering `hardcoded-string-charset` for reordered sets
  crates/ruff_linter/resources/test/fixtures/refurb/FURB156.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/refurb/rules/hardcoded_string_charset.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB156_FURB156.py.snap
Labels: bug

#14234 Avoid applying PEP 646 rewrites in invalid contexts
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP044.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep646_unpack.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__unpack_pep_646_py311.snap
Labels: bug

#14236 Detect empty implicit namespace packages
  bar/baz.py
  crates/ruff/src/cache.rs
  crates/ruff/src/commands/analyze_graph.rs
  crates/ruff/src/commands/check.rs
  crates/ruff/src/commands/check_stdin.rs
  crates/ruff/src/commands/format.rs
  crates/ruff/src/diagnostics.rs
  crates/ruff/tests/lint.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/checkers/filesystem.rs
  crates/ruff_linter/src/checkers/imports.rs
  crates/ruff_linter/src/lib.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/package.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_module_shadowing.rs
  crates/ruff_linter/src/rules/flake8_no_pep420/mod.rs
  crates/ruff_linter/src/rules/flake8_no_pep420/rules/implicit_namespace_package.rs
  crates/ruff_linter/src/rules/isort/categorize.rs
  crates/ruff_linter/src/rules/isort/mod.rs
  crates/ruff_linter/src/rules/isort/rules/organize_imports.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_module_name.rs
  crates/ruff_linter/src/rules/pylint/rules/import_private_name.rs
  crates/ruff_linter/src/test.rs
  crates/ruff_server/src/fix.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_workspace/src/resolver.rs
Labels: bug, preview

#14232 [red-knot] follow-ups to typevar types
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
Labels: red-knot

#14203 FBT001: exclude boolean operators
  crates/ruff_linter/resources/test/fixtures/flake8_boolean_trap/FBT.py
  crates/ruff_linter/src/rules/flake8_boolean_trap/helpers.rs
  crates/ruff_linter/src/rules/flake8_boolean_trap/rules/boolean_type_hint_positional_argument.rs
Labels: rule

#14241 Implement `shallow-copy-environ / W1507`
  crates/ruff_linter/resources/test/fixtures/pylint/shallow_copy_environ.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/shallow_copy_environ.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW1507_shallow_copy_environ.py.snap
  crates/ruff_python_semantic/src/model.rs
  ruff.schema.json
Labels: rule, preview

#14255 Detect permutations in redundant open modes
  Cargo.lock
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP015.py
  crates/ruff_linter/src/rules/pylint/rules/bad_open_mode.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/redundant_open_modes.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP015.py.snap
  crates/ruff_python_stdlib/Cargo.toml
  crates/ruff_python_stdlib/src/lib.rs
  crates/ruff_python_stdlib/src/open_mode.rs
Labels: bug

#14264 [red-knot] is_disjoint_from: tests for function/module literals
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14265 Use bitshift consistently for bitflag definitions
  crates/ruff/src/printer.rs
  crates/ruff_linter/src/directives.rs
  crates/ruff_linter/src/message/text.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/ambiguous_unicode_character.rs
  crates/ruff_python_literal/src/cformat.rs
  crates/ruff_python_semantic/src/binding.rs
  crates/ruff_python_stdlib/src/open_mode.rs
Labels: internal

#14266 Add "Notebook behavior" section for `F704`, `PLE1142`
  crates/ruff_linter/src/rules/pyflakes/rules/yield_outside_function.rs
  crates/ruff_linter/src/rules/pylint/rules/await_outside_async.rs
Labels: documentation

#14213 [red-knot] Improve mdtest output
  crates/red_knot_python_semantic/tests/mdtest.rs
  crates/red_knot_test/src/lib.rs
Labels: red-knot

#13919 [`perflint`] implement quick-fix for `manual-list-comprehension` (`PERF401`)
  crates/ruff_linter/resources/test/fixtures/perflint/PERF401.py
  crates/ruff_linter/src/rules/perflint/mod.rs
  crates/ruff_linter/src/rules/perflint/rules/manual_list_comprehension.rs
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__PERF401_PERF401.py.snap
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__preview__PERF401_PERF401.py.snap
Labels: fixes, preview

#14267 [red-knot] Shorten the paths for some mdtest files
  .pre-commit-config.yaml
  crates/red_knot_python_semantic/resources/mdtest/annotations/starred.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/string.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/identity.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_bool_returns.md
  crates/red_knot_python_semantic/resources/mdtest/exception/invalid_syntax.md
  crates/red_knot_python_semantic/resources/mdtest/loops/async_for.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/elif_else.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/nested.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/not_eq.md
  crates/red_knot_python_semantic/resources/mdtest/with/async.md
  crates/red_knot_python_semantic/resources/mdtest/with/sync.md
Labels: red-knot

#14269 [red-knot] Cleanup some `KnownClass` APIs
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14268 [`flake8-pyi`] Mark fix as unsafe when type annotation contains comments for `duplicate-literal-member` (`PYI062`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI062.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI062.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_literal_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI062_PYI062.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI062_PYI062.pyi.snap
Labels: rule, fixes

#14275 Minor refactoring of some flake-pyi rules
  crates/ruff_linter/src/rules/flake8_pyi/rules/future_annotations_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/suppressible_exception.rs
  crates/ruff_linter/src/rules/ruff/rules/never_union.rs
Labels: internal

#14244 [red-knot] Infer `Literal` types from comparisons with `sys.version_info`
  crates/red_knot_python_semantic/resources/mdtest/sys_version_info.md
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14276 [red-knot] Symbol API improvements, part 2
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14224 [flake8-markupsafe] Adds Implementation for MS001 via RUF035
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/resources/test/fixtures/ruff/RUF035.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF035_extend_markup_names.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF035_skip_early_out.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unsafe_markup_use.rs
  crates/ruff_linter/src/rules/ruff/settings.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__extend_allow_callables__RUF035_RUF035_extend_markup_names.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__extend_allow_callables__RUF035_RUF035_skip_early_out.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF035_RUF035.py.snap
  crates/ruff_python_semantic/src/model.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: rule, preview

#14281 [red-knot] Diagnostic for possibly unbound imports
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/issubclass.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14284 [red-knot] Review remaining 'possibly unbound' call sites
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/expression/attribute.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14263 [`flake8-simplify`] Infer "unknown" truthiness for literal iterables whose items are all unpacks (`SIM222`)
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM222.py
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM222_SIM222.py.snap
  crates/ruff_python_ast/src/helpers.rs
Labels: bug

#14238 [`flake8-pyi`] Add "replace with `Self`" fix (`PYI019`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI019.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI019.pyi
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__custom_classmethod_rules_preview.snap
Labels: fixes, preview

#14296 [red-knot] Add tests for member lookup on union types
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14299 Remove extraneous `baz.py` file
  bar/baz.py
Labels: internal

#14298 Fix `pytest-raises-too-broad (PT011)` to flag `pytest.raises` call with keyword `expected_exception`
  crates/ruff_linter/resources/test/fixtures/flake8_pytest_style/PT011.py
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/raises.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT011_default.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT011_extend_broad_exceptions.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT011_glob_all.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT011_glob_prefix.snap
Labels: bug

#14272 [`flake8-pyi`] Improve autofix for nested and mixed type unions `unnecessary-type-union` (`PYI055`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI055.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI055.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/unnecessary_type_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI055_PYI055.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI055_PYI055.pyi.snap
Labels: rule, fixes

#14288 [`flake8-datetimez`] Usages of `datetime.max`/`datetime.min` (`DTZ901`)
  crates/ruff_linter/resources/test/fixtures/flake8_datetimez/DTZ901.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_datetimez/mod.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/datetime_min_max.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/helpers.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_datetimez/snapshots/ruff_linter__rules__flake8_datetimez__tests__DTZ901_DTZ901.py.snap
  ruff.schema.json
Labels: rule, preview

#14306 [red-knot] Fix assertion for invalid match pattern
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/resources/test/corpus/85_match_invalid.py
Labels: red-knot

#14302 [`flake8-logging`] Root logger calls (`LOG015`)
  crates/ruff_linter/resources/test/fixtures/flake8_logging/LOG015.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_logging/mod.rs
  crates/ruff_linter/src/rules/flake8_logging/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_logging/rules/root_logger_call.rs
  crates/ruff_linter/src/rules/flake8_logging/snapshots/ruff_linter__rules__flake8_logging__tests__LOG015_LOG015.py.snap
  ruff.schema.json
Labels: rule, preview

#14300 Document comment policy around fix safety
  crates/ruff_diagnostics/src/fix.rs
  docs/linter.md
Labels: documentation

#14317 [red-knot] Use memory address as AST node key
  crates/red_knot_python_semantic/src/node_key.rs
  crates/red_knot_workspace/resources/test/corpus/10_if_invalid.py
  crates/red_knot_workspace/resources/test/corpus/16_for_invalid.py
Labels: red-knot

#14303 [red-knot] simplify type lookup in function/class definitions
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14312 [red-knot] Avoid panic for generic type aliases
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/resources/test/corpus/89_type_alias.py
Labels: red-knot

#14270 [`flake8-pyi`] Always autofix `duplicate-union-members` (`PYI016`)
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_union_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI016_PYI016.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI016_PYI016.pyi.snap
Labels: rule, fixes

#14318 Remove unused flags and functions from the semantic model
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/helpers.rs
  crates/ruff_linter/src/rules/pylint/rules/import_private_name.rs
  crates/ruff_python_semantic/src/model.rs
  crates/ruff_python_semantic/src/reference.rs
Labels: internal, linter

#14325 [red-knot] Handle invalid assignment targets
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/resources/test/corpus/04_assign_invalid_target.py
  crates/red_knot_workspace/resources/test/corpus/04_assign_named_expr_invalid_target.py
  crates/red_knot_workspace/resources/test/corpus/04_aug_assign_invalid_target.py
  crates/red_knot_workspace/resources/test/corpus/98_ann_assign_invalid_target.py
Labels: red-knot

#14326 [red-knot] Avoid panics for ipython magic commands
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/resources/test/corpus/83_jupyter_notebook_ipython_magic.ipynb
Labels: red-knot

#14335 Improve docs for ALE plugin for vim
  docs/editors/setup.md
Labels: documentation

#14327 [`ruff`] Also report problems for `attrs` dataclasses in preview mode (`RUF008`, `RUF009`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF008_attrs.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF009_attrs.py
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/function_call_in_dataclass_default.rs
  crates/ruff_linter/src/rules/ruff/rules/helpers.rs
  crates/ruff_linter/src/rules/ruff/rules/mutable_class_default.rs
  crates/ruff_linter/src/rules/ruff/rules/mutable_dataclass_default.rs
  crates/ruff_linter/src/rules/ruff/rules/post_init_default.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF009_RUF009.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF008_RUF008_attrs.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF009_RUF009_attrs.py.snap
  crates/ruff_python_semantic/src/model.rs
Labels: rule, preview

#14314 [`ruff`] Implement `none-not-at-end-of-union` (`RUF036`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF036.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF036.pyi
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/none_not_at_end_of_union.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF036_RUF036.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF036_RUF036.pyi.snap
  ruff.schema.json
Labels: rule, preview

#14343 Avoid module lookup for known classes when possible
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14287 enforce required imports even with useless alias
  crates/ruff_linter/resources/test/fixtures/isort/required_imports/this_this.py
  crates/ruff_linter/resources/test/fixtures/isort/required_imports/this_this_from.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/isort/mod.rs
  crates/ruff_linter/src/rules/isort/settings.rs
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_useless_alias_this_this.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_importfrom_with_useless_alias_this_this_from.py.snap
  crates/ruff_linter/src/rules/pylint/rules/useless_import_alias.rs
Labels: bug, fixes

#14304 [red-knot] function signature representation
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#14151 [red-knot] Add support for string annotations
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/resources/mdtest/annotations/string.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/string_annotation.rs
Labels: red-knot

#14351 [red-knot] Display raw characters for string literal
  crates/red_knot_python_semantic/src/types/display.rs
Labels: red-knot

#14352 Use CWD to resolve settings from `ruff.configuration`
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: bug, server

#14285 [`flake8-type-checking`] Skip quoting annotation if it becomes invalid syntax (`TCH001`)
  crates/ruff_linter/resources/test/fixtures/flake8_type_checking/quote3.py
  crates/ruff_linter/src/rules/flake8_type_checking/helpers.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__quote_typing-only-third-party-import_quote.py.snap
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__quote_typing-only-third-party-import_quote2.py.snap
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__quote_typing-only-third-party-import_quote3.py.snap
Labels: bug

#14358 Bump version to 0.7.4
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#14356 [red-knot] Mark LoggingGuard as `must_use`
  crates/ruff_db/src/testing.rs
Labels: internal, red-knot

#14360 [red-knot] Expand test corpus
  Cargo.lock
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_db/src/system/path.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#14363 Remove the optional salsa dependency from the AST crate
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_python_ast/Cargo.toml
  crates/ruff_python_ast/src/name.rs
Labels: red-knot

#14308 Workspace discovery
  .editorconfig
  Cargo.lock
  Cargo.toml
  _typos.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/python_version.rs
  crates/red_knot_python_semantic/src/site_packages.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_server/src/system.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/db/changes.rs
  crates/red_knot_workspace/src/watch/workspace_watcher.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/red_knot_workspace/src/workspace/files.rs
  crates/red_knot_workspace/src/workspace/metadata.rs
  crates/red_knot_workspace/src/workspace/pyproject.rs
  crates/red_knot_workspace/src/workspace/pyproject/package_name.rs
  crates/red_knot_workspace/src/workspace/settings.rs
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_file.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_hidden_folder.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__package_without_pyproject.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__single_package.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_excluded.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_members.snap
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/path.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#14364 Fix file watcher panic when event has no paths
  crates/red_knot_workspace/src/watch/watcher.rs
Labels: red-knot

#14379 [red-knot] Simplify some traits in `ast_ids.rs`
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: internal, red-knot

#14371 [`flake8-type-checking`] Fix helper function which surrounds annotations in quotes
  crates/ruff_linter/src/rules/flake8_type_checking/helpers.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__quote_typing-only-third-party-import_quote3.py.snap
Labels: bug

#14382 [ruff 0.8] Remove deprecated rule UP027
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP027.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/unpacked_list_comprehension.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP027.py.snap
  ruff.schema.json
Labels: rule, breaking

#14273 [`flake8-pyi`] Implement autofix for `redundant-numeric-union` (`PYI041`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI041.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI041.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_literal_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unnecessary_type_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI041_PYI041.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI041_PYI041.pyi.snap
Labels: fixes, preview

#14316 [`flake8-pyi`] Implement `redundant-none-literal` (`PYI061`)
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI061.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI061.pyi
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_none_literal.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI061_PYI061.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI061_PYI061.pyi.snap
  ruff.schema.json
Labels: rule, preview

#14381 [`pydoclint`] Update diagnostics to target the docstring
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-exception_DOC502_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-exception_DOC502_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-returns_DOC202_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-returns_DOC202_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-yields_DOC403_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-yields_DOC403_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-yields_DOC402_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-yields_DOC402_numpy.py.snap
Labels: docstring, preview

#14367 Split the corpus tests into smaller tests
  crates/red_knot_workspace/tests/check.rs
Labels: testing, red-knot

#14386 [red-knot] Remove duplicates from KNOWN_FAILURES
  crates/red_knot_workspace/tests/check.rs
Labels: internal, red-knot

#14319 [`ruff`] Implement `redundant-bool-literal` (`RUF038`)
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_linter/resources/test/fixtures/ruff/RUF038.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF038.pyi
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/redundant_bool_literal.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF038_RUF038.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF038_RUF038.pyi.snap
  ruff.schema.json
Labels: rule, preview

#14392 [`flake8-logging`] Suggest `.getLogger(__name__)` instead of `.getLogger(__file__)` (`LOG015`)
  crates/ruff_linter/src/rules/flake8_logging/rules/root_logger_call.rs
Labels: documentation

#14329 Improve rule & options documentation
  crates/ruff_linter/src/rules/flake8_bandit/rules/hardcoded_tmp_directory.rs
  crates/ruff_linter/src/rules/flake8_commas/rules/trailing_commas.rs
  crates/ruff_linter/src/rules/flake8_implicit_str_concat/rules/implicit.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/indentation.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation

#14400 Fix Red Knot benchmarks on Windows
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#14397 Understand `typing.Optional` in annotations
  crates/red_knot_python_semantic/resources/mdtest/annotations/optional.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14402 Avoid panic in unfixable `redundant-numeric-union`
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_union_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
Labels: bug, fuzzer

#14394 [`flake8-datetimez`] Also exempt `.time()` (`DTZ901`)
  crates/ruff_linter/resources/test/fixtures/flake8_datetimez/DTZ901.py
  crates/ruff_linter/src/rules/flake8_datetimez/rules/datetime_min_max.rs
  crates/ruff_linter/src/rules/flake8_datetimez/snapshots/ruff_linter__rules__flake8_datetimez__tests__DTZ901_DTZ901.py.snap
Labels: bug

#14393 [`flake8-pie`] Mark fix as unsafe if the following statement is a string literal (`PIE790`)
  crates/ruff_linter/resources/test/fixtures/flake8_pie/PIE790.py
  crates/ruff_linter/src/fix/edits.rs
  crates/ruff_linter/src/rules/flake8_pie/rules/unnecessary_placeholder.rs
  crates/ruff_linter/src/rules/flake8_pie/snapshots/ruff_linter__rules__flake8_pie__tests__PIE790_PIE790.py.snap
Labels: fixes

#14420 Drive by typo fix
  crates/red_knot_python_semantic/src/types.rs
Labels: documentation

#14425 Simplify quote annotator logic for list expression
  crates/ruff_linter/src/rules/flake8_type_checking/helpers.rs
Labels: internal

#14429 [red-knot] Default to python 3.9
  crates/red_knot_python_semantic/resources/mdtest/sys_version_info.md
  crates/red_knot_python_semantic/src/python_version.rs
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_file.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_hidden_folder.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__package_without_pyproject.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__single_package.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_excluded.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_members.snap
Labels: red-knot
