Repository astral-sh/ruff, pull requests merged in 2024-12, with the labels that each got.

#14725 Sort discovered workspace packages for consistent cross-platform package discovery
  crates/red_knot_workspace/src/workspace/metadata.rs
Labels: testing, red-knot

#14726 Revert: [pyflakes] Avoid false positives in `@no_type_check` contexts (F821, F722) (#14615)
  crates/ruff_linter/resources/test/fixtures/pyflakes/F722.py
  crates/ruff_linter/resources/test/fixtures/pyflakes/F722_1.py
  crates/ruff_linter/resources/test/fixtures/pyflakes/F821_30.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F722_F722.py.snap
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F722_F722_1.py.snap
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F821_F821_30.py.snap
  crates/ruff_python_semantic/src/model.rs
Labels: bug

#14736 [red-knot] Re-enable linter corpus tests
  crates/red_knot_workspace/tests/check.rs
Labels: red-knot

#14596 [`refurb`] Handle non-finite decimals in `verbose-decimal-constructor (FURB157)`
  crates/ruff_linter/resources/test/fixtures/refurb/FURB157.py
  crates/ruff_linter/src/rules/refurb/rules/verbose_decimal_constructor.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB157_FURB157.py.snap
Labels: bug

#14668 red-knot: support narrowing for bool(E)
  crates/red_knot_python_semantic/resources/mdtest/narrow/bool-call.md
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14649 [red-knot] Deeper understanding of `LiteralString`
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#14745 [`flake8-import-conventions`] Improve syntax check for aliases supplied in configuration for `unconventional-import-alias (ICN001)`
  crates/ruff/tests/lint.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: bug, configuration

#14744 [red-knot] Simplify tuples containing `Never`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#14611 [`ruff`] Implemented `used-dummy-variable` (`RUF052`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF052.py
  crates/ruff_linter/src/checkers/ast/analyze/bindings.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/used_dummy_variable.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_2.snap
  crates/ruff_python_semantic/src/model.rs
  crates/ruff_python_stdlib/src/keyword.rs
  ruff.schema.json
Labels: rule, preview

#14741 Improve docs for flake8-use-pathlib rules
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/glob_rule.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getatime.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getctime.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getmtime.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_path_getsize.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/os_sep_split.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/violations.rs
Labels: documentation

#14178 [red-knot] Property tests
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#14755 Minor followups to RUF052
  crates/ruff_linter/resources/test/fixtures/ruff/RUF052.py
  crates/ruff_linter/src/rules/ruff/rules/used_dummy_variable.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_2.snap
Labels: internal

#14679 [`ruff`] Extend unnecessary-regular-expression to non-literal strings (`RUF055`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF055_0.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF055_1.py
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_regular_expression.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF055_RUF055.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF055_RUF055_0.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF055_RUF055_1.py.snap
Labels: rule, preview

#14734 [airflow]: extend removed names (AIR302)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_args.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#14631 Check `AIR001` from builtin or providers `operators` module
  crates/ruff_linter/resources/test/fixtures/airflow/AIR001.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/airflow/rules/task_variable_name.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR001_AIR001.py.snap
Labels: rule

#14678 [red-knot] Add fuzzer to catch panics for invalid syntax
  .github/workflows/ci.yaml
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/corpus/red_knot_check_invalid_syntax
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
  fuzz/init-fuzzer.sh
Labels: red-knot

#14748 [`pycodestyle`] Handle f-strings properly for `invalid-escape-sequence (W605)`
  crates/ruff_linter/resources/test/fixtures/pycodestyle/W605_1.py
  crates/ruff_linter/src/rules/pycodestyle/rules/invalid_escape_sequence.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__W605_W605_1.py.snap
Labels: bug, fixes

#14769 [red-knot] Test: Hashable/Sized => A/B
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#14742 [red-knot] Add `typing.Any` as a spelling for the Any type
  crates/red_knot_python_semantic/resources/mdtest/annotations/any.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14770 Remove `@` in `pytest.mark.parametrize` rule messages
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/parametrize.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT006_csv.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT006_default.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT006_list.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_list_of_lists.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_list_of_tuples.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_tuple_of_lists.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT007_tuple_of_tuples.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT014.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__preview__PT006_PT006.py.snap
Labels: rule

#14758 [red-knot] Gradual forms do not participate in equivalence/subtyping
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#14775 Fix references for `async-busy-wait`
  crates/ruff_linter/src/rules/flake8_async/rules/async_busy_wait.rs
Labels: documentation

#14777 [red-knot] Unify `setup_db()` functions, add `TestDb` builder
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#14783 [red-knot] Fallback for `typing._NoDefaultType`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14697 [`ruff`] Unnecessary cast to `int` (`RUF046`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF046.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_cast_to_int.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF046_RUF046.py.snap
  crates/ruff_python_ast/src/int.rs
  ruff.schema.json
Labels: rule, preview

#14754 Add tests for "keyword as identifier" syntax errors
  crates/red_knot_python_semantic/resources/mdtest/invalid_syntax.md
Labels: red-knot

#14788 [red-knot] Move standalone expr inference to `for` non-name target
  crates/red_knot_python_semantic/resources/mdtest/invalid_syntax.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14789 Bump version to 0.8.2
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#14797 [`flake8-pyi`] Skip all type definitions in `string-or-bytes-too-long (PYI053)`
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI053.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/string_or_bytes_too_long.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI053_PYI053.pyi.snap
Labels: rule

#14803 [red-knot] Separate invalid syntax code snippets
  crates/red_knot_python_semantic/resources/mdtest/invalid_syntax.md
Labels: red-knot

#14800 docs/integrations.md: Upgrade example to astral-sh/ruff-action@v2
  docs/integrations.md
Labels: documentation

#14809 Fix infinite watch loop by ignoring 'uninteresting' watch events
  crates/ruff/src/lib.rs
Labels: bug, ci

#14785 [red-knot] Support for TOML configs in Markdown tests
  Cargo.lock
  crates/red_knot_python_semantic/resources/mdtest/mdtest_config.md
  crates/red_knot_python_semantic/resources/mdtest/sys_version_info.md
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/README.md
  crates/red_knot_test/src/config.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/parser.rs
Labels: testing, red-knot

#14795 Migrate some inference tests to mdtests
  crates/red_knot_python_semantic/resources/mdtest/assignment/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/import/errors.md
  crates/red_knot_python_semantic/resources/mdtest/import/invalid_syntax.md
  crates/red_knot_python_semantic/resources/mdtest/literal/ellipsis.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/nonlocal.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/unbound.md
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: testing, red-knot

#14804 [airflow]: extend removed names (AIR302)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#14811 Fix fstring formatting removing overlong implicit concatenated string in expression part
  crates/ruff_formatter/src/buffer.rs
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring.py
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
Labels: bug, formatter, preview

#14779 [`flake8-use-pathlib`] Dotless suffix passed to `Path.with_suffix()` (`PTH901`)
  crates/ruff_linter/resources/test/fixtures/flake8_use_pathlib/PTH210.py
  crates/ruff_linter/resources/test/fixtures/flake8_use_pathlib/PTH210_1.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/mod.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/dotless_pathlib_with_suffix.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/snapshots/ruff_linter__rules__flake8_use_pathlib__tests__PTH210_PTH210.py.snap
  crates/ruff_linter/src/rules/flake8_use_pathlib/snapshots/ruff_linter__rules__flake8_use_pathlib__tests__PTH210_PTH210_1.py.snap
  crates/ruff_python_semantic/src/analyze/typing.rs
  ruff.schema.json
Labels: rule, preview

#14814 Minor nitpicks for PTH210
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/dotless_pathlib_with_suffix.rs
Labels: internal

#14816 Further simplifications to PTH210
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/dotless_pathlib_with_suffix.rs
Labels: internal

#14817 [red-knot] Import `LiteralString`/`Never` from `typing_extensions`
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/never.md
Labels: red-knot

#14818 [`ruff`] Don't emit `used-dummy-variable` on function parameters (`RUF052`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF052.py
  crates/ruff_linter/src/rules/ruff/rules/used_dummy_variable.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_2.snap
Labels: bug, preview

#14765 [airflow]: extend removed args (AIR302)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_args.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_args.py.snap
Labels: rule, preview

#14819 [`ruff`] Teach autofix for `used-dummy-variable` about TypeVars etc. (`RUF052`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF052.py
  crates/ruff_linter/src/renamer.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_2.snap
Labels: bug, fixes, preview

#14802 [red-knot] function parameter types
  crates/red_knot_python_semantic/resources/mdtest/annotations/starred.md
  crates/red_knot_python_semantic/resources/mdtest/function/parameters.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14825 Support `type[a.X]` with qualified class names
  crates/red_knot_python_semantic/resources/mdtest/type_of/basic.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14827 [`flake8-comprehensions`] Skip iterables with named expressions in `unnecessary-map` (`C417`)
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C417.py
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_map.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C417_C417.py.snap
Labels: bug

#14829 [`flake8-bugbear`] Offer unsafe autofix for `no-explicit-stacklevel` (`B028`)
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B028.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/no_explicit_stacklevel.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B028_B028.py.snap
Labels: fixes

#14815 Improve error messages for except* (B025, B029, B030, B904) #14791
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B025.py
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B029.py
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B030.py
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B904.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/duplicate_exceptions.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/except_with_empty_tuple.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/except_with_non_exception_classes.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/raise_without_from_inside_except.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B025_B025.py.snap
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B029_B029.py.snap
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B030_B030.py.snap
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B904_B904.py.snap
Labels: diagnostics

#14841 Fix `PLW1508` false positive for default string created via a mult operation
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_envvar_default.py
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW1508_invalid_envvar_default.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__preview__PLW1508_invalid_envvar_default.py.snap
  crates/ruff_python_semantic/src/analyze/type_inference.rs
Labels: bug

#14844 Run zizmor in CI, and fix most warnings
  .github/workflows/build-binaries.yml
  .github/workflows/build-docker.yml
  .github/workflows/ci.yaml
  .github/workflows/daily_fuzz.yaml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-playground.yml
  .github/workflows/publish-wasm.yml
  .github/workflows/sync_typeshed.yaml
  .pre-commit-config.yaml
Labels: ci, security

#14843 [flake8-commas]: Make the recommended replacement actually a tuple
  crates/ruff_linter/src/rules/flake8_commas/rules/trailing_commas.rs
Labels: documentation

#14781 [`pylint`] Include parentheses and multiple comparators in check for `boolean-chained-comparison (PLR1716)`
  crates/ruff_linter/resources/test/fixtures/pylint/boolean_chained_comparison.py
  crates/ruff_linter/src/rules/pylint/rules/boolean_chained_comparison.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1716_boolean_chained_comparison.py.snap
Labels: rule, fixes, preview

#14863 Fix typos found by codespell
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/mdtest_config.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_server/src/server/api/notifications/did_change.rs
  crates/red_knot_workspace/src/workspace/metadata.rs
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S608.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC201_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC201_numpy.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF041.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF041.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_union_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unnecessary_type_union.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_numpy.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF041_RUF041.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF041_RUF041.pyi.snap
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/line_ranges_basic.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/line_ranges_basic.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep604_union_types_line_breaks.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep604_union_types_line_breaks.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/ruff/docstring_non_visible_characters.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/range_formatting/same_line_body.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/return_type_parameters.py
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__pep604_union_types_line_breaks.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@docstring_non_visible_characters.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__join_implicit_concatenated_string.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@range_formatting__same_line_body.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__return_type_parameters.py.snap
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_server/src/server/api/notifications/did_change.rs
  crates/ruff_server/src/server/api/notifications/did_open.rs
Labels: internal

#14864 Upgrade to react 19
  playground/package-lock.json
  playground/package.json
Labels: playground

#14858 [red-knot] Understanding `type[Union[A, B]]`
  crates/red_knot_python_semantic/resources/mdtest/type_of/basic.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14868 [`flake8-bugbear`] Fix `B028` to allow `stacklevel` to be explicitly assigned as a positional argument
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B028.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/no_explicit_stacklevel.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B028_B028.py.snap
Labels: bug

#14870 [`flake8-bugbear`] Skip `B028` if `warnings.warn` is called with `*args` or `**kwargs`
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B028.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/no_explicit_stacklevel.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B028_B028.py.snap
Labels: bug

#14871 [`pyupgrade`] Remove unreachable code in `UP015` implementation
  crates/ruff_linter/src/rules/pyupgrade/rules/redundant_open_modes.rs
Labels: internal

#14801 [`flake8-pyi`] Also remove `self` and `cls`'s annotation (`PYI034`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI034.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI034.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/simple_defaults.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI034_PYI034.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI034_PYI034.pyi.snap
  crates/ruff_python_semantic/src/analyze/class.rs
  crates/ruff_python_semantic/src/analyze/typing.rs
Labels: bug, fixes

#14862 Stop referring to early ruff versions
  crates/ruff_python_formatter/README.md
  docs/formatter.md
  docs/linter.md
  docs/preview.md
  docs/tutorial.md
  pyproject.toml
Labels: documentation

#14832 [`ruff`] Do not simplify `round()` calls (`RUF046`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF046.py
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_cast_to_int.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF046_RUF046.py.snap
  crates/ruff_python_semantic/src/analyze/typing.rs
Labels: rule, preview

#14880 More typos found by codespell
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/ruff_formatter/src/buffer.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_unused_path_parameter.rs
Labels: internal

#14838 [red-knot] Improve type inference for except handlers
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/exception/except_star.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14824 [`ruff`] Mark autofix for `RUF052` as always unsafe
  crates/ruff_linter/src/rules/ruff/rules/used_dummy_variable.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
Labels: fixes, preview

#14408 [`flake8-bugbear`] `itertools.batched()` without explicit `strict` (`B911`)
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B911.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_bugbear/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/batched_without_explicit_strict.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/zip_without_explicit_strict.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B911_B911.py.snap
  ruff.schema.json
Labels: rule, preview

#14884 Improve mdtests style
  crates/red_knot_python_semantic/resources/mdtest/annotations/any.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/string.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/boolean/short_circuit.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/identity.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/intersections.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/strings.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unions.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unsupported.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_expression.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
  crates/red_knot_python_semantic/resources/mdtest/declaration/error.md
  crates/red_knot_python_semantic/resources/mdtest/exception/invalid_syntax.md
  crates/red_knot_python_semantic/resources/mdtest/expression/attribute.md
  crates/red_knot_python_semantic/resources/mdtest/expression/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/expression/if.md
  crates/red_knot_python_semantic/resources/mdtest/expression/len.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
  crates/red_knot_python_semantic/resources/mdtest/loops/while_loop.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/bool-call.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/elif_else.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/nested.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/not_eq.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/issubclass.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/post_if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/type.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/variable_declaration.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/instance.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/basic.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/resources/mdtest/with/sync.md
Labels: testing, red-knot

#14887 [`airflow`] Add fix to remove deprecated keyword arguments (`AIR302`)
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_args.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: fixes, preview

#14869 [red-knot] Typed diagnostic id
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
  crates/red_knot_test/src/diagnostic.rs
  crates/red_knot_test/src/matcher.rs
  crates/red_knot_wasm/tests/api.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/diagnostic.rs
Labels: red-knot, diagnostics

#14873 [red-knot] Add infrastructure to declare lints
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/resources/mdtest/annotations/string.md
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/exception/except_star.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/resources/mdtest/mro.md
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/lint.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_macros/src/kebab_case.rs
  crates/ruff_macros/src/lib.rs
Labels: red-knot

#14897 [red-knot] Property tests: account non-fully-static types
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#14876 Handle type[Any] correctly
  crates/red_knot_python_semantic/resources/mdtest/type_of/any.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#14895 Raise syntax error for mixing `except` and `except*`
  crates/ruff_python_parser/resources/inline/err/try_stmt_mixed_except_kind.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@try_stmt_mixed_except_kind.py.snap
Labels: bug, parser

#14906 Revert disjointness->disjointedness
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14904 [red-knot] Understand `typing.Type`
  crates/red_knot_python_semantic/resources/mdtest/type_of/typing_dot_Type.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14874 [red-knot] Lint registry and rule selection
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/lint.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/lib.rs
  crates/ruff_graph/src/db.rs
Labels: red-knot

#14911 Fix fuzzer build
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: red-knot

#14912 [red-knot] Minor simplifications to `mro.rs`
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: internal, red-knot

#14914 Support `lint:<rule>` in mdtests
  crates/ruff_db/src/diagnostic.rs
Labels: red-knot

#14919 [red-knot] Record the TODO message in `ClassBase::Todo`, same as in `Type::Todo`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14920 Fix a typo in `if_key_in_dict_del.rs`
  crates/ruff_linter/src/rules/ruff/rules/if_key_in_dict_del.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF051_RUF051.py.snap
Labels: internal

#14915 [red-knot] Remove an unnecessary branch and a confusing TODO comment
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14913 [red-knot] Add failing test for use of `type[]` as a base class
  crates/red_knot_python_semantic/resources/mdtest/type_of/basic.md
Labels: red-knot

#14921 [red-knot] Precise inference for `__class__` attributes on objects of all types
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14923 [red-knot] Make `attributes.md` test future-proof
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
Labels: red-knot

#14893 Also have zizmor check for low-severity security issues
  .github/workflows/build-binaries.yml
  .github/workflows/build-docker.yml
  .github/workflows/publish-docs.yml
  .github/workflows/sync_typeshed.yaml
  .pre-commit-config.yaml
Labels: ci, security

#14369 [`perflint`] fix invalid hoist in `perf401`
  crates/ruff_linter/resources/test/fixtures/perflint/PERF401.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_for_loops.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/perflint/rules/manual_list_comprehension.rs
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__PERF401_PERF401.py.snap
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__preview__PERF401_PERF401.py.snap
Labels: bug, fixes

#14929 Add tests demonstrating f-strings with debug expressions in replacements that contain escaped characters
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring_preview.options.json
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring_preview.py
  crates/ruff_python_formatter/tests/fixtures.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring_preview.py.snap
Labels: internal

#14933 [red-knot] `Any` cannot be parameterized
  crates/red_knot_python_semantic/resources/mdtest/annotations/any.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: bug, red-knot

#14938 Use double quotes consistently for shell scripts
  .github/workflows/build-docker.yml
  .github/workflows/release.yml
Labels: release

#14939 Revert certain double quotes from workflow shell script
  .github/workflows/build-docker.yml
  .github/workflows/release.yml
Labels: release

#14918 [red-knot] Fixup a few edge cases regarding `type[]`
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14936 [red-knot] Add explicit TODO branches for many typing special forms and qualifiers
  crates/red_knot_python_semantic/resources/mdtest/annotations/stdlib_typing_aliases.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_special_forms.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_type_qualifiers.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14902 [`flake8-use-pathlib`] Extend check for invalid path suffix to include the case `"."` (`PTH210`)
  crates/ruff_linter/resources/test/fixtures/flake8_use_pathlib/PTH210.py
  crates/ruff_linter/resources/test/fixtures/flake8_use_pathlib/PTH210_1.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/mod.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/invalid_pathlib_with_suffix.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/snapshots/ruff_linter__rules__flake8_use_pathlib__tests__PTH210_PTH210.py.snap
  crates/ruff_linter/src/rules/flake8_use_pathlib/snapshots/ruff_linter__rules__flake8_use_pathlib__tests__PTH210_PTH210_1.py.snap
Labels: bug, rule, preview

#14943 ruff_python_ast: Make `Singleton` `Copy`
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_codegen/src/generator.rs
Labels: internal

#14942 [red-knot] Fixes to `Type::to_meta_type`
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/any.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/typing_dot_Type.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: red-knot

#14944 [red-knot] Tests for 'while' loop boundness
  crates/red_knot_python_semantic/resources/mdtest/loops/while_loop.md
Labels: red-knot

#14947 [red-knot] Add narrowing for 'while' loops
  crates/red_knot_python_semantic/resources/mdtest/narrow/while.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14930 Rename `custom-typeshed-dir`, `target-version` and `current-directory` CLI options
  crates/red_knot/src/main.rs
  crates/red_knot/src/python_version.rs
  crates/red_knot/src/target_version.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/never.md
  crates/red_knot_python_semantic/resources/mdtest/mdtest_config.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/sys_version_info.md
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/module_resolver/path.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/site_packages.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_test/README.md
  crates/red_knot_test/src/config.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/parser.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_wasm/tests/api.rs
  crates/red_knot_workspace/src/workspace/settings.rs
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_file.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_hidden_folder.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__package_without_pyproject.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__single_package.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_excluded.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_members.snap
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_graph/src/db.rs
Labels: red-knot

#14951 [red-knot] Improve `match` mdtests
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
Labels: red-knot

#14953 Re-enable the fuzzer job on PRs
  .github/workflows/ci.yaml
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: ci

#14764 [airflow]: Import modules that has been moved to airflow providers (AIR303)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR303.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/airflow/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR303_AIR303.py.snap
  ruff.schema.json
Labels: rule, preview

#14954 [red-knot] mdtest: python version requirements
  crates/red_knot_python_semantic/resources/mdtest/exception/except_star.md
  crates/red_knot_python_semantic/resources/mdtest/pep695_type_aliases.md
Labels: red-knot

#14957 [red-knot] Move the `ClassBase` enum to its own submodule
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
Labels: internal, red-knot

#14955 [red-knot] Display definition range in trace logs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14960 [red-knot] Alphabetize rules
  crates/red_knot_python_semantic/src/types/diagnostic.rs
Labels: red-knot

#14924 [red-knot] Make `is_subtype_of` exhaustive
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14961 [red-knot] Use `type[Unknown]` rather than `Unknown` as the fallback metaclass for invalid classes
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14965 [red-knot] Error out when an mdtest code block is unterminated
  crates/red_knot_test/src/parser.rs
Labels: testing, red-knot

#14967 [red-knot] type[] is disjoint from None, LiteralString
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#14970 [red-knot] `ClassLiteral(<T>)` is not a disjoint type from `Instance(<metaclass of T>)`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: bug, red-knot

#14972 [red-knot] Fix bugs relating to assignability of dynamic `type[]` types
  crates/red_knot_python_semantic/resources/mdtest/type_of/dynamic.md
  crates/red_knot_python_semantic/src/types.rs
Labels: bug, red-knot

#14973 [red-knot] Emit an error if a bare `Annotated` or `Literal` is used in a type expression
  crates/red_knot_python_semantic/resources/mdtest/annotations/annotated.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14964 [ruff_python_ast] Add name and default functions to TypeParam.
  crates/ruff_python_ast/src/nodes.rs
Labels: internal

#14983 Improve the documentation of E201/E202
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/extraneous_whitespace.rs
Labels: documentation

#14971 [`perflint`] Fix panic in `perf401`
  crates/ruff_linter/resources/test/fixtures/perflint/PERF401.py
  crates/ruff_linter/src/rules/perflint/rules/manual_list_comprehension.rs
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__PERF401_PERF401.py.snap
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__preview__PERF401_PERF401.py.snap
Labels: bug, fixes, preview

#14992 Pin mdformat plugins in pre-commit
  .pre-commit-config.yaml
Labels: internal, ci

#15014 Check diagnostic refresh support from client capability
  crates/ruff_server/src/session/capabilities.rs
Labels: bug, server

#14963 [`pydocstyle`] Skip leading whitespace for `D403`
  crates/ruff_linter/resources/test/fixtures/pydocstyle/D403.py
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pydocstyle/mod.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/capitalized.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D403_D403.py.snap
Labels: rule

#15020 fix: remove mdformat-admon and custom no-escape plugin
  docs/requirements-insiders.txt
  docs/requirements.txt
  scripts/_mdformat_utils.py
  scripts/generate_mkdocs.py
Labels: documentation

#15021 Add `actionlint` as a pre-commit hook (with shellcheck integration)
  .github/actionlint.yaml
  .github/workflows/build-binaries.yml
  .github/workflows/build-docker.yml
  .github/workflows/ci.yaml
  .github/workflows/daily_fuzz.yaml
  .github/workflows/pr-comment.yaml
  .github/workflows/publish-docs.yml
  .github/workflows/sync_typeshed.yaml
  .pre-commit-config.yaml
Labels: ci

#15022 Bump zizmor pre-commit hook to the latest version and fix new warnings
  .github/workflows/ci.yaml
  .github/workflows/pr-comment.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Labels: ci

#14946 Bind top-most parent when importing nested module
  crates/red_knot_python_semantic/resources/mdtest/import/basic.md
  crates/red_knot_python_semantic/resources/mdtest/import/tracking.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/basic.md
  crates/red_knot_python_semantic/src/module_name.rs
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#14958 [red-knot] Avoid undeclared path when raising conflicting declarations
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/declaration/error.md
  crates/red_knot_python_semantic/src/types.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#15015 feat(AIR302): extend the following rules
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#14998 [red-knot] Understand other legacy `typing` aliases
  crates/red_knot_python_semantic/resources/mdtest/annotations/stdlib_typing_aliases.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_special_forms.md
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15030 Fix stale File status in tests
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#15035 [red-knot] Explicitly test diagnostics are emitted for unresolvable submodule imports
  crates/red_knot_python_semantic/resources/mdtest/import/basic.md
Labels: red-knot

#14978 [`pylint`] Preserve original value format (`PLR6104`)
  crates/ruff_linter/resources/test/fixtures/pylint/non_augmented_assignment.py
  crates/ruff_linter/src/rules/pylint/rules/non_augmented_assignment.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR6104_non_augmented_assignment.py.snap
  crates/ruff_python_trivia/src/tokenizer.rs
Labels: fixes

#15039 Upgrade salsa
  Cargo.lock
  Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff/src/commands/analyze_graph.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_graph/src/db.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: internal

#15040 Upgrade salsa in fuzzer script
  Cargo.toml
  fuzz/Cargo.toml
Labels: ci

#15026 Handle nested imports correctly in `from ... import`
  crates/red_knot_python_semantic/resources/mdtest/import/invalid_syntax.md
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15037 [`ruff`] Avoid false positives for RUF027 for typing context bindings.
  crates/ruff_linter/resources/test/fixtures/ruff/RUF027_1.py
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
  crates/ruff_python_semantic/src/model.rs
Labels: rule, preview

#14966 [`ruff`] Ambiguous pattern passed to `pytest.raises()` (`RUF043`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF043.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/assertion.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/marks.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/raises.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/pytest_raises_ambiguous_pattern.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF043_RUF043.py.snap
  ruff.schema.json
Labels: rule, preview

#14956 Introduce `InferContext`
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/suppression.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/context.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#15044 Fix typos in `RUF043.py`
  crates/ruff_linter/resources/test/fixtures/ruff/RUF043.py
Labels: documentation

#15042 [red-knot] Report invalid exceptions
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15045 Don't special-case class instances in unary expression inference
  crates/red_knot_python_semantic/resources/mdtest/unary/custom.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15059 [`flake8-bandit`] Check `S105` for annotated assignment
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S105.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S105_S105.py.snap
Labels: rule

#15061 Disable actionlint hook by default when running pre-commit locally
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Labels: ci

#15050 [`perflint`] Parenthesize walrus expressions in autofix for `manual-list-comprehension` (`PERF401`)
  crates/ruff_linter/resources/test/fixtures/perflint/PERF401.py
  crates/ruff_linter/src/rules/perflint/rules/manual_list_comprehension.rs
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__PERF401_PERF401.py.snap
  crates/ruff_linter/src/rules/perflint/snapshots/ruff_linter__rules__perflint__tests__preview__PERF401_PERF401.py.snap
Labels: bug, documentation, fixes

#15063 [red-knot] Cleanup various `todo_type!()` messages
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/with/async.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15064 Bump version to 0.8.4
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#15049 Modify parsing of raise with cause when exception is absent
  crates/ruff_python_parser/resources/inline/err/raise_stmt_from_without_exc.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@raise_stmt_from_without_exc.py.snap
Labels: parser

#15066 [red-knot] Reduce TODOs in `Type::member()`
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15067 [red-knot] Move attribute access on `ModuleLiteral` types into a dedicated method
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15071 [red-knot] Rename and rework the `CoreStdlibModule` enum
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/module_resolver/mod.rs
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15070 [red-knot] Add support for `@final` classes
  crates/red_knot_python_semantic/resources/mdtest/final.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15054 [airflow]: extend removed method calls (AIR302)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#15075 Use `&'static str` for `Replacement`
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
Labels: internal

#14885 Update docs for `eq-without-hash`
  crates/ruff_linter/src/rules/pylint/rules/eq_without_hash.rs
Labels: documentation
