Repository astral-sh/ruff, pull requests merged in 2024-07, with the labels that each got.

#12113 [`flake8-bugbear`] Implement mutable-contextvar-default (B039)
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B039.py
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B039_extended.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_bugbear/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mutable_contextvar_default.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B039_B039.py.snap
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__extend_mutable_contextvar_default.snap
  crates/ruff_python_semantic/src/model.rs
  ruff.schema.json
Labels: rule, preview

#12106 [`pytest`] Reverse `PT001` and `PT0023` defaults
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/fixture.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/marks.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/settings.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: configuration, preview

#12131 Use `CompactString` for `ModuleName`
  Cargo.lock
  Cargo.toml
  crates/red_knot/Cargo.toml
  crates/red_knot/src/lint.rs
  crates/red_knot/src/module.rs
  crates/red_knot/src/program/check.rs
  crates/red_knot/src/semantic.rs
  crates/red_knot/src/semantic/definitions.rs
  crates/red_knot/src/semantic/symbol_table.rs
  crates/red_knot/src/semantic/types.rs
  crates/red_knot/src/semantic/types/infer.rs
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/src/module.rs
Labels: red-knot

#12132 Update salsa
  Cargo.lock
  Cargo.toml
Labels: red-knot

#12136 Avoid `E275` if keyword followed by comma
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E27.py
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/missing_whitespace_after_keyword.rs
Labels: bug, fuzzer

#11963 Introduce `HasTy` trait and `SemanticModel` facade
  crates/red_knot_module_resolver/src/lib.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
Labels: red-knot

#12135 Use char-wise width instead of `str`-width
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E501_4.py
  crates/ruff_linter/src/rules/isort/sorting.rs
  crates/ruff_linter/src/rules/pycodestyle/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/overlong.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E501_E501_4.py.snap
Labels: bug

#12139 Refactor `ast_ids` traits to take `ScopeId` instead of `VfsFile` plus `FileScopeId`.
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12137 [red-knot] Remove `Scope::name`
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
Labels: red-knot

#12142 [red-knot] Introduce `ExpressionNodeKey` to improve typing of `expression_map`
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
Labels: red-knot

#12145 Address review feedback from 11963
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12134 Disable auto-fix when source has syntax errors
  crates/ruff_linter/resources/test/fixtures/flake8_commas/COM81.py
  crates/ruff_linter/resources/test/fixtures/flake8_commas/COM81_syntax_error.py
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/flake8_commas/mod.rs
  crates/ruff_linter/src/rules/flake8_commas/snapshots/ruff_linter__rules__flake8_commas__tests__COM81.py.snap
  crates/ruff_linter/src/rules/flake8_commas/snapshots/ruff_linter__rules__flake8_commas__tests__COM81_syntax_error.py.snap
  crates/ruff_linter/src/test.rs
Labels: fixes

#11950 Enable token-based rules on source with syntax errors
  crates/ruff_linter/resources/test/fixtures/flake8_commas/COM81_syntax_error.py
  crates/ruff_linter/resources/test/fixtures/flake8_implicit_str_concat/ISC_syntax_error.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E30_syntax_error.py
  crates/ruff_linter/resources/test/fixtures/pylint/invalid_characters_syntax_error.py
  crates/ruff_linter/src/checkers/tokens.rs
  crates/ruff_linter/src/directives.rs
  crates/ruff_linter/src/doc_lines.rs
  crates/ruff_linter/src/rules/flake8_commas/rules/trailing_commas.rs
  crates/ruff_linter/src/rules/flake8_commas/snapshots/ruff_linter__rules__flake8_commas__tests__COM81_syntax_error.py.snap
  crates/ruff_linter/src/rules/flake8_implicit_str_concat/mod.rs
  crates/ruff_linter/src/rules/flake8_implicit_str_concat/rules/implicit.rs
  crates/ruff_linter/src/rules/flake8_implicit_str_concat/snapshots/ruff_linter__rules__flake8_implicit_str_concat__tests__ISC001_ISC_syntax_error.py.snap
  crates/ruff_linter/src/rules/flake8_implicit_str_concat/snapshots/ruff_linter__rules__flake8_implicit_str_concat__tests__ISC002_ISC_syntax_error.py.snap
  crates/ruff_linter/src/rules/pycodestyle/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/blank_lines.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/compound_statements.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/too_many_newlines_at_end_of_file.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E301_E30_syntax_error.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E302_E30_syntax_error.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E303_E30_syntax_error.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E305_E30_syntax_error.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E306_E30_syntax_error.py.snap
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE2510_invalid_characters_syntax_error.py.snap
  crates/ruff_linter/src/rules/pyupgrade/rules/extraneous_parentheses.rs
  crates/ruff_python_codegen/src/stylist.rs
  crates/ruff_python_index/src/indexer.rs
  crates/ruff_python_parser/src/lib.rs
Labels: rule

#12150 Remove use of deprecated `E999` from the `fuzz-parser` script
  scripts/fuzz-parser/fuzz.py
  scripts/fuzz-parser/requirements.txt
Labels: ci

#12153 Correct parenthesized long nested-expressions example to match Ruff's output
  docs/formatter/black.md
Labels: documentation

#12160 Remove `demisto/content` from ecosystem checks
  python/ruff-ecosystem/ruff_ecosystem/defaults.py
Labels: ci

#11496 Update release script to match `uv`
  CONTRIBUTING.md
  scripts/release.sh
  scripts/release/bump.sh
  scripts/release/requirements.in
  scripts/release/requirements.txt
Labels: internal, release

#12162 Fix latest version detection during Rooster invocations
  pyproject.toml
Labels: release

#12170 Replace `Mutex<RefCell>` with `Mutex` in vendored file system"
  crates/ruff_db/src/vendored.rs
Labels: red-knot

#12163 Add standalone installers to Ruff installation in README
  README.md
Labels: documentation

#12175 Upgrade `cargo-dist` to v0.18.0
  .github/workflows/release.yml
  Cargo.toml
Labels: release

#12174 feat(rules): detect `httpx` for `S113`
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S113.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/request_without_timeout.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S113_S113.py.snap
Labels: rule

#12171 Fix replacement edit range computation
  crates/ruff_server/src/edit/replacement.rs
Labels: bug, server

#12148 Avoid syntax error notification for source code actions
  crates/ruff_server/src/fix.rs
Labels: bug, server

#12151 Make `Definition` a salsa-ingredient
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12177 Reorder installation section in README
  README.md
Labels: documentation

#12182 [red-knot] Add very basic benchmark
  Cargo.lock
  Cargo.toml
  crates/red_knot/src/program/check.rs
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/file_system/memory.rs
  crates/ruff_db/src/lib.rs
Labels: red-knot

#12190 fix(rules): skip dummy variables for `PLR1704`
  crates/ruff_linter/resources/test/fixtures/pylint/redefined_argument_from_local.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_scopes.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1704_redefined_argument_from_local.py.snap
Labels: bug

#12191 docs(options): fix some typos and improve consistency
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation

#12193 docs(*): fix a few typos, consistency issues and links
  CONTRIBUTING.md
  docs/configuration.md
  docs/faq.md
  docs/integrations.md
Labels: documentation

#12140 [`pycodestyle`] Whitespace after decorator (`E204`)
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E204.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pycodestyle/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/whitespace_after_decorator.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E204_E204.py.snap
  ruff.schema.json
  scripts/check_docs_formatted.py
Labels: rule, preview

#12196 Revert "Remove `--preview` as a required argument for `ruff server` (#12053)"
  crates/ruff/src/commands/server.rs
Labels: internal

#12203 Consider the content of the new cells during notebook sync
  crates/ruff_server/src/edit/notebook.rs
  crates/ruff_server/src/session/index.rs
Labels: bug

#12204 [red-knot] Require that `FileSystem` objects implement `Debug`
  crates/ruff_db/src/file_system.rs
  crates/ruff_db/src/file_system/os.rs
Labels: red-knot

#12205 Bump version to 0.5.1
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_linter/src/rules/pylint/rules/redefined_argument_from_local.rs
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#12206 Rename publish workflow file extension (`yaml` -> `yml`)
  .github/workflows/publish-docs.yml
  .github/workflows/publish-playground.yml
Labels: release

#12207 Fix `eslint` errors for playground source code
  playground/src/Editor/SourceEditor.tsx
Labels: internal

#12061 [red-knot] intern types using Salsa
  Cargo.lock
  Cargo.toml
  crates/red_knot/src/lint.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/mod.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12102 Docs: Respect SELinux with podman for docker mount
  docs/installation.md
Labels: documentation

#12211 Move SELinux docs to example
  docs/installation.md
Labels: documentation

#12141 [red-knot] Respect typeshed's `VERSIONS` file when resolving stdlib modules
  Cargo.lock
  crates/red_knot/src/main.rs
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_module_resolver/src/lib.rs
  crates/red_knot_module_resolver/src/module.rs
  crates/red_knot_module_resolver/src/module_name.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_module_resolver/src/state.rs
  crates/red_knot_module_resolver/src/supported_py_version.rs
  crates/red_knot_module_resolver/src/typeshed.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12218 [red-knot] Exclude drop time in benchmark
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12213 [`flake8-bandit`] fix S113 false positive for httpx without `timeout` argument
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S113.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/request_without_timeout.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S113_S113.py.snap
Labels: bug

#12225 [Ecosystem checks] `trio` has changed its default branch name to `main`
  python/ruff-ecosystem/ruff_ecosystem/defaults.py
Labels: ci

#12241 Remove default-run from 'red_knot' crate
  crates/red_knot/Cargo.toml
Labels: internal

#12238 Warn about D203 formatter incompatibility
  crates/ruff/src/commands/format.rs
Labels: cli

#12243 [`flake8-return`] Exempt properties from explicit return rule (`RET501`)
  crates/ruff_linter/resources/test/fixtures/flake8_return/RET501.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/flake8_return/rules/function.rs
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET501_RET501.py.snap
Labels: rule

#12248 Update help and documentation for `--output-format` to reflect `"full"` default
  crates/ruff/src/args.rs
  docs/configuration.md
Labels: documentation

#12236 [`flake8-async`] Update `ASYNC109` to match upstream
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC109_0.py
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC109_1.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_async/helpers.rs
  crates/ruff_linter/src/rules/flake8_async/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_function_with_timeout.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC109_ASYNC109_0.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC109_ASYNC109_1.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC109_ASYNC109_0.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC109_ASYNC109_1.py.snap
  crates/ruff_python_semantic/src/model.rs
Labels: rule, preview

#12215 [red-knot] Only store absolute paths in `Files`
  crates/red_knot/src/main.rs
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/path.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#12183 [red-knot] Prevent salsa cancellation from aborting the program
  crates/red_knot/src/program/mod.rs
Labels: red-knot

#12246 [red-knot] Allow module-resolution options to be specified via the CLI
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/lib.rs
  crates/red_knot/src/main.rs
  crates/red_knot/src/target_version.rs
Labels: red-knot

#12224 [red-knot] Use vendored typeshed stubs for stdlib module resolution
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_module_resolver/src/state.rs
  crates/red_knot_module_resolver/src/typeshed.rs
  crates/red_knot_module_resolver/src/typeshed/vendored.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
  crates/ruff_db/src/files/path.rs
  crates/ruff_db/src/vendored/path.rs
Labels: red-knot

#12221 [`flake8-async`] Update `ASYNC100` to match upstream
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC100.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_async/helpers.rs
  crates/ruff_linter/src/rules/flake8_async/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/cancel_scope_no_checkpoint.rs
  crates/ruff_linter/src/rules/flake8_async/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC100_ASYNC100.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC100_ASYNC100.py.snap
Labels: rule, preview

#12261 [`flake8-async`] Update `ASYNC110` to match upstream
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC110.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_async/helpers.rs
  crates/ruff_linter/src/rules/flake8_async/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_busy_wait.rs
  crates/ruff_linter/src/rules/flake8_async/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/unneeded_sleep.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC110_ASYNC110.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC110_ASYNC110.py.snap
Labels: rule, preview

#12252 Conside `include`, `extend-include` for the native server
  Cargo.lock
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/fix.rs
  crates/ruff_server/src/lib.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_server/src/resolve.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/requests/format_range.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
  crates/ruff_workspace/src/resolver.rs
Labels: bug, server

#12258 Use more threads when discovering python files
  crates/ruff_workspace/src/resolver.rs
Labels: performance

#12262 [`flake8-async`] Update `ASYNC115` to match upstream
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC115.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_async/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_zero_sleep.rs
  crates/ruff_linter/src/rules/flake8_async/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/zero_sleep_call.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC115_ASYNC115.py.snap
Labels: preview

#12266 [`flake8-async`] Update `ASYNC116` to match upstream
  crates/ruff_linter/resources/test/fixtures/flake8_async/ASYNC116.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_async/mod.rs
  crates/ruff_linter/src/rules/flake8_async/rules/long_sleep_not_forever.rs
  crates/ruff_linter/src/rules/flake8_async/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__ASYNC116_ASYNC116.py.snap
  crates/ruff_linter/src/rules/flake8_async/snapshots/ruff_linter__rules__flake8_async__tests__preview__ASYNC116_ASYNC116.py.snap
Labels: preview

#12260 [red-knot] Rework module resolver tests
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_module_resolver/src/lib.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_module_resolver/src/testing.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
Labels: red-knot

#12273 Change `File::touch_path` to only take a `SystemPath`
  crates/red_knot/src/program/mod.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/system/test.rs
Labels: internal

#12272 [red-knot] Add more stress tests for module resolver invalidation
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/testing.rs
Labels: red-knot

#12015 [Docs] Clear instruction for single quotes (linter and formatter)
  docs/configuration.md
Labels: documentation

#12275 Explicitly add schemars to ruff_python_ast Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_python_ast/Cargo.toml
  crates/ruff_python_ast/src/name.rs
Labels: internal

#12282 Use `space` separator before parenthesiszed expressions in comprehensions with leading comments.
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/list_comp.py
  crates/ruff_python_formatter/src/other/comprehension.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__list_comp.py.snap
Labels: formatter, preview

#12253 Consider nested configs for settings reloading
  crates/ruff_server/src/session/index.rs
Labels: bug, server

#12293 Use `indentation` consistently
  crates/ruff_formatter/src/builders.rs
  crates/ruff_formatter/src/format_element/tag.rs
  crates/ruff_formatter/src/printer/call_stack.rs
  crates/ruff_formatter/src/printer/mod.rs
  crates/ruff_python_codegen/src/stylist.rs
Labels: internal

#12292 [numpy] Update NPY201: add `np.NAN` to exception
  crates/ruff_linter/resources/test/fixtures/numpy/NPY201.py
  crates/ruff_linter/src/rules/numpy/rules/numpy_2_0_deprecation.rs
  crates/ruff_linter/src/rules/numpy/snapshots/ruff_linter__rules__numpy__tests__numpy2-deprecation_NPY201.py.snap
Labels: rule

#12289 [red-knot] Add a `read_directory()` method to the `ruff_db::system::System` trait
  Cargo.lock
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/path.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#12301 Treat `not` operations as boolean tests
  crates/ruff_linter/resources/test/fixtures/ruff/RUF019.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF019_RUF019.py.snap
Labels: bug

#12300 Remove 'non-obvious' allowance for E721
  crates/ruff_linter/src/rules/pycodestyle/rules/type_comparison.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E721_E721.py.snap
Labels: bug

#12302 Make cache-write failures non-fatal
  crates/ruff/src/cache.rs
  crates/ruff/src/commands/format.rs
Labels: bug, windows

#12304 Omit code frames for fixes with empty ranges
  crates/ruff/tests/integration_test.rs
  crates/ruff_linter/src/message/text.rs
  crates/ruff_linter/src/rules/flake8_copyright/snapshots/ruff_linter__rules__flake8_copyright__tests__char_boundary.snap
  crates/ruff_linter/src/rules/flake8_copyright/snapshots/ruff_linter__rules__flake8_copyright__tests__invalid_author.snap
  crates/ruff_linter/src/rules/flake8_copyright/snapshots/ruff_linter__rules__flake8_copyright__tests__late_notice.snap
  crates/ruff_linter/src/rules/flake8_copyright/snapshots/ruff_linter__rules__flake8_copyright__tests__valid_author_with_comma_invalid_no_space.snap
  crates/ruff_linter/src/rules/flake8_copyright/snapshots/ruff_linter__rules__flake8_copyright__tests__valid_author_with_comma_invalid_spaces.snap
  crates/ruff_linter/src/rules/flake8_copyright/snapshots/ruff_linter__rules__flake8_copyright__tests__valid_author_with_dash_invalid_space.snap
  crates/ruff_linter/src/rules/flake8_copyright/snapshots/ruff_linter__rules__flake8_copyright__tests__valid_author_with_dash_invalid_spaces.snap
  crates/ruff_linter/src/rules/flake8_executable/snapshots/ruff_linter__rules__flake8_executable__tests__EXE002_1.py.snap
  crates/ruff_linter/src/rules/flake8_no_pep420/snapshots/ruff_linter__rules__flake8_no_pep420__tests__test_fail_empty.snap
  crates/ruff_linter/src/rules/flake8_no_pep420/snapshots/ruff_linter__rules__flake8_no_pep420__tests__test_fail_nonempty.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__combined_required_imports_docstring.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_comment.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_comments_and_newlines.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_docstring.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_docstring_with_continuation.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_docstring_with_semicolon.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_existing_import.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_multiline_docstring.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_off.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_comment.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_comments_and_newlines.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_docstring.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_docstring_with_continuation.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_docstring_with_semicolon.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_existing_import.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_multiline_docstring.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_import_with_alias_off.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__required_imports_docstring.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__straight_required_import_docstring.py.snap
  crates/ruff_linter/src/rules/isort/snapshots/ruff_linter__rules__isort__tests__straight_required_import_docstring.pyi.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N999_N999__module__MODULE____init__.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N999_N999__module__invalid_name__0001_initial.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N999_N999__module__invalid_name__import.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N999_N999__module__mod with spaces____init__.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N999_N999__module__mod-with-dashes____init__.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N999_N999__module__valid_name__file-with-dashes.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D100_D.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D100__unrelated__pkg__D100_pub.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D104_D104____init__.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__all.snap
Labels: cli

#12311 Consider `with` blocks as single-item branches
  crates/ruff_linter/resources/test/fixtures/pyflakes/F811_31.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F811_F811_31.py.snap
Labels: bug

#12303 [`refurb`] Make `list-reverse-copy` an unsafe fix
  crates/ruff_linter/src/rules/refurb/rules/list_reverse_copy.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB187_FURB187.py.snap
Labels: fixes

#12305 [`flake8-bandit`] Avoid `S310` violations for HTTP-safe f-strings
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S310.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/suspicious_function_call.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S310_S310.py.snap
Labels: bug

#12313 Avoid allocation when validating HTTP and HTTPS prefixes
  crates/ruff_linter/src/rules/flake8_bandit/rules/suspicious_function_call.rs
Labels: internal, performance

#12316 Bump version to v0.5.2
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#12315 [`flake8-bandit`] Support explicit string concatenations in S310 HTTP detection
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S310.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/suspicious_function_call.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S310_S310.py.snap
  crates/ruff_python_ast/src/nodes.rs
Labels: bug

#12299 Build settings index in parallel for the native server
  Cargo.lock
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#12294 Insert empty line between suite and alternative branch after def/class
  crates/ruff_python_formatter/resources/test/fixtures/ruff/newlines.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/newlines.pyi
  crates/ruff_python_formatter/src/other/elif_else_clause.rs
  crates/ruff_python_formatter/src/other/except_handler_except_handler.rs
  crates/ruff_python_formatter/src/other/match_case.rs
  crates/ruff_python_formatter/src/statement/clause.rs
  crates/ruff_python_formatter/src/statement/stmt_class_def.rs
  crates/ruff_python_formatter/src/statement/stmt_for.rs
  crates/ruff_python_formatter/src/statement/stmt_function_def.rs
  crates/ruff_python_formatter/src/statement/stmt_if.rs
  crates/ruff_python_formatter/src/statement/stmt_match.rs
  crates/ruff_python_formatter/src/statement/stmt_try.rs
  crates/ruff_python_formatter/src/statement/stmt_while.rs
  crates/ruff_python_formatter/src/statement/stmt_with.rs
  crates/ruff_python_formatter/src/statement/suite.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__comments9.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__function2.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__stub.pyi.snap
  crates/ruff_python_formatter/tests/snapshots/format@newlines.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@newlines.pyi.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__function.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__if.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__try.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@stub_files__blank_line_after_nested_stub_class.pyi.snap
  crates/ruff_python_formatter/tests/snapshots/format@stub_files__suite.pyi.snap
Labels: formatter, preview

#12297 [red-knot] Add `walk_directories` to `System`
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot_module_resolver/Cargo.toml
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/test.rs
  crates/ruff_db/src/system/walk_directory.rs
Labels: red-knot

#12342 Ignore more OpenAI notebooks with syntax errors in the ecosystem check
  python/ruff-ecosystem/ruff_ecosystem/defaults.py
Labels: ci

#12346 Consider expression before statement when determining binding kind
  crates/ruff_linter/resources/test/fixtures/pylint/redefined_argument_from_local.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_scopes.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1704_redefined_argument_from_local.py.snap
Labels: bug

#12347 Remove `BindingKind::ComprehensionVar`
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/renamer.rs
  crates/ruff_linter/src/rules/pandas_vet/helpers.rs
  crates/ruff_linter/src/rules/pylint/rules/non_ascii_name.rs
  crates/ruff_python_semantic/src/binding.rs
Labels: internal

#12269 [red-knot] per-definition inference, use-def maps
  Cargo.lock
  crates/red_knot/src/lint.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/ast_node_ref.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/expression.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_db/src/system/test.rs
  crates/ruff_index/src/vec.rs
Labels: red-knot

#12307 [red-knot] Add support for editable installs to the module resolver
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/src/system.rs
Labels: red-knot

#12355 [red-knot] improve semantic index tests
  crates/red_knot_python_semantic/src/semantic_index.rs
Labels: red-knot

#12338 [red-knot] Add notebook support
  Cargo.lock
  crates/red_knot_module_resolver/src/typeshed/versions.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/test.rs
  crates/ruff_notebook/src/notebook.rs
  crates/ruff_notebook/src/schema.rs
  crates/ruff_python_ast/src/lib.rs
Labels: red-knot

#12318 [red-knot] Add basic workspace support
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/db.rs
  crates/red_knot/src/lib.rs
  crates/red_knot/src/main.rs
  crates/red_knot/src/program/check.rs
  crates/red_knot/src/program/mod.rs
  crates/red_knot/src/target_version.rs
  crates/red_knot/src/watch.rs
  crates/red_knot/src/workspace.rs
  crates/red_knot/src/workspace/metadata.rs
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_module_resolver/src/lib.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_module_resolver/src/state.rs
  crates/red_knot_module_resolver/src/supported_py_version.rs
  crates/red_knot_module_resolver/src/testing.rs
  crates/red_knot_module_resolver/src/typeshed/versions.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/program.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/path.rs
Labels: red-knot

#12360 Remove leftover debug log
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: internal

#12361 [red-knot] Reload notebook on file change
  crates/red_knot/src/lint.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/source.rs
Labels: red-knot

#12367 Ignore self and cls when counting arguments
  crates/ruff_linter/resources/test/fixtures/pylint/too_many_arguments.py
  crates/ruff_linter/src/rules/pylint/rules/too_many_arguments.rs
  crates/ruff_linter/src/rules/pylint/rules/too_many_positional.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR0913_too_many_arguments.py.snap
Labels: rule

#12368 Avoid dropping extra boolean operations in `repeated-equality-comparison`
  crates/ruff_linter/resources/test/fixtures/pylint/repeated_equality_comparison.py
  crates/ruff_linter/src/rules/pylint/rules/repeated_equality_comparison.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1714_repeated_equality_comparison.py.snap
Labels: bug

#12366 Detect enumerate iterations in `loop-iterator-mutation`
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B909.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/loop_iterator_mutation.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B909_B909.py.snap
Labels: rule

#12370 Use UTF-8 as default encoding in `unspecified-encoding` fix
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/unspecified_encoding.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW1514_unspecified_encoding.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__unspecified_encoding_python39_or_lower.snap
Labels: rule, fixes

#12365 Remove `discard`, `remove`, and `pop` allowance for `loop-iterator-mutation`
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/B909.py
  crates/ruff_linter/src/rules/flake8_bugbear/rules/loop_iterator_mutation.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B909_B909.py.snap
Labels: rule

#12371 [`pyupgrade`] Implement `unnecessary-default-type-args` (`UP043`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP043.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/unnecessary_default_type_args.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP043.py.snap
  ruff.schema.json
Labels: rule, preview

#12356 [red-knot] better docs for type inference
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12357 [red-knot] better docs for use-def maps
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
Labels: red-knot

#12362 Use fallback settings when indexing the project
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#12208 Consider `--preview` flag for `server` subcommand
  crates/ruff/src/args.rs
  crates/ruff/src/commands/server.rs
  crates/ruff/src/lib.rs
  crates/ruff_server/resources/test/fixtures/settings/empty_multiple_workspace.json
  crates/ruff_server/resources/test/fixtures/settings/vs_code_initialization_options.json
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/session/settings.rs
Labels: server

#12344 Add docs for Ruff language server
  crates/ruff_server/README.md
  crates/ruff_server/docs/MIGRATION.md
  crates/ruff_server/docs/setup/HELIX.md
  crates/ruff_server/docs/setup/KATE.md
  crates/ruff_server/docs/setup/NEOVIM.md
  crates/ruff_server/docs/setup/VIM.md
  crates/ruff_server/docs/setup/assets/SuccessfulHelixSetup.png
  docs/.gitignore
  docs/editors/features.md
  docs/editors/index.md
  docs/editors/migration.md
  docs/editors/settings.md
  docs/editors/setup.md
  docs/integrations.md
  scripts/generate_mkdocs.py
Labels: documentation, server

#12364 Allow additional arguments for sum and max comprehensions
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C419_1.py
  crates/ruff_linter/src/rules/flake8_comprehensions/fixes.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension_in_call.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C419_C419.py.snap
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__preview__C419_C419_1.py.snap
Labels: bug

#12369 Allow `repeated-equality-comparison` for mixed operations
  crates/ruff_linter/resources/test/fixtures/pylint/repeated_equality_comparison.py
  crates/ruff_linter/src/rules/pylint/rules/repeated_equality_comparison.rs
  crates/ruff_linter/src/rules/pylint/rules/repeated_isinstance_calls.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1714_repeated_equality_comparison.py.snap
Labels: rule

#12380 Add VS Code specific extension settings
  docs/editors/settings.md
  docs/tutorial.md
Labels: documentation

#12341 Migrate to standalone docs repo
  .github/workflows/publish-docs.yml
Labels: documentation

#12381 Bump version to 0.5.3
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release, no-build

#12383 Update 0.5.3 changelog caption
  CHANGELOG.md
Labels: documentation

#12373 [red-knot] small efficiency improvements and bugfixes to use-def map building
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_index/src/slice.rs
Labels: red-knot

#12384 Provide contents read permission to wasm publish job
  .github/workflows/release.yml
Labels: release

#12386 Provide custom job permissions to `cargo-dist`
  Cargo.toml
Labels: release

#12374 [red-knot] support implicit global name lookups
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12385 [red-knot] rename module_global to global
  crates/red_knot/src/lint.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12393 [red-knot] use a simpler builtin in the benchmark
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12192 [pydocstyle] Escaped docstring in docstring (D301 )
  crates/ruff_linter/resources/test/fixtures/pydocstyle/D301.py
  crates/ruff_linter/src/rules/pydocstyle/rules/backslashes.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D301_D301.py.snap
Labels: bug, docstring

#12399 [`ruff`] Rename `RUF007` to `zip-instead-of-pairwise`
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/zip_instead_of_pairwise.rs
Labels: rule

#12396 [red-knot] unswap naming of benchmark groups
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12395 [red-knot] preparse builtins in without_parse benchmark
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12404 [red-knot] Add verbosity argument to CLI
  crates/red_knot/src/cli/mod.rs
  crates/red_knot/src/cli/target_version.rs
  crates/red_knot/src/cli/verbosity.rs
  crates/red_knot/src/main.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/src/files.rs
Labels: red-knot

#12378 [red-knot] Fix bug where module resolution would not be invalidated if an entire package was deleted
  crates/red_knot_module_resolver/src/path.rs
Labels: red-knot

#12401 [red-knot] trace file when inferring types
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12400 [red-knot] fix incremental benchmark
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#12390 [red-knot] Resolve symbols from `builtins.pyi` in the stdlib if they cannot be found in other scopes
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_python_semantic/src/builtins.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12409 Update docs Settings output-format default
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation

#12410 Fix the Github link error for Neovim in the setup for editors in the docs.
  docs/editors/setup.md
Labels: documentation

#12415 Avoid shadowing diagnostics for `@override` methods
  crates/ruff_linter/resources/test/fixtures/flake8_builtins/A002.py
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_argument_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A002_A002.py.snap
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A002_A002.py_builtins_ignorelist.snap
Labels: bug

#12422 Insert parentheses for multi-argument generators
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C419_1.py
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_comprehension_in_call.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__preview__C419_C419_1.py.snap
Labels: bug, fixes

#12423 Bump version to v0.5.4
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#12424 Cleanup redundant spaces from changelog
  CHANGELOG.md
Labels: documentation

#11471 [`pydoclint`] Implement `docstring-missing-exception` and `docstring-extraneous-exception` (`DOC501`, `DOC502`)
  LICENSE
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501_numpy.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC502_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC502_numpy.py
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/docstrings/sections.rs
  crates/ruff_linter/src/registry.rs
  crates/ruff_linter/src/rules/mod.rs
  crates/ruff_linter/src/rules/pydoclint/mod.rs
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/rules/mod.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-exception_DOC502_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-exception_DOC502_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_numpy.py.snap
  crates/ruff_linter/src/rules/pydocstyle/helpers.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
  ruff.schema.json
  scripts/add_plugin.py
Labels: rule, docstring, preview

#11579 [`fastapi`] Implement `FAST001` (`fastapi-redundant-response-model`) and `FAST002` (`fastapi-non-annotated-dependency`)
  crates/ruff_linter/resources/test/fixtures/fastapi/FAST001.py
  crates/ruff_linter/resources/test/fixtures/fastapi/FAST002.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/registry.rs
  crates/ruff_linter/src/rules/fastapi/mod.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_non_annotated_dependency.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_redundant_response_model.rs
  crates/ruff_linter/src/rules/fastapi/rules/mod.rs
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-non-annotated-dependency_FAST002.py.snap
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-redundant-response-model_FAST001.py.snap
  crates/ruff_linter/src/rules/mod.rs
  crates/ruff_python_semantic/src/model.rs
  ruff.schema.json
Labels: rule, preview

#12435 [`pydoclint`] Fix `DOC501` panic #12428
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC501.py
  crates/ruff_linter/src/rules/pydoclint/mod.rs
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501.py.snap
Labels: bug, fuzzer

#12446 Remove unused dependencies, sync existing versions
  fuzz/Cargo.toml
Labels: internal

#12445 Raise syntax error for unparenthesized generator expr in multi-argument call
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C419_1.py
  crates/ruff_python_parser/resources/inline/err/args_unparenthesized_generator.py
  crates/ruff_python_parser/resources/inline/ok/args_unparenthesized_generator.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@args_unparenthesized_generator.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@args_unparenthesized_generator.py.snap
Labels: bug

#12447 Fix incorrect placement of leading function comment with type params
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/class_definition.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/function.py
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/tests/snapshots/format@statement__class_definition.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__function.py.snap
Labels: bug, formatter

#12449 Add note to include notebook files for native server
  docs/editors/features.md
Labels: documentation

#12379 [red-knot] Use a distinct type for module search paths in the module resolver
  crates/red_knot_module_resolver/src/module.rs
  crates/red_knot_module_resolver/src/path.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/ruff_db/src/program.rs
Labels: red-knot

#12414 [red-knot] add maybe-undefined lint rule
  Cargo.lock
  crates/red_knot/src/db.rs
  crates/red_knot/src/lint.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#12413 [red-knot] add cycle-free while-loop control flow
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#12467 [`flake8-async`] Fix references in documentation not displaying
  crates/ruff_linter/src/rules/flake8_async/rules/async_busy_wait.rs
  crates/ruff_linter/src/rules/flake8_async/rules/async_function_with_timeout.rs
  crates/ruff_linter/src/rules/flake8_async/rules/cancel_scope_no_checkpoint.rs
Labels: documentation

#12462 Do not bail code action resolution when a quick fix is requested
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
Labels: server

#12426 Add Eglot setup guide for Emacs editor
  docs/editors/setup.md
Labels: documentation

#12382 [red-knot] Improved file watching
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/db.rs
  crates/red_knot/src/db/changes.rs
  crates/red_knot/src/main.rs
  crates/red_knot/src/watch.rs
  crates/red_knot/src/watch/watcher.rs
  crates/red_knot/src/workspace.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_module_resolver/src/db.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#12470 Implement `upcast_mut` for new `TestDb`
  crates/red_knot/src/db.rs
Labels: red-knot

#12473 Fix NumPy 2.0 rule for `np.alltrue` and `np.sometrue`
  crates/ruff_linter/resources/test/fixtures/numpy/NPY201_2.py
  crates/ruff_linter/src/rules/numpy/rules/numpy_2_0_deprecation.rs
  crates/ruff_linter/src/rules/numpy/snapshots/ruff_linter__rules__numpy__tests__numpy2-deprecation_NPY201_2.py.snap
Labels: rule

#12452 [red-knot] Lazy package file discovery
  crates/red_knot/src/db.rs
  crates/red_knot/src/workspace.rs
  crates/red_knot/src/workspace/files.rs
  crates/red_knot/tests/file_watching.rs
  crates/ruff_db/src/lib.rs
Labels: red-knot

#12479 Refactor NPY201
  crates/ruff_linter/src/rules/numpy/rules/numpy_2_0_deprecation.rs
Labels: internal

#12483 [`pydoclint`] Fix documentation for `DOC501`
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
Labels: documentation

#12407 [red-knot] Watch search paths
  Cargo.lock
  crates/red_knot/src/main.rs
  crates/red_knot/src/watch.rs
  crates/red_knot/src/watch/workspace_watcher.rs
  crates/red_knot/src/workspace.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_module_resolver/src/lib.rs
  crates/red_knot_module_resolver/src/resolver.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/expression.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/ruff_db/src/program.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/path.rs
Labels: red-knot
