Repository astral-sh/ruff, pull requests merged in 2024-09, with the labels that each got.

#13187 [red-knot] Fix async function edge case for inference of call expressions
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13148 [`pydoclint`] Permit yielding `None` in DOC402 and DOC403
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC201_numpy.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC202_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC402_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC402_numpy.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC403_google.py
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC403_numpy.py
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-extraneous-returns_DOC202_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_numpy.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-yields_DOC402_google.py.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-yields_DOC402_numpy.py.snap
Labels: bug, docstring, preview

#13189 Remove `pylint::helpers::CmpOpExt`
  crates/ruff_linter/src/rules/pylint/helpers.rs
  crates/ruff_linter/src/rules/pylint/rules/comparison_of_constant.rs
  crates/ruff_linter/src/rules/pylint/rules/comparison_with_itself.rs
Labels: internal

#13178 [red-knot] `Literal[True,False]` normalized to `builtins.bool`
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#13146 Expand docs for `ASYNC109`
  crates/ruff_linter/src/rules/flake8_async/rules/async_function_with_timeout.rs
Labels: documentation

#13180 Enrich messages of SARIF results
  crates/ruff_linter/src/message/sarif.rs
Labels: cli

#13193 Fix typo in `pydoclint` enum variant name
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
Labels: internal

#13191 [red-knot] Fix call expression inference edge case for decorated functions
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13186 [`pylint`] Recurse into subscript subexpressions when searching for list/dict lookups (`PLR1733`, `PLR1736`)
  crates/ruff_linter/resources/test/fixtures/pylint/unnecessary_dict_index_lookup.py
  crates/ruff_linter/resources/test/fixtures/pylint/unnecessary_list_index_lookup.py
  crates/ruff_linter/src/rules/pylint/helpers.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1733_unnecessary_dict_index_lookup.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1736_unnecessary_list_index_lookup.py.snap
Labels: bug, rule

#13091 Optimize some `SemanticModel` methods
  crates/ruff_python_semantic/src/model.rs
Labels: internal

#13206 Avoid allocating `OrderedSet` in `UnionBuilder::simplify`
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#13147 Add definitions for match statement
  crates/red_knot_python_semantic/src/ast_node_ref.rs
  crates/red_knot_python_semantic/src/node_key.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13211 Ignore invalid notebook in ecosystem checks
  python/ruff-ecosystem/ruff_ecosystem/defaults.py
Labels: ci

#13207 Implement `AstNode` for `Identifier`
  crates/red_knot_python_semantic/src/node_key.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_formatter/src/range.rs
Labels: internal

#13210 Fix example in PLE1520 documentation
  crates/ruff_linter/src/rules/pylint/rules/singledispatchmethod_function.rs
Labels: documentation

#13192 [`ruff`] Implement post-init-default (`RUF033`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF033.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/post_init_default.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF033_RUF033.py.snap
  ruff.schema.json
Labels: rule, preview

#13158 Add a method to `Checker` for cached parsing of stringified type annotations
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff_linter/src/rules/ruff/typing.rs
  crates/ruff_python_parser/src/typing.rs
Labels: performance

#13212 Handle singular case for incompatible rules warning
  crates/ruff/src/commands/format.rs
  crates/ruff/tests/format.rs
Labels: cli

#12951 [`flake8-pyi`] Teach various rules that annotations might be stringized
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI032.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI032.pyi
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI034.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI034.pyi
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI050.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI050.pyi
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/any_eq_ne_annotation.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/no_return_argument_annotation.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI032_PYI032.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI032_PYI032.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI050_PYI050.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI050_PYI050.pyi.snap
Labels: bug, rule, linter

#13219 Point docs to Astral favicon
  .github/workflows/publish-docs.yml
  docs/.overrides/main.html
  docs/assets/favicon.ico
  mkdocs.template.yml
Labels: documentation

#13220 Update URL in structured schema
  docs/.overrides/main.html
Labels: documentation

#13221 Use | for page separator in meta titles
  docs/.overrides/main.html
Labels: documentation

#13223 Add a few missing `#[return_ref]` attributes
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_workspace/src/lint.rs
  crates/red_knot_workspace/src/workspace.rs
Labels: performance, red-knot

#13185 [red-knot] Condense literals display by types
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13209 [red-knot] Remove match pattern definition visitor
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
Labels: red-knot

#13135 [red-knot] Reduce some repetitiveness in tests
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13215 Improve detection of whether a symbol refers to a builtin exception
  crates/ruff_linter/resources/test/fixtures/pylint/useless_exception_statement.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_builtins/helpers.rs
  crates/ruff_linter/src/rules/pylint/rules/useless_exception_statement.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW0133_useless_exception_statement.py.snap
  crates/ruff_python_stdlib/src/builtins.rs
Labels: linter

#13227 Enable multithreading for pyright
  scripts/knot_benchmark/src/benchmark/cases.py
Labels: red-knot

#13228 Fix virtual environment details in `knot_benchmark`
  scripts/knot_benchmark/src/benchmark/cases.py
Labels: red-knot

#13230 [red-knot] Inline `Type::is_literal`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
Labels: red-knot

#13204 [red-knot] fix scope inference with deferred types
  Cargo.lock
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/tests/check.rs
Labels: red-knot

#13177 [red-knot] support non-local name lookups
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13213 [red-knot] Handle multiple comprehension targets
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13214 [red-knot] Add debug assert to check for duplicate definitions
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
Labels: red-knot

#13218 [ruff] implement useless if-else (RUF034)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF034.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/useless_if_else.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF034_RUF034.py.snap
  ruff.schema.json
Labels: rule, preview

#13194 [pylint] removed dunder methods in Python 3 (PLW3201)
  crates/ruff_linter/resources/test/fixtures/pylint/bad_dunder_method_name.py
  crates/ruff_linter/src/rules/pylint/rules/bad_dunder_method_name.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW3201_bad_dunder_method_name.py.snap
Labels: rule, preview

#13235 Make mypy pass on black in `knot_benchmark`
  scripts/knot_benchmark/src/benchmark/cases.py
  scripts/knot_benchmark/src/benchmark/projects.py
Labels: red-knot

#13195 [red-knot] Add type inference for basic `for` loops
  crates/red_knot_python_semantic/src/builtins.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13243 [red-knot] Infer `Unknown` for the loop var in `async for` loops
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13236 [red-knot] fix lookup of nonlocal names in deferred annotations
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13247 [red-knot] AnnAssign with no RHS is not a Definition
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#13248 [red-knot] consolidate diagnostic and inference tests
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13254 [red-knot] resolve source/stubs over namespace packages
  crates/red_knot_python_semantic/src/module_resolver/path.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
Labels: great writeup, red-knot

#13265 Upgrade to Rust 1.81
  crates/ruff_linter/src/rules/pydocstyle/rules/triple_quotes.rs
  crates/ruff_python_parser/src/string.rs
  rust-toolchain.toml
Labels: internal

#13281 refactor: Return copied `TextRange` in `CommentRanges` iterator
  crates/ruff_linter/src/checkers/tokens.rs
  crates/ruff_linter/src/noqa.rs
  crates/ruff_linter/src/rules/eradicate/rules/commented_out_code.rs
  crates/ruff_linter/src/rules/flake8_executable/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/type_comment_in_stub.rs
  crates/ruff_linter/src/rules/pygrep_hooks/rules/blanket_type_ignore.rs
  crates/ruff_linter/src/rules/pylint/rules/empty_comment.rs
  crates/ruff_linter/src/rules/ruff/rules/invalid_formatter_suppression_comment.rs
  crates/ruff_python_trivia/src/comment_ranges.rs
Labels: internal

#13262 Playground: Fix errors not shown on page load
  playground/src/Editor/SourceEditor.tsx
Labels: bug, playground

#13234 Add meta descriptions to rule pages
  mkdocs.template.yml
  scripts/generate_mkdocs.py
Labels: documentation

#13285 Fix configuration inheritance for configurations specified in the LSP settings
  crates/ruff_server/src/session/index/ruff_settings.rs
  crates/ruff_workspace/src/pyproject.rs
  crates/ruff_workspace/src/resolver.rs
Labels: bug, server

#13283 `ERA001`: Ignore script-comments with multiple end-tags
  crates/ruff_linter/resources/test/fixtures/eradicate/ERA001.py
  crates/ruff_linter/src/rules/eradicate/rules/commented_out_code.rs
  crates/ruff_linter/src/rules/eradicate/snapshots/ruff_linter__rules__eradicate__tests__ERA001_ERA001.py.snap
Labels: bug, rule

#13251 [red-knot] Add type inference for loop variables inside comprehension scopes
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13241 [red-knot] Add control flow support for match statement
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/constraint.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast_integration_tests/tests/match_pattern.rs
Labels: red-knot

#13268 Only include rules with diagnostics in SARIF metadata
  crates/ruff_linter/src/message/sarif.rs
Labels: cli

#13298 Only run executable rules when they are enabled
  crates/ruff_linter/src/checkers/tokens.rs
  crates/ruff_linter/src/rules/flake8_executable/rules/mod.rs
Labels: internal

#13300 [`pydoclint`] Ignore `DOC201` when function name is "__new__"
  crates/ruff_linter/resources/test/fixtures/pydoclint/DOC201_google.py
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
Labels: rule, preview

#13313 Fix tuple expansion example in formatter compatibility document
  docs/formatter/black.md
Labels: documentation

#13295 [red-knot] Add heterogeneous tuple type variant
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13293 [`pyflakes`] Improve error message for `UndefinedName` when a builtin was added in a newer version than specified in Ruff config (`F821`)
  crates/ruff_linter/src/checkers/ast/analyze/unresolved_references.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/rules/undefined_name.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__f821_with_builtin_added_on_new_py_version_but_old_target_version_specified.snap
  crates/ruff_python_stdlib/src/builtins.rs
Labels: rule, linter

#13299 Disable jemalloc decay in benchmarks
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/linter.rs
Labels: ci

#13314 [red-knot] Improve type inference for iteration over heterogenous tuples
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13317 Remove allocation from `ruff_python_stdlib::builtins::python_builtins`
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_stdlib/src/builtins.rs
Labels: internal

#13315 [red-knot] Add a convenience method for constructing a union from a list of elements
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13318 [red-knot] Add control flow for `for` loops
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13319 [red-knot] Fix `.to_instance()` for union types
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13327 [`pyupgrade`] Fix broken doc link and clarify that deprecated aliases were removed in Python 3.12 (`UP005`)
  crates/ruff_linter/src/rules/pyupgrade/rules/deprecated_unittest_alias.rs
Labels: documentation

#13326 Add support for extensionless Python files for server
  crates/ruff_server/src/edit.rs
  crates/ruff_server/src/edit/text_document.rs
  crates/ruff_server/src/fix.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_server/src/resolve.rs
  crates/ruff_server/src/server/api/notifications/did_open.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/requests/format_range.rs
  crates/ruff_server/src/session/index.rs
Labels: server

#13320 [red-knot] Fix type inference for `except*` definitions
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13332 [red-knot] add initial Type::is_equivalent_to and Type::is_assignable_to
  Cargo.lock
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#13328 Playground: Add Copy as pyproject.toml/ruff.toml and paste from TOML
  playground/package-lock.json
  playground/package.json
  playground/src/Editor/SettingsEditor.tsx
  playground/src/Editor/setupMonaco.tsx
Labels: playground

#13345 Create insta snapshot for SARIF output
  Cargo.lock
  crates/ruff_linter/Cargo.toml
  crates/ruff_linter/src/message/sarif.rs
  crates/ruff_linter/src/message/snapshots/ruff_linter__message__sarif__tests__results.snap
Labels: internal

#13346 Bump version to 0.6.5
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#13334 [red-knot] add Declarations support to semantic indexing
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/symbol_state.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13348 Fix documentation for editor vim plugin ALE
  docs/editors/setup.md
Labels: documentation

#13353 [red-knot] Clarify how scopes are pushed and popped for comprehensions and generator expressions
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
Labels: red-knot

#13357 Add diagnostics panel and navigation features to playground
  playground/.eslintrc
  playground/src/Editor/Diagnostics.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/PrimarySideBar.tsx
  playground/src/Editor/SecondaryPanel.tsx
  playground/src/Editor/SettingsEditor.tsx
  playground/src/Editor/SourceEditor.tsx
Labels: playground

#13366 Fix build of `ruff_benchmark` on NixOS
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/linter.rs
Labels: internal

#13368 DOCS: navigate back to rule overview linter
  crates/ruff_dev/src/generate_docs.rs
Labels: documentation

#13375 Update Black tests
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/backslash_before_indent.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/backslash_before_indent.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/backslash_before_indent.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/comment_after_escaped_newline.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/dummy_implementations.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/dummy_implementations.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/fmtonoff6.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/fmtonoff6.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/form_feeds.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/function_trailing_comma.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/function_trailing_comma.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/line_ranges_basic.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/line_ranges_basic.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/line_ranges_exceeding_end.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/line_ranges_exceeding_end.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pattern_matching_complex.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pattern_matching_complex.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pattern_matching_with_if_stmt.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pattern_matching_with_if_stmt.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pattern_matching_with_if_stmt.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep604_union_types_line_breaks.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep604_union_types_line_breaks.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep_701.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep_701.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/pep_701.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_multiline_strings.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_multiline_strings.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_pep646_typed_star_arg_type_var_tuple.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_pep646_typed_star_arg_type_var_tuple.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/preview_pep646_typed_star_arg_type_var_tuple.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/split_delimiter_comments.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/split_delimiter_comments.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/type_param_defaults.options.json
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/type_param_defaults.py
  crates/ruff_python_formatter/resources/test/fixtures/black/cases/type_param_defaults.py.expect
  crates/ruff_python_formatter/resources/test/fixtures/import_black_tests.py
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__backslash_before_indent.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__comment_after_escaped_newline.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__dummy_implementations.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__form_feeds.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__function_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__pattern_matching_with_if_stmt.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__pep604_union_types_line_breaks.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__pep_701.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__preview_multiline_strings.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__type_param_defaults.py.snap
Labels: internal, formatter

#13335 [red-knot] use declared types in inference/checking
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/bitset.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/symbol_state.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/display.rs
  crates/ruff_db/src/lib.rs
Labels: red-knot

#13388 Respect word boundaries when detecting function signature in docs
  crates/ruff_linter/resources/test/fixtures/pydocstyle/D402.py
  crates/ruff_linter/src/rules/pydocstyle/mod.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/no_signature.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D402_D402.py.snap
Labels: bug, docstring

#13379 Fix placement of inline parameter comments
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/function.py
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/src/other/parameter.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__function_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__function.py.snap
  crates/ruff_python_trivia/src/tokenizer.rs
Labels: bug, formatter

#13380 Update the revisions of the formatter stability check projects
  scripts/formatter_ecosystem_checks.sh
Labels: ci

#13394 Respect FastAPI aliases in route definitions
  crates/ruff_linter/resources/test/fixtures/fastapi/FAST003.py
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_unused_path_parameter.rs
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-unused-path-parameter_FAST003.py.snap
Labels: bug

#13384 [red-knot] support for typing.reveal_type
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13250 refactor: remove unnecessary string hashes
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/ruff/tests/format.rs
  crates/ruff/tests/integration_test.rs
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
  crates/ruff_python_formatter/tests/normalizer.rs
Labels: internal

#13398 [red-knot] consider imports to be declarations
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13397 [red-knot] add support for typing_extensions.reveal_type
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13400 [red-knot] inferred type, not Unknown, for undeclared paths
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13401 [red-knot] simplify subtypes from unions
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13406 Fix rendering of FURB188 docs
  crates/ruff_linter/src/rules/refurb/rules/slice_to_remove_prefix_or_suffix.rs
Labels: documentation

#13395 Fix/#13070 defer annotations when future is active
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13407 Fix off-by one error in the `LineIndex::offset` calculation
  crates/ruff/tests/format.rs
  crates/ruff_source_file/src/line_index.rs
Labels: bug, server

#13403 [red-knot] support reveal_type as pseudo-builtin
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13405 [refurb] Skip `slice-to-remove-prefix-or-suffix (FURB188)` when nontrivial slice step is present
  crates/ruff_linter/resources/test/fixtures/refurb/FURB188.py
  crates/ruff_linter/src/rules/refurb/rules/slice_to_remove_prefix_or_suffix.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB188_FURB188.py.snap
Labels: rule, preview

#13409 [red-knot] visit with-item vars even if not a Name
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/resources/test/corpus/67_with_non_name_target.py
Labels: red-knot

#13413 Cache glob resolutions in import graph
  crates/ruff/src/commands/analyze_graph.rs
  crates/ruff/src/lib.rs
  crates/ruff/tests/analyze_graph.rs
  crates/ruff_graph/src/lib.rs
Labels: performance

#13415 Bump version to v0.6.6
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#13418 Correct `Some value is incorrect`
  crates/ruff_linter/src/rules/flake8_errmsg/rules/string_in_exception.rs
Labels: documentation

#13381 Fix parentheses around return type annotations
  crates/ruff_dev/src/format_dev.rs
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/hug.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/return_type_no_parameters.py
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/return_type_parameters.py
  crates/ruff_python_formatter/src/expression/expr_subscript.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/expression/parentheses.rs
  crates/ruff_python_formatter/src/other/with_item.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/statement/stmt_function_def.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__funcdef_return_type_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__hug.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__return_annotation.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__return_type_no_parameters.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__return_type_parameters.py.snap
Labels: formatter, preview

#13399 [pycodestyle] Fix: Don't autofix if the first line ends in a question mark? (D400)
  crates/ruff_linter/resources/test/fixtures/pydocstyle/D400_415.py
  crates/ruff_linter/src/rules/pydocstyle/mod.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/ends_with_period.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/ends_with_punctuation.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D400_D.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D400_D400_415.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D415_D400_415.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D415_D415.py.snap
Labels: bug, rule

#13412 [red-knot] dedicated error message for all-union-elements not callable
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13411 [red-knot] more efficient UnionBuilder::add
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_workspace/src/lint.rs
Labels: red-knot

#13425 Add `exclude` support to `ruff analyze`
  crates/ruff/src/commands/analyze_graph.rs
  crates/ruff/tests/analyze_graph.rs
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_graph/src/lib.rs
  crates/ruff_graph/src/settings.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: configuration, preview

#13427 Respect `lint.exclude` in ruff check `--add-noqa`
  crates/ruff/src/commands/add_noqa.rs
  crates/ruff/tests/lint.rs
Labels: bug

#13426 Add Python version support to ruff analyze CLI
  crates/red_knot_python_semantic/src/python_version.rs
  crates/ruff/src/args.rs
  crates/ruff/src/commands/analyze_graph.rs
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_graph/src/db.rs
  crates/ruff_graph/src/settings.rs
  crates/ruff_workspace/src/configuration.rs
Labels: configuration, preview

#13416 Upgrade to latest `cargo-dist` version
  .github/workflows/release.yml
  Cargo.toml
Labels: release

#13430 Add test coverage for non-Python globs
  crates/ruff/tests/analyze_graph.rs
Labels: testing

#13422 red-knot: Add not unary operator for boolean literals
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13437 Avoid parsing with Salsa
  Cargo.lock
  crates/ruff_graph/Cargo.toml
  crates/ruff_graph/src/collector.rs
  crates/ruff_graph/src/lib.rs
  crates/ruff_graph/src/resolver.rs
Labels: performance

#13434 `vendored_typeshed_versions` should use `db.vendored`
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed/versions.rs
  crates/ruff_graph/src/db.rs
Labels: red-knot

#13438 Use `forget` for module resolver database
  crates/ruff/src/commands/analyze_graph.rs
Labels: performance

#13439 Bump version to v0.6.7
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#13440 Reuse `BTreeSets` in module resolver
  crates/ruff/src/commands/analyze_graph.rs
  crates/ruff_graph/src/lib.rs
Labels: performance

#13441 Skip traversal for non-compound statements
  crates/ruff_graph/src/collector.rs
Labels: performance

#13471 Use anchorlinks rather than permalinks
  docs/stylesheets/extra.css
  mkdocs.template.yml
Labels: documentation

#13476 Fix formatting for analyze `direction` values
  crates/ruff_workspace/src/options.rs
Labels: documentation

#13480 Update Salsa
  Cargo.lock
  Cargo.toml
Labels: internal

#13484 Avoid panic when analyze graph hits broken pipe
  crates/ruff/src/commands/analyze_graph.rs
Labels: bug

#13486 Detect basic wildcard imports in ruff analyze graph
  crates/ruff/tests/analyze_graph.rs
  crates/ruff_graph/src/collector.rs
Labels: analyze

#13498 C401 message missing closing parenthesis
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_generator_set.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C401_C401.py.snap
Labels: documentation

#13449 [red-knot] Add `Type::bool` and boolean expression inference
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13435 [pylint] Implement `boolean-chained-comparison` (`R1716`)
  crates/ruff_linter/resources/test/fixtures/pylint/boolean_chained_comparison.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/boolean_chained_comparison.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1716_boolean_chained_comparison.py.snap
  ruff.schema.json
Labels: rule, preview

#13301 [internal] `ComparableExpr` (f)strings and bytes made invariant under concatenation
  crates/ruff_python_ast/src/comparable.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast_integration_tests/tests/comparable.rs
Labels: internal

#13503 Detect SIM910 when using variadic keyword arguments, i.e., `**kwargs`
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM910.py
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM910_SIM910.py.snap
  crates/ruff_python_semantic/src/analyze/typing.rs
Labels: bug

#13504 Avoid UP028 false negatives with non-reference shadowed bindings of loop variables
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP028_0.py
  crates/ruff_linter/src/rules/pyupgrade/rules/yield_in_for_loop.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP028_0.py.snap
Labels: bug

#13512 Detect tuples bound to variadic positional arguments i.e. `*args`
  crates/ruff_python_semantic/src/analyze/typing.rs
Labels: bug

#13432 red-knot: Implement the `not` operator for all `Type` variants
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13517 Disable the `typeset` plugin
  mkdocs.template.yml
Labels: bug, documentation

#13510 Align formatting of patterns in match-cases with expression formatting in clause headers
  crates/ruff_python_formatter/resources/test/fixtures/ruff/pattern/pattern_maybe_parenthesize.py
  crates/ruff_python_formatter/src/other/match_case.rs
  crates/ruff_python_formatter/src/pattern/mod.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_as.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_class.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_or.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_singleton.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_star.rs
  crates/ruff_python_formatter/src/pattern/pattern_match_value.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/tests/snapshots/format@pattern__pattern_maybe_parenthesize.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__match.py.snap
Labels: formatter, preview

#13513 Parenthesize `match..case` `if` guards
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/match.py
  crates/ruff_python_formatter/src/expression/parentheses.rs
  crates/ruff_python_formatter/src/other/match_case.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__pattern_matching_with_if_stmt.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@cases__remove_redundant_parens_in_case_guard.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@statement__match.py.snap
Labels: formatter, preview

#13521 Don't skip over imports and other nodes containing nested statements in import collector
  crates/ruff/tests/analyze_graph.rs
  crates/ruff_graph/src/collector.rs
  crates/ruff_graph/src/lib.rs
Labels: bug

#13522 Bump version to 0.6.8
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#13518 Fix handling of slices in tuples for FURB118, e.g., `x[:, 1]`
  crates/ruff_linter/resources/test/fixtures/refurb/FURB118.py
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB118_FURB118.py.snap
Labels: bug

#13509 Expose internal types as public access
  crates/ruff_python_parser/src/lib.rs
Labels: internal

#13529 Remove jemalloc crate when building on AIX
  crates/ruff/Cargo.toml
  crates/ruff/src/main.rs
Labels: release

#13527 Do not offer an invalid fix for PLR1716 when the comparisons contain parenthesis
  crates/ruff_linter/resources/test/fixtures/pylint/boolean_chained_comparison.py
  crates/ruff_linter/src/rules/pylint/rules/boolean_chained_comparison.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1716_boolean_chained_comparison.py.snap
Labels: bug

#13523 Fix codeblock dynamic line length calculation for indented examples
  crates/ruff_python_formatter/resources/test/fixtures/ruff/docstring_code_examples_dynamic_line_width.py
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/string/docstring.rs
  crates/ruff_python_formatter/tests/snapshots/format@docstring_code_examples_dynamic_line_width.py.snap
Labels: formatter, preview

#13531 refactor: Rename `FormatStringContinuation` to `FormatImplicitConcatenatedString`
  crates/ruff_python_formatter/src/expression/binary_like.rs
  crates/ruff_python_formatter/src/expression/expr_bytes_literal.rs
  crates/ruff_python_formatter/src/expression/expr_f_string.rs
  crates/ruff_python_formatter/src/expression/expr_string_literal.rs
  crates/ruff_python_formatter/src/string/any.rs
  crates/ruff_python_formatter/src/string/mod.rs
Labels: internal

#13536 refactor: Simplify quote selection logic
  crates/ruff_python_formatter/src/other/bytes_literal.rs
  crates/ruff_python_formatter/src/other/f_string.rs
  crates/ruff_python_formatter/src/other/string_literal.rs
  crates/ruff_python_formatter/src/string/normalize.rs
Labels: internal

#13511 [red-knot] support fstring expressions
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13538 Red Knot - Infer the return value of bool()
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13546 [`flake8-use-pathlib`] Fix typo in link to Path.stat (PTH116)
  crates/ruff_linter/src/rules/flake8_use_pathlib/violations.rs
Labels: documentation

#13551 Link to `astral-sh/ruff-action`
  README.md
  docs/integrations.md
Labels: documentation

#13559 Add unary inference for integer and boolean literals
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13540 Use uv in contribution document
  CONTRIBUTING.md
Labels: internal

#13575 Fix inference when integers are divided
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: bug, red-knot

#13562 Add some basic subscript type inference
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13548 [red-knot] feat: introduce a new `[Type::Todo]` variant
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#13576 Add diagnostic for integer division by zero
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot
