Repository astral-sh/ruff, pull requests merged in 2025-04, with the labels that each got.

#17100 [red-knot] Add redundant-cast error
  crates/red_knot_python_semantic/resources/mdtest/directives/cast.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  knot.schema.json
Labels: red-knot

#17045 [red-knot] IDE crate
  Cargo.lock
  Cargo.toml
  crates/red_knot_ide/Cargo.toml
  crates/red_knot_ide/src/db.rs
  crates/red_knot_ide/src/lib.rs
  crates/red_knot_project/Cargo.toml
  crates/red_knot_project/src/db.rs
  crates/red_knot_server/Cargo.toml
Labels: red-knot

#17109 [red-knot] Playground improvements
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_wasm/tests/api.rs
  playground/knot/src/Editor/Chrome.tsx
  playground/knot/src/Editor/Diagnostics.tsx
  playground/knot/src/Editor/Editor.tsx
  playground/knot/src/Editor/Files.tsx
Labels: playground, red-knot

#17054 Error instead of `panic!` when running Ruff from a deleted directory (#16903)
  crates/ruff/src/lib.rs
  crates/ruff/src/resolve.rs
  crates/ruff/tests/direxist_guard.rs
Labels: bug, cli

#17120 CI: Run pre-commit on depot machine
  .github/workflows/ci.yaml
Labels: ci

#17107 [red-knot] support Any as a class in typeshed
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_vendored/vendor/typeshed/stdlib/typing.pyi
Labels: red-knot

#17119 [red-knot] Fix more `redundant-cast` false positives
  crates/red_knot_python_semantic/resources/mdtest/directives/cast.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17125 [red-knot] Fix callable subtyping for standard parameters
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/src/types.rs
Labels: bug, red-knot

#17128 mdtest.py: do a full mdtest run immediately when the script is executed
  crates/red_knot_python_semantic/mdtest.py
Labels: testing, red-knot

#17126 [red-knot] Flatten `Type::Callable` into four `Type` variants
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_equivalent_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_single_valued.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_singleton.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/truthiness.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/property_tests/type_generation.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
Labels: red-knot

#17094 [red-knot] Disjointness for callable types
  crates/red_knot_python_semantic/resources/mdtest/annotations/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_disjoint_from.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17105 [red-knot] Add callable subtyping for callable instances and bound methods
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#17137 [red-knot] Move tuple containing `Never` tests
  crates/red_knot_python_semantic/resources/mdtest/annotations/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/tuples_containing_never.md
Labels: internal, red-knot

#17133 [flake8-import-conventions] Add import `numpy.typing as npt` to default `flake8-import-conventions.aliases`
  crates/ruff/tests/lint.rs
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/resources/test/fixtures/flake8_import_conventions/custom.py
  crates/ruff_linter/src/rules/flake8_import_conventions/settings.rs
  crates/ruff_linter/src/rules/flake8_import_conventions/snapshots/ruff_linter__rules__flake8_import_conventions__tests__custom.snap
  crates/ruff_workspace/src/options.rs
Labels: configuration

#17017 [red-knot] Decorators and properties
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/getattr_static.md
  crates/red_knot_python_semantic/resources/mdtest/call/methods.md
  crates/red_knot_python_semantic/resources/mdtest/decorators.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
  crates/red_knot_python_semantic/resources/mdtest/pep695_type_aliases.md
  crates/red_knot_python_semantic/resources/mdtest/properties.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/lists.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/suppressions/no_type_check.md
  crates/red_knot_python_semantic/resources/mdtest/sys_version_info.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/context.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
Labels: red-knot

#17143 [red-knot] Fix `_NotImplementedType` check for Python >=3.10
  crates/red_knot_python_semantic/resources/mdtest/function/return_type.md
  crates/red_knot_python_semantic/src/types/class.rs
Labels: red-knot

#16901 [red-knot] Goto type definition
  Cargo.lock
  crates/red_knot_ide/Cargo.toml
  crates/red_knot_ide/src/db.rs
  crates/red_knot_ide/src/find_node.rs
  crates/red_knot_ide/src/goto.rs
  crates/red_knot_ide/src/lib.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_model.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/document.rs
  crates/red_knot_server/src/document/location.rs
  crates/red_knot_server/src/document/notebook.rs
  crates/red_knot_server/src/document/range.rs
  crates/red_knot_server/src/document/text_document.rs
  crates/red_knot_server/src/lib.rs
  crates/red_knot_server/src/server.rs
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_server/src/server/api/notifications/did_open_notebook.rs
  crates/red_knot_server/src/server/api/requests.rs
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
  crates/red_knot_server/src/server/api/requests/goto_type_definition.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_server/src/session/capabilities.rs
  crates/red_knot_server/src/session/index.rs
  crates/red_knot_server/src/system.rs
  crates/ruff_db/src/files.rs
  crates/ruff_python_parser/src/lib.rs
Labels: red-knot

#17134 [syntax-errors] Starred expressions in return, yield, and for
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_parser/resources/inline/err/single_star_for.py
  crates/ruff_python_parser/resources/inline/err/single_star_return.py
  crates/ruff_python_parser/resources/inline/err/single_star_yield.py
  crates/ruff_python_parser/resources/inline/ok/single_star_in_tuple.py
  crates/ruff_python_parser/resources/valid/expressions/yield.py
  crates/ruff_python_parser/resources/valid/statement/for.py
  crates/ruff_python_parser/resources/valid/statement/return.py
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@expressions__yield__star_expression.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_stmt_invalid_iter_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_stmt_invalid_target.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@return_stmt_invalid_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@single_star_for.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@single_star_return.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@single_star_yield.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__yield.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@single_star_in_tuple.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__for.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@statement__return.py.snap
Labels: rule, preview

#17135 [syntax-errors] Reimplement PLE0118
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/load_before_global_declaration.rs
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/fixtures.rs
Labels: internal

#17055 [red-knot] Add 'Goto type definition' to the playground
  Cargo.lock
  crates/red_knot_ide/src/lib.rs
  crates/red_knot_wasm/Cargo.toml
  crates/red_knot_wasm/src/lib.rs
  playground/knot/src/Editor/Chrome.tsx
  playground/knot/src/Editor/Editor.tsx
  playground/knot/src/Editor/Files.tsx
Labels: playground, red-knot

#17154 ruff_db: switch diagnostic rendering over to `std::fmt::Display`
  crates/red_knot/src/main.rs
  crates/red_knot_ide/src/goto.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_db/src/diagnostic/mod.rs
  crates/ruff_db/src/diagnostic/render.rs
Labels: red-knot

#16976 [`airflow`] Add autofix for `AIR302` method checks
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_class_attribute.py.snap
Labels: fixes, preview

#16978 [`airflow`] Move `AIR301` to `AIR002`
  crates/ruff_linter/resources/test/fixtures/airflow/AIR002.py
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/airflow/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/dag_schedule_argument.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR002_AIR002.py.snap
  ruff.schema.json
Labels: rule, preview

#17085 [`airflow`] Extend `AIR302` with additional symbols
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_args.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_args.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#17157 [red-knot] Detect division-by-zero in unions and intersections
  crates/red_knot_python_semantic/resources/mdtest/binary/unions.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17158 ruff_db: simplify lifetimes on `DiagnosticDisplay`
  crates/ruff_db/src/diagnostic/mod.rs
  crates/ruff_db/src/diagnostic/render.rs
Labels: red-knot

#17151 [`airflow`] Move `AIR302` to `AIR301` and `AIR303` to `AIR302`
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_airflow_plugin.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_args.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_class_attribute.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_context.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_names.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_names_try.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302.py
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/airflow/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/dag_schedule_argument.rs
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_airflow_plugin.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_args.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_class_attribute.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_context.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_names.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_names_try.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302.py.snap
  ruff.schema.json
Labels: rule, preview

#17159 [red-knot] Add initial set of tests for unreachable code
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
Labels: red-knot

#17145 [red-knot] Fix equivalence of differently ordered unions that contain `Callable` types
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_equivalent_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_gradual_equivalent_to.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
Labels: bug, red-knot

#17150 [red-knot] Add GitHub PR annotations when mdtests fail in CI
  .github/workflows/ci.yaml
  crates/red_knot_python_semantic/tests/mdtest.rs
  crates/red_knot_test/src/lib.rs
Labels: ci, red-knot

#17161 [red-knot] Fix inference for `pow` between two literal integers
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: bug, red-knot

#17160 [red-knot] Callable types are disjoint from literals
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_disjoint_from.md
  crates/red_knot_python_semantic/src/types.rs
Labels: bug, red-knot

#17077 [red-knot] visibility_constraint analysis for match cases
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
  crates/red_knot_python_semantic/src/semantic_index/visibility_constraints.rs
Labels: red-knot

#17163 [red-knot] Fix `str(…)` calls
  .github/workflows/mypy_primer.yaml
  crates/red_knot_python_semantic/resources/mdtest/call/builtins.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
Labels: red-knot

#17173 Bump 0.11.3
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#17168 [red-knot] Three-argument type-calls take 'str' as the first argument
  crates/red_knot_python_semantic/resources/mdtest/call/builtins.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/type.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17170 [red-knot] Fix more [redundant-cast] false positives
  crates/red_knot_python_semantic/resources/mdtest/directives/cast.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17129 [syntax-errors] Detect duplicate keys in `match` mapping patterns
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_parser/resources/inline/err/duplicate_match_key.py
  crates/ruff_python_parser/resources/inline/ok/duplicate_match_key_attr.py
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/fixtures.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@duplicate_match_key.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@duplicate_match_key_attr.py.snap
Labels: rule, preview

#17178 Fix relative import resolution in `site-packages` packages when the `site-packages` search path is a subdirectory of the first-party search path
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: bug, red-knot

#17169 [red-knot] Avoid unresolved-reference in unreachable code
  crates/red_knot_python_semantic/resources/mdtest/terminal_statements.md
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
  crates/red_knot_python_semantic/src/symbol.rs
Labels: red-knot

#17179 [red-knot] update to latest Salsa with fixpoint caching fix
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
Labels: red-knot

#17102 [red-knot] Add `Type::TypeVar` variant
  crates/red_knot_ide/src/lib.rs
  crates/red_knot_python_semantic/resources/mdtest/generics/functions.md
  crates/red_knot_python_semantic/resources/mdtest/generics/pep695.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
Labels: red-knot

#17184 [syntax-errors] Fix multiple assignment for class keyword argument
  crates/ruff_python_parser/resources/inline/err/multiple_assignment_in_case_pattern.py
  crates/ruff_python_parser/resources/inline/ok/class_keyword_in_case_pattern.py
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@multiple_assignment_in_case_pattern.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@class_keyword_in_case_pattern.py.snap
Labels: bug, preview

#17186 [syntax-errors] Duplicate attributes in match class pattern
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_parser/resources/inline/err/duplicate_match_class_attr.py
  crates/ruff_python_parser/resources/inline/err/duplicate_match_key.py
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@duplicate_match_class_attr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@duplicate_match_key.py.snap
Labels: rule, preview

#17101 [syntax-errors] Invalid syntax in annotations
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_python_parser/resources/inline/err/invalid_annotation_class.py
  crates/ruff_python_parser/resources/inline/err/invalid_annotation_function.py
  crates/ruff_python_parser/resources/inline/err/invalid_annotation_type_alias.py
  crates/ruff_python_parser/resources/inline/ok/function_def_valid_return_expr.py
  crates/ruff_python_parser/resources/inline/ok/param_with_annotation.py
  crates/ruff_python_parser/resources/inline/ok/valid_annotation_class.py
  crates/ruff_python_parser/resources/inline/ok/valid_annotation_function.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_def_invalid_return_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_annotation_class.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_annotation_function.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_annotation_type_alias.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@param_with_invalid_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@param_with_invalid_star_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_alias_invalid_value_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_invalid_bound_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_param_spec_invalid_default_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_type_var_invalid_default_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_type_var_tuple_invalid_default_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@function_def_valid_return_expr.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@param_with_annotation.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@valid_annotation_class.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@valid_annotation_function.py.snap
Labels: rule, preview

#17188 [minor] Fix extra semicolon for clippy
  crates/ruff_python_parser/src/semantic_errors.rs
Labels: internal

#17057 [red-knot] Add basic on-hover to playground and LSP
  crates/red_knot_ide/src/goto.rs
  crates/red_knot_ide/src/hover.rs
  crates/red_knot_ide/src/lib.rs
  crates/red_knot_ide/src/markup.rs
  crates/red_knot_server/src/document/location.rs
  crates/red_knot_server/src/document/range.rs
  crates/red_knot_server/src/server.rs
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_server/src/server/api/requests.rs
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
  crates/red_knot_server/src/server/api/requests/hover.rs
  crates/red_knot_server/src/session/capabilities.rs
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_python_parser/src/lib.rs
  playground/knot/src/Editor/Editor.tsx
Labels: red-knot

#17138 Implement `Invalid rule provided` as rule RUF102 with `--fix`
  crates/ruff_linter/resources/test/fixtures/ruff/RUF102.py
  crates/ruff_linter/src/checkers/noqa.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/invalid_rule_code.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF102_RUF102.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__invalid_rule_code_external_rules.snap
  ruff.schema.json
Labels: rule, preview

#17153 [red-knot] Add `Type.definition` method
  Cargo.lock
  crates/red_knot_ide/Cargo.toml
  crates/red_knot_ide/src/goto.rs
  crates/red_knot_ide/src/lib.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/definition.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
Labels: red-knot

#17200 [red-knot] mypy_primer: do not specify Python version
  .github/workflows/mypy_primer.yaml
Labels: ci, red-knot

#17201 Don't skip visiting non-tuple slice in `typing.Annotated` subscripts
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
Labels: bug

#17212 Bump 0.11.4
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#17210 Run fuzzer with `--preview`
  python/py-fuzzer/fuzz.py
Labels: fuzzer

#17213 [red-knot] Empty tuple is always-falsy
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17209 [red-knot] Add cycle handling to narrow constraints queries
  .github/workflows/mypy_primer.yaml
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#17221 [red-knot] Allow setting `python` in mdtests
  crates/red_knot_test/src/config.rs
  crates/red_knot_test/src/lib.rs
Labels: red-knot

#17223 [red-knot] Simplify playground editor state
  playground/knot/src/Editor/Editor.tsx
Labels: playground, red-knot

#17236 [playground] Add Reset button
  playground/knot/src/Editor/Chrome.tsx
  playground/knot/src/Editor/Editor.tsx
  playground/knot/src/Editor/Files.tsx
  playground/knot/src/Playground.tsx
  playground/ruff/src/Editor/Chrome.tsx
  playground/shared/src/Header.tsx
  playground/shared/src/ShareButton.tsx
  playground/shared/src/ThemeButton.tsx
Labels: playground

#17235 Fix `CallableTypeOf` display signature
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17222 [red-knot] Fix `python` setting in mdtests, and rewrite a `site-packages` test as an mdtest
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_test/README.md
  crates/red_knot_test/src/lib.rs
Labels: testing, red-knot

#17237 [red-knot] Fix loading color in dark mode
  playground/knot/src/Editor/SecondaryPanel.tsx
  playground/knot/src/Playground.tsx
Labels: playground, red-knot

#17242 [playground] Provide fallback monospace-font
  playground/knot/src/index.css
  playground/ruff/src/index.css
Labels: playground

#17229 [red-knot] Remove global `dead_code` from red-knot-server
  Cargo.lock
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/document/notebook.rs
  crates/red_knot_server/src/document/range.rs
  crates/red_knot_server/src/lib.rs
  crates/red_knot_server/src/server/api/traits.rs
  crates/red_knot_server/src/server/schedule.rs
  crates/red_knot_server/src/server/schedule/task.rs
  crates/red_knot_server/src/session/index.rs
Labels: red-knot

#17265 Revert "Update Rust crate clap to v4.5.35"
  Cargo.lock
Labels: internal

#17217 [red-knot] Add 'Format document' to playground
  Cargo.lock
  crates/red_knot_project/Cargo.toml
  crates/red_knot_project/src/db.rs
  crates/red_knot_wasm/Cargo.toml
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_python_formatter/Cargo.toml
  crates/ruff_python_formatter/src/db.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_parser/src/error.rs
  playground/knot/src/Editor/Editor.tsx
Labels: playground, red-knot

#17270 [red-knot] Add a couple more tests for `*` imports
  crates/red_knot_python_semantic/resources/mdtest/import/star.md
Labels: testing, red-knot

#17271 ruff_annotate_snippets: address unused code warnings
  crates/ruff_annotate_snippets/tests/fixtures/main.rs
Labels: internal

#17272 [docs] fix formatting of "See Style Guide" link
  docs/formatter.md
Labels: documentation

#17123 [`airflow`] Update oudated `AIR301`, `AIR302` rules
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_names.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302.py
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR002_AIR002.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_context.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_names.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302.py.snap
Labels: rule, preview

#17275 [ci] Fix pattern for code changes
  .github/workflows/ci.yaml
Labels: ci

#17280 [red-knot] Fix stale syntax errors in playground
  playground/knot/src/Editor/Diagnostics.tsx
Labels: playground, red-knot

#17243 [red-knot] Allow ellipsis default params in stub functions
  crates/red_knot_python_semantic/resources/mdtest/function/parameters.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: bug, red-knot

#17284 [red-knot] Add `--python-platform` CLI option
  crates/red_knot/src/args.rs
  crates/red_knot/tests/cli.rs
  crates/red_knot_project/src/metadata/options.rs
  crates/red_knot_python_semantic/src/python_platform.rs
  knot.schema.json
Labels: cli, red-knot

#17277 [playground] New default program
  playground/knot/src/Playground.tsx
Labels: playground, red-knot

#17227 [red-knot] Don't use latency-sensitive for handlers
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_server/src/server/schedule/task.rs
  crates/ruff_server/src/server/api.rs
  crates/ruff_server/src/server/schedule/task.rs
Labels: server, red-knot

#17199 [red-knot] Reachability analysis
  crates/red_knot_python_semantic/resources/mdtest/statically_known_branches.md
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17291 [red-knot] Fix dead-code clippy warning
  crates/red_knot_server/src/server/schedule/task.rs
Labels: internal, red-knot

#17290 [red-knot] Do not show types for literal expressions on hover
  crates/red_knot_ide/src/hover.rs
  crates/ruff_python_ast/src/nodes.rs
Labels: red-knot

#17287 [red-knot] Add support for `assert_never`
  crates/red_knot_python_semantic/resources/mdtest/directives/assert_never.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  knot.schema.json
Labels: red-knot

#17282 [syntax-errors] Extend annotation checks to `await`
  crates/ruff_python_parser/resources/inline/err/invalid_annotation_class.py
  crates/ruff_python_parser/resources/inline/err/invalid_annotation_function.py
  crates/ruff_python_parser/resources/inline/err/invalid_annotation_function_py314.py
  crates/ruff_python_parser/resources/inline/err/invalid_annotation_type_alias.py
  crates/ruff_python_parser/resources/inline/ok/valid_annotation_class.py
  crates/ruff_python_parser/resources/inline/ok/valid_annotation_function_py313.py
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_annotation_class.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_annotation_function.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_annotation_function_py314.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@invalid_annotation_type_alias.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@valid_annotation_class.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@valid_annotation_function_py313.py.snap
Labels: rule, preview

#17278 [`airflow`] Expand module path check to individual symbols (`AIR302`)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302.py
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302.py.snap
Labels: rule, preview

#17177 [syntax-errors] Async comprehension in sync comprehension
  crates/ruff_linter/resources/test/fixtures/syntax_errors/async_comprehension.ipynb
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/snapshots/ruff_linter__linter__tests__async_comprehension_in_sync_comprehension_deferred_function_body_3.10.snap
  crates/ruff_linter/src/snapshots/ruff_linter__linter__tests__async_comprehension_in_sync_comprehension_error_on_310_3.10.snap
  crates/ruff_linter/src/snapshots/ruff_linter__linter__tests__async_comprehension_in_sync_comprehension_notebook_3.10.snap
  crates/ruff_linter/src/snapshots/ruff_linter__linter__tests__async_comprehension_in_sync_comprehension_notebook_3.11.snap
  crates/ruff_linter/src/snapshots/ruff_linter__linter__tests__async_comprehension_in_sync_comprehension_okay_on_310_3.10.snap
  crates/ruff_linter/src/snapshots/ruff_linter__linter__tests__async_comprehension_in_sync_comprehension_okay_on_311_3.11.snap
  crates/ruff_python_parser/resources/inline/err/nested_async_comprehension_py310.py
  crates/ruff_python_parser/resources/inline/ok/all_async_comprehension_py310.py
  crates/ruff_python_parser/resources/inline/ok/nested_async_comprehension_py310.py
  crates/ruff_python_parser/resources/inline/ok/nested_async_comprehension_py311.py
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@nested_async_comprehension_py310.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@all_async_comprehension_py310.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@nested_async_comprehension_py310.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@nested_async_comprehension_py311.py.snap
Labels: rule, preview

#16512 [red-knot] Add `__init__` arguments check when doing `try_call` on a class literal
  crates/red_knot_python_semantic/resources/mdtest/annotations/new_types.md
  crates/red_knot_python_semantic/resources/mdtest/call/constructor.md
  crates/red_knot_python_semantic/resources/mdtest/call/subclass_of.md
  crates/red_knot_python_semantic/resources/mdtest/generics/classes.md
  crates/red_knot_python_semantic/resources/mdtest/unary/invert_add_usub.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/arguments.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
Labels: red-knot

#16748 [red-knot] Add custom `__setattr__` support
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17303 [red-knot] mypy_primer: Run on `async-utils`
  .github/workflows/mypy_primer.yaml
Labels: ci, red-knot

#17306 [red-knot] Add new 'unreachable code' test case
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
Labels: testing, red-knot

#17183 [red-knot] Default `python-platform` to current platform
  crates/red_knot/src/args.rs
  crates/red_knot_project/src/metadata/options.rs
  crates/red_knot_python_semantic/resources/mdtest/call/getattr_static.md
  crates/red_knot_python_semantic/resources/mdtest/sys_platform.md
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
  crates/red_knot_python_semantic/src/python_platform.rs
  crates/red_knot_test/src/lib.rs
  knot.schema.json
Labels: red-knot

#17286 [red-knot] Improve handling of visibility constraints in external modules when resolving `*` imports
  crates/red_knot_python_semantic/resources/mdtest/import/star.md
  crates/red_knot_python_semantic/resources/mdtest/properties.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/predicate.rs
  crates/red_knot_python_semantic/src/semantic_index/visibility_constraints.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#17152 [`airflow`] Extract `AIR312` from `AIR302` rules (`AIR302`, `AIR312`)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR312.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/airflow/helpers.rs
  crates/ruff_linter/src/rules/airflow/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/rules/suggested_to_move_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR312_AIR312.py.snap
  ruff.schema.json
Labels: rule, preview

#17293 [`airflow`] Refactor `AIR301` logic and fix typos (`AIR301`)
  crates/ruff_linter/src/rules/airflow/helpers.rs
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_class_attribute.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_names.py.snap
Labels: internal

#17317 [red-knot] Optimise visibility constraints for `*`-import definitions
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
Labels: performance, red-knot

#17285 [syntax-errors] Document behavior of `global` declarations in `try` nodes before 3.13
  crates/ruff_python_parser/src/semantic_errors.rs
Labels: documentation

#17321 [red-knot] Update salsa (part 1)
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
Labels: red-knot

#17297 [red-knot] Fix false positives on `types.UnionType` instances in type expressions
  crates/red_knot_python_semantic/resources/mdtest/annotations/union.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
Labels: red-knot

#17115 [`airflow`] Add missing `AIR302` attribute check
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302.py.snap
Labels: rule, preview

#17314 Refactor semantic syntax error scope handling
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/await_outside_async.rs
  crates/ruff_python_parser/resources/inline/ok/nested_async_comprehension_py310.py
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/fixtures.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@nested_async_comprehension_py310.py.snap
  crates/ruff_python_semantic/src/scope.rs
Labels: internal

#17323 Use python.typing.org for typing documentation links
  crates/red_knot_python_semantic/resources/mdtest/annotations/callable.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/int_float_complex.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/doc/public_type_undeclared_symbols.md
  crates/red_knot_python_semantic/resources/mdtest/generics/legacy.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
  crates/red_knot_python_semantic/resources/mdtest/import/conventions.md
  crates/red_knot_python_semantic/resources/mdtest/suppressions/no_type_check.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_equivalent_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_gradual_equivalent_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/suppression.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_vendored/vendor/typeshed/README.md
  crates/ruff/tests/snapshots/integration_test__rule_f401.snap
  crates/ruff_linter/src/message/snapshots/ruff_linter__message__sarif__tests__results.snap
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/complex_if_statement_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/future_annotations_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_empty_stub_body.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/pass_statement_stub_body.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/quoted_annotation_in_stub.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_none_literal.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unrecognized_platform.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unrecognized_version_info.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/blank_lines.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_import.rs
  crates/ruff_linter/src/rules/ruff/rules/redundant_bool_literal.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_nested_literal.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation, internal

#17214 [red-knot] Add inlay type hints
  crates/red_knot_ide/src/inlay_hints.rs
  crates/red_knot_ide/src/lib.rs
  crates/red_knot_server/src/document.rs
  crates/red_knot_server/src/document/range.rs
  crates/red_knot_server/src/server.rs
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_server/src/server/api/requests.rs
  crates/red_knot_server/src/server/api/requests/inlay_hints.rs
  crates/red_knot_wasm/src/lib.rs
  playground/knot/src/Editor/Editor.tsx
  playground/package-lock.json
Labels: red-knot

#17332 [red-knot] Track reachability of scopes
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17334 [red-knot] Fix double hovers/inlays in playground
  playground/knot/src/Editor/Editor.tsx
Labels: playground, red-knot

#17326 [red-knot] avoid unnecessary evaluation of visibility constraint on definitely-unbound symbol
  Cargo.lock
  Cargo.toml
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  fuzz/Cargo.toml
Labels: red-knot

#17149 [red-knot] Type narrowing for assertions
  crates/red_knot_python_semantic/resources/mdtest/narrow/assert.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17305 [red-knot] Silence `unresolved-attribute` in unreachable code
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17336 [red-knot] Silence `unresolved-import` in unreachable code
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17342 [red-knot] Silence errors in unreachable type annotations / class bases
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17216 Don't add chaperone space after escaped quote in triple quote
  crates/ruff_python_formatter/resources/test/fixtures/ruff/docstring_chaperones.py
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/src/string/docstring.rs
  crates/ruff_python_formatter/src/string/implicit.rs
  crates/ruff_python_formatter/tests/snapshots/format@docstring_chaperones.py.snap
Labels: formatter, preview

#17340 Add `Checker::import_from_typing`
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_non_annotated_dependency.rs
  crates/ruff_linter/src/rules/flake8_annotations/helpers.rs
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_for_self.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_union_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_none_literal.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/simple_defaults.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__py38_PYI026_PYI026.pyi.snap
  crates/ruff_linter/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff_python_ast/src/python_version.rs
Labels: internal

#17350 [red-knot] Refresh diagnostics when changing related files
  crates/red_knot_server/src/server.rs
Labels: server, red-knot

#17358 Allow types.ruff.rs for red-knot playground
  playground/api/src/index.ts
Labels: playground, red-knot

#17300 [syntax-errors] `return` outside function
  crates/ruff_linter/resources/test/fixtures/syntax_errors/return_outside_function.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/rules/pyflakes/rules/return_outside_function.rs
  crates/ruff_linter/src/snapshots/ruff_linter__linter__tests__return_outside_function.py.snap
  crates/ruff_python_parser/src/semantic_errors.rs
Labels: rule

#17362 [red-knot] Minor followup on str.startswith
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17367 [red-knot] Use concise message for the server
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
Labels: server, red-knot

#16852 [red-knot] detect unreachable attribute assignments
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/attribute_assignment.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17387 [red-knot] Document limitations of diagnostics-silencing in unreachable code
  crates/red_knot_python_semantic/resources/mdtest/unreachable.md
Labels: red-knot

#17389 [red-knot] mypy_primer: Fail job on panic or internal errors
  .github/workflows/mypy_primer.yaml
Labels: ci, red-knot

#17393 [red-knot] add a large-union-of-string-literals benchmark
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#17363 [syntax-errors] `await` outside async functions
  crates/ruff_linter/resources/test/fixtures/pylint/await_outside_async.py
  crates/ruff_linter/src/checkers/ast/analyze/comprehension.rs
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/await_outside_async.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE1142_await_outside_async.py.snap
  crates/ruff_python_parser/src/semantic_errors.rs
  crates/ruff_python_parser/tests/fixtures.rs
Labels: internal

#17365 [red-knot] Move relation methods from `CallableType` to `Signature`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: internal, red-knot

#17294 [red-knot] improve function/bound method type display
  crates/red_knot_ide/src/hover.rs
  crates/red_knot_python_semantic/resources/mdtest/annotations/callable.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/custom.md
  crates/red_knot_python_semantic/resources/mdtest/call/getattr_static.md
  crates/red_knot_python_semantic/resources/mdtest/call/methods.md
  crates/red_knot_python_semantic/resources/mdtest/decorators.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
  crates/red_knot_python_semantic/resources/mdtest/import/builtins.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/import/star.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/truthiness.md
  crates/red_knot_python_semantic/resources/mdtest/properties.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/builtin.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly-not-callable_`__getitem__`_method.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_invalid_`__getitem__`_methods.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_invalid_`__iter__`_methods.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_unbound_`__iter__`_and_possibly_invalid_`__getitem__`.snap
  crates/red_knot_python_semantic/resources/mdtest/type_of/dynamic.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/resources/mdtest/unary/custom.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/display.rs
Labels: red-knot

#17353 [red-knot] Initial support for `dataclass`es
  crates/red_knot_python_semantic/resources/mdtest/dataclasses.md
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
Labels: red-knot

#17407 [red-knot] Minor 'member_lookup_with_policy' fix
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17375 [red-knot] Further optimize `*`-import visibility constraints
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
Labels: performance, red-knot

#17373 [red-knot] Add some knowledge of `__all__` to `*`-import machinery
  crates/red_knot_python_semantic/resources/mdtest/import/star.md
  crates/red_knot_python_semantic/src/semantic_index/re_exports.rs
Labels: red-knot

#17408 [red-knot] Add regression tests for narrowing constraints cycles
  crates/red_knot_project/resources/test/corpus/cycle_narrowing_constraints.py
  crates/red_knot_project/resources/test/corpus/cycle_negative_narrowing_constraints.py
Labels: testing, red-knot

#17409 Raise syntax error when `\` is at end of file
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__line_continuation_at_eof_after_newline_mac_eol.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__line_continuation_at_eof_after_newline_unix_eol.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__line_continuation_at_eof_after_newline_windows_eol.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__line_continuation_at_eof_mac_eol.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__line_continuation_at_eof_unix_eol.snap
  crates/ruff_python_parser/src/snapshots/ruff_python_parser__lexer__tests__line_continuation_at_eof_windows_eol.snap
Labels: bug, parser

#17413 [red-knot] Acknowledge that `T & anything` is assignable to `T`
  crates/red_knot_python_semantic/resources/mdtest/generics/pep695.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17416 [red-knot] make large-union benchmark more challenging
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#17370 [red-knot] Do not assume that `x != 0` if `x` inhabits `~Literal[0]`
  crates/red_knot_python_semantic/resources/mdtest/comparison/intersections.md
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17425 [red-knot] Fix comments in type_api.md
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
Labels: red-knot

#17403 [red-knot] optimize building large unions of literals
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/string.md
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: performance, red-knot

#17310 [`airflow`] Extract `AIR311` from `AIR301` rules (`AIR301`, `AIR311`)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_args.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR301_names.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR311_args.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR311_names.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/airflow/helpers.rs
  crates/ruff_linter/src/rules/airflow/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/mod.rs
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/rules/suggested_to_update_3_0.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_args.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_class_attribute.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR301_AIR301_names.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR311_AIR311_args.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR311_AIR311_names.py.snap
  ruff.schema.json
Labels: rule, preview

#17429 [red-knot] simplify union size limit handling
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#17174 [red-knot] Support `super`
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/class/super.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
  knot.schema.json
Labels: red-knot

#17430 [red-knot] Check assignability of bound methods to callables
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17301 [red-knot] Super-basic generic inference at call sites
  crates/red_knot_python_semantic/resources/mdtest/call/methods.md
  crates/red_knot_python_semantic/resources/mdtest/generics/classes.md
  crates/red_knot_python_semantic/resources/mdtest/generics/functions.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/arguments.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/generics.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/slots.rs
Labels: red-knot

#17406 [red-knot] Dataclasses: support `order=True`
  .github/workflows/mypy_primer.yaml
  crates/red_knot_python_semantic/resources/mdtest/dataclasses.md
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/generics.rs
Labels: red-knot

#17428 [red-knot] Dataclasses: synthesize `__init__` with proper signature
  crates/red_knot_python_semantic/resources/mdtest/dataclasses.md
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/class.rs
Labels: red-knot

#17436 [red-knot] Initial tests for protocols
  crates/red_knot_python_semantic/resources/mdtest/protocols.md
Labels: testing, red-knot

#17180 Auto generate `visit_source_order`
  crates/ruff_python_ast/ast.toml
  crates/ruff_python_ast/generate.py
  crates/ruff_python_ast/src/generated.rs
  crates/ruff_python_ast/src/node.rs
  crates/ruff_python_ast/src/nodes.rs
Labels: internal

#17449 Bump 0.11.6
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#17450 [red-knot] Add `KnownFunction` variants for `is_protocol`, `get_protocol_members` and `runtime_checkable`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#17410 [`pyflakes`] Add fix safety section (`F841`)
  crates/ruff_linter/src/message/snapshots/ruff_linter__message__sarif__tests__results.snap
  crates/ruff_linter/src/rules/pyflakes/rules/unused_variable.rs
Labels: documentation

#16379 [red-knot] Detect version-related syntax errors
  crates/red_knot_ide/src/db.rs
  crates/red_knot_project/src/db.rs
  crates/red_knot_project/src/lib.rs
  crates/red_knot_python_semantic/resources/mdtest/annotations/callable.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/deferred.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/starred.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_special_forms.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/methods.md
  crates/red_knot_python_semantic/resources/mdtest/class/super.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
  crates/red_knot_python_semantic/resources/mdtest/dataclasses.md
  crates/red_knot_python_semantic/resources/mdtest/diagnostics/version_related_syntax_errors.md
  crates/red_knot_python_semantic/resources/mdtest/directives/assert_never.md
  crates/red_knot_python_semantic/resources/mdtest/function/parameters.md
  crates/red_knot_python_semantic/resources/mdtest/function/return_type.md
  crates/red_knot_python_semantic/resources/mdtest/generics/classes.md
  crates/red_knot_python_semantic/resources/mdtest/generics/functions.md
  crates/red_knot_python_semantic/resources/mdtest/generics/pep695.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
  crates/red_knot_python_semantic/resources/mdtest/import/star.md
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/type.md
  crates/red_knot_python_semantic/resources/mdtest/protocols.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/version_related_syntax_errors.md_-_Version-related_syntax_error_diagnostics_-_`match`_statement_-_Before_3.10.snap
  crates/red_knot_python_semantic/resources/mdtest/statically_known_branches.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_disjoint_from.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_test/src/assertion.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/matcher.rs
  crates/ruff_db/src/diagnostic/mod.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_graph/src/db.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: red-knot

#17421 Server: Use `min` instead of `max` to limit the number of threads
  crates/red_knot_server/src/lib.rs
  crates/ruff/src/lib.rs
Labels: server, red-knot

#17448 [red-knot] Add some narrowing for assignment expressions
  crates/red_knot_python_semantic/resources/mdtest/boolean/short_circuit.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/elif_else.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/in.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is_not.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/not_eq.md
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#17302 [red-knot] more type-narrowing in match statements
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#17444 [`pyupgrade`] Add fix safety section to docs (`UP036`)
  crates/ruff_linter/src/rules/pyupgrade/rules/outdated_version_block.rs
Labels: documentation

#17366 [red-knot] Add support for overloaded functions
  crates/red_knot/tests/cli.rs
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/dataclasses.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/truthiness.md
  crates/red_knot_python_semantic/resources/mdtest/overloads.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/lists.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/string.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_equivalent_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_fully_static.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_gradual_equivalent_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/property_tests/type_generation.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#17456 [red-knot] class bases are not affected by __future__.annotations
  crates/red_knot_python_semantic/resources/mdtest/annotations/deferred.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#17345 [red-knot] Type narrowing for assertions (take 2)
  crates/red_knot_python_semantic/resources/mdtest/narrow/assert.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot
