Repository astral-sh/ruff, pull requests merged in 2025-02, with the labels that each got.

#15873 Use `Diagnostic::try_set_fix` in `bad-generator-return-type`
  crates/ruff_linter/src/rules/flake8_pyi/rules/bad_generator_return_type.rs
Labels: internal

#15871 Add convenience helper methods for AST nodes representing function parameters
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_non_annotated_dependency.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_unused_path_parameter.rs
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/hardcoded_password_default.rs
  crates/ruff_linter/src/rules/flake8_boolean_trap/rules/boolean_default_value_positional_argument.rs
  crates/ruff_linter/src/rules/flake8_boolean_trap/rules/boolean_type_hint_positional_argument.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/function_call_in_argument_default.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/loop_variable_overrides_iterator.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mutable_argument_default.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_argument_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_lambda_argument_shadowing.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/any_eq_ne_annotation.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/exit_annotations.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/pre_pep570_positional_argument.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/simple_defaults.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/fixture.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/test_functions.rs
  crates/ruff_linter/src/rules/flake8_unused_arguments/rules/unused_arguments.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
  crates/ruff_linter/src/rules/pylint/rules/no_self_use.rs
  crates/ruff_linter/src/rules/pylint/rules/self_or_cls_assignment.rs
  crates/ruff_linter/src/rules/pylint/rules/too_many_arguments.rs
  crates/ruff_linter/src/rules/pylint/rules/too_many_positional_arguments.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/super_call_with_parameters.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep646_unpack.rs
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_operator.rs
  crates/ruff_linter/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff_linter/src/rules/ruff/rules/post_init_default.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_semantic/src/analyze/typing.rs
Labels: internal

#15878 Vendor benchmark test files
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/formatter.rs
  crates/ruff_benchmark/benches/lexer.rs
  crates/ruff_benchmark/benches/linter.rs
  crates/ruff_benchmark/benches/parser.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_benchmark/resources/README.md
  crates/ruff_benchmark/resources/large/dataset.py
  crates/ruff_benchmark/resources/numpy/ctypeslib.py
  crates/ruff_benchmark/resources/numpy/globals.py
  crates/ruff_benchmark/resources/pydantic/types.py
  crates/ruff_benchmark/resources/pypinyin.py
  crates/ruff_benchmark/resources/tomllib/__init__.py
  crates/ruff_benchmark/resources/tomllib/_parser.py
  crates/ruff_benchmark/resources/tomllib/_re.py
  crates/ruff_benchmark/resources/tomllib/_types.py
  crates/ruff_benchmark/src/lib.rs
Labels: internal

#15821 [`flake8-pyi`] Fix more complex cases (`PYI019`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI019_0.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI019_0.pyi
  crates/ruff_linter/src/checkers/ast/analyze/bindings.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_return_type.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_0.pyi.snap
  crates/ruff_python_semantic/src/model.rs
Labels: fixes, preview

#15823 [red-knot] Add version command
  crates/red_knot/build.rs
  crates/red_knot/src/args.rs
  crates/red_knot/src/main.rs
  crates/red_knot/src/version.rs
Labels: red-knot

#15880 [`flake8-pyi`] Avoid an unnecessary `.unwrap()` call in `PYI019` autofix
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_return_type.rs
Labels: internal

#15881 [`flake8-pyi`] Minor cosmetic changes to `PYI019`
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_return_type.rs
Labels: internal

#15746 [red-knot] Support `--exit-zero` and `--error-on-warning`
  crates/red_knot/src/args.rs
  crates/red_knot/src/main.rs
  crates/red_knot/tests/cli.rs
Labels: red-knot

#15909 Improve Docs: Pylint subcategories' codes
  crates/ruff_dev/src/generate_rules_table.rs
Labels: documentation

#15885 [`flake8-pyi`] Rename `PYI019` and improve its diagnostic message
  crates/ruff_linter/src/checkers/ast/analyze/bindings.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_for_self.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_1.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_0.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_1.pyi.snap
Labels: rule

#15904 Convert `.md` links in rule documentation to full URLs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/type_alias_quotes.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/non_pep695_generic_class.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/non_pep695_generic_function.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/quoted_annotation.rs
Labels: internal

#15877 [`flake8-comprehensions`] Unnecessary `list` comprehension (rewrite as a `set` comprehension) (`C403`) - Handle extraneous parentheses around list comprehension
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C403.py
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_list_comprehension_set.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C403_C403.py.snap
Labels: bug, fixes

#15811 [red-knot] Implicit instance attributes
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/attribute_assignment.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/expression.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15913 [red-knot] Internal refactoring of visibility constraints API
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/symbol_state.rs
  crates/red_knot_python_semantic/src/visibility_constraints.rs
Labels: internal, red-knot

#15890 [red-knot] Enforce specifying paths for mdtest code blocks in a separate preceding line
  crates/red_knot_python_semantic/resources/mdtest/annotations/deferred.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/boundness_declaredness/public.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/expression/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/resources/mdtest/import/basic.md
  crates/red_knot_python_semantic/resources/mdtest/import/builtins.md
  crates/red_knot_python_semantic/resources/mdtest/import/conditional.md
  crates/red_knot_python_semantic/resources/mdtest/import/conflicts.md
  crates/red_knot_python_semantic/resources/mdtest/import/errors.md
  crates/red_knot_python_semantic/resources/mdtest/import/invalid_syntax.md
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/resources/mdtest/import/stubs.md
  crates/red_knot_python_semantic/resources/mdtest/import/tracking.md
  crates/red_knot_python_semantic/resources/mdtest/known_constants.md
  crates/red_knot_python_semantic/resources/mdtest/mdtest_custom_typeshed.md
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/resources/mdtest/mro.md
  crates/red_knot_python_semantic/resources/mdtest/regression/14334_diagnostics_in_wrong_file.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/statically_known_branches.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/ellipsis.md
  crates/red_knot_python_semantic/resources/mdtest/suppressions/type_ignore.md
  crates/red_knot_python_semantic/resources/mdtest/sys_version_info.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/basic.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_test/README.md
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/parser.rs
Labels: testing, red-knot

#15799 [`flake8-logging`] `.exception()` and `exc_info=` outside exception handlers (`LOG004`, `LOG014`)
  crates/ruff_linter/resources/test/fixtures/flake8_logging/LOG004_0.py
  crates/ruff_linter/resources/test/fixtures/flake8_logging/LOG004_1.py
  crates/ruff_linter/resources/test/fixtures/flake8_logging/LOG014_0.py
  crates/ruff_linter/resources/test/fixtures/flake8_logging/LOG014_1.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_logging/mod.rs
  crates/ruff_linter/src/rules/flake8_logging/rules/exc_info_outside_except_handler.rs
  crates/ruff_linter/src/rules/flake8_logging/rules/helpers.rs
  crates/ruff_linter/src/rules/flake8_logging/rules/log_exception_outside_except_handler.rs
  crates/ruff_linter/src/rules/flake8_logging/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_logging/snapshots/ruff_linter__rules__flake8_logging__tests__LOG004_LOG004_0.py.snap
  crates/ruff_linter/src/rules/flake8_logging/snapshots/ruff_linter__rules__flake8_logging__tests__LOG004_LOG004_1.py.snap
  crates/ruff_linter/src/rules/flake8_logging/snapshots/ruff_linter__rules__flake8_logging__tests__LOG014_LOG014_0.py.snap
  crates/ruff_linter/src/rules/flake8_logging/snapshots/ruff_linter__rules__flake8_logging__tests__LOG014_LOG014_1.py.snap
  ruff.schema.json
Labels: rule, preview

#15922 [airflow] `BashOperator` has been moved to `airflow.providers.standard.operators.bash.BashOperator` (AIR302)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#15883 nit: docs for ignore & select
  crates/ruff/tests/config.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation

#15762 [`pylint`] Fix missing parens in unsafe fix for `unnecessary-dunder-call` (`PLC2801`)
  crates/ruff_linter/resources/test/fixtures/pylint/unnecessary_dunder_call.py
  crates/ruff_linter/src/rules/pylint/rules/unnecessary_dunder_call.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLC2801_unnecessary_dunder_call.py.snap
Labels: bug, preview

#15818 Preserve triple quotes and prefixes for strings
  Cargo.lock
  crates/red_knot_python_semantic/src/types/display.rs
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM905.py
  crates/ruff_linter/src/rules/flake8_quotes/rules/unnecessary_escaped_quote.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/split_static_string.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM905_SIM905.py.snap
  crates/ruff_linter/src/rules/pyupgrade/rules/printf_string_formatting.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/str.rs
  crates/ruff_python_codegen/Cargo.toml
  crates/ruff_python_codegen/src/generator.rs
  crates/ruff_python_formatter/src/string/implicit.rs
  crates/ruff_python_formatter/src/string/mod.rs
  crates/ruff_python_formatter/src/string/normalize.rs
  crates/ruff_python_literal/src/escape.rs
  crates/ruff_python_parser/src/token.rs
Labels: bug, fixes

#15932 [red-knot] MDTest: Fix line numbers in error messages
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/parser.rs
Labels: testing, red-knot

#15928 Update black deviations
  docs/formatter/black.md
Labels: documentation

#15935 Make `Binding::range()` point to the range of a type parameter's name, not the full type parameter
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_for_self.rs
Labels: internal, linter

#15933 [red-knot] Use unambiguous invalid-syntax-construct for suppression comment test
  crates/red_knot_python_semantic/resources/mdtest/suppressions/knot_ignore.md
Labels: testing, red-knot

#15938 [`flake8-pyi`] Make PEP-695 functions with multiple type parameters fixable by PYI019 again
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI019_0.py
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI019_0.pyi
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_for_self.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_0.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_0.pyi.snap
Labels: bug, internal

#15944 Simplify the `StringFlags` trait
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/token.rs
Labels: internal

#15862 [`pyupgrade`] Rename private type parameters in PEP 695 generics (`UP049`)
  crates/ruff/tests/lint.rs
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP049_0.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP049_1.py
  crates/ruff_linter/src/checkers/ast/analyze/bindings.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/renamer.rs
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/private_type_parameter.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP049_0.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP049_1.py.snap
  crates/ruff_linter/src/rules/ruff/rules/used_dummy_variable.rs
  ruff.schema.json
Labels: rule, preview

#15861 [red-knot] Use ternary decision diagrams (TDDs) for visibility constraints
  crates/red_knot_python_semantic/resources/mdtest/statically_known_branches.md
  crates/red_knot_python_semantic/src/semantic_index/constraint.rs
  crates/red_knot_python_semantic/src/visibility_constraints.rs
  crates/ruff_python_ast/src/nodes.rs
Labels: red-knot

#15843 [red-knot] Fix Stack overflow in Type::bool
  crates/red_knot_python_semantic/resources/mdtest/type_properties/truthiness.md
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15953 [`refurb`] Handle unparenthesized tuples correctly (`FURB122`, `FURB142`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB122.py
  crates/ruff_linter/resources/test/fixtures/refurb/FURB142.py
  crates/ruff_linter/src/rules/refurb/rules/for_loop_set_mutations.rs
  crates/ruff_linter/src/rules/refurb/rules/for_loop_writes.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB122_FURB122.py.snap
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB142_FURB142.py.snap
Labels: bug, fixes

#15930 [pylint] Fix PL1730: min/max auto-fix and suggestion
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
Labels: bug, fixes

#15958 [`refurb`] Minor nits regarding `for-loop-writes` and `for-loop-set-mutations`
  crates/ruff_linter/src/rules/refurb/rules/for_loop_set_mutations.rs
  crates/ruff_linter/src/rules/refurb/rules/for_loop_writes.rs
  crates/ruff_linter/src/rules/refurb/rules/helpers.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
Labels: internal

#15959 [red-knot] Extend instance/class attribute tests
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
Labels: testing, red-knot

#15956 [minor] Mention UP049 in UP046 and UP047, add `See also` section to UP040
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/non_pep695_generic_class.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/non_pep695_generic_function.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/non_pep695_type_alias.rs
Labels: documentation

#15943 [red-knot] Make `Symbol::or_fall_back_to()` lazy
  crates/red_knot_python_semantic/resources/mdtest/scopes/builtin.md
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15973 Use a larger runner for the `cargo build (msrv)` job
  .github/workflows/ci.yaml
Labels: ci

#15974 [red-knot] Fix some instance-attribute TODOs around `ModuleType`
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15972 [red-knot] Initial set of descriptor protocol tests
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
Labels: testing, red-knot

#15976 [red-knot] fix unresolvable import range
  crates/red_knot/tests/cli.rs
  crates/red_knot_python_semantic/resources/mdtest/diagnostics/unresolved_import.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_An_unresolvable_import_that_does_not_use_`from`.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_a_resolvable_module_but_unresolvable_item.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_an_unknown_current_module.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_an_unknown_nested_module.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_an_unresolvable_module.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_too_many_leading_dots.snap
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot, diagnostics

#15950 [red-knot] Merge Markdown code blocks inside a single section
  Cargo.lock
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/shadowing/function.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/basic.md_-_Structures_-_Unresolvable_module_import.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/basic.md_-_Structures_-_Unresolvable_submodule_imports.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_An_unresolvable_import_that_does_not_use_`from`.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_a_resolvable_module_but_unresolvable_item.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_an_unknown_current_module.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_an_unknown_nested_module.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unresolved_import.md_-_Unresolved_import_diagnostics_-_Using_`from`_with_an_unresolvable_module.snap
  crates/red_knot_python_semantic/resources/mdtest/suppressions/type_ignore.md
  crates/red_knot_python_semantic/resources/mdtest/sys_version_info.md
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/tuples_containing_never.md
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/README.md
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/parser.rs
  crates/ruff_python_ast/src/lib.rs
Labels: testing, red-knot

#15817 [red-knot] Combine terminal statement support with statically known branches
  crates/red_knot_project/tests/check.rs
  crates/red_knot_python_semantic/resources/mdtest/exception/basic.md
  crates/red_knot_python_semantic/resources/mdtest/terminal_statements.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/symbol_state.rs
Labels: red-knot

#15987 [red-knot] Litate tests: minor follow-up
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/statically_known_branches.md
  crates/red_knot_test/README.md
  crates/red_knot_test/src/parser.rs
Labels: testing, red-knot

#15988 [`pep8-naming`] Consider any number of leading underscore for `N801`
  crates/ruff_linter/resources/test/fixtures/pep8_naming/N801.py
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_class_name.rs
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N801_N801.py.snap
Labels: bug

#15719 Recognize all symbols named `TYPE_CHECKING` for `in_type_checking_block`
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/importer/mod.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__preview__SIM108_SIM108.py.snap
  crates/ruff_linter/src/rules/flake8_type_checking/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__github_issue_15681_fix_test.snap
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__github_issue_15681_regression_test.snap
  crates/ruff_python_semantic/src/analyze/typing.rs
  crates/ruff_python_semantic/src/model.rs
Labels: rule, preview

#15982 add instance variable examples to RUF012
  crates/ruff_linter/src/rules/ruff/rules/mutable_class_default.rs
Labels: documentation

#15990 [red-knot] Fix relative imports in `src.root`
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: bug, red-knot

#15994 [red-knot] Fix diagnostic range for non-iterable unpacking assignments
  crates/red_knot_python_semantic/resources/mdtest/diagnostics/unpacking.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unpacking.md_-_Unpacking_-_Right_hand_side_not_iterable.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unpacking.md_-_Unpacking_-_Too_few_values_to_unpack.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/unpacking.md_-_Unpacking_-_Too_many_values_to_unpack.snap
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot, diagnostics

#15992 Workaround Even Better TOML crash related to `allOf`
  crates/ruff_python_formatter/src/options.rs
  ruff.schema.json
Labels: bug, configuration

#15996 [red-knot] Fixup a couple of nits in the `red_knot_test` README
  crates/red_knot_test/README.md
Labels: red-knot

#15999 [flake8-pyi] Add autofix for unused-private-type-var (PYI018)
  crates/ruff/tests/lint.rs
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unused_private_type_definition.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI018_PYI018.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI018_PYI018.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI018_PYI018.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI018_PYI018.pyi.snap
Labels: fixes, preview

#15841 [`ruff`] Classes with mixed type variable style (`RUF053`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF053.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/non_pep695_generic_class.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/class_with_mixed_type_vars.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF053_RUF053.py.snap
  ruff.schema.json
Labels: rule, preview

#16008 [`flake8-pie`] Remove following comma correctly when the unpacked dictionary is empty (`PIE800`)
  crates/ruff_linter/resources/test/fixtures/flake8_pie/PIE800.py
  crates/ruff_linter/src/rules/flake8_pie/rules/unnecessary_spread.rs
  crates/ruff_linter/src/rules/flake8_pie/snapshots/ruff_linter__rules__flake8_pie__tests__PIE800_PIE800.py.snap
Labels: bug, fixes

#15995 [flake8-simplify] Only trigger SIM401 on known dictionaries (SIM401)
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM401.py
  crates/ruff_linter/src/rules/flake8_simplify/rules/if_else_block_instead_of_dict_get.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM401_SIM401.py.snap
  crates/ruff_linter/src/rules/ruff/rules/falsy_dict_get_fallback.rs
  crates/ruff_linter/src/rules/ruff/rules/if_key_in_dict_del.rs
  crates/ruff_python_semantic/src/analyze/typing.rs
Labels: rule

#15955 [`flake8-comprehensions`] Detect overshadowed `list`/`set`/`dict`, ignore variadics and named expressions (`C417`)
  crates/ruff_linter/resources/test/fixtures/flake8_comprehensions/C417_1.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/fixes.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/mod.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/rules/unnecessary_map.rs
  crates/ruff_linter/src/rules/flake8_comprehensions/snapshots/ruff_linter__rules__flake8_comprehensions__tests__C417_C417_1.py.snap
Labels: bug, rule

#15735 Add knot.toml schema
  Cargo.lock
  crates/red_knot_project/Cargo.toml
  crates/red_knot_project/src/metadata/options.rs
  crates/red_knot_project/src/metadata/value.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/lint.rs
  crates/red_knot_python_semantic/src/python_platform.rs
  crates/red_knot_python_semantic/src/python_version.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/system/path.rs
  crates/ruff_dev/Cargo.toml
  crates/ruff_dev/src/generate_all.rs
  crates/ruff_dev/src/generate_knot_schema.rs
  crates/ruff_dev/src/main.rs
  crates/ruff_macros/src/combine.rs
  crates/ruff_macros/src/lib.rs
  knot.schema.json
Labels: red-knot

#16001 [red-knot] Partial revert of relative import handling for files in the root of a search path
  crates/red_knot_python_semantic/resources/mdtest/import/relative.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16004 [red-knot] Unpacking and for loop assignments to attributes
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/semantic_index/attribute_assignment.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#16016 [`ruff`] Fix invalid annotation in docs example
  crates/ruff_linter/src/rules/ruff/rules/mutable_class_default.rs
Labels: documentation

#16014 [`airflow`] Add `external_task.{ExternalTaskMarker, ExternalTaskSensor}` for `AIR302`
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#16026 [`pyupgrade`] Don't introduce invalid syntax when upgrading old-style type aliases with parenthesized multiline values (`UP040`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP040.py
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/non_pep695_type_alias.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP040.py.snap
Labels: bug, fixes, python312

#16006 [`flake8-builtins`] Match upstream module name comparison (`A005`)
  crates/ruff/tests/lint.rs
  crates/ruff_linter/resources/test/fixtures/flake8_builtins/A005/modules/utils/__init__.py
  crates/ruff_linter/resources/test/fixtures/flake8_builtins/A005/modules/utils/logging.py
  crates/ruff_linter/src/checkers/filesystem.rs
  crates/ruff_linter/src/rules/flake8_builtins/mod.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/stdlib_module_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A005_A005__modules__utils__logging.py_false.snap
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A005_A005__modules__utils__logging.py_root.snap
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A005_A005__modules__utils__logging.py_src.snap
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A005_A005__modules__utils__logging.py_true.snap
Labels: bug, rule

#16032 [`pyupgrade`] [`ruff`] Don't apply renamings if the new name is shadowed in a scope of one of the references to the binding (`UP049`, `RUF052`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP049_1.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF052.py
  crates/ruff_linter/src/renamer.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_for_self.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/private_type_parameter.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP049_0.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP049_1.py.snap
  crates/ruff_linter/src/rules/ruff/rules/used_dummy_variable.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_2.snap
Labels: bug, fixes

#16038 [`pyupgrade`] Ensure we do not rename two type parameters to the same name (`UP049`)
  crates/ruff/tests/lint.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/private_type_parameter.rs
Labels: bug, fixes

#16031 Add JAX to users list.
  README.md
Labels: documentation

#16039 Undeprecate `ruff.nativeServer`
  docs/editors/settings.md
Labels: documentation

#16019 [red-knot] Merge `TypeInferenceBuilder::infer_name_load` and `TypeInferenceBuilder::lookup_name`
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16050 [`flake8-datetime`] Ignore `.replace()` calls while looking for `.astimezone`
  crates/ruff_linter/resources/test/fixtures/flake8_datetimez/DTZ005.py
  crates/ruff_linter/src/rules/flake8_datetimez/rules/call_datetime_fromtimestamp.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/call_datetime_now_without_tzinfo.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/call_datetime_today.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/call_datetime_utcfromtimestamp.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/call_datetime_utcnow.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/call_datetime_without_tzinfo.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/helpers.rs
  crates/ruff_linter/src/rules/flake8_datetimez/snapshots/ruff_linter__rules__flake8_datetimez__tests__DTZ005_DTZ005.py.snap
Labels: bug

#16052 [`flake8-type-checking`] Avoid `TC004` false positive where the runtime definition is provided by `__getattr__`
  crates/ruff_linter/src/rules/flake8_type_checking/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/runtime_import_in_type_checking_block.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__github_issue_16045.snap
Labels: bug

#16042 Directly include `Settings` struct for the server
  crates/ruff_server/src/fix.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/requests/format_range.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: internal

#16043 Root exclusions in the server to project root
  crates/ruff_server/src/resolve.rs
  crates/ruff_workspace/src/resolver.rs
Labels: bug, server

#16048 RUF009 should behave similar to B008 and ignore attributes with immutable types
  crates/ruff_linter/resources/test/fixtures/ruff/RUF009.py
  crates/ruff_linter/src/rules/ruff/rules/function_call_in_dataclass_default.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF009_RUF009.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF009_RUF009_attrs_auto_attribs.py.snap
Labels: rule

#16035 Fix reference definition labels for backtick-quoted shortcut links
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_non_annotated_dependency.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/shell_injection.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/pep695/private_type_parameter.rs
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
  crates/ruff_linter/src/rules/ruff/rules/unsafe_markup_use.rs
Labels: documentation

#16075 Revert tailwindcss v4 update
  .github/renovate.json5
  playground/package-lock.json
  playground/package.json
Labels: internal, playground

#16074 Bump version to 0.9.6
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#16000 [red-knot] Resolve `Options` to `Settings`
  crates/red_knot/src/args.rs
  crates/red_knot/src/main.rs
  crates/red_knot/tests/cli.rs
  crates/red_knot_project/src/db.rs
  crates/red_knot_project/src/lib.rs
  crates/red_knot_project/src/metadata.rs
  crates/red_knot_project/src/metadata/options.rs
  crates/red_knot_project/src/metadata/settings.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_test/src/db.rs
  crates/ruff_graph/src/db.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
  knot.schema.json
Labels: cli, red-knot

#16020 Add `user_configuration_directory` to `System`
  Cargo.lock
  crates/red_knot_project/Cargo.toml
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_server/Cargo.toml
  crates/red_knot_server/src/system.rs
  crates/red_knot_wasm/Cargo.toml
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/test.rs
Labels: internal, red-knot

#16021 [red-knot] User-level configuration
  crates/red_knot/src/main.rs
  crates/red_knot/tests/cli.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_project/src/db/changes.rs
  crates/red_knot_project/src/metadata.rs
  crates/red_knot_project/src/metadata/configuration_file.rs
  crates/red_knot_project/src/watch/project_watcher.rs
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_server/src/session.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/os.rs
Labels: red-knot

#16088 [red-knot] `T | object == object`
  crates/red_knot_python_semantic/resources/mdtest/union_types.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
Labels: red-knot

#16091 [`pyupgrade`] Handle micro version numbers correctly (`UP036`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP036_5.py
  crates/ruff_linter/src/rules/pyupgrade/rules/outdated_version_block.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP036_5.py.snap
Labels: bug, rule

#15763 Transition to salsa coarse-grained tracked structs
  Cargo.lock
  Cargo.toml
  crates/red_knot_python_semantic/Cargo.toml
  crates/red_knot_python_semantic/src/ast_node_ref.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/ast_ids.rs
  crates/red_knot_python_semantic/src/semantic_index/attribute_assignment.rs
  crates/red_knot_python_semantic/src/semantic_index/constraint.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/expression.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/statistics.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
  crates/red_knot_python_semantic/src/unpack.rs
  crates/red_knot_python_semantic/src/visibility_constraints.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/testing.rs
  crates/ruff_index/Cargo.toml
  crates/ruff_index/src/vec.rs
  crates/ruff_python_ast/Cargo.toml
  crates/ruff_python_ast/src/name.rs
  fuzz/Cargo.toml
Labels: performance, red-knot

#16076 [red-knot] Reduce usage of `From<Type>` implementations when working with `Symbol`s
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16011 [`pydocstyle`] Handle arguments with the same names as sections (`D417`)
  crates/ruff_linter/resources/test/fixtures/pydocstyle/D417.py
  crates/ruff_linter/src/docstrings/sections.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__d417_google.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__d417_google_ignore_var_parameters.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__d417_unspecified.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__d417_unspecified_ignore_var_parameters.snap
Labels: rule, docstring

#16102 Fix release build warning about unused todo type message
  crates/red_knot_python_semantic/src/symbol.rs
Labels: internal, red-knot

#16100 Remove `Hash` and `Eq` from `AstNodeRef` for types not implementing `Eq` or `Hash`
  crates/red_knot_python_semantic/src/ast_node_ref.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/unpack.rs
Labels: internal, red-knot

#16101 add diagnostic `Span` (couples `File` and `TextRange`)
  crates/red_knot_project/src/lib.rs
  crates/red_knot_project/src/metadata/options.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
  crates/red_knot_test/src/diagnostic.rs
  crates/red_knot_test/src/matcher.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/diagnostic.rs
Labels: red-knot

#16013 [`airflow`] Fix `ImportPathMoved` / `ProviderName` misuse (`AIR303`)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR303.py
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR303_AIR303.py.snap
Labels: rule, preview

#16080 [`pylint`] Correct ordering of arguments in fix for `if-stmt-min-max` (`PLR1730`)
  crates/ruff_linter/resources/test/fixtures/pylint/if_stmt_min_max.py
  crates/ruff_linter/src/rules/pylint/rules/if_stmt_min_max.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1730_if_stmt_min_max.py.snap
Labels: bug, fixes

#16028 [red-knot] Fallback to `requires-python` if no `python-version` is specified
  crates/red_knot_project/Cargo.toml
  crates/red_knot_project/src/metadata.rs
  crates/red_knot_project/src/metadata/pyproject.rs
  crates/red_knot_project/src/metadata/value.rs
  crates/red_knot_project/src/snapshots/red_knot_project__metadata__tests__nested_projects_in_root_project.snap
  crates/red_knot_project/src/snapshots/red_knot_project__metadata__tests__nested_projects_in_sub_project.snap
  crates/red_knot_project/src/snapshots/red_knot_project__metadata__tests__nested_projects_with_outer_knot_section.snap
  crates/red_knot_project/src/snapshots/red_knot_project__metadata__tests__nested_projects_without_knot_sections.snap
  crates/red_knot_project/src/snapshots/red_knot_project__metadata__tests__project_with_knot_and_pyproject_toml.snap
  crates/red_knot_project/src/snapshots/red_knot_project__metadata__tests__project_with_pyproject.snap
  crates/red_knot_project/src/snapshots/red_knot_project__metadata__tests__project_without_pyproject.snap
Labels: configuration, red-knot

#16118 ruff_db: add a vector for configuring diagnostic output
  Cargo.lock
  crates/red_knot/src/main.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_db/Cargo.toml
  crates/ruff_db/src/diagnostic.rs
Labels: red-knot

#16122 [`ruff`] Skip RUF001 diagnostics when visiting string type definitions
  crates/ruff_linter/resources/test/fixtures/ruff/confusables.py
  crates/ruff_linter/src/rules/ruff/rules/ambiguous_unicode_character.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__confusables.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview_confusables.snap
Labels: bug, rule

#16097 [`flake8-builtins`] Update documentation (`A005`)
  crates/ruff_linter/src/rules/flake8_builtins/rules/stdlib_module_shadowing.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: documentation

#16138 [red-knot] Remove a parameter from the `symbol_by_id()` query
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16145 Use ubuntu-24 to run benchmarks
  .github/workflows/ci.yaml
Labels: ci

#16144 Replace is-macro with implementation in enums
  crates/ruff_python_ast/generate.py
  crates/ruff_python_ast/src/generated.rs
Labels: internal

#16153 Replace dead link for rome tools playground
  playground/README.md
Labels: documentation

#16114 Check for backtick-quoted shortcut links in CI
  scripts/check_docs_formatted.py
Labels: ci

#15919 [`pyupgrade`] Unwrap unary expressions correctly (`UP018`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP018.py
  crates/ruff_linter/src/rules/pylint/rules/unnecessary_dunder_call.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/native_literals.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP018.py.snap
Labels: bug, fixes

#16133 Refactor symbol lookup APIs to hide re-export implementation details
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#16162 [internal] Move Linter `OperatorPrecedence` into `ruff_python_ast` crate
  crates/ruff_linter/src/rules/pylint/rules/unnecessary_dunder_call.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/native_literals.rs
  crates/ruff_python_ast/src/lib.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/operator_precedence.rs
Labels: internal

#16147 Move `red_knot_python_semantic::PythonVersion` to the `ruff_python_ast` crate
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/python_version.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_project/src/combine.rs
  crates/red_knot_project/src/metadata.rs
  crates/red_knot_project/src/metadata/options.rs
  crates/red_knot_project/src/metadata/pyproject.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/module_resolver/path.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/module_resolver/typeshed.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/site_packages.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_test/src/config.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_wasm/Cargo.toml
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_benchmark/Cargo.toml
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_graph/src/db.rs
  crates/ruff_python_ast/src/lib.rs
  crates/ruff_python_ast/src/python_version.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: internal

#16155 [refurb] Check for subclasses includes subscript expressions (FURB189)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB189.py
  crates/ruff_linter/src/rules/refurb/rules/subclass_builtin.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB189_FURB189.py.snap
Labels: rule, preview

#16166 [red-knot] add special case for float/complex
  crates/red_knot_python_semantic/resources/mdtest/annotations/int_float_complex.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/union.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/resources/mdtest/binary/booleans.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/resources/mdtest/union_types.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16169 Fix missing serde feature for red_knot_python_semantic
  crates/red_knot_python_semantic/Cargo.toml
Labels: red-knot

#16168 Sort linters alphabetically
  crates/ruff_linter/src/registry.rs
Labels: documentation

#16160 [red-knot] Improve handling of inherited class attributes
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16183 Reduce memory usage of `Docstring` struct
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/docstrings/mod.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/backslashes.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/blank_after_summary.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/blank_before_after_class.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/blank_before_after_function.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/indent.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/multi_line_summary_start.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/newline_after_last_paragraph.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/no_surrounding_whitespace.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/one_liner.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
  crates/ruff_linter/src/rules/pydocstyle/rules/triple_quotes.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/str_prefix.rs
Labels: internal, docstring

#16190 Add doc about usedforsecurity flag for S324
  crates/ruff_linter/src/rules/flake8_bandit/rules/hashlib_insecure_hash_functions.rs
Labels: documentation

#16191 [`flake8-debugger`] Also flag `sys.breakpointhook` and `sys.__breakpointhook__` (`T100`)
  crates/ruff_linter/resources/test/fixtures/flake8_debugger/T100.py
  crates/ruff_linter/src/rules/flake8_debugger/rules/debugger.rs
  crates/ruff_linter/src/rules/flake8_debugger/snapshots/ruff_linter__rules__flake8_debugger__tests__T100_T100.py.snap
Labels: rule

#16184 [red-knot] Recognize `...` as a singleton
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_singleton.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16192 Improve API exposed on `ExprStringLiteral` nodes
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/split_static_string.rs
  crates/ruff_linter/src/rules/flynt/rules/static_join_to_fstring.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_formatter/src/expression/expr_string_literal.rs
  crates/ruff_python_parser/src/typing.rs
Labels: internal

#15658 better error messages while loading configuration `extend`s
  Cargo.lock
  crates/ruff/tests/format.rs
  crates/ruff/tests/lint.rs
  crates/ruff_workspace/Cargo.toml
  crates/ruff_workspace/src/resolver.rs
Labels: cli

#16152 red-knot: move symbol lookups in `symbol.rs`
  crates/red_knot_python_semantic/src/lib.rs
  crates/red_knot_python_semantic/src/stdlib.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#16212 Add FAQ entry for `source.*` code actions in Notebook
  docs/faq.md
Labels: documentation

#16154 Ignore source code actions for a notebook cell
  crates/ruff_server/src/server/api/requests/code_action.rs
  crates/ruff_server/src/server/api/requests/code_action_resolve.rs
  crates/ruff_server/src/session.rs
Labels: bug, server

#16187 Fix unstable formatting of trailing end-of-line comments of parenthesized attribute values
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/attribute.py
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/src/expression/expr_attribute.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__attribute.py.snap
Labels: bug, formatter

#16157 [`airflow`] Group `ImportPathMoved` and `ProviderName` to avoid misusing (`AIR303`)
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
Labels: internal

#16214 Update server to return the debug info as string
  crates/ruff_server/src/server/api/requests/execute_command.rs
Labels: server

#16215 Include document specific debug info
  crates/ruff_server/src/server/api/requests/execute_command.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/index.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#16228 Fix minor punctuation errors
  BREAKING_CHANGES.md
  CONTRIBUTING.md
  docs/faq.md
  docs/preview.md
Labels: documentation

#16161 Refactor `CallOutcome` to `Result`
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/membership_test.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/integers.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/intersections.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_bool_returns.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unsupported.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
  crates/red_knot_python_semantic/resources/mdtest/with/sync.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16229 Improve docs for PYI019
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_for_self.rs
Labels: documentation

#16219 [`pyupgrade`] Do not upgrade functional TypedDicts with private field names to the class-based syntax (`UP013`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP013.py
  crates/ruff_linter/src/rules/pyupgrade/rules/convert_typed_dict_functional_to_class.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP013.py.snap
Labels: bug, rule

#16113 [`refurb`] Manual timezone monkeypatching (`FURB162`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB162.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/fromisoformat_replace_z.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB162_FURB162.py.snap
  ruff.schema.json
Labels: rule, preview

#16224 Add `SECURITY.md`
  SECURITY.md
Labels: documentation

#16236 Pass `ast::PythonVersion` to `type_hint_resolves_to_any`
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff_linter/src/rules/ruff/typing.rs
Labels: internal

#16242 [red-knot] update TODO comment in mdtest
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
Labels: red-knot

#16208 [red-knot] Update tests for attributes inferred from parameters
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
Labels: red-knot

#16226 [airflow] move class attributed related cases to AIR302_class_attribute (AIR302)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_class_attribute.py
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_class_attribute.py.snap
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: internal

#16230 Add `red_knot/README.md`
  crates/red_knot/README.md
Labels: documentation, red-knot

#16222 [red-knot] Refactor `infer_chained_boolean_types` to have access to `TypeInferenceBuilder`
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16251 [pycodestyle] Exempt `site.addsitedir(...)` calls (E402)
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E402_5.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E402_E402_5.py.snap
  crates/ruff_python_semantic/src/analyze/imports.rs
Labels: rule

#16252 [red-knot] Allow any `Ranged` argument for `report_lint` and `report_diagnostic`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/context.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#16254 Add `text_len()` methods to more `*Prefix` enums in `ruff_python_ast`
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/str_prefix.rs
Labels: internal

#16079 [red-knot] Resolve references in eager nested scopes eagerly
  crates/red_knot_python_semantic/resources/mdtest/comprehensions/basic.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/eager.md
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16220 Pass `ParserOptions` to the parser
  crates/ruff_benchmark/benches/formatter.rs
  crates/ruff_dev/src/print_ast.rs
  crates/ruff_graph/src/lib.rs
  crates/ruff_linter/src/message/mod.rs
  crates/ruff_python_ast_integration_tests/tests/source_order.rs
  crates/ruff_python_ast_integration_tests/tests/visitor.rs
  crates/ruff_python_codegen/src/generator.rs
  crates/ruff_python_codegen/src/stylist.rs
  crates/ruff_python_formatter/src/cli.rs
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/src/range.rs
  crates/ruff_python_formatter/src/string/docstring.rs
  crates/ruff_python_formatter/tests/fixtures.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/options.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/src/parser/tests.rs
  crates/ruff_python_parser/tests/fixtures.rs
  crates/ruff_python_trivia_integration_tests/tests/block_comments.rs
  crates/ruff_python_trivia_integration_tests/tests/simple_tokenizer.rs
  crates/ruff_wasm/src/lib.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: internal, parser

#16253 Rename `ExprStringLiteral::as_unconcatenated_string()` to `ExprStringLiteral::as_single_part_string()`
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/ruff_linter/src/checkers/ast/analyze/definitions.rs
  crates/ruff_linter/src/rules/refurb/helpers.rs
  crates/ruff_linter/src/rules/ruff/rules/sequence_sorting.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_formatter/src/expression/expr_bytes_literal.rs
  crates/ruff_python_formatter/src/expression/expr_f_string.rs
  crates/ruff_python_formatter/src/expression/expr_string_literal.rs
  crates/ruff_python_formatter/src/statement/stmt_assign.rs
  crates/ruff_python_parser/src/typing.rs
Labels: internal

#16262 Handle requests received after shutdown message
  crates/ruff_server/src/server/connection.rs
Labels: bug, server

#16269 [red-knot] MDTest: Use custom class names instead of builtins
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/exception/control_flow.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
Labels: testing, red-knot

#16273 red_knot_python_semantic: avoid adding `callable_ty` to `CallBindingError`
  crates/red_knot_python_semantic/src/types/call/bind.rs
Labels: red-knot

#16277 [red-knot] Separate `definitions_by_definition` into separate fields
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/symbol_state.rs
Labels: internal, red-knot

#16278 Specify the `wasm-pack` version for release workflows
  .github/workflows/publish-playground.yml
  .github/workflows/publish-wasm.yml
Labels: release, ci

#16268 [red-knot] Prevent cross-module query dependencies in `own_instance_member`
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_python_semantic/src/visibility_constraints.rs
Labels: red-knot

#16292 [red-knot] Short-circuit bool calls on bool
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16121 [red-knot] Method calls and the descriptor protocol
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/call/getattr_static.md
  crates/red_knot_python_semantic/resources/mdtest/call/methods.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
  crates/red_knot_python_semantic/resources/mdtest/protocols.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/sys_platform.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/dynamic.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/truthiness.md
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/arguments.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
Labels: red-knot

#16293 [red-knot] update to latest Salsa
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
Labels: red-knot

#16291 [`ruff`] Add more Pydantic models variants to the list of default copy semantics (`RUF012`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF012.py
  crates/ruff_linter/src/rules/ruff/rules/helpers.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF012_RUF012.py.snap
Labels: rule

#16295 Refactor workspace logic into `workspace.rs`
  crates/ruff_server/src/lib.rs
  crates/ruff_server/src/server.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/index.rs
  crates/ruff_server/src/workspace.rs
Labels: internal

#16284 [red-knot] Fix subtle detail in where the `types.ModuleType` attribute lookup should happen in `TypeInferenceBuilder::infer_name_load()`
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#16290 [red-knot] Restrict visibility of the `module_type_symbols` function
  crates/red_knot_python_semantic/src/symbol.rs
Labels: red-knot

#16263 [`pylint`] Fix false positives, add missing methods, and support positional-only parameters (`PLE0302`)
  crates/ruff_linter/resources/test/fixtures/pylint/unexpected_special_method_signature.py
  crates/ruff_linter/src/rules/pylint/rules/unexpected_special_method_signature.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE0302_unexpected_special_method_signature.py.snap
Labels: bug
