Repository astral-sh/ruff, pull requests merged in 2025-03, with the labels that each got.

#16446 [syntax-errors] `except*` before Python 3.11
  crates/ruff/src/cache.rs
  crates/ruff_python_parser/resources/inline/err/except_star_py310.py
  crates/ruff_python_parser/resources/inline/ok/except_star_py311.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@except_star_py310.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@except_star_py311.py.snap
Labels: preview

#16470 Upgrade to ESlint 9
  .github/renovate.json5
  playground/.eslintrc
  playground/eslint.config.mjs
  playground/package-lock.json
  playground/package.json
Labels: internal

#16471 Upgrade to Tailwind4
  .github/renovate.json5
  playground/package-lock.json
  playground/package.json
  playground/postcss.config.cjs
  playground/src/Editor/AstralButton.tsx
  playground/src/Editor/Chrome.tsx
  playground/src/Editor/Diagnostics.tsx
  playground/src/Editor/Editor.tsx
  playground/src/Editor/SecondaryPanel.tsx
  playground/src/Editor/ShareButton.tsx
  playground/src/Editor/SideBar.tsx
  playground/src/index.css
  playground/tailwind.config.cjs
Labels: internal, playground

#16449 Add new rule RUF059: Unused unpacked assignment
  crates/ruff_linter/resources/test/fixtures/ruff/RUF059_0.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF059_1.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF059_2.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF059_3.py
  crates/ruff_linter/src/checkers/ast/analyze/deferred_scopes.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/message/snapshots/ruff_linter__message__sarif__tests__results.snap
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_variable.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F841_F841_4.py.snap
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__preview__F841_F841_4.py.snap
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unused_unpacked_variable.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF059_RUF059_0.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF059_RUF059_1.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF059_RUF059_2.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF059_RUF059_3.py.snap
  crates/ruff_server/src/lint.rs
  ruff.schema.json
Labels: rule, preview

#16454 [flake8-builtins] Ignore variables matching module attribute names (A001)
  crates/ruff_linter/resources/test/fixtures/flake8_builtins/A001.py
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_variable_shadowing.rs
Labels: bug, rule

#16424 [pylint] Fix convert a code keyword argument to a positional argument (PLR1722)
  crates/ruff_linter/resources/test/fixtures/pylint/sys_exit_alias_13.py
  crates/ruff_linter/resources/test/fixtures/pylint/sys_exit_alias_14.py
  crates/ruff_linter/resources/test/fixtures/pylint/sys_exit_alias_15.py
  crates/ruff_linter/resources/test/fixtures/pylint/sys_exit_alias_16.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/sys_exit_alias.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1722_sys_exit_alias_13.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1722_sys_exit_alias_14.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1722_sys_exit_alias_15.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1722_sys_exit_alias_16.py.snap
Labels: bug

#16451 [`pyupgrade`] Do not offer fix when at least one target is `global`/`nonlocal` (`UP028`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP028_0.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP028_1.py
  crates/ruff_linter/src/rules/pyupgrade/rules/yield_in_for_loop.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP028_0.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP028_1.py.snap
Labels: bug

#16443 Document `LinterResult::has_syntax_error` and add `Parsed::has_no_errors`
  crates/ruff_db/src/parsed.rs
  crates/ruff_linter/src/linter.rs
  crates/ruff_linter/src/test.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/tests/fixtures.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: internal, parser

#16498 Pull in fonts from a CDN
  playground/public/fonts/Alliance-PlattMedium.otf
  playground/public/fonts/Alliance-PlattMedium.woff
  playground/public/fonts/Alliance-PlattMedium.woff2
  playground/public/fonts/Alliance-PlattRegular.otf
  playground/public/fonts/Alliance-PlattRegular.woff
  playground/public/fonts/Alliance-PlattRegular.woff2
  playground/public/fonts/Alliance-TextMedium.otf
  playground/public/fonts/Alliance-TextMedium.woff
  playground/public/fonts/Alliance-TextMedium.woff2
  playground/public/fonts/Alliance-TextRegular.otf
  playground/public/fonts/Alliance-TextRegular.woff
  playground/public/fonts/Alliance-TextRegular.woff2
  playground/src/index.css
Labels: playground

#16468 [red-knot] respect `TYPE_CHECKING` even if not imported from typing
  crates/red_knot_python_semantic/resources/mdtest/known_constants.md
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16447 [syntax-errors] Type parameter defaults before Python 3.13
  crates/ruff_python_parser/resources/inline/err/type_param_default_py312.py
  crates/ruff_python_parser/resources/inline/ok/type_param_default_py313.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@type_param_default_py312.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@type_param_default_py313.py.snap
Labels: parser, preview

#16499 Formatter: Fix syntax error location in notebooks
  Cargo.lock
  crates/ruff/Cargo.toml
  crates/ruff/src/commands/format.rs
  crates/ruff/tests/format.rs
Labels: bug, cli

#16501 [red-knot] Add rule `invalid-type-checking-constant`
  crates/red_knot_python_semantic/resources/mdtest/known_constants.md
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  knot.schema.json
Labels: red-knot

#16515 [red-knot] De-duplicate symbol table query
  crates/red_knot_python_semantic/src/symbol.rs
Labels: internal, red-knot

#16479 [syntax-errors] Type parameter lists before Python 3.12
  crates/ruff_python_parser/resources/inline/err/class_type_params_py311.py
  crates/ruff_python_parser/resources/inline/err/function_type_params_py311.py
  crates/ruff_python_parser/resources/inline/ok/class_type_params_py312.py
  crates/ruff_python_parser/resources/inline/ok/function_type_params_py312.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@class_type_params_py311.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@function_type_params_py311.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@class_type_params_py312.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@function_type_params_py312.py.snap
Labels: parser, preview

#16285 Auto generate ast expression nodes
  crates/ruff_python_ast/ast.toml
  crates/ruff_python_ast/generate.py
  crates/ruff_python_ast/src/generated.rs
  crates/ruff_python_ast/src/name.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_ast/src/relocate.rs
Labels: internal

#16481 [syntax-errors] Positional-only parameters before Python 3.8
  crates/ruff_python_parser/resources/inline/err/pos_only_py37.py
  crates/ruff_python_parser/resources/inline/ok/pos_only_py38.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@pos_only_py37.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@pos_only_py38.py.snap
Labels: parser, preview

#16510 [red-knot] support empty TypeInference with fallback type
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16509 [red-knot] Several failing tests for generics
  crates/red_knot_python_semantic/resources/mdtest/generics.md
  crates/red_knot_python_semantic/resources/mdtest/generics/classes.md
  crates/red_knot_python_semantic/resources/mdtest/generics/functions.md
  crates/red_knot_python_semantic/resources/mdtest/generics/legacy.md
  crates/red_knot_python_semantic/resources/mdtest/generics/pep695.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
Labels: red-knot

#16518 Add `OsSystem` support to mdtests
  Cargo.lock
  crates/red_knot_project/src/files.rs
  crates/red_knot_project/src/lib.rs
  crates/red_knot_project/src/metadata.rs
  crates/red_knot_project/tests/check.rs
  crates/red_knot_python_semantic/resources/mdtest/import/case_sensitive.md
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/site_packages.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_test/Cargo.toml
  crates/red_knot_test/src/assertion.rs
  crates/red_knot_test/src/config.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_test/src/diagnostic.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/matcher.rs
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/memory_fs.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/test.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: red-knot

#16494 Clarify that D417 only checks docstrings with an arguments section
  crates/ruff_linter/src/rules/pydocstyle/rules/sections.rs
Labels: documentation

#16533 [red-knot] Never is callable and iterable. Arbitrary attributes can be accessed.
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/call/never.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16485 [syntax-errors] Tuple unpacking in `return` and `yield` before Python 3.8
  crates/ruff_python_parser/resources/inline/err/iter_unpack_return_py37.py
  crates/ruff_python_parser/resources/inline/err/iter_unpack_yield_py37.py
  crates/ruff_python_parser/resources/inline/ok/iter_unpack_return_py37.py
  crates/ruff_python_parser/resources/inline/ok/iter_unpack_return_py38.py
  crates/ruff_python_parser/resources/inline/ok/iter_unpack_yield_py37.py
  crates/ruff_python_parser/resources/inline/ok/iter_unpack_yield_py38.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@iter_unpack_return_py37.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@iter_unpack_yield_py37.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@iter_unpack_return_py37.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@iter_unpack_return_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@iter_unpack_yield_py37.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@iter_unpack_yield_py38.py.snap
Labels: parser, preview

#16482 [syntax-errors] Parenthesized keyword argument names after Python 3.8
  crates/ruff_python_parser/resources/inline/err/parenthesized_kwarg_py38.py
  crates/ruff_python_parser/resources/inline/ok/parenthesized_kwarg_py37.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@parenthesized_kwarg_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@parenthesized_kwarg_py37.py.snap
Labels: parser, preview

#16548 print MDTEST_TEST_FILTER value in single-quotes (and escaped)
  crates/red_knot_test/src/lib.rs
Labels: red-knot

#16549 Assert that formatted code doesn't introduce any new unsupported syntax errors
  crates/ruff_python_formatter/tests/fixtures.rs
  crates/ruff_python_parser/src/error.rs
Labels: testing

#16552 [flake8-bandit] Fix mixed-case hash algorithm names (S324)
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S324.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/hashlib_insecure_hash_functions.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S324_S324.py.snap
Labels: bug

#16530 [red-knot] avoid inferring types if unpacking fails
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#16557 [`pep8-naming`] Add links to `ignore-names` options in various rules' documentation
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_acronym.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_constant.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/camelcase_imported_as_lowercase.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/constant_imported_as_non_constant.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/dunder_function_name.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/error_suffix_on_exception_name.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_argument_name.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_class_name.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/lowercase_imported_as_non_lowercase.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/mixed_case_variable_in_class_scope.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/mixed_case_variable_in_global_scope.rs
Labels: documentation

#16416 [red-knot] Attribute access and the descriptor protocol
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/stdlib_typing_aliases.md
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/call/dunder.md
  crates/red_knot_python_semantic/resources/mdtest/call/getattr_static.md
  crates/red_knot_python_semantic/resources/mdtest/call/methods.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
  crates/red_knot_python_semantic/resources/mdtest/generics/classes.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/moduletype_attrs.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/class.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/tuple.md
  crates/red_knot_python_semantic/resources/mdtest/suppressions/type_ignore.md
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/slots.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
Labels: red-knot

#16469 [red-knot] Support unpacking `with` target
  crates/red_knot_project/tests/check.rs
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
  crates/red_knot_python_semantic/resources/mdtest/with/sync.md
  crates/red_knot_python_semantic/src/ast_node_ref.rs
  crates/red_knot_python_semantic/src/semantic_index/attribute_assignment.rs
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
  crates/red_knot_python_semantic/src/unpack.rs
Labels: red-knot

#16493 [red-knot] Understand `typing.Callable`
  crates/red_knot_python_semantic/resources/mdtest/annotations/callable.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_special_forms.md
  crates/red_knot_python_semantic/resources/mdtest/invalid_syntax.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_single_valued.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_singleton.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
  crates/ruff_python_ast/src/nodes.rs
Labels: red-knot

#16576 [red-knot] Consistent spelling of "metaclass" and "meta-type"
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/call/dunder.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16574 Fix broken red-knot property tests
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: bug, testing, red-knot

#16582 [red-knot] Reduce Salsa lookups in `Type::find_name_in_mro`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16596 [red-knot] Do not ignore typeshed stubs for 'venv' module
  crates/red_knot_vendored/.gitignore
  crates/red_knot_vendored/vendor/typeshed/stdlib/venv/__init__.pyi
Labels: red-knot

#16554 [red-knot] Add 'mypy_primer' workflow
  .github/workflows/mypy_primer.yaml
Labels: ci, red-knot

#16567 Update migration guide with the new `ruff.configuration`
  docs/editors/migration.md
Labels: documentation, server

#16604 [red-knot] mypy_primer: strip ANSI codes
  .github/workflows/mypy_primer.yaml
  .github/workflows/mypy_primer_comment.yaml
Labels: ci, red-knot

#16603 [formatter] Stabilize fix for single-with-item formatting with trailing comment
  crates/ruff_python_formatter/src/other/with_item.rs
  crates/ruff_python_formatter/src/preview.rs
  crates/ruff_python_formatter/tests/snapshots/format@statement__with.py.snap
Labels: breaking, formatter

#16547 [red-knot] Infer `lambda` expression
  crates/red_knot_python_semantic/resources/mdtest/expression/lambda.md
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#16617 Server: Remove log notification for `printDebugInformation` command
  crates/ruff_server/src/server/api/requests/execute_command.rs
Labels: server

#16620 [red-knot] mypy_primer: pipeline improvements
  .github/workflows/mypy_primer.yaml
  .github/workflows/mypy_primer_comment.yaml
Labels: ci, red-knot

#16622 [red-knot] mypy_primer: split installation and execution
  .github/workflows/mypy_primer.yaml
Labels: ci, red-knot

#15957 [`flake8-bandit`] Move `unsafe-markup-use` from `RUF035` to `S704`
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S704.py
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S704_extend_markup_names.py
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S704_skip_early_out.py
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S704_whitelisted_markup_calls.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rule_redirects.rs
  crates/ruff_linter/src/rules/flake8_bandit/mod.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/unsafe_markup_use.rs
  crates/ruff_linter/src/rules/flake8_bandit/settings.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__extend_allow_callables__S704_S704_extend_markup_names.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__extend_allow_callables__S704_S704_skip_early_out.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__preview__S704_S704.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__whitelisted_markup_calls__S704_S704_whitelisted_markup_calls.py.snap
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unsafe_markup_use.rs
  crates/ruff_linter/src/rules/ruff/settings.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__extend_allow_callables__RUF035_RUF035_extend_markup_names.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__extend_allow_callables__RUF035_RUF035_skip_early_out.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF035_RUF035.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__whitelisted_markup_calls__RUF035_RUF035_whitelisted_markup_calls.py.snap
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: breaking

#16092 [`flake8-builtins`] Remove `builtins-` prefix from option names
  crates/ruff/tests/lint.rs
  crates/ruff/tests/snapshots/show_settings__display_default_settings.snap
  crates/ruff_linter/src/rules/flake8_builtins/mod.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_argument_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_attribute_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_import_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_lambda_argument_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/builtin_variable_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/stdlib_module_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/settings.rs
  crates/ruff_workspace/src/options.rs
  crates/ruff_workspace/src/pyproject.rs
  ruff.schema.json
Labels: breaking, configuration

#16611 [red-knot] Handle gradual intersection types in assignability
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/src/types.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#16624 [`flake8-comprehensions`] Stabilize `unnecessary-dict-comprehension-for-iterable` (`C420`)
  crates/ruff_linter/src/codes.rs
Labels: rule

#16625 [`FastAPI`] Stabilize `fast-api-unused-path-parameter` (`FAST003`)
  crates/ruff_linter/src/codes.rs
Labels: rule

#16627 [`pylint`] Stabilize `shallow-copy-environ` (`PLW1507`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/rules/shallow_copy_environ.rs
Labels: rule

#16607 [ruff-0.10] [`flake8-pyi`] Stabilize preview-mode behaviours for `custom-type-var-for-self`(`PYI019`)
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/custom_type_var_for_self.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_0.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI019_PYI019_1.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_0.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_0.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview_PYI019_PYI019_1.pyi.snap
Labels: rule

#16608 [red-knot] Add tests asserting that `KnownClass::to_instance()` doesn't unexpectedly fallback to `Type::Unknown` with full typeshed stubs
  crates/red_knot_python_semantic/src/types/class.rs
Labels: testing, red-knot

#16428 [red-knot] Rework `Type::to_instance()` to return `Option<Type>`
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
Labels: red-knot

#16631 [`flake8-simplify`] Stabilize `split-static-string` (`SIM905`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/split_static_string.rs
Labels: rule

#16632 [`pyupgrade`] Stabilize `non-pep646-unpack` (`UP044`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/non_pep646_unpack.rs
Labels: rule

#16540 [red-knot] detect invalid return type
  crates/red_knot/tests/cli.rs
  crates/red_knot_python_semantic/resources/mdtest/annotations/deferred.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/boundness_declaredness/public.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/dunder.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/intersections.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/non_bool_returns.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/comprehensions/basic.md
  crates/red_knot_python_semantic/resources/mdtest/expression/len.md
  crates/red_knot_python_semantic/resources/mdtest/function/return_type.md
  crates/red_knot_python_semantic/resources/mdtest/generics/functions.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
  crates/red_knot_python_semantic/resources/mdtest/loops/iterators.md
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/issubclass.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/truthiness.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/while.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_invalid_`__getitem__`_methods.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_unbound_`__iter__`_and_bad_`__getitem__`_method.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_unbound_`__iter__`_and_possibly_invalid_`__getitem__`.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_unbound_`__iter__`_and_possibly_unbound_`__getitem__`.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/return_type.md_-_Function_return_type_-_Invalid_conditional_return_type.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/return_type.md_-_Function_return_type_-_Invalid_implicit_return_type.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/return_type.md_-_Function_return_type_-_Invalid_return_type.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/return_type.md_-_Function_return_type_-_Invalid_return_type_in_stub_file.snap
  crates/red_knot_python_semantic/resources/mdtest/subscript/bytes.md
  crates/red_knot_python_semantic/resources/mdtest/subscript/class.md
  crates/red_knot_python_semantic/resources/mdtest/terminal_statements.md
  crates/red_knot_python_semantic/resources/mdtest/with/sync.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  knot.schema.json
Labels: red-knot

#16660 [red-knot] remove redundant sentence in test
  crates/red_knot_python_semantic/resources/mdtest/function/return_type.md
Labels: red-knot

#16633 [red-knot] Check if callable type is fully static
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_fully_static.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16601 [red-knot] Binary operator inference for union types
  crates/red_knot_python_semantic/resources/mdtest/binary/unions.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16663 [red-knot] Minor optimization/cleanup in member lookup
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16664 [red-knot] Restructure attribute-access and descriptor-protocol test suites.
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
Labels: testing, red-knot

#16636 [red-knot] Improve is_disjoint for two intersections
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_disjoint_from.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16649 [`ruff`] Stabilize `unnecessary-cast-to-int` (`RUF046`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF046_RUF046.py.snap
Labels: rule

#16653 [`ruff`] Stabilize `map-int-version-parsing` (`RUF048`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF048_RUF048.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF048_RUF048_1.py.snap
Labels: rule

#16654 [`flake8-logging`] Stabilize `root-logger-call` (`LOG015`)
  crates/ruff_linter/src/codes.rs
Labels: rule

#16679 [red-knot] Add mypy_primer usage documentation
  crates/red_knot/docs/mypy_primer.md
Labels: red-knot

#16648 [`ruff`] Stabilize `unnecessary-nested-literal` (`RUF041`)
  crates/ruff_linter/src/codes.rs
Labels: rule

#16635 [`flake8-datetimez`] Stabilize `datetime-min-max` (`DTZ901`)
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_datetimez/mod.rs
  crates/ruff_linter/src/rules/flake8_datetimez/rules/datetime_min_max.rs
Labels: rule

#16637 [`flake8-type-checking`] Stabilize `runtime-cast-value` (`TC006`)
  crates/ruff_linter/src/codes.rs
Labels: rule

#16683 [red-knot] Add `CallableTypeFromFunction` special form
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/red_knot_python_semantic/src/types/type_ordering.rs
  crates/red_knot_vendored/knot_extensions/knot_extensions.pyi
Labels: red-knot

#16634 [red-knot] Check gradual equivalence between callable types
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_gradual_equivalent_to.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16681 [`pyupgrade`]: Deprecate `non-pep604-isinstance` (`UP038`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep604_isinstance.rs
Labels: rule, breaking

#16678 [`flake8-pytest-style`] Allow for loops with empty bodies (`PT012`, `PT031`)
  crates/ruff_linter/src/rules/flake8_pytest_style/mod.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/raises.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/warns.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT012.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT012_preview.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT031.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT031_preview.snap
Labels: rule

#16674 [`pylint`] Detect invalid default value type for `os.environ.get` (`PLW1508`)
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/invalid_envvar_default.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW1508_invalid_envvar_default.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__preview__PLW1508_invalid_envvar_default.py.snap
Labels: rule

#16666 Stabilize FURB169 preview behavior
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/type_none_comparison.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB169_FURB169.py.snap
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__preview__FURB169_FURB169.py.snap
Labels: rule

#16667 [`pep8-naming`]: Ignore methods decorated with `@typing.override` (`invalid-argument-name`)
  crates/ruff_linter/src/rules/pep8_naming/mod.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_argument_name.rs
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N803_N803.py.snap
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__preview__N803_N803.py.snap
Labels: rule

#16669 Consider all `TYPE_CHECKING` symbols for type-checking blocks
  crates/ruff_linter/resources/test/fixtures/flake8_type_checking/TC005.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM108_SIM108.py.snap
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__empty-type-checking-block_TC005.py.snap
  crates/ruff_python_semantic/src/analyze/typing.rs
  crates/ruff_python_semantic/src/model.rs
Labels: breaking

#16672 [`pyupgrade`]: Improve diagnostic range for `redundant-open-mode` (`UP015`)
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/redundant_open_modes.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP015.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP015_1.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__preview__UP015_UP015.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__preview__UP015_UP015_1.py.snap
Labels: rule

#16684 [`flake8-simplify`] Avoid double negation in fixes (`SIM103`)
  crates/ruff_linter/src/rules/flake8_simplify/mod.rs
  crates/ruff_linter/src/rules/flake8_simplify/rules/needless_bool.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM103_SIM103.py.snap
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__preview__SIM103_SIM103.py.snap
Labels: fixes

#16680 [`flake8-bandit`] Deprecate `suspicious-xmle-tree-usage` (`S320`)
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_bandit/rules/suspicious_function_call.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/stdlib_module_shadowing.rs
Labels: rule, breaking

#16682 [`flake8-pyi`] Stabilize fix for `unused-private-type-var` (`PYI018`)
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/unused_private_type_definition.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI018_PYI018.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI018_PYI018.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI018_PYI018.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI018_PYI018.pyi.snap
Labels: fixes

#16676 [`pylint`/`pep8-naming`] Check `__new__` argument name in `bad-staticmethod-argument` and not `invalid-first-argument-name-for-class-method` (`PLW0211`/`N804`)
  crates/ruff_linter/src/rules/pep8_naming/mod.rs
  crates/ruff_linter/src/rules/pep8_naming/rules/invalid_first_argument_name.rs
  crates/ruff_linter/src/rules/pep8_naming/snapshots/ruff_linter__rules__pep8_naming__tests__N803_N804.py.snap
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/bad_staticmethod_argument.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLW0211_bad_staticmethod_argument.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__preview__PLW0211_bad_staticmethod_argument.py.snap
Labels: rule

#16685 [`pylint`] Improve `repeated-equality-comparison` fix to use a `set` when all elements are hashable (`PLR1714`)
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/repeated_equality_comparison.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLR1714_repeated_equality_comparison.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__preview__PLR1714_repeated_equality_comparison.py.snap
Labels: fixes

#16671 [`pylint`] Better inference for `str.strip` (`PLE310`)
  crates/ruff_linter/src/rules/pylint/mod.rs
  crates/ruff_linter/src/rules/pylint/rules/bad_str_strip_call.rs
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__PLE1310_bad_str_strip_call.py.snap
  crates/ruff_linter/src/rules/pylint/snapshots/ruff_linter__rules__pylint__tests__preview__PLE1310_bad_str_strip_call.py.snap
Labels: rule

#16686 [ruff] Fix `last_tag`/`commits_since_last_tag` for `version` command
  crates/ruff/build.rs
Labels: cli

#16645 [red-knot] Auto generate statement nodes
  crates/ruff_python_ast/ast.toml
  crates/ruff_python_ast/generate.py
  crates/ruff_python_ast/src/generated.rs
  crates/ruff_python_ast/src/nodes.rs
Labels: internal, red-knot

#16714 Update BREAKING_CHANGES.md
  BREAKING_CHANGES.md
Labels: release

#16708 Ruff v0.10 Release
  BREAKING_CHANGES.md
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#16558 [syntax-errors] Tuple unpacking in `for` statement iterator clause before Python 3.9
  crates/ruff_python_parser/resources/inline/err/for_iter_unpack_py38.py
  crates/ruff_python_parser/resources/inline/ok/for_iter_unpack_py38.py
  crates/ruff_python_parser/resources/inline/ok/for_iter_unpack_py39.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@for_iter_unpack_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@for_iter_unpack_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@for_iter_unpack_py39.py.snap
Labels: parser, preview

#16721 Fallback to requires-python in certain cases when target-version is not found
  Cargo.lock
  Cargo.toml
  crates/ruff/src/lib.rs
  crates/ruff/src/resolve.rs
  crates/ruff/tests/lint.rs
  crates/ruff_server/Cargo.toml
  crates/ruff_server/src/logging.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
  crates/ruff_workspace/src/pyproject.rs
  crates/ruff_workspace/src/resolver.rs
Labels: breaking, configuration

#16720 [`pygrep-hooks`]: Detect file-level suppressions comments without rul…
  crates/ruff_linter/src/checkers/noqa.rs
  crates/ruff_linter/src/rules/pygrep_hooks/mod.rs
  crates/ruff_linter/src/rules/pygrep_hooks/rules/blanket_noqa.rs
  crates/ruff_linter/src/rules/pygrep_hooks/snapshots/ruff_linter__rules__pygrep_hooks__tests__PGH004_PGH004_2.py.snap
  crates/ruff_linter/src/rules/pygrep_hooks/snapshots/ruff_linter__rules__pygrep_hooks__tests__preview__PGH004_PGH004_2.py.snap
Labels: rule, breaking

#16705 [red-knot] Assignments to attributes
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/resources/mdtest/descriptor_protocol.md
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16725 [red-knot] fix: improve type inference for binary ops on tuples
  crates/red_knot_python_semantic/resources/mdtest/binary/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/slots.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16723 Ruff 0.11.0
  BREAKING_CHANGES.md
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#16544 [syntax-errors] Star expression in index before Python 3.11
  crates/ruff_python_parser/resources/inline/err/star_index_py310.py
  crates/ruff_python_parser/resources/inline/err/star_slices.py
  crates/ruff_python_parser/resources/inline/ok/star_index_py311.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@star_index_py310.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@star_slices.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@star_index_py311.py.snap
Labels: parser, preview

#16545 [syntax-errors] Star annotations before Python 3.11
  crates/ruff_python_parser/resources/inline/err/param_with_star_annotation_py310.py
  crates/ruff_python_parser/resources/inline/ok/param_with_star_annotation_py311.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@param_with_star_annotation_py310.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@param_with_star_annotation_py311.py.snap
Labels: parser, preview

#16711 ruff_db: add new diagnostic renderer
  crates/ruff_db/src/diagnostic/mod.rs
  crates/ruff_db/src/diagnostic/render.rs
Labels: red-knot

#16404 [syntax-errors] Unparenthesized assignment expressions in sets and indexes
  crates/ruff_python_parser/resources/inline/err/named_expr_slice.py
  crates/ruff_python_parser/resources/inline/err/named_expr_slice_parse_error.py
  crates/ruff_python_parser/resources/inline/err/unparenthesized_named_expr_index_py38.py
  crates/ruff_python_parser/resources/inline/err/unparenthesized_named_expr_set_comp_py38.py
  crates/ruff_python_parser/resources/inline/err/unparenthesized_named_expr_set_literal_py38.py
  crates/ruff_python_parser/resources/inline/ok/parenthesized_named_expr_index_py38.py
  crates/ruff_python_parser/resources/inline/ok/parenthesized_named_expr_py38.py
  crates/ruff_python_parser/resources/inline/ok/unparenthesized_named_expr_index_py39.py
  crates/ruff_python_parser/resources/inline/ok/unparenthesized_named_expr_py39.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@named_expr_slice.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@named_expr_slice_parse_error.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unparenthesized_named_expr_index_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unparenthesized_named_expr_set_comp_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@unparenthesized_named_expr_set_literal_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@parenthesized_named_expr_index_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@parenthesized_named_expr_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@unparenthesized_named_expr_index_py39.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@unparenthesized_named_expr_py39.py.snap
Labels: parser, preview

#16521 [red-knot] Case sensitive module resolver
  crates/red_knot/src/main.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/resources/mdtest/import/basic.md
  crates/red_knot_python_semantic/resources/mdtest/import/case_sensitive.md
  crates/red_knot_python_semantic/src/module_resolver/path.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_server/src/system.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_wasm/src/lib.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/system.rs
  crates/ruff_db/src/system/os.rs
  crates/ruff_db/src/system/test.rs
Labels: red-knot

#16746 [red-knot] Document current state of attribute assignment diagnostics
  crates/red_knot_python_semantic/resources/mdtest/diagnostics/attribute_assignment.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_Data_descriptors_-_Invalid_`__set__`_method_signature.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_Data_descriptors_-_Invalid_argument_type.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_Instance_attributes_with_class-level_defaults.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_Possibly-unbound_attributes.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_Pure_instance_attributes.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_Setting_attributes_on_union_types.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_Unknown_attributes.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/attribute_assignment.md_-_Attribute_assignment_-_`ClassVar`s.snap
Labels: red-knot

#16717 [red-knot] Use `try_call_dunder` for augmented assignment
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16761 [red-knot] Extend ecosystem checks
  .github/workflows/mypy_primer.yaml
Labels: red-knot

#16760 [red-knot] LSP: only emit WARN logs from non-red-knot sources
  crates/red_knot_server/src/logging.rs
Labels: red-knot

#16789 Instruct Renovate to pin GitHub Actions based on SHA
  .github/renovate.json5
  .github/workflows/ci.yaml
Labels: ci

#16790 [ci]: Fixup codspeed upgrade
  crates/ruff_benchmark/benches/lexer.rs
  crates/ruff_benchmark/benches/linter.rs
  crates/ruff_benchmark/benches/parser.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/diagnostic/mod.rs
Labels: ci

#16792 [internal]: Update indirect dependencies
  Cargo.lock
Labels: internal

#16794 [internal]: Upgrade salsa
  Cargo.lock
  Cargo.toml
  crates/red_knot_project/src/db.rs
  crates/red_knot_project/src/lib.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/semantic_index.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/semantic_index/expression.rs
  crates/red_knot_python_semantic/src/semantic_index/predicate.rs
  crates/red_knot_python_semantic/src/semantic_index/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/red_knot_python_semantic/src/unpack.rs
  crates/ruff_db/src/files.rs
  crates/ruff_db/src/files/file_root.rs
  crates/ruff_db/src/parsed.rs
  crates/ruff_db/src/source.rs
  crates/ruff_db/src/testing.rs
  fuzz/Cargo.toml
Labels: internal, red-knot

#16770 [`flake8-bandit`] Allow raw strings in `suspicious-mark-safe-usage` (`S308`) #16702
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S308.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/suspicious_function_call.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S308_S308.py.snap
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__preview__S308_S308.py.snap
Labels: bug, rule

#16581 [syntax-errors] Improve error message and range for pre-PEP-614 decorator syntax errors
  crates/ruff_python_parser/resources/inline/err/decorator_await_expression_py38.py
  crates/ruff_python_parser/resources/inline/err/decorator_dict_literal_py38.py
  crates/ruff_python_parser/resources/inline/err/decorator_float_literal_py38.py
  crates/ruff_python_parser/resources/inline/err/decorator_non_toplevel_call_expression_py38.py
  crates/ruff_python_parser/resources/inline/ok/decorator_await_expression_py39.py
  crates/ruff_python_parser/src/error.rs
  crates/ruff_python_parser/src/parser/helpers.rs
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_await_expression_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_dict_literal_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_expression_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_float_literal_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_named_expression_py37.py.snap
  crates/ruff_python_parser/tests/snapshots/invalid_syntax@decorator_non_toplevel_call_expression_py38.py.snap
  crates/ruff_python_parser/tests/snapshots/valid_syntax@decorator_await_expression_py39.py.snap
Labels: parser, preview

#16796 [ci] Use `git diff` instead of `changed-files` GH action
  .github/workflows/ci.yaml
Labels: ci

#16793 [ci]: Disable wheel testing on `ppc64le`
  .github/workflows/build-binaries.yml
Labels: ci

#16803 [red-knot] Fix fully static check for callable type
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_fully_static.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16716 [red-knot] Handle unions of callables better
  crates/red_knot_python_semantic/resources/mdtest/binary/instances.md
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/membership_test.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/instances/rich_comparison.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/tuples.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_expression.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/if_statement.md
  crates/red_knot_python_semantic/resources/mdtest/conditional/match.md
  crates/red_knot_python_semantic/resources/mdtest/expression/assert.md
  crates/red_knot_python_semantic/resources/mdtest/expression/boolean.md
  crates/red_knot_python_semantic/resources/mdtest/loops/while_loop.md
  crates/red_knot_python_semantic/resources/mdtest/snapshots/for.md_-_For_loops_-_Possibly_unbound_`__iter__`_and_possibly_invalid_`__getitem__`.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/instances.md_-_Binary_operations_on_instances_-_Operations_involving_types_with_invalid_`__bool__`_methods.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/membership_test.md_-_Comparison___Membership_Test_-_Return_type_that_doesn't_implement_`__bool__`_correctly.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/not.md_-_Unary_not_-_Object_that_implements_`__bool__`_incorrectly.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/rich_comparison.md_-_Comparison___Rich_Comparison_-_Chained_comparisons_with_objects_that_don't_implement_`__bool__`_correctly.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/tuples.md_-_Comparison___Tuples_-_Chained_comparisons_with_elements_that_incorrectly_implement_`__bool__`.snap
  crates/red_knot_python_semantic/resources/mdtest/snapshots/tuples.md_-_Comparison___Tuples_-_Equality_with_elements_that_incorrectly_implement_`__bool__`.snap
  crates/red_knot_python_semantic/resources/mdtest/unary/not.md
  crates/red_knot_python_semantic/src/symbol.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#16769 [`flake8-gettext`] Swap `format-` and `printf-in-get-text-func-call` examples (`INT002`, `INT003`)
  crates/ruff_linter/src/rules/flake8_gettext/rules/format_in_gettext_func_call.rs
  crates/ruff_linter/src/rules/flake8_gettext/rules/printf_in_gettext_func_call.rs
Labels: documentation

#16807 Add dcreager as red-knot CODEOWNER
  .github/CODEOWNERS
Labels: internal, red-knot

#16814 github: include `/.github/` in ripgrep searches by default
  .ignore
Labels: internal

#16806 [refactor] Convert playground to an NPM workspace
  .github/workflows/ci.yaml
  .github/workflows/publish-playground.yml
  playground/.prettierignore
  playground/.prettierrc.json
  playground/README.md
  playground/package-lock.json
  playground/package.json
  playground/ruff/index.html
  playground/ruff/package.json
  playground/ruff/postcss.config.cjs
  playground/ruff/src/Editor/AstralButton.tsx
  playground/ruff/src/Editor/Chrome.tsx
  playground/ruff/src/Editor/Diagnostics.tsx
  playground/ruff/src/Editor/Editor.tsx
  playground/ruff/src/Editor/ErrorMessage.tsx
  playground/ruff/src/Editor/Header.tsx
  playground/ruff/src/Editor/Icons.tsx
  playground/ruff/src/Editor/PrimarySideBar.tsx
  playground/ruff/src/Editor/RepoButton.tsx
  playground/ruff/src/Editor/ResizeHandle.tsx
  playground/ruff/src/Editor/SecondaryPanel.tsx
  playground/ruff/src/Editor/SecondarySideBar.tsx
  playground/ruff/src/Editor/SettingsEditor.tsx
  playground/ruff/src/Editor/ShareButton.tsx
  playground/ruff/src/Editor/SideBar.tsx
  playground/ruff/src/Editor/SourceEditor.tsx
  playground/ruff/src/Editor/ThemeButton.tsx
  playground/ruff/src/Editor/VersionTag.tsx
  playground/ruff/src/Editor/api.ts
  playground/ruff/src/Editor/index.tsx
  playground/ruff/src/Editor/settings.ts
  playground/ruff/src/Editor/setupMonaco.tsx
  playground/ruff/src/Editor/theme.ts
  playground/ruff/src/Editor/utils.ts
  playground/ruff/src/constants.ts
  playground/ruff/src/index.css
  playground/ruff/src/main.tsx
  playground/ruff/src/third-party.d.ts
  playground/ruff/src/vite-env.d.ts
  playground/ruff/vite.config.ts
  playground/src/index.css
  playground/tsconfig.json
  playground/tsconfig.node.json
Labels: playground

#16818 Update Ruff tutorial to avoid non-existent fix in `__init__.py`
  docs/tutorial.md
Labels: documentation

#16647 [`airflow`] Add `chain`, `chain_linear` and `cross_downstream` for `AIR302`
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule, preview

#16756 [ruff] Fix `--statistics` reporting for unsafe fixes
  crates/ruff/src/printer.rs
  crates/ruff/tests/integration_test.rs
Labels: bug, cli

#16819 [playground] Extract shared components
  playground/eslint.config.mjs
  playground/package-lock.json
  playground/package.json
  playground/ruff/package.json
  playground/ruff/postcss.config.cjs
  playground/ruff/public/Ruff.png
  playground/ruff/public/apple-touch-icon.png
  playground/ruff/public/favicon-16x16.png
  playground/ruff/public/favicon-32x32.png
  playground/ruff/public/favicon.ico
  playground/ruff/src/Editor/Chrome.tsx
  playground/ruff/src/Editor/Diagnostics.tsx
  playground/ruff/src/Editor/Editor.tsx
  playground/ruff/src/Editor/PrimarySideBar.tsx
  playground/ruff/src/Editor/SecondaryPanel.tsx
  playground/ruff/src/Editor/SecondarySideBar.tsx
  playground/ruff/src/Editor/SettingsEditor.tsx
  playground/ruff/src/Editor/SourceEditor.tsx
  playground/ruff/src/Editor/utils.ts
  playground/ruff/src/index.css
  playground/ruff/vite.config.ts
  playground/shared/package.json
  playground/shared/src/AstralButton.tsx
  playground/shared/src/ErrorMessage.tsx
  playground/shared/src/Header.tsx
  playground/shared/src/Icons.tsx
  playground/shared/src/RepoButton.tsx
  playground/shared/src/ResizeHandle.tsx
  playground/shared/src/ShareButton.tsx
  playground/shared/src/ThemeButton.tsx
  playground/shared/src/VersionTag.tsx
  playground/shared/src/index.ts
  playground/shared/src/setupMonaco.tsx
  playground/shared/src/theme.ts
  playground/tsconfig.json
Labels: playground

#16825 [playground] Upgrade dependencies
  playground/package-lock.json
  playground/package.json
  playground/ruff/package.json
Labels: playground

#16823 [red-knot] Improve property test performance by cloning db instead of holding `MutexGuard`
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: testing, red-knot

#16820 [red-knot] Simplify `IterationError` and `ContextManagerError`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#16832 [red-knot] Deploy playground on main
  .github/workflows/publish-knot-playground.yml
Labels: ci, red-knot

#16833 [playground] Use cursor for clickable elements
  .github/workflows/publish-knot-playground.yml
  playground/api/src/index.ts
  playground/knot/src/Editor/Files.tsx
  playground/shared/src/AstralButton.tsx
  playground/shared/src/SideBar.tsx
Labels: playground, red-knot

#16822 [red-knot] Emit errors for more AST nodes that are invalid (or only valid in specific contexts) in type expressions
  crates/red_knot_python_semantic/resources/mdtest/annotations/invalid.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16830 [red-knot] Move `name` field on parameter kind
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#16695 [red-knot] Infer `lambda` return type as `Unknown`
  crates/red_knot_python_semantic/resources/mdtest/expression/lambda.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16834 [playground] Avoid concurrent deployments
  .github/workflows/publish-knot-playground.yml
Labels: ci

#16842 Allow dirty files in `cargo-dist` for action pins
  Cargo.toml
Labels: ci, no-build, no-test

#16846 [red-knot] Minor cleanup to `infer_parameterized_known_instance_type_expression`
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16847 [red-knot] Ban list literals in most contexts in type expressions
  crates/red_knot_python_semantic/resources/mdtest/annotations/callable.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/invalid.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16009 Add --exit-non-zero-on-format
  crates/ruff/src/args.rs
  crates/ruff/src/commands/format.rs
  crates/ruff/tests/format.rs
  docs/configuration.md
Labels: cli

#16850 Show more precise messages in invalid type expressions
  crates/red_knot_python_semantic/resources/mdtest/annotations/annotated.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_special_forms.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_type_qualifiers.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16550 [`refurb`] Fix starred expressions fix (`FURB161`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB161.py
  crates/ruff_linter/src/rules/refurb/rules/bit_count.rs
Labels: bug, fixes

#16844 Separate `BitXorOr` into `BitXor` and `BitOr` precedence
  crates/ruff_linter/src/rules/pylint/rules/unnecessary_dunder_call.rs
  crates/ruff_python_ast/src/operator_precedence.rs
Labels: internal

#16857 Use the correct base commit for change determination
  .github/workflows/ci.yaml
Labels: ci

#16856 [red-knot] add test cases result in false positive errors
  crates/red_knot_python_semantic/resources/mdtest/intersection_types.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_disjoint_from.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_gradual_equivalent_to.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
Labels: red-knot

#16879 Recognize `SyntaxError:` as an error code for ecosystem checks
  python/ruff-ecosystem/ruff_ecosystem/check.py
Labels: ci

#16878 [syntax-errors] Fix star annotation before Python 3.11
  crates/ruff_python_parser/resources/inline/ok/param_with_star_annotation_py310.py
  crates/ruff_python_parser/src/parser/statement.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@param_with_star_annotation_py310.py.snap
Labels: bug, preview

#16877 Special-case value-expression inference of special form subscriptions
  crates/red_knot_python_semantic/resources/mdtest/annotations/annotated.md
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#16872 [red-knot] Ban most `Type::Instance` types in type expressions
  crates/red_knot_python_semantic/resources/mdtest/annotations/invalid.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/new_types.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_special_forms.md
  crates/red_knot_python_semantic/resources/mdtest/generics/scoping.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class.rs
Labels: red-knot

#16698 [red-knot] Check whether two callable types are equivalent
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_equivalent_to.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
Labels: red-knot

#16804 [red-knot] Check subtype relation between callable types
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#16747 Use the common `OperatorPrecedence` for the parser
  crates/ruff_python_ast/src/operator_precedence.rs
  crates/ruff_python_parser/src/parser/expression.rs
  crates/ruff_python_parser/tests/snapshots/valid_syntax@expressions__bin_op.py.snap
Labels: internal, parser

#16896 Bump 0.11.2
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#16546 [red-knot] Break up call binding into two phases
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/directives/cast.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/arguments.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  knot.schema.json
Labels: red-knot

#16873 [red-knot] Add failing tests for `*` imports
  crates/red_knot_python_semantic/resources/mdtest/import/star.md
Labels: red-knot

#16899 [red-knot] Avoid false-positive diagnostics on `*` import statements
  crates/red_knot_python_semantic/resources/mdtest/import/star.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot
