Repository astral-sh/ruff, pull requests merged in 2025-01, with the labels that each got.

#15214 [`pycodestyle`] Avoid false positives and negatives related to type parameter default syntax (`E225`, `E251`)
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E22.py
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E25.py
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/missing_whitespace_around_operator.rs
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/mod.rs
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E221_E22.py.snap
  crates/ruff_linter/src/rules/pycodestyle/snapshots/ruff_linter__rules__pycodestyle__tests__E222_E22.py.snap
Labels: bug

#15216 [`airflow`] Extend names moved from core to provider (`AIR303`)
  crates/ruff_linter/resources/test/fixtures/airflow/AIR303.py
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR303_AIR303.py.snap
Labels: rule, preview

#14828 [`ruff`] Unnecessary rounding (`RUF057`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF057.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_cast_to_int.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_round.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF057_RUF057.py.snap
  ruff.schema.json
Labels: rule, preview

#15219 Bump version to 0.8.5
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#15218 Remove `Type::tuple` in favor of `TupleType::from_elements`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
  crates/red_knot_workspace/resources/test/corpus/88_regression_tuple_type_short_circuit.py
Labels: red-knot

#15230 Avoid syntax error when removing int over multiple lines
  crates/ruff_linter/resources/test/fixtures/ruff/RUF046.py
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_cast_to_int.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF046_RUF046.py.snap
Labels: bug, fixes

#15231 Misc. clean up to rounding rules
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_cast_to_int.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_round.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF046_RUF046.py.snap
Labels: internal

#15220 refactor(AIR303): move duplicate qualified_name.to_string() to Diagnostic argument
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
Labels: internal

#15233 style(AIR302): rename removed_airflow_plugin_extension as check_airflow_plugin_extension
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
Labels: internal

#15215 [`pyflakes`] Ignore errors in `@no_type_check` string annotations (`F722`, `F821`)
  crates/ruff_linter/resources/test/fixtures/pyflakes/F401_32.py
  crates/ruff_linter/resources/test/fixtures/pyflakes/F722_1.py
  crates/ruff_linter/resources/test/fixtures/pyflakes/F821_31.py
  crates/ruff_linter/src/checkers/ast/analyze/unresolved_references.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F401_F401_32.py.snap
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F722_F722_1.py.snap
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F821_F821_31.py.snap
  crates/ruff_python_semantic/src/model.rs
Labels: rule

#15126 Preserve multiline implicit concatenated strings in docstring positions
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/string.py
  crates/ruff_python_formatter/src/expression/expr_string_literal.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__string.py.snap
Labels: formatter, preview

#15175 TD003: remove issue code length restriction
  crates/ruff_linter/resources/test/fixtures/flake8_todos/TD003.py
  crates/ruff_linter/src/rules/flake8_todos/rules/todos.rs
  crates/ruff_linter/src/rules/flake8_todos/snapshots/ruff_linter__rules__flake8_todos__tests__missing-todo-link_TD003.py.snap
Labels: rule

#15104 [`RUF`] Add rule to detect empty literal in deque call (`RUF025`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF025.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_literal_within_deque_call.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF025_RUF025.py.snap
  crates/ruff_python_ast/src/nodes.rs
  ruff.schema.json
Labels: rule, preview

#15123 Remove formatter incompatibility warning for ISC001
  crates/ruff/src/commands/format.rs
  crates/ruff/tests/format.rs
  crates/ruff_linter/src/rules/flake8_implicit_str_concat/rules/implicit.rs
  docs/formatter.md
Labels: documentation

#15241 Attribute panics to the mdtests that cause them
  crates/red_knot_test/src/lib.rs
  crates/red_knot_test/src/matcher.rs
  crates/ruff/src/commands/check.rs
  crates/ruff/src/commands/format.rs
  crates/ruff/src/lib.rs
  crates/ruff_db/src/lib.rs
  crates/ruff_db/src/panic.rs
Labels: testing, red-knot

#15234 [`ruff`] Avoid reporting when `ndigits` is possibly negative (`RUF057`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF057.py
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_cast_to_int.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_round.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF057_RUF057.py.snap
Labels: bug, preview

#15242 [red-knot] Remove unneeded branch in `Type::is_equivalent_to()`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15243 Update salsa
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.toml
Labels: internal

#15250 Revert "Add all PEP-585 names to UP006 rule"
  crates/ruff/tests/integration_test.rs
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP006_0.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP006_1.py
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep585_annotation.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP006_0.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP006_1.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__preview__UP006_0.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__preview__UP006_1.py.snap
  crates/ruff_python_semantic/src/analyze/typing.rs
  crates/ruff_python_stdlib/src/typing.rs
Labels: bug

#15252 Make unreachable a test rule for now
  .github/workflows/ci.yaml
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pylint/rules/mod.rs
Labels: preview

#15253 Ruff 0.8.6
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#15260 [red-knot] Minor cleanup to `Type::is_disjoint_from()` and `Type::is_subtype_of()`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15259 Add a test for overshadowing redirects
  crates/ruff_linter/src/rule_redirects.rs
Labels: testing

#15269 [red-knot] `Type::SubclassOf(SubclassOfType { base: ClassBase::Unknown }).to_instance()` should be `Unknown`, not `Any`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15273 [`refurb`] Mark fix as unsafe when the right-hand side is a string (`FURB171`)
  crates/ruff_linter/src/rules/refurb/rules/single_item_membership_test.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB171_FURB171.py.snap
Labels: bug, fixes, preview

#14982 Allow assigning ellipsis literal as parameter default value
  crates/red_knot_python_semantic/resources/mdtest/assignment/annotations.md
  crates/red_knot_python_semantic/resources/mdtest/stubs/ellipsis.md
  crates/red_knot_python_semantic/src/types/context.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
  crates/red_knot_python_semantic/src/unpack.rs
Labels: red-knot

#15270 [red-knot] Minor simplifications and improvements to constraint narrowing logic
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/issubclass.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
Labels: red-knot

#15261 [red-knot] Improve `Type::is_disjoint_from()` for `KnownInstanceType`s
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15262 [red-knot] Future-proof `Type::is_disjoint_from()`
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15267 Don't fix in ecosystem check
  python/ruff-ecosystem/ruff_ecosystem/projects.py
Labels: ci

#15299 [`ruff`] Dataclass enums (`RUF049`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF049.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/dataclass_enum.rs
  crates/ruff_linter/src/rules/ruff/rules/function_call_in_dataclass_default.rs
  crates/ruff_linter/src/rules/ruff/rules/helpers.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mutable_class_default.rs
  crates/ruff_linter/src/rules/ruff/rules/mutable_dataclass_default.rs
  crates/ruff_linter/src/rules/ruff/rules/post_init_default.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF049_RUF049.py.snap
  ruff.schema.json
Labels: rule, preview

#15300 Upgrade zizmor to the latest version in CI
  .github/workflows/build-docker.yml
  .github/workflows/publish-docs.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
Labels: ci

#15161 Don't special-case class instances in binary expression inference
  crates/red_knot_python_semantic/resources/mdtest/binary/booleans.md
  crates/red_knot_python_semantic/resources/mdtest/binary/classes.md
  crates/red_knot_python_semantic/resources/mdtest/binary/custom.md
  crates/red_knot_python_semantic/resources/mdtest/binary/integers.md
  crates/red_knot_python_semantic/resources/mdtest/slots.md
  crates/red_knot_python_semantic/resources/mdtest/unary/custom.md
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_workspace/tests/check.rs
Labels: red-knot

#15310 Don't enforce `object-without-hash-method` in stubs
  crates/ruff_linter/src/rules/pylint/rules/eq_without_hash.rs
Labels: rule

#15309 Remove call when removing final argument from `format`
  crates/ruff_linter/resources/test/fixtures/pyflakes/F523.py
  crates/ruff_linter/src/rules/pyflakes/fixes.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F523_F523.py.snap
Labels: bug, fixes

#15311 Avoid treating newline-separated sections as sub-sections
  crates/ruff_linter/resources/test/fixtures/pydocstyle/sections.py
  crates/ruff_linter/src/docstrings/sections.rs
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D405_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D406_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D407_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D409_sections.py.snap
  crates/ruff_linter/src/rules/pydocstyle/snapshots/ruff_linter__rules__pydocstyle__tests__D413_sections.py.snap
Labels: bug, docstring

#9601 [`flake8-bugbear`] Implement `class-as-data-structure` (`B903`)
  crates/ruff_linter/resources/test/fixtures/flake8_bugbear/class_as_data_structure.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_bugbear/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/class_as_data_structure.rs
  crates/ruff_linter/src/rules/flake8_bugbear/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B903_class_as_data_structure.py.snap
  crates/ruff_workspace/src/configuration.rs
  ruff.schema.json
Labels: rule, accepted, preview

#15298 [`flake8-return`] Recognize functions returning `Never` as non-returning (`RET503`)
  crates/ruff_linter/resources/test/fixtures/flake8_return/RET503.py
  crates/ruff_linter/src/rules/flake8_return/rules/function.rs
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__RET503_RET503.py.snap
  crates/ruff_linter/src/rules/flake8_return/snapshots/ruff_linter__rules__flake8_return__tests__preview__RET503_RET503.py.snap
Labels: rule

#15297 [red-knot] improve type shrinking coverage in red-knot property tests
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: testing, red-knot

#14907 [red-knot] Improve symbol-lookup tracing
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15313 [`pyupgrade`] Split `UP007` to two individual rules for `Union` and `Optional` (`UP007`, `UP045`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP007.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP045.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep604_annotation.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP007.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP045.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__up007_preview.snap
  crates/ruff_linter/src/rules/ruff/mod.rs
  ruff.schema.json
Labels: rule, preview

#15127 Update Black deviations to reflect 2025 style changes
  docs/formatter/black.md
Labels: documentation

#15272 [red-knot] Eagerly normalize `type[]` types
  crates/red_knot_python_semantic/resources/mdtest/narrow/issubclass.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/basic.md
  crates/red_knot_python_semantic/resources/mdtest/type_of/dynamic.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
Labels: red-knot

#15318 [`ruff`] Treat `)` as a regex metacharacter (`RUF043`, `RUF055`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF043.py
  crates/ruff_linter/resources/test/fixtures/ruff/RUF055_0.py
  crates/ruff_linter/src/rules/ruff/rules/pytest_raises_ambiguous_pattern.rs
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_regular_expression.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF043_RUF043.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF055_RUF055_0.py.snap
Labels: bug

#15276 [`internal`] Return statements in finally block point to end block for `unreachable` (`PLW0101`)
  crates/ruff_linter/resources/test/fixtures/control-flow-graph/try-finally-nested-if-while.py
  crates/ruff_linter/src/rules/pylint/rules/snapshots/ruff_linter__rules__pylint__rules__unreachable__tests__try-finally-nested-if-while.py.md.snap
  crates/ruff_linter/src/rules/pylint/rules/unreachable.rs
Labels: bug, rule, internal

#15328 Spruce up docs for `slice-to-remove-prefix-or-suffix` (`FURB188`)
  crates/ruff_linter/src/rules/refurb/rules/slice_to_remove_prefix_or_suffix.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB188_FURB188.py.snap
Labels: documentation

#15329 [ruff-0.9] Stabilise `slice-to-remove-prefix-or-suffix` (`FURB188`)
  crates/ruff_linter/src/codes.rs
Labels: rule

#15200 [red-knot] add call checking
  crates/red_knot_python_semantic/resources/mdtest/assignment/augmented.md
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/call/invalid_syntax.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/issubclass.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/arguments.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/signatures.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#15223 Narrowing for class patterns in match statements
  crates/red_knot_python_semantic/resources/mdtest/narrow/match.md
  crates/red_knot_python_semantic/src/semantic_index/builder.rs
  crates/red_knot_python_semantic/src/semantic_index/constraint.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/narrow.rs
  crates/red_knot_python_semantic/src/visibility_constraints.rs
Labels: red-knot

#15277 [`ruff`] Parenthesize arguments to `int` when removing `int` would change semantics in `unnecessary-cast-to-int` (`RUF046`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF046.py
  crates/ruff_linter/src/rules/ruff/rules/unnecessary_cast_to_int.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF046_RUF046.py.snap
Labels: bug, fixes, preview

#15332 [red-knot] all types are assignable to object
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
  crates/ruff_benchmark/benches/red_knot.rs
Labels: red-knot

#14993 Display Union of Literals as a Literal
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/annotations/string.md
  crates/red_knot_python_semantic/resources/mdtest/call/union.md
  crates/red_knot_python_semantic/resources/mdtest/comparison/unsupported.md
  crates/red_knot_python_semantic/resources/mdtest/expression/attribute.md
  crates/red_knot_python_semantic/resources/mdtest/expression/if.md
  crates/red_knot_python_semantic/resources/mdtest/expression/len.md
  crates/red_knot_python_semantic/resources/mdtest/loops/for.md
  crates/red_knot_python_semantic/resources/mdtest/loops/while_loop.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/conditionals/is.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/truthiness.md
  crates/red_knot_python_semantic/resources/mdtest/scopes/unbound.md
  crates/red_knot_python_semantic/resources/mdtest/unpacking.md
  crates/red_knot_python_semantic/src/types/display.rs
Labels: red-knot

#15333 [ruff-0.9] Stabilize `decimal-from-float-literal` (`RUF032`)
  crates/ruff_linter/src/codes.rs
Labels: rule

#15327 [`flake8-pytest-style`] Stabilize "Detect more `pytest.mark.parametrize` calls" (`PT006`)
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/mod.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/parametrize.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT006_default.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT006_list.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__preview__PT006_PT006.py.snap
Labels: rule

#15344 Remove unnecessary `PreviewMode::Enabled` in tests
  crates/ruff_linter/src/rules/flake8_pytest_style/mod.rs
Labels: testing

#15343 [`flake8-pyi`] Stabilize autofix for `redundant-numeric-union` (`PYI041`)
  crates/ruff_linter/src/rules/flake8_pyi/rules/redundant_numeric_union.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI041_PYI041.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI041_PYI041.pyi.snap
Labels: fixes

#15103 [red-knot] `knot_extensions` Python API
  .github/workflows/sync_typeshed.yaml
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_vendored/knot_extensions/README.md
  crates/red_knot_vendored/knot_extensions/knot_extensions.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/VERSIONS
  crates/red_knot_vendored/vendor/typeshed/stdlib/knot_extensions.pyi
Labels: red-knot

#15345 [`ruff`] Stabilize: Detect `attrs` dataclasses (`RUF008`, `RUF009`)
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/function_call_in_dataclass_default.rs
  crates/ruff_linter/src/rules/ruff/rules/helpers.rs
  crates/ruff_linter/src/rules/ruff/rules/mutable_class_default.rs
  crates/ruff_linter/src/rules/ruff/rules/mutable_dataclass_default.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF008_RUF008_attrs.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF009_RUF009_attrs.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF009_RUF009_attrs_auto_attribs.py.snap
Labels: rule

#15180 [`flake8-type-checking`] Apply `TC008` more eagerly in `TYPE_CHECKING` blocks and disapply it in stubs
  crates/ruff_linter/resources/test/fixtures/flake8_type_checking/TC008_typing_execution_context.py
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/type_alias_quotes.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__quoted-type-alias_TC008_typing_execution_context.py.snap
  crates/ruff_linter/src/rules/pyupgrade/rules/quoted_annotation.rs
  crates/ruff_linter/src/rules/ruff/rules/missing_fstring_syntax.rs
  crates/ruff_python_semantic/src/model.rs
Labels: rule

#15342 [`flake8-pyi`]: Stabilize: Provide more automated fixes for `duplicate-union-members` (`PYI016`)
  crates/ruff_linter/resources/test/fixtures/flake8_pyi/PYI016.py
  crates/ruff_linter/src/rules/flake8_pyi/rules/duplicate_union_member.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI016_PYI016.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI016_PYI016.pyi.snap
Labels: fixes

#15350 [`flake8-builtins`] Disapply `A005` to stub files
  crates/ruff_linter/resources/test/fixtures/flake8_builtins/A005/modules/package/collections.pyi
  crates/ruff_linter/src/rules/flake8_builtins/mod.rs
  crates/ruff_linter/src/rules/flake8_builtins/rules/stdlib_module_shadowing.rs
  crates/ruff_linter/src/rules/flake8_builtins/snapshots/ruff_linter__rules__flake8_builtins__tests__A005_A005__modules__package__collections.pyi.snap
Labels: rule

#15340 [`flake8-pyi`] Stabilize: include all python file types for `PYI006`
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/rules/flake8_pyi/mod.rs
  crates/ruff_linter/src/rules/flake8_pyi/rules/bad_version_info_comparison.rs
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI006_PYI006.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__PYI066_PYI066.pyi.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI006_PYI006.py.snap
  crates/ruff_linter/src/rules/flake8_pyi/snapshots/ruff_linter__rules__flake8_pyi__tests__preview__PYI006_PYI006.pyi.snap
Labels: rule

#15349 Update formatter preview documentation
  docs/formatter.md
Labels: documentation

#15352 [`ruff`] Stabilize `post-init-default` (RUF033)
  crates/ruff_linter/src/codes.rs
Labels: rule

#15356 [`pycodestyle`] Avoid false positives related to type aliases (`E252`)
  crates/ruff_linter/resources/test/fixtures/pycodestyle/E25.py
  crates/ruff_linter/src/rules/pycodestyle/rules/logical_lines/mod.rs
Labels: bug, rule, preview

#15357 fix invalid syntax in workflow file
  .github/workflows/build-docker.yml
Labels: ci

#15278 [`pylint`] Fix `unreachable` infinite loop (`PLW0101`)
  crates/ruff_linter/resources/test/fixtures/control-flow-graph/try.py
  crates/ruff_linter/resources/test/fixtures/control-flow-graph/while.py
  crates/ruff_linter/src/rules/pylint/rules/snapshots/ruff_linter__rules__pylint__rules__unreachable__tests__try.py.md.snap
  crates/ruff_linter/src/rules/pylint/rules/snapshots/ruff_linter__rules__pylint__rules__unreachable__tests__while.py.md.snap
  crates/ruff_linter/src/rules/pylint/rules/unreachable.rs
Labels: bug, preview

#15319 Fall back on previous panic hook when not in `catch_unwind` wrapper
  crates/ruff_db/src/panic.rs
Labels: testing, red-knot

#15335 [red-knot] Reduce `Name` clones in call signature checking
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call/arguments.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15353 [red-knot] More comprehensive `is_assignable_to` tests
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_assignable_to.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: testing, red-knot

#15358 [red-knot] Property test improvements
  .github/workflows/daily_property_tests.yaml
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: testing, red-knot

#15361 [red-knot] Property test workflow: Fix issue label, link to CI run
  .github/workflows/daily_fuzz.yaml
  .github/workflows/daily_property_tests.yaml
Labels: testing, red-knot

#15138 [red-knot] More precise inference for classes with non-class metaclasses
  crates/red_knot_python_semantic/resources/mdtest/metaclass.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/diagnostic.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15367 Add f-string formatting to the docs
  crates/ruff_python_formatter/README.md
  docs/faq.md
  docs/formatter.md
  docs/formatter/black.md
Labels: documentation

#15362 [red-knot] handle synthetic 'self' argument in call-binding diagnostics
  crates/red_knot_python_semantic/resources/mdtest/call/callable_instance.md
  crates/red_knot_python_semantic/src/types/call/arguments.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
Labels: red-knot

#15370 [red-knot] Typeshed patching: use build.rs instead of workflow
  .github/workflows/sync_typeshed.yaml
  crates/red_knot_vendored/build.rs
  crates/red_knot_vendored/vendor/typeshed/stdlib/VERSIONS
  crates/red_knot_vendored/vendor/typeshed/stdlib/knot_extensions.pyi
Labels: internal, red-knot

#15372 [red-knot] Minor refactor of red_knot_vendored/build.rs
  crates/red_knot_vendored/build.rs
Labels: internal, red-knot

#15365 [`flake8-django`] Recognize other magic methods (`DJ012`)
  crates/ruff_linter/resources/test/fixtures/flake8_django/DJ012.py
  crates/ruff_linter/src/rules/flake8_django/rules/unordered_body_content_in_model.rs
  crates/ruff_linter/src/rules/flake8_django/snapshots/ruff_linter__rules__flake8_django__tests__DJ012_DJ012.py.snap
Labels: rule

#15373 [`ruff`] Stop parsing diagnostics from other sources for code action requests
  crates/ruff_server/src/lint.rs
Labels: bug, server

#15374 [red-knot] Move `UnionBuilder` tests to Markdown
  crates/red_knot_python_semantic/resources/mdtest/union_types.md
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: testing, red-knot

#15386 [red-knot] Consolidate all gradual types into single Type variant
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/display.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_python_semantic/src/types/mro.rs
  crates/red_knot_python_semantic/src/types/subclass_of.rs
  crates/red_knot_python_semantic/src/types/unpacker.rs
Labels: red-knot

#15337 [`pyupgrade`] Handle comments and multiline expressions correctly (`UP037`)
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP037_2.pyi
  crates/ruff_linter/src/rules/pyupgrade/mod.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/quoted_annotation.rs
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP037_2.pyi.snap
Labels: fixes

#15389 [`flake8-bugbear`] Improve assert-raises-exception (B017) message
  crates/ruff_linter/src/rules/flake8_bugbear/rules/assert_raises_exception.rs
  crates/ruff_linter/src/rules/flake8_bugbear/snapshots/ruff_linter__rules__flake8_bugbear__tests__B017_B017.py.snap
Labels: rule

#15376 [`ruff`] Omit diagnostic for shadowed private function parameters in `used-dummy-variable` (`RUF052`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF052.py
  crates/ruff_linter/src/checkers/ast/analyze/bindings.rs
  crates/ruff_linter/src/rules/ruff/rules/used_dummy_variable.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
Labels: rule, preview

#15393 Remove unnecessary backticks
  docs/formatter.md
Labels: documentation

#15396 [red-knot] Move intersection type tests to Markdown
  crates/red_knot_python_semantic/resources/mdtest/intersection_types.md
  crates/red_knot_python_semantic/resources/mdtest/union_types.md
  crates/red_knot_python_semantic/src/types/builder.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15398 Insert the cells from the `start` position
  crates/ruff_server/src/edit/notebook.rs
Labels: bug, notebook, server

#15401 Fix outdated doc for handling the default file types with the pre-commit hook
  docs/integrations.md
Labels: documentation

#15394 [`flake8-pie`] Correctly remove wrapping parentheses (`PIE800`)
  crates/ruff_linter/resources/test/fixtures/flake8_pie/PIE800.py
  crates/ruff_linter/src/rules/flake8_pie/rules/unnecessary_spread.rs
  crates/ruff_linter/src/rules/flake8_pie/snapshots/ruff_linter__rules__flake8_pie__tests__PIE800_PIE800.py.snap
Labels: bug, fixes

#15402 [red-knot] Move tuple-containing-Never tests to Markdown
  crates/red_knot_python_semantic/resources/mdtest/type_properties/tuples_containing_never.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15378 Associate a trailing end-of-line comment in a parenthesized implicit concatenated string with the last literal
  crates/ruff_python_ast/src/expression.rs
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string_assignment.py
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/src/string/implicit.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__join_implicit_concatenated_string_assignment.py.snap
Labels: bug, formatter

#15407 Ruff 0.9.1
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/ruff/Cargo.toml
  crates/ruff_linter/Cargo.toml
  crates/ruff_wasm/Cargo.toml
  docs/integrations.md
  docs/tutorial.md
  pyproject.toml
  scripts/benchmarks/pyproject.toml
Labels: release

#15406 [red-knot] Refactor `KnownFunction::takes_expression_arguments()`
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: red-knot

#15410 [red-knot] Minor fixes in intersection-types tests
  crates/red_knot_python_semantic/resources/mdtest/intersection_types.md
Labels: red-knot

#15400 [red-knot] Simplify unions of T and ~T
  crates/red_knot_python_semantic/resources/mdtest/intersection_types.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/truthiness.md
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#15408 Upgrade Rust toolchain to 1.84.0
  Cargo.toml
  crates/red_knot_server/src/session/index.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/ruff/src/args.rs
  crates/ruff_db/src/system.rs
  crates/ruff_formatter/src/printer/mod.rs
  crates/ruff_linter/src/docstrings/sections.rs
  crates/ruff_linter/src/fix/mod.rs
  crates/ruff_linter/src/noqa.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/f_strings.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/super_call_with_parameters.rs
  crates/ruff_linter/src/rules/pyupgrade/rules/use_pep646_unpack.rs
  crates/ruff_linter/src/rules/refurb/rules/print_empty_string.rs
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_python_formatter/src/comments/format.rs
  crates/ruff_python_semantic/src/model.rs
  crates/ruff_server/src/session/index.rs
  rust-toolchain.toml
Labels: internal

#15414 Remove `flatten` to improve deserialization error messages
  crates/ruff/tests/lint.rs
  crates/ruff_workspace/src/options.rs
Labels: configuration

#15413 [red-knot] Support `cast`
  crates/red_knot_python_semantic/resources/mdtest/directives/cast.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
Labels: red-knot

#15415 [red-knot] Add Property Tests for Intersection and Union
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: testing, red-knot

#15440 [red-knot] Minor improvements to `property_tests.rs`
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#15441 [red-knot] Minor improvements to `KnownFunction` API
  crates/red_knot_python_semantic/src/module_resolver/module.rs
  crates/red_knot_python_semantic/src/semantic_index/definition.rs
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15437 [red-knot] Add `AlwaysTruthy` and `AlwaysFalsy` to `knot_extensions`
  crates/red_knot_python_semantic/resources/mdtest/type_api.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/class_base.rs
  crates/red_knot_python_semantic/src/types/infer.rs
  crates/red_knot_vendored/knot_extensions/knot_extensions.pyi
Labels: red-knot

#15443 [`flake8-bandit`] Check for `builtins` instead of `builtin` (`S102`, `PTH123`)
  crates/ruff_linter/resources/test/fixtures/flake8_bandit/S102.py
  crates/ruff_linter/resources/test/fixtures/flake8_use_pathlib/import_from.py
  crates/ruff_linter/src/rules/flake8_bandit/rules/exec_used.rs
  crates/ruff_linter/src/rules/flake8_bandit/snapshots/ruff_linter__rules__flake8_bandit__tests__S102_S102.py.snap
  crates/ruff_linter/src/rules/flake8_use_pathlib/rules/replaceable_by_pathlib.rs
  crates/ruff_linter/src/rules/flake8_use_pathlib/snapshots/ruff_linter__rules__flake8_use_pathlib__tests__import_from.py.snap
Labels: bug

#15446 [`flake8-pathlib`] Fix `--select` for `os-path-dirname` (`PTH120`)
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
Labels: bug

#15444 [`flake8-pytest-style`] Implement pytest.warns diagnostics (`PT029`, `PT030`, `PT031`)
  crates/ruff/tests/lint.rs
  crates/ruff_linter/resources/test/fixtures/flake8_pytest_style/PT029.py
  crates/ruff_linter/resources/test/fixtures/flake8_pytest_style/PT030.py
  crates/ruff_linter/resources/test/fixtures/flake8_pytest_style/PT031.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/mod.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/warns.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/settings.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT029.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT030_default.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT030_extend_broad_exceptions.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT030_glob_all.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT030_glob_prefix.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT030_replace_broad_exceptions.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT031.snap
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: rule, preview

#15438 [`flake8-pie`] Reuse parsed tokens (`PIE800`)
  crates/ruff_linter/src/rules/flake8_pie/rules/unnecessary_spread.rs
Labels: internal

#15450 [red-knot] Remove duplicate property test
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#15364 [`fastapi`] Handle parameters with `Depends` correctly (`FAST003`)
  crates/ruff_linter/resources/test/fixtures/fastapi/FAST003.py
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_unused_path_parameter.rs
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-unused-path-parameter_FAST003.py.snap
Labels: rule, preview

#15451 [red-knot] Use `BitSet::union` for merging of declarations
  crates/red_knot_python_semantic/src/semantic_index/use_def/bitset.rs
  crates/red_knot_python_semantic/src/semantic_index/use_def/symbol_state.rs
Labels: red-knot

#15452 Display context for `ruff.configuration` errors
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#15449 [`flake8-pytest-style`] Test function parameters with default arguments (`PT028`)
  crates/ruff_linter/resources/test/fixtures/flake8_pytest_style/PT028.py
  crates/ruff_linter/resources/test/fixtures/flake8_pytest_style/is_pytest_test.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/mod.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/helpers.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/mod.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/test_functions.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT028.snap
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__is_pytest_test.snap
  ruff.schema.json
Labels: rule, preview

#15457 Change `ProgramSettings::python_platform` to return a reference
  crates/red_knot_python_semantic/src/program.rs
Labels: red-knot

#15461 [red-knot] remove CallOutcome::Cast variant
  crates/red_knot_python_semantic/resources/mdtest/call/function.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_python_semantic/src/types/call.rs
  crates/red_knot_python_semantic/src/types/call/bind.rs
Labels: red-knot

#15463 [airflow] replace typo "security_managr" as "security_manager" (AIR303)
  crates/ruff_linter/src/rules/airflow/rules/moved_to_provider_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR303_AIR303.py.snap
Labels: bug, preview

#15235 [`ruff`] Fix false positive on global keyword (`RUF052`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF052.py
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__RUF052_RUF052.py.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_1.snap
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__custom_dummy_var_regexp_preset__RUF052_RUF052.py_2.snap
  crates/ruff_python_semantic/src/binding.rs
  crates/ruff_python_semantic/src/model.rs
Labels: bug

#15466 [`flake8-builtins`] Improve A005 documentation
  crates/ruff_linter/src/rules/flake8_builtins/rules/stdlib_module_shadowing.rs
  crates/ruff_workspace/src/options.rs
Labels: documentation

#15465 [`flake8-pytest-style`] Tweak documentation and message
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/raises.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/rules/warns.rs
  crates/ruff_linter/src/rules/flake8_pytest_style/snapshots/ruff_linter__rules__flake8_pytest_style__tests__PT010.snap
Labels: documentation

#15486 Use tool specific function to perform exclude checks
  crates/ruff_server/src/fix.rs
  crates/ruff_server/src/lint.rs
  crates/ruff_server/src/resolve.rs
  crates/ruff_server/src/server/api/requests/format.rs
  crates/ruff_server/src/server/api/requests/format_range.rs
Labels: internal

#15472 Remove workspace support
  _typos.toml
  crates/red_knot/src/main.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_python_semantic/src/python_platform.rs
  crates/red_knot_server/src/server/api.rs
  crates/red_knot_server/src/server/api/notifications/did_change.rs
  crates/red_knot_server/src/server/api/notifications/did_close.rs
  crates/red_knot_server/src/server/api/notifications/did_close_notebook.rs
  crates/red_knot_server/src/server/api/notifications/did_open.rs
  crates/red_knot_server/src/server/api/notifications/did_open_notebook.rs
  crates/red_knot_server/src/server/api/requests/diagnostic.rs
  crates/red_knot_server/src/server/api/traits.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/db/changes.rs
  crates/red_knot_workspace/src/lib.rs
  crates/red_knot_workspace/src/project.rs
  crates/red_knot_workspace/src/project/files.rs
  crates/red_knot_workspace/src/project/metadata.rs
  crates/red_knot_workspace/src/project/pyproject.rs
  crates/red_knot_workspace/src/project/pyproject/package_name.rs
  crates/red_knot_workspace/src/project/settings.rs
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_in_root_project.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_in_sub_project.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_with_outer_knot_section.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_without_knot_sections.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__project_with_pyproject.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__project_without_pyproject.snap
  crates/red_knot_workspace/src/watch.rs
  crates/red_knot_workspace/src/watch/project_watcher.rs
  crates/red_knot_workspace/src/workspace.rs
  crates/red_knot_workspace/src/workspace/metadata.rs
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_file.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__member_pattern_matching_hidden_folder.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__package_without_pyproject.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__single_package.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_excluded.snap
  crates/red_knot_workspace/src/workspace/snapshots/red_knot_workspace__workspace__metadata__tests__workspace_members.snap
  crates/red_knot_workspace/tests/check.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_db/src/files/file_root.rs
  crates/ruff_graph/src/db.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: red-knot

#15487 Fix LSP show message macro to allow format args
  crates/red_knot_server/src/message.rs
  crates/ruff_server/src/message.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: internal

#15471 Fix curly bracket spacing around curly f-string expressions
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring.py
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/other/f_string_element.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
Labels: bug, formatter

#15488 [red-knot] 'is_equivalent_to' is an equivalence relation
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#15492 [red-knot] Typeshed sync and `sys.platform` fixes
  crates/red_knot_python_semantic/resources/mdtest/sys_platform.md
  crates/red_knot_vendored/vendor/typeshed/README.md
  crates/red_knot_vendored/vendor/typeshed/source_commit.txt
  crates/red_knot_vendored/vendor/typeshed/stdlib/_interpqueues.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/_interpreters.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/_ssl.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/ctypes/__init__.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/socket.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/sys/__init__.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/tarfile.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/telnetlib.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/tkinter/filedialog.pyi
  crates/red_knot_vendored/vendor/typeshed/stdlib/xml/dom/minidom.pyi
Labels: red-knot

#15163 Remove legacy issue template
  .github/ISSUE_TEMPLATE.md
Labels: internal

#15201 [`flake8-type-checking`] Avoid false positives for `|` in `TC008`
  crates/ruff_linter/resources/test/fixtures/flake8_type_checking/TC008_union_syntax_pre_py310.py
  crates/ruff_linter/src/rules/flake8_type_checking/mod.rs
  crates/ruff_linter/src/rules/flake8_type_checking/rules/type_alias_quotes.rs
  crates/ruff_linter/src/rules/flake8_type_checking/snapshots/ruff_linter__rules__flake8_type_checking__tests__pre_py310_quoted-type-alias_TC008_union_syntax_pre_py310.py.snap
Labels: rule, preview

#15495 Avoid indexing the same workspace multiple times
  crates/ruff_server/src/server/api/notifications/did_change_watched_files.rs
  crates/ruff_server/src/session.rs
  crates/ruff_server/src/session/index.rs
  crates/ruff_server/src/session/index/ruff_settings.rs
Labels: server

#15474 [red-knot] Initial tests for instance attributes
  crates/red_knot_python_semantic/resources/mdtest/annotations/unsupported_type_qualifiers.md
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
  crates/red_knot_python_semantic/src/types/infer.rs
Labels: testing, red-knot

#15496 [red-knot] Fix more edge cases for intersection simplification with `LiteralString` and `AlwaysTruthy`/`AlwaysFalsy`
  crates/red_knot_python_semantic/resources/mdtest/intersection_types.md
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#15503 [red-knot] Negation reverses subtyping order
  crates/red_knot_python_semantic/src/types/property_tests.rs
Labels: red-knot

#15462 [`FastAPI`] Update `Annotated` fixes (`FAST002`)
  crates/ruff_linter/resources/test/fixtures/fastapi/FAST002_0.py
  crates/ruff_linter/resources/test/fixtures/fastapi/FAST002_1.py
  crates/ruff_linter/src/rules/fastapi/mod.rs
  crates/ruff_linter/src/rules/fastapi/rules/fastapi_non_annotated_dependency.rs
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-non-annotated-dependency_FAST002_0.py.snap
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-non-annotated-dependency_FAST002_0.py_py38.snap
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-non-annotated-dependency_FAST002_1.py.snap
  crates/ruff_linter/src/rules/fastapi/snapshots/ruff_linter__rules__fastapi__tests__fast-api-non-annotated-dependency_FAST002_1.py_py38.snap
Labels: bug, fixes

#15490 [red-knot] More comprehensive 'is_subtype_of' tests
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_subtype_of.md
Labels: testing, red-knot

#15511 [red-knot] Simplify `object` out of intersections
  crates/red_knot_python_semantic/resources/mdtest/comparison/intersections.md
  crates/red_knot_python_semantic/resources/mdtest/intersection_types.md
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/src/types/builder.rs
Labels: red-knot

#15512 [red-knot] Instance attributes: type inference clarifications
  crates/red_knot_python_semantic/resources/mdtest/attributes.md
Labels: red-knot

#15520 Typeshed-sync workflow: add appropriate labels, link directly to failing run
  .github/workflows/sync_typeshed.yaml
Labels: ci, red-knot

#15519 [`flake8-todos`] Allow VSCode GitHub PR extension style links in `missing-todo-link` (`TD003`)
  crates/ruff_linter/resources/test/fixtures/flake8_todos/TD003.py
  crates/ruff_linter/src/rules/flake8_todos/rules/todos.rs
  crates/ruff_linter/src/rules/flake8_todos/snapshots/ruff_linter__rules__flake8_todos__tests__missing-todo-link_TD003.py.snap
Labels: rule

#15387 Parse triple quoted string annotations as if parenthesized
  crates/red_knot_python_semantic/resources/mdtest/annotations/string.md
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/ruff_linter/resources/test/fixtures/pyflakes/F722.py
  crates/ruff_linter/resources/test/fixtures/pyupgrade/UP037_2.pyi
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F722_F722.py.snap
  crates/ruff_linter/src/rules/pyupgrade/snapshots/ruff_linter__rules__pyupgrade__tests__UP037_2.pyi.snap
  crates/ruff_python_parser/src/lexer.rs
  crates/ruff_python_parser/src/lib.rs
  crates/ruff_python_parser/src/parser/mod.rs
  crates/ruff_python_parser/src/typing.rs
Labels: parser

#15523 [`pyflakes`] Show syntax error message for `F722`
  crates/red_knot_python_semantic/src/types/string_annotation.rs
  crates/ruff_linter/src/checkers/ast/mod.rs
  crates/ruff_linter/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff_linter/src/rules/pyflakes/rules/forward_annotation_syntax_error.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F722_F722.py.snap
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__F722_F722_1.py.snap
  crates/ruff_linter/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff_linter/src/rules/ruff/typing.rs
Labels: rule, diagnostics

#15525 [airflow] extend and fix AIR302 rules
  crates/ruff_linter/resources/test/fixtures/airflow/AIR302_names.py
  crates/ruff_linter/src/rules/airflow/rules/removal_in_3.rs
  crates/ruff_linter/src/rules/airflow/snapshots/ruff_linter__rules__airflow__tests__AIR302_AIR302_names.py.snap
Labels: rule

#15524 Fix joining of f-strings with different quotes when using quote style `Preserve`
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/join_implicit_concatenated_string_preserve.py
  crates/ruff_python_formatter/src/string/normalize.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__join_implicit_concatenated_string_preserve.py.snap
Labels: bug, formatter

#15483 [`ruff`] `itertools.starmap(..., zip(...))` (`RUF058`)
  crates/ruff_linter/resources/test/fixtures/ruff/RUF058.py
  crates/ruff_linter/src/checkers/ast/analyze/expression.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/rules/reimplemented_starmap.rs
  crates/ruff_linter/src/rules/ruff/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/mod.rs
  crates/ruff_linter/src/rules/ruff/rules/starmap_zip.rs
  crates/ruff_linter/src/rules/ruff/snapshots/ruff_linter__rules__ruff__tests__preview__RUF058_RUF058.py.snap
  crates/ruff_python_ast/src/nodes.rs
  crates/ruff_text_size/src/range.rs
  ruff.schema.json
Labels: rule, preview

#15533 [red-knot] Migrate `is_fully_static`/`is_single_valued`/`is_singleton` unit tests to Markdown tests
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_fully_static.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_single_valued.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_singleton.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15517 [`pyflakes`] Fix infinite loop with unused local import in `__init__.py` (`F401`)
  crates/ruff_linter/resources/test/fixtures/pyflakes/F401_33/__init__.py
  crates/ruff_linter/resources/test/fixtures/pyflakes/F401_33/other.py
  crates/ruff_linter/src/rules/pyflakes/mod.rs
  crates/ruff_linter/src/rules/pyflakes/rules/unused_import.rs
  crates/ruff_linter/src/rules/pyflakes/snapshots/ruff_linter__rules__pyflakes__tests__preview__F401_F401_33____init__.py.snap
Labels: bug, fixes, preview

#15480 [`unconventional-import-alias`] Fix infinite loop between ICN001 and I002 (`ICN001`)
  crates/ruff/tests/lint.rs
  crates/ruff/tests/snapshots/lint__flake8_import_convention_unused_aliased_import.snap
  crates/ruff_python_semantic/src/imports.rs
  crates/ruff_workspace/src/configuration.rs
Labels: bug

#15534 [red-knot] Migrate `bool`/`str`/`repr` unit tests to Markdown tests
  crates/red_knot_python_semantic/resources/mdtest/annotations/literal_string.md
  crates/red_knot_python_semantic/resources/mdtest/literal/f_string.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/str_repr.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/truthiness.md
  crates/red_knot_python_semantic/src/types.rs
  crates/red_knot_vendored/knot_extensions/knot_extensions.pyi
Labels: red-knot

#10630 [`refurb`] Implement `for-loop-writes` (`FURB122`)
  crates/ruff_linter/resources/test/fixtures/refurb/FURB122.py
  crates/ruff_linter/src/checkers/ast/analyze/statement.rs
  crates/ruff_linter/src/codes.rs
  crates/ruff_linter/src/rules/refurb/mod.rs
  crates/ruff_linter/src/rules/refurb/rules/for_loop_writes.rs
  crates/ruff_linter/src/rules/refurb/rules/mod.rs
  crates/ruff_linter/src/rules/refurb/snapshots/ruff_linter__rules__refurb__tests__FURB122_FURB122.py.snap
  ruff.schema.json
Labels: rule, preview

#13302 [`pydoclint`] Allow ignoring one line docstrings for `DOC` rules
  crates/ruff_linter/src/rules/pydoclint/mod.rs
  crates/ruff_linter/src/rules/pydoclint/rules/check_docstring.rs
  crates/ruff_linter/src/rules/pydoclint/settings.rs
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-exception_DOC501_google.py_ignore_one_line.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-returns_DOC201_google.py_ignore_one_line.snap
  crates/ruff_linter/src/rules/pydoclint/snapshots/ruff_linter__rules__pydoclint__tests__docstring-missing-yields_DOC402_google.py_ignore_one_line.snap
  crates/ruff_linter/src/settings/mod.rs
  crates/ruff_workspace/src/configuration.rs
  crates/ruff_workspace/src/options.rs
  ruff.schema.json
Labels: configuration, docstring

#15539 [red-knot] Implement disjointness for Instance types where the underlying class is `@final`
  crates/red_knot_python_semantic/resources/mdtest/narrow/isinstance.md
  crates/red_knot_python_semantic/resources/mdtest/type_properties/is_disjoint_from.md
  crates/red_knot_python_semantic/src/types.rs
Labels: red-knot

#15405 [`flake8-simplify`] Do not emit diagnostics for expressions inside string type annotations (`SIM222`, `SIM223`)
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM222.py
  crates/ruff_linter/resources/test/fixtures/flake8_simplify/SIM223.py
  crates/ruff_linter/src/rules/flake8_simplify/rules/ast_bool_op.rs
  crates/ruff_linter/src/rules/flake8_simplify/snapshots/ruff_linter__rules__flake8_simplify__tests__SIM223_SIM223.py.snap
Labels: bug

#15537 Fix bracket spacing for single-element tuples in f-string expressions
  crates/ruff_python_formatter/resources/test/fixtures/ruff/expression/fstring.py
  crates/ruff_python_formatter/src/other/f_string_element.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__fstring.py.snap
Labels: bug, formatter

#15493 Add support for configuring knot in `pyproject.toml` files
  Cargo.lock
  crates/red_knot/Cargo.toml
  crates/red_knot/src/main.rs
  crates/red_knot/tests/cli.rs
  crates/red_knot/tests/file_watching.rs
  crates/red_knot_python_semantic/src/db.rs
  crates/red_knot_python_semantic/src/module_resolver/resolver.rs
  crates/red_knot_python_semantic/src/module_resolver/testing.rs
  crates/red_knot_python_semantic/src/program.rs
  crates/red_knot_server/src/session.rs
  crates/red_knot_test/src/db.rs
  crates/red_knot_test/src/lib.rs
  crates/red_knot_wasm/src/lib.rs
  crates/red_knot_workspace/Cargo.toml
  crates/red_knot_workspace/src/db.rs
  crates/red_knot_workspace/src/db/changes.rs
  crates/red_knot_workspace/src/project.rs
  crates/red_knot_workspace/src/project/combine.rs
  crates/red_knot_workspace/src/project/metadata.rs
  crates/red_knot_workspace/src/project/options.rs
  crates/red_knot_workspace/src/project/pyproject.rs
  crates/red_knot_workspace/src/project/pyproject/package_name.rs
  crates/red_knot_workspace/src/project/settings.rs
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_in_root_project.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_in_sub_project.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_with_outer_knot_section.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__nested_projects_without_knot_sections.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__project_with_pyproject.snap
  crates/red_knot_workspace/src/project/snapshots/red_knot_workspace__project__metadata__tests__project_without_pyproject.snap
  crates/red_knot_workspace/tests/check.rs
  crates/ruff/src/commands/analyze_graph.rs
  crates/ruff_benchmark/benches/red_knot.rs
  crates/ruff_graph/src/db.rs
  crates/ruff_macros/src/combine.rs
  crates/ruff_macros/src/lib.rs
  fuzz/fuzz_targets/red_knot_check_invalid_syntax.rs
Labels: red-knot
